---
layout: 'deck_unit'
title: "Representation"
tags: []
description: "What is a representation?"
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins


//-
  plan is to use Nick Shea's framework, starting with the producer/consumer idea
  - doesn't actually work very well for mental representations (level of abstraction)?
  - use the Haith quote: “no concept causes more problems in discussions of infant cognition than that of representation.” (Haith 1998)
    - also Dennett don't know what we mean by representation



  
section.slide
  .notes We've been making use of a notion of representation.
  .notes For example, when discussing this study I said it provides evidence that infants represent objects they aren't seeing.
  .notes Before going too much further it would be good to try to say something about this notion.
  .notes First, why do we need representation?
  .notes I think there's a simple reason.  In this study the infants' behaviours are affected by an object which they aren't seeing.
  .notes For this to happen, the object must somehow make its mark.
  .notes It must bruise the infants, for example.
  .notes But since there was no physical contact, the mark can only be psychological.
  .notes To a first approximation, 'representation' is a term for the what happens when an object leaves its mark on you psychologically.
  .words: .container_12: .grid_12
    img(src='/img/baillargeon_1985_fig1.png')
    p.right source: Baillargeon et al (1985, figure 1)

section.slide
  .notes We can improve on this first approximation by invoking a theory of representation ...
  .words: .container_12: .grid_12
    img.handout.show(src='/img/dretske_1988_fig4.1.png')
    .handout.caption source: \citep[p.\ 84, figure 4.1]{Dretske:1988sq}
    p.right (source: Dretske 1988, p. 84 figure 4.1)
    .slide
      p.em-above.handout.show
        span ‘Once C is recruited as a cause of M---and recruited as a cause of M 
        span.italic because of what it indicates about F
        span ---C acquires, thereby, the function of indicating F.  
        span Hence, C comes to represent F.  C acquires its semantics, a genuine meaning, 
        span at the very moment when a component of its natural 
        span meaning (the fact that it indicates F) acquires an explanatory relevance.’  
      .handout.ctd \citep[p.\ 84]{Dretske:1988sq}
      p.right (Dretske 1988, p.\ 84)
      .notes To say that infants represent objects in something Dretske's sense of representation is not to say that they have concepts of objects,
        span nor that they have anything like what Fodor calls a languaue of thought.
        