---
layout: 'deck_unit'
title: "Syntax / Innateness"
tags: []
description: "Infants' abilties to detect syntactic structure are surprisingly sophisticated (relative to their performance in producing utterances).  Here we consider a case study.  We also use this case study to examine how poverty of stimulus arguments work.  Some argue that infants have innate abilties to learn about syntax."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/unit_mixins

+slide_middle
  .notes So far we have considered examples of core knowledge.  But we have ignored a paradigm case, 
    | one which has inspired much work on this topic (although it is not a case Spelke or Carey would recognize! *todo: stress throughout) ...
  p core knowledge of
  ul
    li physical objects
    li [colour]
    li mental states
    li action
    li number
    li ...

//* say what core knowledge is again (mention properties)

+slide_middle
  .notes Human adults have extensive knowledge of the syntax of their languages,  
    | as illustrated by, for example, their abilities to detect grammatical and ungramatical sentences which they have never heard before, independently of their meanings. 
    | To adapt a famous example from Chomsky, ...
  ol
    li The turnip of shapely knowing isn't yet buttressed by death.
    li *The buttressed turnip shapely knowing yet isn't of by death.

+slide_middle
  .notes We need to task two questions.
  p.center
    span.hide.step2.core core   
    span.knowledge knowledge
    span  of 
    span.syntax syntax
    span  
    span.hide.step3 is innate (?) 
  +invert('.syntax')
  .notes First, what is this thing, syntax, which is known?
  .notes This thing they know, the syntax, isn't plausibly just a list of which sentences are grammatical.
  .notes Because people can make judgements about arbitrarily long, entirely novel sentences.
  .notes Rather, the thing known must be something that enables people to make judgements about sentences.
  .notes We might think of it roughly as a theory of syntax.
  .notes It's like a theory in this sense: knowledge of it enables you to make judgements about the grammaticality of arbitrary sentences.
  +uninvert_('.syntax')
  +invert('.knowledge')
  .notes The second question is, Is it *knowledge* we have syntax or something else?
  .notes There's something interesting.
  .notes The knowledge can be revealed indirectly, by asking people about whether particular sentences are grammatical.
  .notes But people can't say anything about how they know the sentence is grammatical.
  .notes It's like perceiving the shape of something: there isn't much to say about how you know.
  .notes So the theory of syntax isn't something we can discover by introspection:
  .notes we have to *rediscover* it from scratch by investigating people's linguistic abilities.
  +show_('.step2')
  +invert('.core')
  .notes Knowledge of syntax therefore seems to have some of the features associated with core knowledge.
  .notes First, it is domain-specific.
  .notes Second, it is inaccessible.  That is, it can't guide arbitrary actions.
  .notes In what follows I want to suggest that syntax provides a paradigm case for thinking about core knowledge.
  +uninvert_('.core, .knowledge')
  +invert_('.step3')
  +show('.step3')
  .notes In addition, I want to use the case of syntax for thinking about the question, What is innate in humans?
  .notes I was astonished how many people considered this question in the unassessed essay, some people seem really fascinated by it.
  .notes But almost no one discussed the case of syntax in depth.  If you're going to talk about innateness, you really need to know a little bit about syntax.
  .notes So I'm also going to provide you with that understanding.


+slide
  .notes Consider a phrase like 'the red ball'.
  .notes What is the syntactic structure of this noun phrase?
  .notes In principle there are two possibilities.
  p the red ball
  p.step3.hide ‘I’ll play with this red ball and you can play with that 
    span.one one
    span .’
  .slide
    +img_clip('lidz_2003_fig0.png','rect(0,327,522,0)')
    +clip('img:eq(0)', 'auto')
    p.source Lidz et al (2003)
  +show('.step3')
  .notes How can we decide between these?
  .handout Is the syntactic structure of ‘the red ball’ (a) flat or (b) hierachical?
  .handout \begin{center}
  .handout \includegraphics[scale=0.25]{../www.slides/src/raw/img/lidz_2003_fig0.neg.png}
  .handout \end{center}
  .handout \begin{center} from \citealp{lidz:2003_what} \end{center}
  .notes.handout \begin{enumerate}
    ol
      li \item ‘red ball’ is a constituent on (b) but not on (a)
      li \item anaphoric pronouns can only refer to constituents
      li \item In the sentence ‘I’ll play with this red ball and you can play with that one.’, the word ‘one’ is an anaphoric prononun that refers to ‘red ball’ (not just ball).
        | \citep{lidz:2003_what,lidz:2004_reaffirming}.
  .notes.handout \end{enumerate}
  +highlight('.one','red')

+slide_middle
  .notes What I've just shown you is, in effect, how we can decide whihc way an adult human understands a phrase like 'the red ball'.
  .notes We can discover this by finding out how they understand a sentence like 'I’ll play with this red ball and you can play with that one.'.
  .notes But how could we do this with infants who are incapable of discussing sentences with us? 
  p.center infants?
  
  
+slide
  .notes Here's how the experiment works (see \citealp{lidz:2003_what}) ...
  .notes The experiment starts with a background assumption:
  .notes.handout ‘The assumption in the preferential looking task is that infants prefer to look at an image that matches the linguistic stimulus, if one is available’ \citep{lidz:2003_what}.
  table
   tr
    td(align='center', width='300px',style='background-color:grey;')  Look, a yellow bottle!
    td(align='center',colspan=2).hide.step2
      span.control.hide control: What do you see now?
      br
      span test: Do you see another one?
      br
      span &nbsp;
    tr
      td(align='center', style='background-color:grey;') [yellow bottle]
      td(align='left').hide.step2 [yellow bottle]
      td(align='right').hide.step2 [blue bottle]
    +show('.step2')
    .notes So the key question was whether infants would look more at the yellow bottle (which is familiar) or the blue bottle (which is novel).
    .notes If they think 'one' refers to 'bottle', we'd expect them to look longer at the blue bottle;
    .notes and conversely if they think one refers to 'yellow bottle', then they're being asked whether they see another yellow bottle.
    +show('.control')
    .notes And, as always, we need a control condition to check that infants aren't looking in the ways predicted irrespective of the manipulation.
    p.source Lidz et al (2003)
    .slide
      .notes And here's what they found ...
      img(src='/img/lidz_2003_fig1.png')
      p.source Lidz et al (2003, figure 1)
  
+slide_middle
  .notes What can we conclude so far?
  p.center From 18 months of  age or earlier, infants represent the syntax of noun phrases in much the way adults do.
  .notes So there is core knowledge of syntax ... or is there?
  .slide
    .notes Core knowledge is often characterised as innate.
    .notes I think this is a mistake (more about this later), but many of you do not.
    p.center.em-above But are these representations 
      span.innate innate
      span ?
    .notes How could we tell whether these representations are innate?
    +invert('.innate')
    .notes What do we mean by innate here?
    .notes The easy answer is: not learned.
    .notes But I think there's a more interesting way to approach understanding what 'innate' means.
    .notes Quite a few people pointed out that there isn't agreement on what innateness is.
    .notes But this is not very interesting by itself because there's disagreement about most things and potential causes of disagreement include ignorance and stupidity.
    .notes It's also important that the mere fact that a single term is used with multiple meanings isn't an objection to anyone.
    .notes As philosophers, some of you are tempted to catalogue different possible notions of innateness.
    .notes I encourage you to resist this temptation; if you want to collect something, pick something useful like banknotes.
    .notes There's a much better way to approach things.
    .notes Let's see what kind of findings are, or would be, taken to show that something is innate.
    .notes We can use these to constrain our thinking about innateness.
    .notes We will say: assuming that this is a valid argument that X is innate, what could innateness be?
    
+slide_middle
  .notes Aside: we have too approach science as radical interpreters ...
  .notes How does radical interpretation work?
  .notes Interpretation is hard because there are two factors: truth and meaning.
  .notes The proposal Davidson makes is that we assume truth and infer meaning.
  .notes I'm recommending a similar strategy.
  .notes We take for granted that this argument establishes that X is innate; we then ask what innateness could be given that this is so.
  p.notes.show ‘All understanding of the speech of another involves radical interpretation’
  p.right Davidson 1973, p. 125
  .notes.ctd \citep[p.\ 125]{Davidson:1973jx}

+slide
  .handout \subsection{Poverty of stimulus arguments}
  .notes The best argument for innateness is the poverty of stimulus argument.
  .notes We need to step back and understand how poverty of stimulus arguments work.
  .notes Here I'm following \citet{pullum:2002_empirical}, but I'm simplifying their presentation.
  .handout.notes How do poverty of stimulus arguments work? See \citet{pullum:2002_empirical}.
  .notes First think of them in schematic terms ...
  p Poverty of stimulus argument
  ol
    .handout \begin{enumerate}
    li.slide
      .handout \item
      span.handout.show  Human infants acquire 
        span.X(style='z-index:1;') X
        span . 
    li.slide
      .handout \item
      span.handout.show To acquire X by data-driven learning you'd need this  
        span.crucial-evidence(style='z-index:1;') Crucial Evidence
        span . 
    li.slide
      .handout \item
      span.handout.show But infants lack this Crucial Evidence for X.
    li.slide
      .handout \item
      span.handout.show So human infants do not acquire X by data-driven learning.
    li.slide
      .handout \item
      span.handout.show But all acquisition is either data-driven or innately-primed learning.
    li.slide
      .handout \item
      span.handout.show So human infants acquire X by 
        span.innate innately-primed learning
        span  .
    .handout \end{enumerate}
  p.right compare Pullum & Scholz 2002, p. 18
  .notes This is a good structure; you can use it in all sorts of cases, including the one about chicks' object permanence.
  .notes Now fill in the details ...
  +highlight('.X', 'pink')
  .notes In our case, X is knowledge of the syntactic structure of noun phrases.  (Caution: this is a simplification; see\citet[p,\ 158]{lidz:2004_reaffirming}).)
  +highlight('li:eq(0) span','blue')
  .notes This is what the Lidz et al experiment showed.
  .notes Note that no one takes this to be evidence for innateness by itself.
  +highlight('.crucial-evidence','forestgreen')
  .notes What is the crucial evidence infants would need to learn the syntactic structure of noun phrases?
  .notes This is actually really hard to determine, and an on-going source of debate I think.
  .notes But roughly speaking it's utterances where the structure matters for the meaning, utterances like 'You play with this red ball and I'll play with that one'.
  +highlight('li:eq(2) span', 'orange')
  .notes \citet{lidz:2003_what} establish this by analysing a large corpus (collection) of conversation involving infants.
  +invert('.innate')
  .notes What can we infer about innateness from this argument?
  .notes First, think about what is innate.  The fact that knowledge of X is acquired other than by data-driven learning doesn't mean that X is not innate; it just means that something which enables you to learn this is.
  .notes Second, think about the function assigned to innateness.  That which is innate is supposed to stand in for having the crucial evidence.
  .notes This, I think, is the key to thinking about what we *ought* to mean by innateness.
  .notes So attributes like being genetically specified are extraneous---they may be typical features of innate things, but they aren't central to the notion.
  .notes By contrast, that what is innate is not learned must be constitutive (otherwise that which is innate couldn't stand in for having the crucial evidence)

//
  p Poverty of stimulus ingredients
  .slide
    ol
      li Specify an Acquirendum --- what is alledgedly known?
      li Identify some Crucial Evidence --- what is indispensible to the learner if the Acquirendum is to be learnt?
      li Give evidence of inaccessibility --- why think that actual learners do not get the Indispensible Input?
      li Evidence of acquisition --- why think that actual learners come to know the Acquirendum?

+slide_middle
  .notes Contrary to what many philosophers (including Stich and Fodor) will tell you ...
  p.center.handout.show ‘the APS [argument from the poverty of stimulus] still awaits even a single good supporting example’
  p.right Pullum & Scholz 
    span.year 2002
    span , p. 47
  .handout.ctd \citep[p.\ 47]{pullum:2002_empirical}
  +invert('.year')
  .notes But they wrote this before \citet{lidz:2003_what} came out.

+slide
  p What is innate in humans?
  .notes I asked you this question, but what do I think?
  .notes I'd approach it by distinguishing two sub-questions (the second of which has two sub-sub-questions)
  .notes **todo: Stress other conceptions and arguments good; start with a project from \citet{spelke:2012_core} or from \citet{haun:2010_origins} and you reach a different point!
  .slide.em-above
    ol
      li What evidence is there?
      li What does the evidence show is innate?
      ol(style='list-style-type:lower-greek').slide
        li Type: knowledge, core knowledge, modules, concepts, abilities, dispositions ...
        li Content: e.g. universal grammar, principles of object perception, minimal theory of mind ...
      +highlight-row('ol:eq(0) ul:eq(0)')
      .notes Arguments from the poverty of stimulus are the best way to establish innateness.
      .notes The argument concerning syntax we've just been discussing is quite convincing, although if you follow up on the references given in the handout you'll see it's not decisive (as always).
      .notes For things other than knowlegde of syntax, the evidence concerning humans is far less clear.
      .notes There are, however, quite good cases in nonhuman animals, as many of you know.
      .notes So it's not unreasonable to conjecture that learning in the several domains where infants appear to know things early in their first year is innately-primed rather than entirely data-driven.
      .notes But, one or two cases aside, there's enough evidence to rule out the converse conjecture.
      +highlight-row-remove_('ol:eq(0) li:eq(0)')
      +highlight-row('ol:eq(1) li:eq(0)')
      .notes I don't think what is innate is knowledge, nor do I think it's concepts.
      .notes But I think there's a good chance that modules are innate (and therefore core knowledge if I'm right to suppose that 'core knowledge' is a term for the fundamental principles describing the operation of a module).
      +highlight-row-remove_('ol:eq(1) li:eq(0)')
      +highlight-row('ol:eq(1) li:eq(1)')
      .notes On content: I think quite a lot is known about the modules thanks to detailed tests that have little to do directly with controversy about inateness.
  
+slide_middle
  .notes Why care about whether something is innate?  (This isn't suppose to be dismissive.)
  p.center so what?


+slide({bkg:'slide_core_knowledge_innate_transitions.jpg'})
  .notes Here are two reasons why I think we shouldn't worry too much about innateness in trying to understand the origins of mind.  
  .notes (1) The question about innateness concerns the first transition, whereas I think the second should be our focus (for pragmatic reasons: there's more research).
  .notes (2) Discoveries about innately-primed learning make only a relatively modest contribution to understanding the emergence of core knowledge in development. 
    | So even when we consider the first transition, it's not obvious that discoveries about innateness are very illuminating, for all their pop-science appeal.  
  .notes Metaphor: we find a cake in the ruins of Pompeii preserved for a couple of thousand years.  We're trying to reconstruct its manufacture.
  .notes Its good if someone obsesses about where the eggs came from.  Did the baker have her own chickens or did she get them from a friend?
  .notes But knowing where the eggs came from is unlikely to be critical to understanding how the cake was manufactured.
  .notes We're not finished when we know where the eggs came from, and we're not doomed to fail if we don't know.

+slide
  .notes So let me put the innateness issue aside and get back to what I think matters most ...
  p Conclusion
  ol
    li Adults have inaccessible, domain-specific representations concerning the syntax of natural languages.
    li So do infants (from 18 months of age or earlier, well before they can use the syntax in production).
    li
      span These representations plausibly enable understanding and play a key role in the development of abilities to communicate with language.
    li These representations are a paradigm case of core knowledge.
    +highlight('li:eq(2) span', 'limegreen')
    .notes This paradigm allows me to highlight something about core knowledge.
    .notes I would be a mistake to suppose that there is some core knowledge which later becomes knowledge proper --- e.g. the fact that barriers stop solid objects is first core knowledge then later knowledge.
    .notes The content of the core knowledge is a theory of syntax (let's say).
    .notes Or, in another case, the content of core knowledge is some principles of object perception.
    .notes These are things that human adults do not typically know at all, at least not in the sense that they could state the principles.
    .notes So core knowledge enables us to do things, like anticipate where unseen objects will re-appear or communicate with words.
    .notes It doesn't seem to be linked directly to the acquisition of concepts.



