---cson
layout: 'deck_unit'
title: "A Problem"
tags: []
description: """
  Some principles describe infants' abilities to segment and represent
  persisting physical objects and their causal interactions. What is the
  relation between these principles and the mechanisms of object perception?
  Are they, for example, things that infants know?
  """
---

include ../../../fragments/unit_mixins
include ../../../fragments/origins_mixins





+slide_middle
  .notes As just mentioned, the Simple View is the view that #{origins.simple_view}.
  p.center 
    span.hide.step4 scientific 
    span.hide.step3.linethrough1 intuitive
    span.hide.step3  arguments 
    span.hide.step2 against 
    span the simple view  
  .slide
    +show('.step2')
    .notes Why must we reject the simple view?
  .slide
    +show('.step3')
    .notes: :t
      Some philosophers have offered intuitive arguments against the Simple View.
      \citet{Bermudez:2003dj}, for instance, holds that those without the
      ability to use a language cannot make inferences;
      and \citet{Davidson:1975eq} holds that those without language cannot
      think at all.
      It may be hard to accept that four-month-old infants are in the business
      of inferring truths about particular objects’ locations from abstract
      principles.
      (And perhaps it is no less hard to accept that adults typically do this
      in segmenting objects.)
      But scientific and mathematical discoveries sometimes require us to
      reject intuitions, even intuitions about very fundamental things like
      space and time.
      For this reason there seems to be slim prospect of effectively
      challenging the Simple View on the basis of intuitions about the nature
      of knowledge, belief and inference.
      Doing so is also unnecessary as there are scientific reasons for
      rejecting the simple view.
  .slide
    +line-through('.linethrough1')
    .notes I think we shouldn't try to challenge the simple view on the basis of intution.
  .slide
    +show('.step4')
    .notes And we don't need to because there are also scientific reasons for rejecting the simple view.
    .notes One set of reasons concerns the apparent discrepancy between looking times and manual search ...



+slide_middle
  .notes: :t
    *(The basic idea is to say there's a discrepancy regarding BOTH (a) permanence and (b) 
    causal interactions)
  p.center conflicting evidence: permanence

+slide
  +img_clip('baillargeon_1987_fig1.png', 'auto')
  p.source Baillargeon et al 1987, figure 1
  .notes: :t
    Recall this experiment which used habituation to demonstrate infants' abilities to represent
    objects as persiting while unperceived (in this case, because occluded).
    Infants can do this sort of task from 2.5 months or earlier \citep{Aguiar:1999jq}.
  .notes: :t
    But what happens if instead of measuring how infants look, we measure how they reach?
    
+slide
  .notes: :t
    \citet{Shinskey:2001fk} did just this.
    Here you can see their appratus.
    They had a screen that infants could pull forwards to get to an object that was sometimes
    hidden behind it.
    They made two comparisons.
    First, were infants more likely to pull the screen forwards when an object was placed behind it?
    Second, were how did infants' performance compare when the barrier was not opaque but transparent?
  +img_clip('shinskey_munakata_2001_fig1.png')
  p.source Shinskey and Munakata 2001, figure 1

+slide
  .notes: :t
    Here are their results with 7-month old infants.
  +img_clip('shinskey_munakata_2001_fig2.png')
  p.source Shinskey and Munakata 2001, figure 2
    


+slide
  .notes: :t
    Now we have the beginnings of a problem.
    The problem is that, if the Simple View is right, infants should succeed in tracking persisting
    objects regardless of whether we measure their eye movements or their reaching actions.
    But there is a gap of around five months between looking and reaching.
  p Responses to the occlusion of a desirable object
  ul
    li look (from 2.5 months)
      p.right.grey-text (Aguiar & Baillargeon 1999)
    li reach (7--9 months)
      p.right.grey-text (Shinskey & Munakata 2001)
  .notes: :t
    The attraction of the simple view is that it explains the looking.
    The problem for the simple view is that it makes exactly the wrong prediction about the reaching.
  .notes: :t
    Can we explain the discrepancy in terms of the additional difficulty of reaching?
    A lot of experiments have attempts to pin the discrepancy on this, or on other extraneous factors like task demands.
    But none of these attempts have succeeded.
    After all, we know infants are capable of acting because they move the transparent screen.
  .slide
    .notes As Jeanne Shinskey, one of the researchers most dedicated to this issue says, 
    p.em-above.handout.show ‘action demands are not the only cause of failures on occlusion tasks’
    .handout.ctd \citep[p.\ 291]{shinskey:2012_disappearing}
    p.right Shinskey (2012, p. 291)




+slide_middle
  .notes: :t
    If there were just one discrepancy, concerning performance, we might be able to hold on to the
    Simple View.  But there are systematic discrepancies along these lines.
  .notes: :t
    Related discrepancies concerning infants' understanding of physical objects occur in the case
    of their abilities to track causal interactions, too.
  p.center conflicting evidence: causal interactions






+slide
  .notes: :t
    Recall this experiment about causal interactions, which used a habituation paradigm.
    Now imagine a version which involved getting infants to reach for the object rather than simply looking.
    What would the results be?
    There is an experiment much like this which has been replicated several times, and which shows 
    a discrepancy between looking and searching.
    Basically infants will look but not search.
  +img_clip('spelke_1992_fig2a.png', 'auto')
  p.source Spelke et al 1992, figure 2


section.slide
  .notes *todo
  img.bkg(src='/img/slide_lecture04_010.jpg')
section.slide
  .notes *todo
  img.bkg(src='/img/slide_lecture04_011.jpg')
section.slide
  .notes *todo
  img.bkg(src='/img/slide_lecture04_012.jpg')
section.slide
  .notes Here are the looking time results.
  img.bkg(src='/img/slide_lecture04_013.jpg')

section.slide
  .notes You can even do looking time and reaching experiments with the same subjects and apparatus \citep{Hood:2003yg}.
  .notes 2.5-year-olds look longer when experimenter removes the ball from behind the wrong door, but don't reach to the correct door 
  img.bkg(src='/img/slide_lecture04_014.jpg')
+slide
  p search
  .notes here are the search results (shocking).
  img(src='/img/hood_2003_fig4.png', style="max-width:750px;")
  p.source Hood et al 2003, figure 4
section.slide
  .notes *todo: describe
  .notes **todo: Mention that \citep{mash:2006_what} show infants can also predict the location of the object (not just identify a violation, but look forward to where the object is)
  img.bkg(src='/img/slide_lecture04_015.jpg')
  

+slide({bkg:'slide_cp_london_180.jpg'})
  .notes: :t
    Amazingly, 2 year old children still do badly when only the doors are opaque, so that the
    ball can be seen rolling between the doors, as in this diagram \citep{Butler:2002bv}.
+slide({bkg:'slide_cp_london_181.jpg'})


+slide_middle({style:"background-color:red"})
  p.indent 
    span The 
    span.simple-view Simple View
    br
    span  generates 
    br
    span multiple 
    br
    span incorrect predictions.
  .slide
    +fade('span:not(.simple-view)')
    +line-through('.simple-view')
    .notes: :t
      This is the end of the road for the Simple View.
      If, like Baillargeon, you want to cling to the Simple View, then you
      need something very convincing to say about the fact that it appears
      to generate multiple incorrect predictions.


+slide
  .notes: :t
    Similar discrepancies between looking and reaching are also found in some
    nonhuman primates, both apes and monkeys (chimpanzees, cotton-top tamarins
    and marmosets). (Some of this is based on the gravity tube task and
    concerns gravity bias.)
  .step1-and-2
    p.handout.notes.show ‘A similar permanent dissociation in understanding object support relations  
      | might exist in chimpanzees. They identify impossible support relations in looking tasks, 
      | but fail to do so in active problem solving.’
    .handout.notes.ctd \citep{gomez:2005_species}
    p.right (Gomez 2005)
    .slide
      p.em-above Likewise for cotton-top tamarins (Santos et al 2006) and marmosets (Cacchione et al 2012).
  .slide
    +blur('.step1-and-2')
    .notes: :t
      Note that this research is evidence of dissociations between looking and
      search in adult primates, not infants.
      This is important because it indicates that the failures to search are a
      feature of the core knowledge system rather than a deficit in human
      infants.
    .notes.handout ‘to date, adult primates’ failures on search tasks appear to 
      | exactly mirror the cases in which human toddlers perform poorly.’
    p.em-above ‘to date, adult primates’ failures on search tasks appear to 
      | exactly mirror the cases in which human toddlers perform poorly.’
    .notes.handout.ctd \citep[p.\ 17]{santos:2009_object}
    p.right (Santos & Hood 2009, p. 17)


+slide_middle
    p.center What about the chicks and dogs?
    .notes: :t
      What about the chicks and dogs?
      This isn't straightforward.
      As I mentioned earlier, \citep{kundey:2010_domesticated} show that domestic dogs are good 
      at solidity on a search measure.  And as we covered in seminars, 
      \citep{chiandetti:2011_chicks_op} demonstrate object permanence with a search measure in 
      chicks that are just a few days old.
      Indeed, for many of the other animals I mentioned, object permanence is measured in search 
      tasks, not with looking times.
      To speculate, it may be that the looking/search dissociation is more likely to occur in
      adult animals the more closely related they are to humans.
      But let's focus on the fact that you get the looking/search in any adult animals at all.
      This is evidence that the dissociation is a consequence of something fundamental about 
      cognition rather than just a side-effect of some capacity limit.

+simpleViewGeneratesIncorrectPredictions({final:true})
  .notes: :t
    This really is the end of the road for the Simple View.
    But it is actually worse ...


//- this might be in the wrong place!
//- TODO: include description of their experiments
+slide_middle
  +charlesRiveraOcclusionEndarkeningTable
  +hide('.endarkening', 0)
  .notes: :t
    Because this point is controversial, I want to mention one further
    piece of the puzzle.
    Five-month-olds not only sometimes fail to search for hidden objects but 
    ...
  .slide
    +show('.endarkening')
    .notes: :t
      ... they also sometimes fail to look longer when a momentarily hidden object fails 
      to reappear as if by magic.
      Infants will reach for an object hidden in darkness \citep[e.g.][]{jonsson:2003_infants}.
      But what happens if instead of measuring reaching we measure looking times?
      \citet{charles:2009_object} compared what happens when an object is
      momentarily hidden behind a screen with what happens when an object is
      momentarily hidden by darkness.
      They used a trick with light and mirrors so that for some of the infants,
      the object did not reappear when the screen came up or the light returned.
      Surprisingly, five-month-old infants’ looking times indicated that an
      expectation had been violated only when the object was hidden behind a
      screen but not when hidden by darkness.
    .notes: :t
      I think this pattern of findings is good evidence against the hypothesis
      that four- or five-month-olds have beliefs about, or knowledege of,
      the locations of 
      unperceived objects.
      After all, 
      a belief is essentially the kind of state that can inform actions of any
      kind, whether they involve looking, searching with the hands or anything
      else.
    .notes: :t
      NB: Charles & Rivera did the v-of-e part; the manual search part has been
      done by others.

+slide({bkg:'charles_2009_fig1.png'})
  p.source Charles & Rivera, figure 1 (part)

+slide
  +img('charles_2009_fig3a.png',"max-width:700px;")
  p.source Charles & Rivera, 2009 fig 3a-c
  .slide
    +img('charles_2009_fig3b.png',"max-width:700px;")
  .slide
    +img('charles_2009_fig3c.png',"max-width:700px;")
    .notes: :t
      (There was also a fade condition which I’m not discussing.)

      
+slide
  .results
    +img_clip('charles_2009_fig5-6.png',"rect(0px,350px,999px,0px)")
  p.source Charles & Rivera, 2009 figs 5-6
  .notes: :t
    The results are complicated.  They compare occlusion to empty
    and endarkening to empty.
  .notes: :t
    They comment that, for occlusion vs empty:
    ‘the condition-by- outcome interaction usually interpreted as ‘having
    object permanence’, though definitely not present in the first trial pair,
    became visible by the fourth trial pair (see Figure 5).’
    This is why you see that figure there.
  .notes: :t
    Occulsion: But actually their analysis depends on
    ‘The significant three-way interaction existed because the disparity
    between infants’ looking at the two outcomes increased across trial pairs
    in the Empty Condition, but decreased across pairs in the Occlusion
    Condition, F(3, 108) = 2.83, p < .05, partial g2 = .07.’
  .notes: :t
    Occulsion:  (Note: ‘The predicted two-way condition-by-outcome interaction was not
    significant, F(1, 36) = 0.43, p > .51, partial g2 = .01, but one main
    effect and the alternatively predicted three- way interaction were
    significant.’)
  .notes: :t
    Occlusion: ‘Infants did not show the two-way interaction between condition
    and outcome; however, they did show the specific three-way interaction
    interpretable in terms of infants’ exhibiting an understanding of object
    permanence, but needing time to acclimate to the procedures. That is, the
    pattern suggests that infants came to expect the occluded object to
    reappear over the course of trials in the Occlusion Condition, but came to
    expect it to be gone over the course of trials in the Empty Condition.’
  .notes: :t
    [The complication here is the main effect: infants look longer when there’s 
    something than when there’s nothing, not surprisingly.
    A better approach might be to do Wynn’s 1992 (‘two mouse’) experiment with
    occlusion and endarkening---in her design there is always something to look at, 
    and she found that infants don’t prefer to look at one vs two mice.]
  .slide
    +clip('.results img','auto')
    .notes: :t
      When you compare the Empty and Endarkening conditions, you don’t get an interaction.
      ‘The three-way interaction found in the Occlusion vs. Empty experiment
      was not present here, F(3, 108) = .176, p > .90. The lack of interaction
      is clearly visible in ... Figure 6.’
    .notes: :t
      ‘Infants’ looking patterns in the Darkness Condition were almost
      identical to those of the Empty Condition. ... 
      If the results of the Occlusion Condition are taken to indicate that
      infants expect occluded objects to continue existing, then infants’
      behavior in the Darkness Condition must be taken to indicate that infants
      do not expect endarkened objects to continue existing.’
    .notes: :t
      [NOTE: Imperfect to compare Endarkening and Empty since Empty involves the 
      screen coming down but no change in luminance (as far as I can tell --- it’s 
      not clear exactly how they did that from the procedure.)]
    .notes: :t
      [NOTE: I’m not discussing the Fade condition but the results are interesting:
      ‘Infants in the Fade Condition behaved similarly to infants in the
      Occlusion Condition, demonstrating expectations for the reappearance of
      faded objects. This is the opposite of the expectation adults have under
      similar conditions, and the opposite of what would be expected under the
      ecological hypothesis. The pattern of results across all conditions –
      expectation for the reappearance of occluded and faded objects, but not
      for endarkened objects – cannot be reconciled with the traditional
      ecological hypothesis.’]


+slide_middle
  +charlesRiveraOcclusionEndarkeningTable
  .notes: :t
    Why is this a major challenge for the Simple View?
    Because it shows that to defend the Simple View, it’s not enough to 
    explain failures of manual search.
  .slide
    +highlight('.manual-search .occlusion', 'red')
  .slide
    +unhighlight('.manual-search .occlusion', 'red')
    +highlight('.violation-of-expectations .endarkening', 'red')
    .notes: :t
      To defend the Simple View, you also have to explain failure in
      a violation-of-expectations task when manual search succeeds.


+simpleViewGeneratesIncorrectPredictions({final:true})
  .notes: :t
    This really is the end of the road for the Simple View.
    We must reject this view because it makes systematically incorrect
    predictions about actions like searching for occluded objects and about 
    looking behaviours involving endarkened objects.
  .notes: :t
    This a problem? Why? Because, as we'll see, it is hard to identify an
    alternative.

