---
layout: 'deck_unit'
title: "What Is Core Knowledge?"
tags: []
description: "What is core knowledge?  Why do we need a notion of core knowledge?  What is its relation to knowledge?"
depends: ['']
source: ['']
duration: 5
---

include ../../../fragments/unit_mixins

//- this is a mix of units 601 and 231


+slide_middle
  .notes: :t()
    I talked about the notion of core knowledge in the very first lecture, but since then I 
    have not appealed to the notion.
    This is deliberate because the notion is tricky; so I thought it would be good to postpone
    our discussion of it for as long as possible.
    Now I can put it off no longer.
  p.what-is.center
    span What is core 
    span.knowledge-word knowledge
    span ?  
    span.systems.hide What are core 
      span.systems-word systems
      span ? 
  +show('.systems')
  .notes: :t()
    The first, very minor thing is to realise that there are two closely related notions, core 
    knowledge and core system.
  +invert('.knowledge-word, .systems-word')
  .notes: :t()
    These are related this: roughly, core knowledge states are the states of core systems.  More 
    carefully:
  .handout.notes For someone to have \textit{core knowledge of a particular principle or fact} is for her to have a core system where 
    | either the core system includes a representation of that principle or else the principle plays a special role in describing the core system.
  .notes So we can define core knowlegde in terms of core system.
  //- 
    +line-through('.what-is')
    .notes: :t()
      The next thing to realise is that asking what core knowledge is will not be very helpful.
      Instead we need to ask a different question ... 
    .slide
      p.center.notes.show Why do we need these notions, core knowledge and core system?
    

+slide
  .notes What do people say core knowledge is?
  .handout \subsection{Two-part definition}
  .notes There are two parts to a good definition.  The first is an analogy that helps us get a fix on what we is meant by 'system' generally.  (The second part tells us which systems are core systems by listing their characteristic features.)
  .step1
    p.handout.show
      span ‘Just as humans are endowed with multiple, 
      span.noblur1 specialized perceptual systems
      span , so we are endowed with multiple systems for representing and reasoning about entities of different kinds.’
    .handout.ctd \citep[p.\ 517]{Carey:1996hl}
    p.right
      span (Carey and Spelke 1996: 517)
  +blur('.step1 p :not(.noblur1)')
  .notes So talk of core knowledge is somehow supposed to latch onto the idea of a system.
  .notes What do these authors mean by talking about 'specialized perceptual systems'?
  .notes They talk about things like perceiving colour, depth or melodies.
  .notes Now, as we saw when talking about categorical perception of colour, we can think of the 'system' underlying categorical perception as largely separate from other cognitive systems--- we saw that they could be knocked out by verbal interference, for example.
  .notes So the idea is that core knowledge somehow involves a system that is separable from other cognitive mechanisms.
  .notes As Carey rather grandly puts it, understanding core knowledge will involve understanding something about 'the architecture of the mind'.
  .slide
    img.bkg(src='/img/edge_detection.jpg')
    .notes Illustration: edge detection.
  +fade_('img.bkg')
  +blur_('.step1')
  .slide.step2
    .notes 
    p.handout.show
      // ‘core systems are conceptual and provide a foundation for the growth of knowledge.  …
      span ‘core systems are 
      ol.handout.ctd.show
        li largely innate 
        li encapsulated 
        li unchanging 
        li arising from phylogenetically old systems 
        li built upon the output of innate perceptual analyzers’ 
    .handout.ctd \citep[p.\ 520]{Carey:1996hl}.
    p.right (Carey and Spelke 1996: 520)
    .handout \textit{Note} There are other, slightly different statements \citep[e.g.][]{carey:2009_origin}.  
    .notes This, them is the two part definition.  An analogy and a list of features.
  .slide.step3
    p.em-above representational format: iconic (Carey 2009)
    .notes There is one more feature that I want to mention; this is important although I won't disucss it here.
    .notes To say that a represenation is iconic means, roughly, that parts of the representation represent parts of the thing represented.
    .notes Pictures are paradigm examples of representations with iconic formats.
    .notes For example, you might have a picture of a flower where some parts of the picture represent the petals and others the stem.
    //-     
      .notes But we quickly run into the problem that different researchers say different things, and it isn't obvious which differences matter.
      .notes We also run into the problem that the definitions on offer aren't obviously correct: they list features that maybe aren't all necessary.



    
+slide({bkg:'slide_core_knowledge_innate_transitions.jpg'})
  .notes: :t()
    So here's the picture: we have core knowledge at or soon after birth,
    and then sometime later knowledge knowledge (the real thing) emerges.
  .notes This picture is significantly different from some competitors (but not Carey on number):
  .notes: :t()
    (1) because it shows we aren't done when we've explained the acquisition of core 
    knowledge (contra e.g. Leslie, Baillargeon), and
  .notes: :t()
    (2) because it shows we can't hope to explain the acquisition of knowledge if 
    we ignore core knowledge (contra e.g. Tomasello)
  .notes: :t()
    But so far we're just taking a stipulation about core knowledge on trust.
    As philosophers we should probe this notion.

