---
layout: 'deck_unit'
title: "Signature Limits Generate Predictions"
tags: []
description: "In response to the two puzzles, we have made a conjecture.  This puzzle implies that infant and automatic reasoning is modular and involves minimal theory of mind.  But minimal theory of mind has signature limits.  These allow us to generate predictions to test the conjecture."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins


// *todo*
// summary of the two puzzles and the proposed conjecture 


//[Cambridge slides 45--65] Signature limits; Prediction; Experiments 

+slide({bkg:'unit_451/slide_cambridge_model_045.jpg'})
  // *todo* remove first figure, replace with something more informative
  .handout \begin{center}
  .handout \includegraphics[width=0.25\textwidth]{fig/signature_limits_table.png}
  .handout \end{center}
  .handout \begin{center}
  .handout   \includegraphics[width=0.3\textwidth]{fig/low_2012_fig.png}
  .handout \end{center} 

  
- var img_nos = range(46,65)
each img_no in img_nos
  - var filename = 'unit_451/slide_cambridge_model_0'+(img_no<10 ? '0' : '')+img_no+'.jpg'
  +slide({bkg:filename})



// *todo* duplicated!
mixin slide_theChallenge()
  +slide({bkg:'bkg_twins.jpg'})
    div(style='margin-left:200px;')
      .vspace-em
      .vspace-em
      .huge-glow.right challenge
      .under-huge-glow.right Explain the emergence, in evolution or development, of 
        span.highlight1 mindreading.
      block


// conclusion

+slide_theChallenge
  .notes So let me conclude.
  .notes The challenge we have been addressing was to understand the emergence of mindreading.
  .notes Initially this seemed straightforward: you learn this from social interaction using language as a tool (compare Gopnik's theory theory).
  .notes However, the discovery that abilities to track beilefs exist in infants from around 7 months or earlier initially suggested a different picture:
  .notes one on which mindreading was likely to involve core knowledge.
  .notes But, as always, things are not so straightforward.  The evidence is apparently conflicting.
  .notes There are actually  two conflicts, not one: developmentally (A- & B-tasks) and in adults, automaticity.
  .notes The existence of two puzzles gives us confidence that the conflict is not merely a methodological artefact.
  .notes The solution is to recognise that there are modules, but there was an obstacle to the hypothesis that mindreading could be modular (*cognitive efficiency)
  .notes In constructing minimal theory of mind we've earned the right to solve them by appeal to modularity.  (NB: it's modularity rather than mTm that explains the discrepancy; mTm is important because (i) it explains efficiency; and (ii) it generates predictions via signature limits)
  .notes Now the idea that there are both modular and non-modular mindreading enables us to solve the two puzzles (developmentally (A- & B-tasks) and in adults, automaticity.).
  .notes However, this resolution of the puzzles doesn't answer our overall challenge about the origins of knowledge of other minds.
  .notes In fact it complicates the account of the origins of knowledge of other minds, makes the challenge seem harder rather than easier to meet.
  .notes We can't give a theory theory / learning account; and we also can't give a straightforward core knowledge account.
  .notes Instead we need something a bit more complex.
  .notes I haven't tried to offer an account of what that thing is yet, and that isn't the point of this lecture.
  .notes But let me close by describing how I would approach it.
  .notes A key issue is the relation between infant and adult competence  ...
  
+slide({bkg:'slide_bcccd_ian_6.jpg'})
  .notes Infant competence retained in adults (matching signature limits from Low & Watts), as in the cases of colour (and probably physical objects too).
  .notes Now if we accept this, it is tempting to conjecture that the later developing mindreading abilities involve a process of rediscovery ...
  
 +slide({bkg:'slide_rediscovery_mindreading.jpg'})  
  .notes - theme A: explain the origins of knowledge of others minds : development as rediscovery.  There is a modular capacity ( = core knowledge). 
    | But this doesn't lead to adult-like understanding for years, and the acquisition of adult-like understanding hinges on language; may involve completely different model of mental states.
  //- old
  //-
    p How could mindreading be both automatic and not automatic?
    p --> modularity
    p.em-above How could mindreading sometimes be efficient?
    p --> minimal theory of mind
    p How can we test how mindreaders model minds?
    p --> signature limits

