---
layout: 'deck_unit'
title: "What Is Core Knowledge? Paradigm cases"
tags: []
description: "We saw that there is a theoretical objection to the very notion of core knowledge (/modular representation).  Here we consider some paradigm cases that can be used to ground the notion."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins

// * incomplete
// * abandoned

+slide_middle
  p.center edge detection

+slide({bkg:'edge_detection.jpg'})  
  .notes We don't know intuitively how it works (limited accessibility)
  .notes It is subject to illusions (eg paintings) (information encapsulation)
  .notes It is a separable problem (domain specificity)

section.slide
  .notes Maximum grip aperture shows anticipation of the object.
  .notes As before, it has the features of limited accessibility, information encapsulation and domain specificity.
  .container_12
    .grid_4
      .words
        p maximum grip aperture
        p.right (source: Jeannerod 2009, figure 10.1)
    .grid_8
      img(src='/img/jeannerod_2009_fig10-1.png', style='max-height:600px;')


+slide
  .notes It's not only that vision and action are not directly influenced by judgement.
  .notes They also seem to be partially separable from each other.
  p illusions
  p Roelofs effect (Bridgeman 1999, 2002); size-weight illusion (Flanagan et al 2009)---
  p.indent affect vision but not action
  p.em-above Titchner illusion---
  .notes on Titchner see \citep{glover:2002_dynamic}; on the need to distinguish planning from online control, see \citep{glover:2002_visual}
  p.indent affects vision but not action
  
+slide_middle
  p.center two systems of object representation?
  p.right (Milner & Goodale 1995)

+slide
  p The standard view
  table.data
    thead
      tr
        td
        td visual ataxia
        td optic ataxia
    tbody
      tr
        td perception
        td impaired
        td intact
      tr
        td action
        td spared
        td intact
  p.source Rossetti et al 2010

+slide
  table.data
    thead
      tr
        td
        td visual ataxia
        td optic ataxia
    tbody
      tr
        td object recognition in perhipheral vision
        td ???
        td impaired
      tr
        td object recognition in central vision
        td impaired
        td spared
      tr
        td grasping in perhipheral vision
        td ???
        td impaired
      tr
        td grasping in central vision
        td spared
        td spared
  p.source Rossetti et al 2010

+slide
  p.center summary
  ol
    li Illusions provide evidence for information encapsulation and limited accessibility
    li ... so do patterns of deficit;
    li but we need to avoid too simple conclusions
    li because the underlying brain networks are diverse.
    li Appeal to perceptual and motor systems can provide a model.
  .notes So what am I saying?



// structure: (1) modularity --- general solution to the problem
// but modularity leaves open why the looking and not the searching (rather than conversely)?
// because searching is purposive in a way that looking is not?  (searching depends on practical reasoning)
// but why does the module affect looking, which seems purposive?
// Scholl & Leslie --- it's implemented by the finst object indices
//    - use: (p. 12: 'These similarities have led to the view that adult attentional mechanisms may underlie infants’ performance on object individuation tasks (Carey & Xu, 2001; Chiang & Wynn, 2000; Leslie et al., 1998; Scholl, 2001; Scholl & Leslie, 1999; Simon, 1997; Wynn & Chiang, 1998).')
// So (i) that's why it affects looking; (ii) the principles aren't represented in the simple sense --- they're how the system works
// Further issue: developmental relation between core knowledge of the principles and the kind of knowledge that will inform acting
// - (a) Spelke/Carey joining together with language
// - (b) reflect on categorical perception: maybe it's development as rediscovery
// *also want to work in Michotte -- second take on physical interactions

