---
layout: 'deck_unit'
title: "Mapping words to concepts"
tags: []
description: "Paul Bloom and others suggest that acquiring a language is in large part a matter of working out which concepts correspond to which words.  How plausible is this view?"
depends: ['']
source: ['']
duration: 5
---

include ../../../fragments/slide_mixins

+slide_middle
  p.center fresh start (the shipwreck survivor)
  .notes Our question is, How do humans first come to communicate with words?
  .notes Let's make a fresh start and consider another approach.

section.slide
  .words: .container_12
    .grid_5
      p.handout.show ‘children learn words through the exercise of reason’ 
        span.handout (\citealp[p.\ 1103]{Bloom:2001ka}; see \citealp{Bloom:2000qz})
      p.right Bloom 2001, p. 1103
      .slide.em-above
        p.handout.show ‘much of what goes on in word learning is establishing a correspondence between the symbols of a natural language and concepts that exist prior to, and independently of, the acquisition of that language’
        p.right Bloom 2000, p. 242
        .handout.right \citep[p.\ 242]{Bloom:2000qz}
    .slide.step2
      .grid_5.prefix_1
        .handout.show
          p ‘to know the meaning of a word is to have: 
          p 1. a certain mental representation or concept 
          p 2.	that is associated with a certain form’
        p.right Bloom 2000, p. 17
        .handout.ctd \citep[p.\ 17]{Bloom:2000qz}
    .step3.remove-me
      .right-half-white
        .grid_5.prefix_1
          .words
            p.handout.show ‘Augustine describes the learning of human language as if the child came into a strange country and did not understand the language of the country; that is, as if it already had a language, only not this one.  Or again: as if the child could already think, only not yet speak.’
            .handout.ctd \citep[15--16, §32]{Wittgenstein:1953mm}
            p.right (Wittgenstein 1953, p. 15--16, §32)
            .notes Does the view Wittgenstein is attacking sound like a mere caricature?  Bloom explicitly endorses it, noting that
              .handout ‘Augustine’s proposal is no longer seen as the goofy idea that it once was’ \citep[p.\ 61]{Bloom:2000qz}.
    +remove_('.step2')
    +unremove('.step3')

+slide
  .notes This view on language acquisition is not new.
  .notes Eve Clark quotes a book from 1958 which apparently suggests that children learn words by formulating and testing hypotheses about their meanings:
  p.handout.show 'The tutor names things in accordance with the semantic customs of the community.  The player forms hypotheses about the categorical nature of the things named.  He tests his hypotheses by trying to name new things correctly.  The tutor compares the player's utterances with his own anticipations of such utterances and, in this way, checks the accuracy of fit between his own categories and those of the player.  He improves the fit by correction.'
  p.right Brown (1958, p. 194) as quoted by Clark (1993, p. 19)
  .handout.ctd (Brown 1958, p. 194 as quoted by \citep[p.\ 19]{Clark:1993bv})

+slide
  .notes One consequence of this view ...
  p Assumption:
  p If someone is in a position to learn a word, she already has the corresponding concept
  .slide.em-above
    p Consequence:
    p Learning words cannot ever be a route to acquiring concepts.
  .slide.em-above
    p Case study:
    p Kowalski and Zimilies on colour terms and concepts.
  .notes The problem is ...
  .notes This is not enough for us to reject the Assumption.  But it shows at least that the advocates of the Assumption have to explain how this case is possible and why they think there are no other such cases.

+slide
  .notes Recall this idea:
  p ‘much of what goes on in word learning is establishing a correspondence between the symbols of a natural language and concepts that exist prior to, and independently of, the acquisition of that language’
  p.right Bloom 2000, p. 242
  .slide.em-above
    .notes Incidentally, this isn't only Bloom's view, it's incredibly widespread.
    .notes Here's another example:
    p.handout.show ‘One of the first problems children take on is the MAPPING of meanings onto forms …  They must identify possible meanings, isolate possible forms, and then map the meanings onto the relevant forms.’ 
    p.right Clark 1993, p. 14
    .handout.ctd \citep[p.\ 14]{Clark:1993bv}
  .slide.em-above
    .notes I want to suggest that this idea is wrong because acquiring language is in significant part a creative process, as Eve Clark herself emphasises \citep[in][]{Clark:1993bv} .
    .notes Let me show you a particular case ...
    p ‘puttaputta’
    p.right June, age 1;3.0

+slide
  .notes Is mapping illuminating?
  .notes Thanks to Roy Higginson's CHILDES data (1985) we can trace June's use of the novel word puttaputta over six months in fourteen conversations with her mother.
  .notes June's first recorded use of puttaputta occurs when she was fifteen months (1;3.0).
  .notes At first, her mother mistakenly takes  “puttaputta” to mean Peter Piper and uses it as a noun:
  p JUNE:	puttaputta.
  p MOTHER:	puttaputta … ok.
  p MOTHER:	this puttaputta?
  p MOTHER:	Peter Piper picked a peck of pickle peppers […]
  p […]
  p JUNE:	puttaputta.
  p MOTHER:	puttaputta?
  p MOTHER:	where's puttaputta?
  p MOTHER:	can you show me puttaputta?
  p.italic June turns the page.
  p […]
  p JUNE:	puttaputta.
  p
    span.correction MOTHER:	that's not puttaputta.
  +words-bkg('.correction', 'pink')
  .notes Note that the mother corrects June because at this point she mistakenly takes  “puttaputta” to mean Peter Piper.
  .notes But that isn't what June has in mind, and she persists in using the term differently.
  .notes June persists in using “puttaputta” to mean something like tell me about this or read me this one and her mum quickly gets the hang of it (within the same conversation):
  p.source Roy Higginson's CHILDES data (1985)
  
+slide
  p JUNE:	puttaputta.
  p MOTHER:	puttaputta?
  p JUNE:	puttaputta.
  p MOTHER:	ok … Doctor .
  p June takes the book, looks at it and the hands it back to her mother.
  p MOTHER:	Foster went to Gloucester in a shower of rain … he stepped into a puddle right up to his middle and never went there again.
  p JUNE:	puttaputta.
  p MOTHER:	ok … the late Madame Fry wore shoes a mile high and when she walked by me I thought I should die.
  // p June takes the book again, looks at it again and then hands it back again.
  // p JUNE:	puttaputta.
  // p MOTHER:	this one?
  // p MOTHER:	Old Farmer Giles he went seven miles with his faithful dog old Rover … and Old Farmer Giles when he came to the stiles took a run and jumped clean over.
  .notes In this first conversation, June uses “puttaputta” 20 times (3 of these are just “putta”).  Most the other 15 words she uses appear only once and none appear more than twice.
  .notes So not only do infants coin new words, they will also persist in using them despite initial misunderstandings (even despite being 'corrected' by an adult) and they may rely heavily on their own words.
  p.source Roy Higginson's CHILDES data (1985)

+slide
  .notes In a later session (June is now seventeen months (1;5.0)) June continues to use “puttaputta” and to be understood as she intends:
  p JUNE:	putta .
  p JUNE:	puttaputta .
  p MOTHER:	am I supposed to read that ?
  p MOTHER:	you have to come over here then .
  p JUNE:	puttaputta .
  p 
    span.mother-uses-putta MOTHER:	what do you want me to puttaputta ?
  p MOTHER:	what's this ?
  p JUNE:	car ?
  +words-bkg('.mother-uses-putta', 'blue')
  .notes In this same session, June's mum uses “puttaputta” as a verb herself.
  .notes June continues to use “puttaputta” frequently in until around eighteen months (“puttaputta” occurs 45 times in a conversation recorded when June was 1;6.0) and then drops it abruptly (“puttaputta” doesn't appear in any of the seven conversations recorded over the next three months).
  p.source Roy Higginson's CHILDES data (1985)
  +blur('*')
  .notes Why am I telling you about June's use of puttaputta.
  .notes One thing to note, of course, is that June isn't learning to map a concept to a word.
  .notes If she is doing anything with a word-concept mapping, she is inventing and teaching it rather than learning it.
  .notes This is one ammendment to the claim that acquiring language depends on coming to know word-concept mappings.
  .notes But there is a second point I  want to draw from 'puttaputta'.
  .notes June uses puttaputta purposively, to a particular end, to get others to read or interact with her in certain contexts.
  .notes But I'm not sure that this involves mapping the word to a concept. 
  .notes Is mapping the word to the concept is the key to understanding what June is doing?
  .notes I'm not saying it's not; I'm just saying that there's a challenge to Bloom here.




// *todo. Don't think this is right.  Ultimately need meanings; children are just getting them at the 1-word stage on Bloom's view
  +slide
    .notes We can deepen this criticism of the mapping idea with an exercursion into philosophy of language.
    .notes Recall this quesiton, which we asked earlier.
    p.notes.show What do I know or understand when I can communicate with language?
    .notes I take it that proponents of mapping think the answer is a word-concept mapping, where the concept is the meaning of the word.
    .notes But here we should step back and ask how this knowledge is supposed to explain
    .notes The key is to start with a mildly sceptical attitude towards notions like meaning and concept.
    .notes They should only be introduced if we can say clearly why they are necessary.
    .notes On one way of thinking about what word meanings are for, they are necessary only to explain systematicity and productivity.
    .slide
      p.handout.show ‘entities such as meanings … are not of independent interest’
      p.right (Davidson 1974: 154)
      .handout.ctd \citep[p.\ 154]{Davidson:1974gh}
      .notes (To develop this point we would need quite a bit of philosophy of language; so consider it just as a pointer.)



//
  +slide_middle
    p.center objection
    .notes I've focussed on “puttaputta” because it illustrates how even children with normal experiences of language sometimes coin their own words as soon as they start using words.
    .notes You might object that “puttaputta” is a very primitive use of language, somewhere between a word and a sentence.
    .notes But children also coin proper words such as “fire-dog” for a stray dog found near a fire (Clark 1998: 14) and “darking” for the action of colouring.
    .notes Here's an example:
  +slide
    .notes This exeample shows Shem inventing the word “smashit.”  This is a nice complex example involving a noun probably derived from a verb (to smash) where Shem simultaneously explains what the word means and refines its pronunciation:
    .notes Shem is age 2;3.21
    p CINDY:	yeah … an(d) who's this?
    p SHEM:	s ma uh  uh at uh uh uh ma farmer farmingk [: farming] an(d) (h)as (s)maz(ik) uh where the key an uh go home the hose.
    p CINDY:	he carries uh what?
    p SHEM:	is um uh farmers (s)mazik an(d) a hose an own uh get in uh home … the hose.
    p ['smazik' or 'smashit' refers to an axe] 
    p CINDY:	right … he carries a hose and what else?
    p SHEM:	uh smashit
    p CINDY:	a smasher?
    p CINDY:	this thing?
    p SHEM:	yeah.
    p CINDY:	yeah … he needs a smasher so he can smash through doors to get to the fire if he has to … and he takes those home with him?
    p SHEM:	yeah.
    p CINDY:	what does he do with the smasher at home?
    p SHEM:	uh uh uh uh an(d) smash de the window an(d) water in the window.
    p CINDY:	smash the window and water in the window?
    p SHEM:	yeah.
    p CINDY:	do you have another book that you wanna see?
    p.source Eve Clark's CHILDES data (1982)
    +collapse('p:lt(5)')
  

// *todo duplicated!
section.slide
  .words: .container_12
    .grid_5.reason
      p ‘children learn words through the exercise of reason’ 
      p.right Bloom 2001, p. 1103
      .em-above
        p
          span.mapping ‘much of what goes on in word learning is establishing a correspondence between the symbols of a natural language and concepts that exist prior to, and independently of, the acquisition of that language’
        p.right Bloom 2000, p. 242
    .step2
      .grid_5.prefix_1
        p
          span.meaning ‘to know the meaning of a word is to have: 
        p
          span.meaning 1. a certain mental representation or concept 
        p
          span.meaning 2.	that is associated with a certain form’
        p.right Bloom 2000, p. 17
  .notes So what am I saying?
  +words-bkg('.mapping','blue')
  .notes I've been considering the mapping idea, the idea that children have to establish a correspondence between words and concepts.
  .notes I agree that this the right way to think about some language learning; in particular, learning colour words like 'red' is well modelled in this way.
  .notes But I've offered two qualifications.
  .notes First, in at least some of these cases it may be that the concept comes after the word.
  .notes Second, while it's appropriate to think of abilities to use language as requiring word-concept mappings in some cases, like the case of 'red',
  .notes I used the example of 'puttaputta' to suggest that there are at least some cases of communiation with words which don't seem to involve learning or inventing word-concept mappings.
  .notes I'm not claiming to have shown that the mapping idea is wrong.
  .notes I merely want to offer you an open challenge: can we make sense of the mapping idea and do we need it?
  +words-bkg-remove_('.mapping','blue')
  +words-bkg('.meaning','pink')
  .notes Note that the mapping idea depends on a philosophical claim about what it is to know the meaning of a word.
  .notes This is something we should question, I think.  (But not now.)

//
  p.center further issue
  .notes We need to explain not just mapping but understanding of words as communicative device.
  .notes I 
  
