---cson
layout: 'deck_unit'
title: "Is Categorical Perception Core Knowledge?"
tags: []
description: """
  Categorical perception has some but not all of the features of core knowledge.
  Does it count as core knowledge?
  """
---

include ../../../fragments/unit_mixins


  
  
section.slide
  .notes: :t
    We've seen something like this list of properties before ...
    Compare the notion of a core system with the notion of a module
  .notes: :t
    The two definitions are different, but the differences are subtle enough that we don't want both.
    My recommendation: if you want a better definition of core system, adopt 
    core system = module as a working assumption and then look to research on modularity 
    because there's more of it.
  //- 
    .handout \subsection{Compare modularity}
    .handout Modules are ‘the psychological systems whose operations present the world to thought’; 
      | they ‘constitute a natural kind’; and 
      | there is ‘a cluster of properties that they have in common’ \citep[p.\ 101]{Fodor:1983dg}.
    .handout These properties include:
    .handout \begin{itemize}
    .handout \item domain specificity (modules deal with ‘eccentric’ bodies of knowledge)
    .handout \item limited accessibility (representations in modules are not usually inferentially integrated with knowledge)
    .handout \item information encapsulation (modules are unaffected by general knowledge or representations in other modules)
    .handout \item innateness (roughly, the information and operations of a module not straightforwardly consequences of learning; but see \citet{Samuels:2004ho}).
    .handout \end{itemize}
  .words: .container_12: .grid_5
    p ‘core systems are 
      ol
        li: span.innate largely innate, 
        li
          span.encapsulated  encapsulated
          span , and 
        li: span  unchanging, 
        li: span  arising from phylogenetically old systems 
        li: span  built upon the output of innate perceptual analyzers’ 
    p.right (Carey and Spelke 1996: 520)
  .slide
    .right-half-white
      .words: .container_12: .grid_6
        div(style='padding-right:1em;')
          p Modules are ‘the psychological 
            span.present-the-world(style='z-index:0;') systems whose operations present the world to thought
            span ’; 
            | they ‘constitute a natural kind’; and 
            | there is ‘a cluster of properties that they have in common’
          ol
            li: span.innate(style='z-index:0;')  innateness 
            li: span.encapsulated(style='z-index:0;')  information encapsulation 
            li: span  domain specificity 
            li: span  limited accessibility 
            li: span  ...
