---
layout: 'deck_unit'
title: "Objects vs Features"
tags: []
description: "Knowledge of objects requires abilities to (i) segment objects, (ii) represent them as persisting and (iii) track their interactions.  What this involves can be illustrated by contrasting objects with features."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/unit_mixins

+slide_middle
  .notes: :t()
    The question for this lecture concerns knowledge of physical objects.
    When do humans first come to know simple facts about particular physical objects?
    To illustrate, consider the fact that this telephone is located here,
    or the fact that this telephone is square.
    I take it that no one is born knowing any such facts.
    So there was a time when you knew no facts about particular physical objects at all,
    and then, sometime later, you came to know some such facts.
    How did you make this transition?
    How do humans first come to know facts about particular objects?
  .notes: :t()
    (For the rest of this lecture 
    I'll drop the qualifier `physical' since this is all about physical objects as opposed to, 
    say, abstract objects like numbers or forms.)
  p.center knowledge of physical objects

+slide_middle({bkg:'PB042123.JPG'})
  p.center objects vs features
  .notes: :t()
    [features picture]
    First, what does knowledge of physical objects involve?
    One way to approach this question is by contrasting objects with features.
    Physical objects contrast with features in three ways
    %
    \begin{enumerate}
    %
    \item physical objects have boundaries whereas mere features do not. (This needs qualifying 
    because there is a sense in which we can regard features as having boundaries; but when it 
    comes to 
    features, the boundaries are merely projections.  To see the contrast, consider that we could 
    all be permanently mistaken about the boundaries of a physical object but not about the 
    boundaries of a feature---another species could not discover a million years from now that 
    humans are wrong about the boundaries of this feature, that they thought it was one feature
    whereas really it is two.)
    %
    \item physical objects persist in a way that features do not.  You cannot ask, concerning a 
    feature now, whether this is the same feature as some time ago.  At least, you cannot ask this
    in the same sense that you can ask it about a physical objects.
    %
    \item physical objects can interact with each other in way that features cannot: they
    can causally interact.
    %
    \end{enumerate}
    %
    Imagine not knowing anything at all about particular physical objects and living in a world
    consisting entirely of features.  Nothing interacts, there are only patterns.
    And things outside your perceptual field do not exist.
    From your point of view, the world is limited your perceptual field now.
    
+slide({id:'segment_persist_interact'})
  p Three requirements
  .notes: :t()
    Contrasting features with physical objects suggests three requirements on having any 
    knowledge about particular physical objects.
  .slide
    ul
      li segment objects
      li represent objects as persisting (‘permanence’)
      li track objects’ interactions
  .notes.handout: :t()
    Knowledge of objects depends on abilities to (i) segment objects, (ii) represent them as 
    persisting and (iii) track their interactions.
  .notes: :t()
    Let's look at each of these in turn.
  +blur_('li:eq(1), li:eq(2)')
  +highlight-row('li:eq(0)', 'grey')
  .notes How do infants and adults discern where one object begins and another ends?
  
+slide_img('DSC_1028.JPG')
  .notes: :t()
    [ducks picture]
    The way objects are ordinarily arranged in space, so that one occludes parts of another, 
    prevents us from doing this in any simple way.

+slide_img('PB042123.JPG')
  .notes: :t()
    [features picture]
    Recall my imaginary world of features.  In this world there is no principled way of saying 
    where one object ends and another begins.
    As I said, features differ from genuine objects in not allowing us to make sense of the question of 
    whether we are carving them at their joints.
    So an ability to segment physical objects is not necessary for knowing anything about
    mere features but it is probably necessary for having any knowledge 
    concerning particular physical objects.
  

+slide({id:'segment_persist_interact2'})
  .slide-clone(data-which='#segment_persist_interact')
  .notes So much for the first requirement (segmentation) ...
  +unblur_('li:eq(1), li:eq(2)')
  +unhighlight-row_('li:eq(0)', 'grey')
  +blur_('li:eq(0),li:eq(2)')
  +highlight-row('li:eq(1)','grey')
  .notes ... what about the second requirement, representing objects as persisting?

+slide_img('DSC_AB_1822.JPG')
  .notes: :t()
    When Hannah hides behind the logs and a girl later pops up, we can ask whether it is Hannah 
    again or another girl.
    That is, we know that objects can persist despite disappering from view---and despite becoming 
    entirely imperceptible.

+slide_img('PB042139.JPG')
  .notes: :t()
    [features picture]
    Contrast features again.  You might see this red feature moving across the scene. 
    But suppose it disappears and then, later a similar looking feature appears. 
    There is no fact of the matter about whether this is the same feature or a different one.
    As I mentioned before, in the case of features we can't make sense of them as persisting over 
    time, or as there being interruptions in their presence.
    I suppose, then, that to have knowledge concerning physical objects rather than merely 
    concerning features, it is necessary to be able to represent objects as persisting
    even while unperceived.


+slide({id:'segment_persist_interact3'})
  .slide-clone(data-which='#segment_persist_interact2')
  .notes That was the second requirement, now there's just one more ...
  +unblur_('li:eq(0),li:eq(2)')
  +unhighlight-row_('li:eq(1)', 'grey')
  +blur_('li:eq(0),li:eq(1)')
  +highlight-row('li:eq(2)','grey')
  .notes This is the requirement that you can track objects' interactions.

+slide_img('PC183258.JPG')
  .notes: :t()
    Objects causally interact with each other; one pan supports another, two people collide and 
    bounce off each other.  Relatedly, objects have counterfactual lives: sometimes you can say,
    truly, that if that barrier had not been there, the car would be at the bottom of the valley 
    now.  
    

+slide_img('PB042152.JPG')
  .notes: :t()
    [features picture]
    As I mentioned, this is another respect in which objects are distinct from features.
    Features do not causally interact with each other and they do not have counterfactual lives 
    either.
    This point of contrast suggests that knowledge concerning physical objects as opposed to mere
    features requires at least a limited ability to track causal interactions.
    

section.slide
  .slide-clone(data-which='#segment_persist_interact3')
  +unblur_('li:eq(0),li:eq(1)')
  +unhighlight-row('li:eq(2)', 'grey')
  .notes: :t()
    So reflection on how physical objects differ from mere features suggests three minimal 
    requirements on having any knowledge at all of facts about particular physical objects.
    Knowing things about particular physical objects, unlike knowing things about mere features, 
    requires abilities to segment objects, to represent them as persisting, and to track at least 
    some of their cauasl interactions.


+slide_middle
  p.center the question
  .notes: :t()
    As mentioned, the question we'd like to answer is how humans first come to know any facts about
    particular physical objects.
    Before you know any such facts you live in something like a world of mere features.
    In this feature world, nothing persists and there are no causal interactions only patterns.
    And nothing exists except in your perceptual fields.
  .notes: :t()
    Now the question of how humans make this transition to knowing some facts about particular 
    physical objects is too hard to face head on.  But we can approach it by asking,
  .handout The question for this lecture is, 
  .notes.handout.ctd: :t()
    How do humans come to meet the three requirements on knowledge of objects?
  