---
layout: 'deck_unit'
title: "From Myths to Mechanisms"
tags: []
description: "A quick, scene-setting discussion of nativism and empiricism."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/unit_mixins

+slide_middle
  .notes: :t()
    How do humans first come to know  about---and to knowingly manipulate---objects, causes, words, 
    numbers, colours, actions and minds?
    In a beautiful myth, Plato (who also asked this question) suggests that the answer is 
    recollection. 
    Before we are born, in another world, we become acquainted with the truth. 
    Then, in falling to earth, we forget everything. 
    But as we grow we are sometimes able to recall part of what we once knew.
    So it is by recollection that humans come to know about objects, causes, numbers and everything 
    else. 
  p.center myths

+slide_rh_white({step:true})
  .notes Leibniz explicitly endorses a version of Plato's view.
  +left_half
    p.handout.notes.show ‘the soul inherently contains the sources of various notions and doctrines which external objects merely rouse up on suitable occasions’
    p.right Leibniz (1996, p. 48)
    .handout.notes.ctd \citep[p.\ 48]{Leibniz:1996bl}
    .notes: :t()
      The view is subtler than it seems: we'll return to the subtelties later.
      [*Actually that isn't in these lectures, but it should be.]
  +right_half({step:true})
    .notes Locke, as you probably know, was an empiricist.  Here's his manifesto.
    p
      span.handout.notes.show: :t()
        ‘Men, barely by the Use of their natural Faculties, may attain to all the Knowledge they 
        have, without the help of any innate Impressions; [...]
    .slide
      .notes This claim about colour isn't relevant yet but we'll return to it later.
      p
        span.handout.notes.ctd.show ‘it would be impertinent to suppose, the Ideas of Colours innate in a Creature, to whom God hath given Sight, and a Power to receive them by the Eyes from external Objects’
      p.right (Locke 1975 [1689], p. 48)
      .handout.notes.ctd \citep[p.\ 48]{Locke:1975qo}

//section.slide
//  .words: .container_12: .grid_12
//    p ‘it is the knowledge of necessary and eternal truths that distinguishes us from mere animals and gives us reason and the sciences [...]
//    p ‘It is also through the knowledge of necessary truths and their abstractions that we rise to reflective acts, which make us think of what is called I, and consider that this or that is within us: and thus, thinking of ourselves, we think of being, of substance [...].
//    p ‘And these reflective acts furnish the chief objects of our reasonings.’
//    p.right (Leibniz 1973 [1714], §§29-30)

+slide_middle
  .notes Spelke is blunt.  
  p.handout.notes.show ‘Developmental science [...] has shown that both these views are false’
  .handout.notes.ctd \citep[p.\ 89]{Spelke:2007hb}.
  p.right (Spelke and Kinzler 2007, p. 89)
  p.notes: :t()
    Spelke doesn't have exactly Locke vs Leibniz in mind here, but rather modern descendants 
    of their views.
  p.notes: :t()
    [The quote continues ‘humans are endowed neither with a single, general-purpose learning system 
    nor with myriad special-purpose systems and predispositions. Instead, we believe that humans 
    are endowed with a small number of separable systems of core knowledge. New, flexible skills 
    and belief systems build on these core foundations.’]
  p.notes: :t()
    Spelke's claim may be too bold.  As we will see, there is surprisingly little evidence about
    the conflict between empiricists and nativists.  
    A more cautious claim would be this.  when we look at particular cases in detail---for 
    instance, 
    when we look at how humans come to know about colours---we will discover complexities that seem 
    to be incompatible with any one of the stories.   


+slide_middle
  .center
    p.line-through myths
    p mechanisms
  .notes: :t()
    To make progress we need to forget about the myths; we need to
    identify various mechanisms and attempt to model their interactions. 
  .notes: :t()
    The claim that we should shift from thinking about myths to mechanisms makes pressing
    the worry that there is no task here for philosophers and that its really just a job for
    scientists.

//- 
  //- skip: don't know them well enough yet
  +slide_middle
    p
      span I think it's a fascinating topic and well worth exploring. However, I am slightly 
      span concerned that it won't really be a philosophy module, and will actually be some sort of 
      span.pseudo pseudo-science/psychology 
      span module instead.
    .notes: :t()
      Here's how a student expressed the worry last year when wondering whether to take the module.
    +highlight('.pseudo')  
    .notes: :t()
      I love the suggestion that I'm offering a pseduo module.
      (By the way, this student went on to be one of the best students, perhaps the best,
      and worked incredibly hard.)
      But am I?
      Or is there really a contribution for philosophers to make in this area?
  
