---
layout: 'deck_unit'
title: "Recap and Questions"
tags: []
description: "A brief recap of what we've learnt so far about infant representations of objects and their causal interactions."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins
include ../../../fragments/origins_mixins




+slide
  .notes As I said at the start, knowledge of objects depends on abilities to (i) segment objects, (ii) represent them as persisting and (iii) track their interactions.
  p Three requirements
  ul
    li segment objects
    li represent objects as persisting
    li track objects’ interactions
  .notes.handout \emph{Question 1}  #{qq.q1}
  .notes Until quite recently it was held, following Piaget and others, that these three abilities appeared relatively late in development.  
  .notes However, as we saw last week, more recent investigations provide strong evidence that all three abilities are present in humans from around four months of age or earlier.  
  .notes Infants' looking behaviours indicate that they have expectations concerning segmentation, persistence and causal interactions.  
  .notes.handout \emph{Discovery 1} Infants manfiest all three abilities from around four months of age or earlier.

+slide
  .notes We've seen that infants' abilities to segement objects, represent them as persisting and track their causal 
    | interactions can be described by appeal to a single set of principles, 
    | the principles of cohension, boundedness, rigidity and no action at a distance.
  .notes This suggests that 
    .handout \emph{Discovery 2} Although abilities to segment objects, to represent them as persisting through occlusion and  to track their causal interactions are conceptually distinct, they may all be consequences of a single mechanism (in humans and perhaps in other animals).
  .notes Spelke suggests, further, that these principles of object perception explain infants' looking behaviours.
  .notes This means we must ask
    .handout \emph{Question 2} #{qq.q2}
  p Principles of Object Perception
  ul.blur1
    li cohesion
      span.step2.grey-text —‘two surface points lie on the same object only if the points are linked by a path of connected surface points’
    li boundedness
      span.step3.grey-text —‘two surface points lie on distinct objects only if no path of connected surface points links them’
      // … the boundedness principle implies that … two distinct objects cannot interpenetrate.’
    li rigidity
      span.step4.grey-text —‘objects are interpreted as moving rigidly if such an interpretation exists’
    li no action at a distance
      span.step5.grey-text —‘separated objects are interpreted as moving independently of one another if such an interpretation exists’
  p.right (Spelke 1990)
  .notes Let me explain this question.
  +blur('.blur1')
  .slide
    .notes Let's suppose that Spelke is right that the principles are \emph{formally adequate}.
    .notes That is, someone who knew the principles and had unlimited cognitive resources could use the principles to infer the track physical objects through simple causal interactions like those we've been considering.
    .notes (So formal adequacy is a question of what is possible in principle.)
    .notes I don't think we should question this.
    ul
      li formal adequacy
      li.slide descriptive adequacy
        .notes: :t()
          I also want to allow that Spelke's principles are \emph{descriptively adeqaute}.
          That is, they successfully describe how infants, adults and nonhumans deal with various situations.
          We can think of this in terms of \emph{as if}: it is as if these individuals are using the principles.
          But we have yet to come to what really matters to Spelke and to us.
          For accepting formal and descriptive adequacy is consistent with denying that Carey and Spelke's claim that ‘A single system of knowledge … appears to [does] underlie object perception and physical reasoning’ \citep[p.\ 175]{Carey:1994bh}.
        .notes That's because formal and descriptive adequacy leave open the question of what mechanisms are involved in tracking physical objects' causal interactions.
      li.slide mechansim 
        .notes Finally, we might claim that these principles are realised in the cognitive mechansisms invovled in object tracking.
        .notes It just here that we have to face the second question, #{qq.q2}.
        span.slide (e.g. the simple view)
          span.notes In answer to Q2, I suggested that we start with the simple view.  
          span.notes.handout The \emph{simple view} is the view that #{origins.simple_view}
          span.notes The attraction of the Simple View is that it promises to explain infants' sensitivity to objects' boundaries, their persistence and their causal interactions as manifested in a variety of looking behaviours.
          span.notes But, as we're about to see, the Simple View is completely wrong.
