---
layout: 'deck_unit'
title: "Does Infants’ Model of Action Involve Intentions?"
tags: []
description: "What model of action underpins infant cognition of action?  Is it a model on which actions are related to goals by intentions, as Premack and others have suggested?  Probably not."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/unit_mixins

+slide_img('slide_budapest_lecture05_05.jpg')
  .notes: :t()
    So we have this model of action, 
    where the relation between an action and a goal exists in virtue of an intention 
    which represents the goal, coordinates the action, and coordinates the action in such a way
    that, normally, the existence of the action increases the probability that the outcome will 
    occur.
  .notes: :t()
    Our question is whether this is infants' model of action.
    To answer this question we need first to understand more about the model.
    In particular we need to know ...


+slide_img('slide_budapest_lecture05_06.jpg')
  .notes What is an intention?
  

+slide_img('slide_budapest_lecture05_09.jpg')
  .notes [*new route: for the purposes of understanding these agents, we want the simplest possible notion of intention; so we'll take intention as an action-causing belief-desire pair.
  .notes The idea I want to consider is, surprisingly, that there are no such things as intentions.
  .notes \begin{quote}
  .notes.handout  `The expression `the intention with which James went to church' has the outward form of a description, but in fact it
  .notes.handout ...\ % is syncategorematic and 
  .notes.handout cannot be taken to refer to an entity, state, disposition, or event. Its function in context is to generate new descriptions of actions in terms of their reasons; thus `James went to church with the intention of pleasing his mother' yields a new, and fuller, description of the action described in `James went to church'.' 
  .notes.handout.ctd \citep[p.\ 690]{davidson:1963_orig}
  .notes \end{quote}
  .notes What motivates this view?
  .notes We already have beliefs and desires in our model of action explanation.
  .notes Introducing intentions as additional mental states would make the model more complicated.
  .notes So if we can do without intentions, we should do so in the interests of simplicity.

+slide_img('slide_budapest_lecture05_10.jpg')
  .notes But how can we do without intentions?
  .notes Haven't we just seen that we need intentions in order to explain the relation between an action and the goal or goals to which it is directed?

+slide_img('slide_budapest_lecture05_11.jpg')
  .notes Here's how Davidson's view works.
  .notes James desired to please his mother.
  .notes James believed that going to church would please his mother.
  .notes And this belief and desire caused his going to church.

  .notes So the belief--desire pair can play the role of an intention.  
  .notes It (1) represents an outcome---in this case, the pleasing of James' mother---, (2) causes an event---James' going to church---; and (3) causes an event whose occurrence would normally lead to the outcome’s occurrence.

+slide_img('slide_budapest_lecture05_12.jpg')
  .notes It appears, then, that we can explain the relation between an action and the goal or goals to which it is directed just in terms of belief and desire.
  .notes We don't need to introduce intentions as further mental states.
  .notes If we like we can say that an intention just is a suitable, action-causing belief-desire pair.

  .notes This view of intention is parallel to a view about knowledge.
  .notes Some suppose that knowledge is justified true belief.  
  .notes Or belief meeting some condition like being true and justified.
  .notes On this sort of view, knowledge is not a mental state over and above belief.
  .notes Rather, there are just beliefs and some of these beliefs have a special status.
  .notes Similarly, Davidson's idea might be put by saying that intentions are just action-causing belief--desire pairs.
  .notes (This is not to say that \emph{any} belief--desire pair is an intention, of course.)


+slide
  .notes Let me give you one more example.
  .notes Let's assume that we know what beliefs and desires are.
  .notes It's a familiar idea that they combine to cause actions like this:
  p Belief: that if I don’t comb my hair I will get rabies.
  p.em-above Desire: that I don’t get rabies.
  p.em-above.slide Baldric combed his hair with 
    span.the-intention the intention
    span  of avoiding rabies.
  +invert('.the-intention')
  .notes To say that he had the intention to avoid rabies is, on this view, just to say that his action was caused by a belief and a desire with these contents.

+slide_img('slide_budapest_lecture05_12.jpg')
  .notes Now this isn't the right way to model adults' understanding of intention, but it's an approximation that works in the cases we're concerned with.
  .notes (Interesting question is why we can’t stop with intention = action-causing belief-desire pair and what intentions are for, but this is a topic for the course about reasons and actions.])

//- who understands intentions?
+slide({bkg:'slide_budapest_lecture05_32.jpg'})
  .notes Tomasello and Call say that this *is* the model of action that underpins primate cognition
  .slide
    div(style="margin-top:300px;")
      .notes And we saw earlier that Premack says the same about infants, although not everyone agrees.
      p ‘in perceiving one object as having the intention of affecting another, the infant attributes to the object [...] intentions’
      p.right Premack 1990: 14

+slide_img('slide_budapest_lecture05_12.jpg')
  .notes: :t()
    So should we just stop here?
    There are at least three reasons not to stop but rather to look for alternative models of action 
    ...
  +blur2('img:eq(0)')
  .notes: :t()
    Reason (a): understanding intention is not something potentially less sophisticated than 
    understanding belief; on the contrary, even the simplest way of understanding intention
    presupposes understanding belief (and desire).
    So unless we think infants have a sophisticated understanding of mental states, we shouldn't 
    suppose that their model of action includes intention.
  .notes: :t()
    Reason (b) Minimal theory of mind ... presupposes an understanding of goal-directed action.
    If we explain goal-directed action in terms of intention, we are thereby sneaking
    beliefs and desire in through the back door.  So the whole minimal theory of mind project would
    fail.
    (You might say, on minimal theory of mind that instead of beliefs and desires we could combine 
    registration and preference; but that would affect the construction since registration was 
    explained in terms of goal-directed action).
  .notes: :t()
    Reason (c): Mere curiosity. It would be good to see if there is any other, perhaps simpler way 
    of understanding this relation, perhaps one that doesn't involve insight into mental states.
  .notes So, is there a simpler model of the relation, one that infants might understand?






