---
layout: 'deck_unit'
title: "Permanence [*NOT IN USE*]"
tags: []
description: "There is evidence that abilities to represent unperceived objects appear early in infancy, from four months of age or earlier.  These abilities might be explained by principles like cohesion and continuity."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins
include ../../../fragments/origins_mixins

// idea of this unit is to recap Permanence and stress relevance of principles




+slide
  .notes Commenting on discrepancies between preferential looking and visual search, this is an early view (contrast \citealp{Spelke:2001pg}).
  p.handout.show ‘These dissociations cast doubt on the view that visual search and preferential looking depend on a single mechanism […] operating in accord with a single set of principles. [...]
  p.em-above.handout.ctd.show ‘infants’ ability to perceive object identity over occlusion, as assessed in preferential looking tasks, and to track objects visually, as assessed in visual search tasks, do not draw on a 
    span.highlight1 single system of knowledge
    span . [...]
  +invert('.highlight1')
  .notes But what is a system of knowlegde?  What is this notion of system?
  .notes What Spelke goes on to say offers a clue.
  .slide
    p.em-above.handout.show ‘In Fodor’s (1983) terms, visual tracking and preferential looking each may depend on 
      span.highlight2 modular mechanisms
      span .’
    .handout.ctd \citep[p.\ 137]{spelke:1995_spatiotemporal}
    p.right Spelke et al (1995, p. 137)
    +words-bkg('.highlight2', 'yellow')
    .notes So at this point it seems Spelke is suggesting that knowledge of the principles of object perception may be modular.
    .notes What is modularity?  We'll consider this notion later.
    .notes For now I want us to take two things.
    .notes First, the discrepancy between looking and searching as measures of object representations makes trouble for the simple view (according to which the principles of object perception are simply known).
    .notes Second, the solution may be something called 'modularity' which we don't yet understand.



//- notes on possible additions--- not essential
    
  section.slide
    .words: .container_12: .grid_12
      p *todo* add examples from Spelke and Hespos 2001 pp 326-7
      p ‘when five-month-old infants observe first a single object that is occluded by a moving screen and then a second object that joins the first behind  he screen, they subsequently look longer when the screen is lowered to reveal one object (an unexpected outcome to adults, but one that is superficially familiar since only one object ever was visible in the scene at any given time) than when it is lowered to reveal two objects (Wynn, 1992)’
      p ‘when 2.5 month-old infants observe an object hidden either inside or behind a container and then see the object again when the container is moved to the side, they react differently depending on how the object is hidden (Hespos and Baillargeon, 2001a).’
      p \citep[pp.\ 326--7]{Spelke:2001pg}
      
      
  section.slide
    .words: .container_12: .grid_12
      p *todo* add example of \citep{wang:2004_young}
      p  ‘In two experiments, 4-month-old infants were tested in VOE tasks with test trials only. The infants still gave evidence that they could represent and reason about hidden objects: they were surprised, as indicated by greater attention, when a wide object became fully hidden behind a narrow occluder (Experiment 1) or inside a narrow container (Experiment 2). These and control results demonstrate that young infants can succeed at VOE tasks involving hidden objects even when given no habituation or familiarization trials.’
      
  section.slide
    .words: .container_12: .grid_12
      p *todo* include evidence from chicks (bears on nativism --- infants might learn it, but they needn't)
      
      
  section.slide
    .words: .container_12: .grid_12
      p *todo* must mention \citep{mccurry:2009_beyond}
      p ‘when task demands are minimal (successful performance requires only a direct reach through the fringe) young infants search reliably for hidden objects.’
