---
layout: 'deck_unit'
title: "Words and Communicative Actions"
tags: []
description: "Here we pause to connect our studies of non-linguistic communication back to linguistic communication.  Reflection on non-linguistic communicative actions (in particular, pointing gestures) makes apparent that understanding a communicative action involves more than identifying which thing it picks out.  This may matter for understanding abilities to communicate by language too."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/unit_mixins
include ../../../fragments/origins_mixins


mixin slide_pointing-vs-linguistic(p)
  - p = p || {step:true}
  +slide_rh_white({step:p.step})
    +run_across
      p.center  Pointing vs. linguistic communication
    +left_half
      p a point
      - hideif= p.step ? "hide" : ""
      ol
        li(class=hideif)
          span.referent associate gesture with referent
        li(class=hideif)
          span.utterer identify the agent of the gesture
        li(class=hideif)
          span.recepient identify the intended recepient of the gesture
        li
          span infer message 
          span  (Why is  
          span.utterer this agent
          span   pointing at  
          span.referent that thing
          span    
          span.recepient for her
          span ?)
        if p.step
          +highlight('.referent', 'forestgreen')
          +show('li.hide:has(.referent)')
          +unhighlight('.referent', 'forestgreen')
          +highlight('.utterer', 'yellow')
          +show('li.hide:has(.utterer)')
          +unhighlight('.utterer', 'yellow')
          +highlight('.recepient', 'pink')
          +show('li.hide:has(.recepient)')
          +unhighlight('.recepient', 'pink')
    +right_half({step:p.step})
      p a one-word utterance
      ol
        li
          span.associate-word  associate word with referent
        li identify the utterer
        li identify the intended audience
        li infer message (Why is this utterer talking to her about that thing?)
      if p.step
        +invert('.associate-word')
        .notes Last time we focussed on how children get to associate words with their referents (or meanings, whatever exactly those turn out to be).
        .notes Here we discussed the idea that this comes about by training, and contrasted it with the idea that children identify the referents of words through the use of reason.
        .notes What I want to stress now is that getting the word-referent relation is only a part of what's needed to communicate by language.
        .notes This was brought out drammatically by the Hare and Tomasello task I mentioned earlier ...
    block


//-
  +slide_pointing-vs-linguistic


+slide_rh_white({step:true})
  +left_half
    p.center pointing
    +to_comprehend
  +right_half({step:true})
    p.center one-word utterance
    p To comprehend:
    ol
      li know that this person is gesturing to object X;
      li know that by so gesturing she is attempting to communicate; 
      li 
        span.associate associate word with property F
        span ; and
      li know that she is attempting to communicate that X is F.
    +highlight('.associate')



+slide
  .notes Recall this experiment in which Hare and Call (\citeyear{hare_chimpanzees_2004}) contrast pointing with a failed reach as two ways of indicating which of two closed containers a reward is in.  Chimps can easily interpret a failed reach but are stumped by the point to a closed container.
  .notes \textbf{Note that} chimpanzees do follow the point to a container \citep[see][p.\ 6]{Moll:2007gu}.
  .notes Chimps do follow the point to the container, but they don't get the message.
  img(src='/img/hare_2004_fig.png')
  p.source Hare & Tomasello 2004  

+slide
  .notes Tincoff and Jusczyk showed 6 month old infants two videos (not pictures: what you see here are stills from their videos) simultaneously.
  .notes While the videos were playing, the infants heard a word spoken.  The word was either 'hand' or 'foot'.
  .notes Which video did they look at more?
  img(src='/img/tincoff_2011_fig1.png')
  p.source Tincoff and Jusczyk 2011, figure 1

+slide
  .notes Here are Tincoff and Jusczyk's results.
  .notes They suggest that 6-month-olds can already associate some words with their referents.
  .notes But 6-month-old infants don't communicate, neither with words nor by pointing.
  img(src='/img/tincoff_2011_fig2.png')
  p.source Tincoff and Jusczyk 2011, figure 1

//- +slide_pointing-vs-linguistic({step:false})
+slide_rh_white({step:false})
  +left_half
    p.center pointing
    +to_comprehend
  +right_half
    p.center one-word utterance
    p To comprehend:
    ol
      li know that this person is gesturing to object X;
      li know that by so gesturing she is attempting to communicate; 
      li associate word with property F; and
      li know that she is attempting to communicate that X is F.
  .notes Recall our simple description of what is involved in communication.
  //- +invert('.referent:eq(0)')
  .notes: :t()
    What I'm suggesting is two very simple ideas.  First, to be able to associate pointing 
    gestures with their referents is not sufficient for understanding them;  second, basic 
    the pointing-referent associations may be grasped by non-communicators.
  .notes (Here the 'basic' qualifier is there because in some cases deciding on the referent may involve thinking about the agent and recepient, their knowledge and intentions.)
  //- +invert('.associate-word')
  .notes And likewise for the case of linguistic communication.
  