---
layout: 'deck_unit'
title: "Categorical Perception in Infancy"
tags: []
description: "Categorical perception of colour emerges early in infancy, from around four months or earlier, as has been demonstrated using habituation (Bornstein, Kessen and Weiskopf 1976) and visual search tasks (Franklin, Pilling and Davies 2005)."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins


section.slide
  .handout Categorical perception of colour emerges early in infancy.  This has been demonstrated with four-month-olds using habituation \citep{Bornstein:1976of} and visual search \citep{Franklin:2005xk}.   
  .handout Slightly older infants can make use of colour properties such as red and green to recognise objects.  
  .handout For instance, nine-months-olds can determine whether an object they saw earlier is the same as a subsequently presented object on the basis of its colour \citep{Wilcox:2008jk}.  
  .handout By the time they are two years old, toddlers who do not comprehend any colour words can use colour categories implicitly in learning and using proper names; for instance, they are able to learn and use proper names for toy dinosaurs that differ only in colour \citep[][Experiment 3]{Soja:1994np}.  
  .handout So infants and toddlers enjoy categorical perception of colour and may benefit from it in recognising and learning about objects.  
  .handout However children only acquire concepts of, and words for, colours some time later; and colour concepts, like colour words, are acquired gradually \citep{Pitchford:2005hm,Kowalski:2006hk,Sandhofer:1999if,Sandhofer:2006qo}.
  .notes Categorical perception of colour emerges early in infancy, from around four months or earlier, as has been demonstrated using habituation (Bornstein, Kessen and Weiskopf 1976).
  img.bkg(src='/img/slide_cp_63.jpg')
  mixin slides_from_img(['slide_cp_64.jpg','slide_cp_65.jpg','slide_cp_66.jpg','slide_cp_67.jpg','slide_cp_68.jpg'])

section.slide
  .notes Categorical perception has also been demonstrated at four months of age using pop-out (Franklin, Pilling and Davies 2005).
  img.bkg(src='/img/slide_cp_57.jpg')
  mixin slides_from_img(['slide_cp_58.jpg','slide_cp_59.jpg','slide_cp_60.jpg','slide_cp_61.jpg'])

section.slide
  .words: .container_12: .grid_12
    p Before children reliably use colour words correctly, categorical perception explains:
    ul
      li habituation -- 4 months
        p.right.grey-text (Bornstein, Kessen and Weiskopf 1976)
      li pop out -- 4 months
        p.right.grey-text (Franklin, Pilling and Davies 2005)
      li.slide re-identifying objects -- 9 months
        p.right.grey-text (Wilcox, Woods and Chapa 2008)
        .notes Slightly older infants can also make use of colour properties such as red and green to recognise objects.  For instance, nine-months-olds can determine whether an object they saw earlier is the same as a subsequently presented object on the basis of its colour (Wilcox, Woods and Chapa 2008).
      li.slide learning proper names -- around 2 years
        .notes By the time they are two years old, toddlers who do not comprehend any colour terms can use colour categories implicitly in learning and using proper names; for instance, they are able to learn and use proper names for toy dinosaurs that differ only in colour (Soja 1994: Experiment 3).
        p.right.grey-text (Soja 1994: Experiment 3)
        .notes So we see categorical perception of colour early in development and it is useful to children.


section.slide
  .handout \subsection{Other cases}
  .handout Infants enjoy categorical perception not only of colour but also of orientation \citep{franklin:2010_hemispheric}, speech \citep{Kuhl:1987la,Kuhl:2004nv,Jusczyk:1995it} and facial expressions of emotion \citep{Etcoff:1992zd,Kotsoni:2001ph,Campanella:2002aa}.
  .notes Infants enjoy categorical perception not only of colour 
    span but also of orientation (Franklin et al. 2010), speech (Kuhl 1987, 2004; Jusczyk 1995) and facial expressions of emotion (Etcoff & Magee 1992; Kotsoni et al. 2001; Campanella et al. 2002).
  // orientation
  img.bkg(src='/img/slide_cp_london_016.jpg')
  // facial expressions of emotion
  mixin slides_from_img(['slide_cp_emotion_01.jpg','slide_cp_emotion_02.jpg','slide_cp_emotion_03.jpg','slide_cp_emotion_04.jpg','slide_cp_emotion_05.jpg','slide_cp_emotion_06.jpg','slide_cp_emotion_07.jpg','slide_cp_emotion_08.jpg','slide_cp_emotion_09.jpg'])
  // speech
  mixin slides_from_img(['slide_cp_london_028.jpg','slide_cp_london_029.jpg','slide_cp_london_030.jpg','slide_cp_london_031.jpg','slide_cp_london_056.jpg','slide_cp_london_057.jpg',])


section.slide
  .notes To recap, infants enjoy categorical perception not only of colour 
    span but also of orientation (Franklin et al. 2010), speech (Kuhl 1987, 2004; Jusczyk 1995) and facial expressions of emotion (Etcoff & Magee 1992; Kotsoni et al. 2001; Campanella et al. 2002).
  .words
    .container_12: grid_12
      p Infants (and adults) enjoy categorical perception of
        ul
          li.highlight1 colour 
            span.grey-text (from four months of age or earlier)
          li orientation 
            span.grey-text (five months)
          li facial expressions of emotion 
            span.grey-text (seven months)
          li speech 
            span.grey-text (one month)
          li ...
      mixin row-bkg('.highlight1','white')
      .notes But our focus for now is colour.

