---cson
layout: 'deck_unit'
title: "Development of Joint Action: Years 1-2"
tags: []
description: """
  What (if any) joint actions are humans capable of just at the point they are beginning to
  communicate referentially (typically around the first birthday)?  
  """
---

include ../../../fragments/unit_mixins
include ../../../fragments/origins_mixins

include ../../../fragments/joint_action_mixins



+slide_middle
  .hem-around-children
    p.center No planning ...
    p.center ... So which joint actions can one- and two-year-olds perform?
  .slide
    p.hem-above.notes.handout.show: :t
      ‘By 12–18 months, infants are beginning to participate in a variety of
      joint actions which show many of the characteristics of adult joint
      action.’
    .notes.handout.ctd \citep[p.~388]{carpenter:2009_howjoint}
    p.right.grey-text Carpenter, 2009 p. 388
    .notes: :t
      \citet{carpenter:2009_howjoint} points out that infants in the second year of life
      can perform a rich array of joint actions.
      But before we come to her insights,
      let’s step back and consider the first year.
  
+slide_middle
  p.center 4-6 months
  p.center dyadic interactions
  .notes: :t
    Methods: still face; replay (infants detect whether caregiver reacts, so are
    less satisifed with a replay).
  .notes: :t
    \citet[p.~196]{brownell:2011_early} comment: ‘infants become progressively
    tuned to the timing and structure of dyadic exchange’
  .slide
    p.center.em-above 6-12 months
    p.center triadic interactions 
    .notes: :t
      \citet[p.~197]{brownell:2011_early} comment:
      ‘adult-infant dyadic interactions expand to include objects, events, and
      individuals outside of the dyad (Moore and Dunham 1995)’
  .slide
    p.center.em-above ~ 12-24 months
    p.center infants initiate and re-start joint actions
    p.center e.g. ‘peek-a-boo; tickle; rhythmic games; chase’ 
    p.right.grey-text Brownell, 2011
    .notes: :t
      \citet[p.~197]{brownell:2011_early} comment:
      ‘Eventually, infants begin themselves to initiate joint action with
      adults and to respond in unique ways when adults violate their
      expectations for participation in the joint activity. For example, if a
      parent becomes distracted during peek-a-boo and fails to take her turn,
      12-month olds may try to re-start the game by vocalizing to the adult or
      by re- enacting a well-rehearsed part of the game such as placing the
      cloth over their own face and waiting. One-year olds also begin to point
      to interesting sights and events to share their interest and affect and
      they expect adults to respond appropriately by looking (Liszkowski, et al
      2006).’
    .notes.handout: :t
      ‘infants learn about cooperation by participating in joint action
      structured by skilled and knowledgeable interactive partners before they
      can represent, understand, or generate it themselves. Cooperative joint
      action develops in the context of dyadic interaction with adults in which
      the adult initially takes responsibility for and actively structures the
      joint activity and the infant progressively comes to master the
      structure, timing, and communications involved in the joint action with
      the support and guidance of the adult. ... Eager participants from the
      beginning, it takes approximately 2 years for infants to become
      autonomous contributors to sustained, goal-directed joint activity as
      active, collaborative partners’
      \citep[p.~200]{brownell:2011_early}.
    .notes: :t
      ‘Without the structure and scaffolding provided by the expert adult
      partner, 1-year-old children are unable to generate and sustain joint
      action with each other in the service of an external goal. By age two,
      however, they can do so readily, even with unfamiliar agemates and on
      novel, unfamiliar tasks’
      \citep[p.~204]{brownell:2011_early}.
      
    

+slide_middle
  p.center drumming together 
  p.center (from two years of age; Endedijk et al, 2015)
  .notes: :t
    Even the youngest children, 2-year-olds timed the start of a bust of
    drumming activity to coincide with the start of the other’s drumming. But
    only older children actually synchronized individual taps.
  .notes: :t
    ‘Children did not receive any instructions pertaining to drumming together
    or coordinating their drumming with their dyad partner.’
    \citep{endedijk:2015_development}.
  .notes.handout: :t
    ‘While 4-year-olds coordinated the timing of drum hits, children between 2-
    and 4 years of age showed indications of interpersonal coordination as
    indicated by the beginnings and endings of drumming bouts. Children
    showed more overlap in their bouts than would be expected by chance’
    \citep[p.~720]{endedijk:2015_development}.
  .notes: :t
    But note that children under four years of age provided no evidence that they
    synchronized the timings of their beats with each other (as measured by 
    cross-correlation of inter-tap intervals).


+slide
  video(width="640", height="480", controls)
    source(src="/img/warneken_2006_s1.mp4",type="video/mp4")
  p.source Warneken and Tomasello, 2006

+slide
  video(width="640", height="480", controls)
    source(src="/img/warneken_2006_s2.mp4",type="video/mp4")
  p.source Warneken and Tomasello, 2006
  .notes: :t
    Age: 18 months.
  .notes: :t
    This spontaneous helping might be interpreted as initiating joint action.
    Note that in control conditions, 
  .notes: :t
    The videos are from \citep{Warneken:2006bs} but the more detailed study is
    \citep{Warneken:2006qe}.

+slide
  +img_clip('warneken_2006_fig1.png')
  p.source Warneken and Tomasello, 2006
  .notes: :t
    From \citep{Warneken:2006bs}.
    In the control condition, the human gave no signal of needing help. (‘For
    each task, there was a corresponding control task in which the same basic
    situation was present but with no in- dication that this was a problem for
    the adult (14). This ensured that the infant_s motivation was not just to
    reinstate the original situation or to have the adult repeat the action,
    but rather to actually help the adult with his problem. ... In control
    trials, he looked at the object with a neutral facial expression for 20 s.
    In no case did the infant receive any benefit (reward or praise) for
    helping. Each individual was tested in all 10 tasks, a subsample of 5 tasks
    administered as experimental and 5 as control conditions (in systematically
    varied order).’)


+slide
  +img_clip('warneken_2007_fig2a.png')
  p.source Warneken and Tomasello, 2007 figure 2 (part)
  .notes: :t
    Ages: 14, 18 and 24 months.
  .notes: :t
    Elevator task: free an object from a cylinder.  
    Two roles.  Role A: position yourself in the right
    location to retrieve the target object.  Role B: push up the cylinder
    and hold it in place while another retrieves it.

+slide
  +img_clip('warneken_2007_fig3a.png')
  p.source Warneken and Tomasello, 2007 figure 3 (part)
  .notes.handout: :t
    ‘The 14-month-olds of this study displayed coordinated behaviors in the
    elevator task Role A of positioning themselves in the right location and
    retrieving the target object from the cylinder when the partner pushed it
    up, but they had major problems performing Role B, pushing the cylinder up
    and holding it in place until the partner could fetch the object. If they
    pushed up the cylinder at all, they would repeatedly drop it when the other
    person was just about to take the object out’ \citep{warneken:2007_helping}.
  .notes: :t
    \citet[p.~200]{brownell:2011_early} comment:
    ‘Across these non-routine tasks, 18-month olds’ behavior with the adult
    partner was rated as predominantly “uncoordinated” (vs. “coordinated” or
    “very coordinated”) and the children exhibited “low” cooperative engagement
    (vs. “medium” or “high”). On those tasks requiring children to anticipate
    the partner’s actions and to adjust their behavior accordingly, 18-month
    olds’ performance did not differ from chance. By age two, children operated
    at “medium” levels of cooperative engagement and were above chance in
    anticipating and coordinating their behavior with the adult.’
  .notes: :t
    ‘social coordinations show a marked improvement between children at 14 and
    18 months of age’ \citep{warneken:2007_helping}.

+slide
  +img_clip('warneken_2007_fig2b.png')
  p.source Warneken and Tomasello, 2007 figure 2 (part)
  .notes: :t
    Trampoline task: first bounce a cube on the trampoline with an experimenter,
    then experimenter pauses and we measure child’s attempts to re-engage.
+slide
  +img_clip('warneken_2007_fig4.png')
  p.source Warneken and Tomasello, 2007 figure 4
  .notes: :t
    The re-engagement is a powerful signal that children


+slide_middle
  p: :t
    Infants’ ‘attempts to reactivate the
    partner in interruption periods indicate that they were aware of the
    interdependency of actions—that the execution of their own actions was
    conditional on that of the partner’
  .slide
    p ‘these instances might also exemplify a basic understanding of  
      span.si shared intentionality
      span ’
  p.right.grey-text Warneken and Tomasello, 2007 pp. 290-1
  .slide
    +invert('.si')
  .notes.handout: :t
    Infants’ ‘attempts to reactivate the
    partner in interruption periods indicate that they were aware of the
    interdependency of actions—that the execution of their own actions was
    conditional on that of the partner ... these instances might also
    exemplify a basic understanding of shared intentionality’ 
    \citep[p.~290--1]{warneken:2007_helping}.
  .notes: :t
    Contrast Warneken and Tomasello with Brownell, who offers a different suggestion.
  .notes.handout: :t
    ‘advances in infants’ ability to coordinate their behavior with one another
    are associated with multiple measures of developing self-other
    representations. One- and two-year olds’ symbolic representation of self
    and other in pretend play (e.g., pretending that a doll is feeding itself)
    was related to the amount of coordinated behavior they produced with a peer
    on the structured cooperation tasks described above (Brownell and Carriger
    1990)’
    \citep[p.~206]{brownell:2011_early}.
  .notes.handout: :t
    ‘children who better produced and comprehended language about their own and
    others’ feelings and actions, and who could refer to themselves and others
    using personal pronouns likewise monitored their peer’s behavior more often
    and produced more joint activity with the peer (Brownell et al 2006)’
    \citep[p.~206]{brownell:2011_early}.



+slide_rh_white({step:true})
  +run_across
    p.center Joint Action in Years 1-2
  +left_half
    p In the first and second years of life,
    p there is joint action
    p but it does not appear to involve planning agency 
    p or shared intention.
  +right_half({step:true})
    p Bratman’s account does not characterise
    p the sort of joint actions
    p infants perform in the first and second years of life.

+slide_middle
  +timer-element('timer1','90s',{hide:true})
    p.center Two-year-olds perform some joint actions but not others. 
      br
      span What distinguishes the joint actions they can perform from those they cannot?
  +show-timer('timer1')
  +start-timer('timer1')
  
  
  
