---
layout: 'deck_unit'
title: 'Motor Representation in Goal Ascription'
tags: []
description: 'Goal ascription is action in reverse ***'
depends: ['']  
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

 
include ../../../fragments/unit_mixins

  


- var img_nos = range(39,50)
each img_no in img_nos
  - var filename = 'slide_budapest_lecture06_0'+(img_no<10 ? '0' : '')+img_no+'.jpg'
  +slide_img(filename)
+slide({bkg:'slide_budapest_lecture06_050.jpg'})  





+slide
  p ***Premack quote: evidence of motor efficiency

+slide
  p *** explain the idea: mindreading is acting in reverse
  p *** so, why not think of goal ascription as part of acting in reverse too?
- var img_nos = range(7,15)
each img_no in img_nos
  - var filename = 'slide_budapest_lecture06_0'+(img_no<10 ? '0' : '')+img_no+'.jpg'
  +slide_img(filename)
  

//- pure goal ascription
- var img_nos = range(52,66)
each img_no in img_nos
  - var filename = 'slide_budapest_lecture06_0'+(img_no<10 ? '0' : '')+img_no+'.jpg'
  +slide_img(filename)


