---
layout: 'deck_unit'
title: "How Do Infants Model Actions?"
tags: []
description: "We have seen that from around three months of age infants can track the goals of actions, and that their abilities may involve a form of core knowledge.  What model of action underpins their abilities to track the goals of actions?  And what is a model of action anyway?"
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/unit_mixins

+slide_middle
  .notes (In this unit I am merely raising a question.)
  p.center.notes.show What model of action underpins  six- or twelve-month-old infants’ abilities to track the goals of actions? 
  .notes: :t()
    Or, to put the question another way,
    What do six- or twelve-month-old infants understand of actions and their goals?
  .notes: :t()
    It's essential to see that there's a question here.
    We've shown that infants from around six months of age can track differences that are in fact 
    differences in the actions.
    But we haven't shown how infants understand these differences; we haven't said how actions 
    appear from the point of view of the infant.
  .notes: :t()
    [***Say something about which model here by analogy with the physical case.  
    Also relate it to the mental case if already done the mindreading lecture.]


+slide_middle
  p.center What is a model of action?
  .notes: :t()
    To answer this question we need to step back and ask a more basic one: What is a model of 
    action?
    

+slide_img('slide_budapest_lecture05_03.jpg')
  .notes: :t()
    The key to answering this question (what is a model of action?) is to understand what a model
    of action needs to achieve.
    Part or all of what is needs to achieve is a specification of how purposive actions are related 
    to their goals.
    That is, the model has to answer this question:
    What is the relation between an action and the outcome or outcomes to which it is directed?

+slide_img('slide_budapest_lecture05_04.jpg')
  .notes: :t()
    One feature of actions is that, among all their actual and possible outcomes, some are goals to 
    which they are directed.
    I seize little Isabel by the wrists and swing her around, thereby  making her laugh and 
    breaking a vase.
    You might wonder what the goal of my action was.
    Did I act in order to break the  vase or to make Isabel laugh?
    Or was my action perhaps directed to some other goal, one that was not realised so that my 
    action failed?
  .notes: :t()
    A model of action has to specify the relation between actions and the 
    goal or goals to which they are directed.
    That is, it has to answer this question:
    Among all of the actual and possible outcomes of an action, which are goals of the action?

+slide_img('slide_budapest_lecture05_05.jpg')
  .notes: :t()
    The standard answer to this question involves intention.
    An intention (1) represents an outcome, (2) causes an event; and (3) causes an event whose 
    occurrence would normally lead to the outcome’s occurrence.
    What singles out an actual or possible outcome as one to which the component actions are 
    collectively directed?  It is the fact that this outcome is represented by the intention.

+slide_img('slide_budapest_lecture05_07.jpg')
  .notes: :t()
    Note, by the way, that goals are not intentions.
    Goals are actual or possible outcomes.
    They are states of affairs.
    Intentions, by contrast, are or involve mental states that represent a goal; they are a 
    variety of goal-states.
    It would be a terrible mistake to confuse a goal with a goal-state.
    That would be like confusing a person with a photograph.


+slide_img('slide_budapest_lecture05_05.jpg')
  .notes: :t()
    So, on one model of action,
    the intention is what links an action to the outcomes to which it is directed.
    Is this the model of action that infants' actually use?


+slide
  p.notes.show Does infants’ model involve intentions?
  .notes: :t()
    Our question is, How do infants model actions?  
    One possibility is that they use an adult commonsense model involving intentions.
    According to this model, 
    actions are events appropriately related to intentions 
    and whether something is a goal of an action is determined by the contents of those intentions.
  .slide 
    .notes: :t()
      \citet{Premack:1990jl} endorses this possibility.  He writes:
    p.em-above Yes: 
      span.handout.notes.show 
        span ‘in perceiving one object as having the intention of affecting another, the infant 
        span.intentions attributes to the object [...] intentions
        span ’
    p.right Premack 1990: 14
    +highlight('.intentions')
    .handout.notes.ctd \citep[p.\ 14]{Premack:1990jl}
    .notes By contrast, Geregely et al reject this possibility ...
  .slide
    p.em-above No: 
      span.handout.notes.show 
        span ‘by taking the intentional stance the infant can come to represent the agent’s action as 
        span intentional 
        span.no-intention1 without actually attributing a mental representation 
        span of the future goal state’
    p.right Gergely et al 1995, p. 188
    .handout.notes.ctd \citep[p.\ 188]{Gergely:1995sq}
    +highlight('.no-intention1')
    .notes: :t()
      Btw, it isn't clear that this proposal can work (as introduced by Dennett, the intentional stance 
      involves ascribing mental states), as these authors probably realised later, but the point 
      about not representing mental states is good.
    .notes: :t()
      Finally, \citet{woodward:2001_making} offer a mixed view:
      infants do think about intentions, but don't have the same model of intention that adults do.
  .slide
    p.em-above.sort-of Sort of:
      span.handout.notes.show 
        span ‘to the extent that young infants are limited [...], 
        span.no-intention2 their understanding of intentions would be quite different from the mature concept of intentions
        span ’
    p.right.sort-of Woodward et al 2001, p. 168
    .handout.notes.ctd \citep[p.\ 168]{woodward:2001_making}
    +highlight('.no-intention2')
    .notes: :t()
      This isn't a very useful view for our purposes because it doesn't involve specifying a model.
      It merely says that the model, whatever it is, isn't the one that we already have some 
      understanding of. 
      Not very helpful.
  +blur('.sort-of')
  .notes: :t()
    I'm going to discount this view because it's not helpful at all.
    In what follows I will first consider Premark's view and then the alternative.
    This is worthwhile because each group takes a different view of how infants model actions 
    and there don't seem to be arguments anywhere.
    




