---cson
layout: 'deck_unit'
title: "Signature Limits"
tags: []
description: """
  Minimal theory of mind has signature limits. These allow
  us to generate predictions to test conjectures about when mindreading
  involves minimal theory of mind.
  """
---

include ../../../fragments/unit_mixins
include ../../../fragments/origins_mixins




// [Cambridge slides 45--65] Signature limits; Prediction; Experiments 

+slide({bkg:'unit_451/slide_cambridge_model_046.jpg'})
  // *todo* remove first figure, replace with something more informative
  .handout \begin{center}
  .handout \includegraphics[width=0.25\textwidth]{fig/signature_limits_table.png}
  .handout \end{center}
  .handout \begin{center}
  .handout   \includegraphics[width=0.3\textwidth]{fig/low_2012_fig.png}
  .handout \end{center} 
+slide({bkg:'unit_451/slide_cambridge_model_047.jpg'})
+slide({bkg:'unit_451/slide_cambridge_model_048.jpg'})
+slide({bkg:'unit_451/slide_cambridge_model_049.jpg'})


+slide_signatureLimitsGeneratePredictions({step:true})

//- low and watts
+slide({bkg:'unit_451/slide_cambridge_model_056.jpg'})
+slide({bkg:'unit_451/slide_cambridge_model_057.jpg'})
+slide({bkg:'unit_451/slide_cambridge_model_058.jpg'})
+slide({bkg:'unit_451/slide_cambridge_model_059.jpg'})
+slide({bkg:'unit_451/slide_cambridge_model_060.jpg'})
+slide({bkg:'unit_451/slide_cambridge_model_061.jpg'})
+slide({bkg:'unit_451/slide_cambridge_model_062.jpg'})
+slide({bkg:'unit_451/slide_cambridge_model_063.jpg'})
+slide({bkg:'unit_451/slide_cambridge_model_064.jpg'})

//- we confirmed the predictions!
+slide_signatureLimitsGeneratePredictions({step:false})


