---cson
layout: 'deck_unit'
title: "Development of Joint Action"
tags: []
description: """
  What (if any) joint actions are humans capable of just at the point they are beginning to
  communicate referentially (typically around the first birthday)?  And when are humans
  first able to do what Bratman calls ‘interconnected planning’?
  """
---

include ../../../fragments/unit_mixins
include ../../../fragments/origins_mixins

include ../../../fragments/joint_action_mixins

+slide_middle
  p: :t
    ‘shared intentional agency [i.e. ‘joint action’] consists, at bottom, in
    interconnected planning’
  p.right.grey-text Bratman, 2011 p. 11
  .handout: :t
    ‘shared intentional agency [i.e. ‘joint action’] consists, at bottom, in
    interconnected planning agency of the participants’ \citep{Bratman:2011fk}.
 


+slide({bkg:'paulus_2016_fig1.png'})
  p.source Paulus et al, 2016 figure 1
  .notes: :t
    Task: give the tool to another person, who needs to put the spherical end
    into the box.  (Tip: you need to grasp it by the spherical end and pass it
    so that the other takes the cube-end; they can then insert it optimally.)

+slide
  +img_clip('paulus_2016_fig2b.png')
  p.source Paulus et al, 2016 figure 2B
  .slide
    +blur('img, .source')
    +fade('img, .source')
    +reset-escape-inner
      +_slide_middle_inner
        p.notes.handout.show: :t
          ‘3- and 5-year-old children do not consider another person’s actions in
          their own action planning (while showing action planning when acting
          alone on the apparatus). 
        .slide
          p.notes.handout.ctd.show: :t
            Seven-year-old children and adults
            however, demonstrated evidence for joint action planning. ... While adult participants
            demonstrated the presence of joint action planning from the very
            first trials onward, this was not the case for the 7-year-old
            children who improved their performance across trials.’
        .notes.handout.ctd \citep[p.~1059]{paulus:2016_development}
        p.right.grey-text Paulus et al, 2016 p. 1059

+slide({bkg:'warneken_2014_fig1A.png'})
  p.source Warneken et al, 2014 figure 1A
  .notes: :t
    ‘One child had to insert the turn-tool on the right of the apparatus and
    then turn so that the metal rod stretching across moved the panel out of
    the way of the ball. The other person could then insert the push tool on
    the left, pushing the silver ball into the hole similar to a billiard cue.’
    \citep{warneken:2014_young}

+slide
  +img_clip('warneken_2014_fig2.png')
  p.source Warneken et al, 2014 figure 2
  .notes: :t
    Unidirectional : child A has to select the tool that B doesn’t have.
  .notes: :t
    Bidirectional : child A can select either tool.
  .notes: :t
    ‘(a) Unidirectional: The left box will be opened first. Only the left
    child has a choice. For success, this child has to choose the push tool
    (lower left: thick handle, long thin top). The partner child has to
    retrieve the only available turn tool (upper right: thick handle, short
    thin top).’
    \citep{warneken:2014_young}

+slide
  +img_clip('warneken_2014_fig3.png')
  p.source Warneken et al, 2014 figure 3
  .notes: :t
    BU - first bidirectional then unidirectional.
  .notes: :t
    The three year olds are hopeless in all conditions except the bidirectional
    condition when they have first had the unimanual condition.
    So there is no forward planning, but there is some evidence that three-year-olds
    can take into account what another has done.
  .notes.handout: :t
    ‘by age 3 children are able to learn, under certain circumstances, to take
    account of what a partner is doing in a collaborative problem-solving
    context. By age 5 they are already quite skillful at attending to and even
    anticipating a partner’s actions’ \citep[p.~57]{warneken:2014_young}.


+slide_rh_white
  +run_across
    p(style='margin-bottom:-1em;').center What is shared intention?
  +left_half
    p Functional characterisation:
    .functional-characterisation
      p shared intention serves to (a) coordinate activities, (b) 
       span.coordinate-planning coordinate planning
       span  and (c) structure bargaining
      p.em-above Constraint:
      p Inferential integration
        span ... and normative integration (e.g. 
          span.agglomeration.italic agglomeration
          span )
  +blur('.left-half')
  +right_half
    p Substantial account:
    .shared-intention-conditions
      +shared-intention-conditions
  .notes: :t
    Note that the conditions require not just that we intend the joint action, but that we 
    intend it because of each other's intentions, where this is common knowledge.
  .slide
    +highlight('.condition-2', 'pink')
  .notes: :t
    What we have seen suggests that even three-year-olds are probably incapable of
    meeting this condition ...
  .slide
    +unhighlight('.condition-2', 'pink')
    +highlight('.condition-3', 'pink')
  .notes: :t
    ... and the idea that they need to know things about another’s intentions about 
    their intentions seems like a bold conjecture indeed.
  .slide
    +unhighlight('.condition-3', 'pink')
    +blur('.right-half')
    +unblur('.left-half')
    +highlight('.coordinate-planning')

+slide_middle
  p.center Mismatch:
  p.center Bratman’s account of joint action 
  p.center vs
  p.center 1- to 3-year-olds’ joint action abilities
  .notes: :t
    All the evidence has suggests that there is a mismatch between 
    Bratman’s account of joint action 
    and 
    1- to 3-year-olds’ joint action abilities.
  .notes: :t
    Let’s consider one more study on this ...


+slide({bkg:'gerson_2016_fig1B.png'})
  p.source Gerson et al, 2016 figure 1B
  .notes: :t
    Subjects: three-year-olds.
  .notes: :t
    Four balls, four egg cups.
    Yellow balls must go in yellow egg cups, brown balls likewise.
    One ball is brown and yellow and can go in either colour egg cup.
    But you only have four egg cups, so you have to put it in whatever egg cup
    will enable you to place the other three balls correctly.
  .notes: :t
    Experiment: compare performance in an individual condition (child does all)
    with performance in a joint condition (child alternates with puppet) and 
    a control condition with a machine (not joint action, but similar turn-taking
    required.)
  .notes: :t
    ‘The joint play session consisted of nine trials. In the first, fourth, and
    seventh trial, Kip let the child place the first (and third) ball and Kip
    placed the second (multi-colored) and fourth ball. Kip always placed the
    multi-colored ball in the cup that allowed all forthcoming balls to be
    placed correctly. In the other six trials, Kip placed the first and third
    balls and the child placed the second and fourth balls. This ensured that
    the number of trials for which the child had to plan (by placing the
    multi-colored ball correctly) was matched across the individual and joint
    conditions.’ \citep{gerson:2016_social}

+slide
  +img_clip('gerson_2016_fig3.png')
  p.source Gerson et al, 2016 figure 3
  .notes: :t
    Results: When acting alone or alternating with a machine,
    three-year-olds were above chance at selecting the correct egg cup for the 
    two-coloured ball.  But in joint action they were not above chance,
    and their performance was significantly worse than when acting alone.
  .notes: :t
    The results indicate that 
  .notes.handout.ctd: :t
    ‘proactive planning for two individuals, even
    when they share a common goal, is more difficult than planning ahead solely
    for oneself’ \citep[p.~128]{gerson:2016_social}.

+slide_rh_white
  +run_across
    p(style='margin-bottom:-1em;').center What is shared intention?
  +left_half
    p Functional characterisation:
    .functional-characterisation
      p shared intention serves to (a) coordinate activities, (b) 
       span.coordinate-planning coordinate planning
       span  and (c) structure bargaining
      p.em-above Constraint:
      p Inferential integration
        span ... and normative integration (e.g. 
          span.agglomeration.italic agglomeration
          span )
  +right_half
    p Substantial account:
    .shared-intention-conditions
      +shared-intention-conditions
  +highlight('.condition-2', 'pink')
  +highlight('.coordinate-planning')
  .notes: :t
    As I said,
    All the evidence has suggests that there is a mismatch between 
    Bratman’s account of joint action 
    and 
    1- to 3-year-olds’ joint action abilities.
  

+slide_middle
  .hem-around-children
    p.center No planning ...
    p.center ... So which joint actions can one- and two-year-olds perform?


+slide_middle
  p.center 4-6 months
  p.center dyadic interactions
  .notes: :t
    Methods: still face; replay (infants detect whether caregiver reacts, so are
    less satisifed with a replay).
  .notes: :t
    \citet[p.~196]{brownell:2011_early} comment: ‘infants become progressively
    tuned to the timing and structure of dyadic exchange’
  .slide
    p.center.em-above 6-12 months
    p.center triadic interactions 
    .notes: :t
      \citet[p.~197]{brownell:2011_early} comment:
      ‘adult-infant dyadic interactions expand to include objects, events, and
      individuals outside of the dyad (Moore and Dunham 1995)’
  .slide
    p.center.em-above ~ 12-24 months
    p.center infants initiate and re-start joint actions
    p.center e.g. ‘peek-a-boo; tickle; rhythmic games; chase’ 
    p.right.grey-text Brownell, 2011
    .notes: :t
      \citet[p.~197]{brownell:2011_early} comment:
      ‘Eventually, infants begin themselves to initiate joint action with
      adults and to respond in unique ways when adults violate their
      expectations for participation in the joint activity. For example, if a
      parent becomes distracted during peek-a-boo and fails to take her turn,
      12-month olds may try to re-start the game by vocalizing to the adult or
      by re- enacting a well-rehearsed part of the game such as placing the
      cloth over their own face and waiting. One-year olds also begin to point
      to interesting sights and events to share their interest and affect and
      they expect adults to respond appropriately by looking (Liszkowski, et al
      2006).’
    .notes.handout: :t
      ‘infants learn about cooperation by participating in joint action
      structured by skilled and knowledgeable interactive partners before they
      can represent, understand, or generate it themselves. Cooperative joint
      action develops in the context of dyadic interaction with adults in which
      the adult initially takes responsibility for and actively structures the
      joint activity and the infant progressively comes to master the
      structure, timing, and communications involved in the joint action with
      the support and guidance of the adult. ... Eager participants from the
      beginning, it takes approximately 2 years for infants to become
      autonomous contributors to sustained, goal-directed joint activity as
      active, collaborative partners’
      \citep[p.~200]{brownell:2011_early}.
    .notes: :t
      ‘Without the structure and scaffolding provided by the expert adult
      partner, 1-year-old children are unable to generate and sustain joint
      action with each other in the service of an external goal. By age two,
      however, they can do so readily, even with unfamiliar agemates and on
      novel, unfamiliar tasks’
      \citep[p.~204]{brownell:2011_early}.
      
    


+slide
  p ***
  p.source Warneken et al, 2006
  .notes: :t
    \citet[p.~200]{brownell:2011_early} comment:
    ‘Across these non-routine tasks, 18-month olds’ behavior with the adult
    partner was rated as predominantly “uncoordinated” (vs. “coordinated” or
    “very coordinated”) and the children exhibited “low” cooperative engagement
    (vs. “medium” or “high”). On those tasks requiring children to anticipate
    the partner’s actions and to adjust their behavior accordingly, 18-month
    olds’ performance did not differ from chance. By age two, children operated
    at “medium” levels of cooperative engagement and were above chance in
    anticipating and coordinating their behavior with the adult.’

+slide_middle
  p.center example: drumming together 
  p.center (from two years of age; Endedijk et al, 2015)
  .notes.handout: :t
    ‘While 4-year-olds coordinated the timing of drum hits, children between 2-
    and 4 years of age showed indications of interpersonal coordination as
    indicated by the beginnings and endings of drumming bouts. Children
    showed more overlap in their bouts than would be expected by chance’
    \citep[p.~720]{endedijk:2015_development}.
  .notes: :t
    But note that children under four years of age provided no evidence that they
    synchronized the timings of their beats with each other (as measured by 
    cross-correlation of inter-tap intervals).


+slide_middle
  p ***HOW?
  .notes.handout: :t
    ‘advances in infants’ ability to coordinate their behavior with one another
    are associated with multiple measures of developing self-other
    representations. One- and two-year olds’ symbolic representation of self
    and other in pretend play (e.g., pretending that a doll is feeding itself)
    was related to the amount of coordinated behavior they produced with a peer
    on the structured cooperation tasks described above (Brownell and Carriger
    1990)’
    \citep[p.~206]{brownell:2011_early}.
  .notes.handout: :t
    ‘children who better produced and comprehended language about their own and
    others’ feelings and actions, and who could refer to themselves and others
    using personal pronouns likewise monitored their peer’s behavior more often
    and produced more joint activity with the peer (Brownell et al 2006)’
    \citep[p.~206]{brownell:2011_early}.

+slide({bkg:'meyer_2016_fig1a.png'})
  p.source Meyer et al, 2016 figure 1A
  .notes: :t
    Child pass cups to adult who has one had occupied.  Adult and child separated by
    glass window, so have to reach around.
  .notes: :t
    ‘Example of a 3-year-old child engaged in the joint-action task with an
    adult experimenter. (Top) The start of a trial in which the child has a cup
    and sees the experimenter holding the cup tower in her left hand. The lower
    two images illustrate the different possible response choices of the child.
    The child chooses in one trial to pass the cup on the side that is
    accommodating the other’s actions (middle); and in another trial, on the
    side that is not accommodating the execution of the partner’s actions
    (bottom).’ \citep{meyer:2016_planning}
  .notes: :t
    ‘To build one tower, children had to pass five cups. Then the experimenter
    introduced the next hand puppet with the same procedure. With each
    change of hand puppet, she switched sides by putting the puppet on her
    previously free hand ... in total four towers were built, two on each
    side.’ \citep{meyer:2016_planning}
    
+slide({bkg:'meyer_2016_fig1b.png'})
  p.source Meyer et al, 2016 figure 1B
+slide({bkg:'meyer_2016_fig1c.png'})
  p.source Meyer et al, 2016 figure 1C

+slide
  +img_clip('meyer_2016_fig2.png')
  p.source Meyer et al, 2016 figure 2
  .notes: :t
    ‘two measures of interest: the initial response choice (i.e. the first
    trial only) and the continuous response choice (i.e. all trials except the
    first)’ \citep{meyer:2016_planning}
  .notes: :t
    ‘In their initial response choice, children had to plan ahead without
    having experienced how their own action would affect their joint- action
    partner. Thus, the initial response choice reflects whether children
    proactively planned to accommodate their joint-action partner.’ \citep{meyer:2016_planning}


+slide
  +img_clip('meyer_2016_fig3.png')
  p.source Meyer et al, 2016 figure 3
  .notes: :t
    3-year-olds and younger: not good at changing the side they pass the object on 
    to take into account where the other will reach it.
  .notes: :t
    ‘children proactively plan their actions in a way that accommodates the actions of
    their partner early in childhood. By contrast, the flexible adjustment of
    their action plans to their partner only begins to develop in the fourth and
    fifth year of life. Notably, even at the age of 5 children only adjusted their
    action plans to a surprisingly small degree’ \citep[p.~8]{meyer:2016_planning}.
  .notes: :t
    I think: the good results on the initial response choice at all ages suggest that some
    ability to take into account another’s immediate future actions may already be present
    at 2-and-a-half years of age (although this is not strong evidence).
  .notes: :t
    Note that the success concerns anticipating ACTIONS not antcipating PLANS.


+slide_rh_white
  +run_across
    p.center Joint action and interconnected planning
  +left_half
    p ***cannot explain development of mindreading if presuppose it
  +right_half
    p In the first and second years of life,
    p there is joint action
    p but it does not appear to involve planning agency.