---
layout: 'deck_unit'
title: "Like Knowledge and Like Not Knowledge"
tags: []
description: "There are principles of object perception that explain abilities to segment objects, to represent them while temporarily unperceived and to track their interactions.  These principles are not known.  What is their status?"
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins



// ------------------
// the problem is that we have to reject the simple view

+slide_middle
  .notes I'm sorry to keep repeating this but I want everyone to understand where we are.
  .notes There are principles of object perception that explain abilities to segment objects, to represent them while temporarily unperceived and to track their interactions. 
  .notes These principles are not known.  What is their status?
  p.center the problem


+slide_middle
  .notes: :t()
    The problem is quite general.
    It doesn't arise only in the case of knowledge of objects but also in other domains 
    (like knowledge of number and knowledge of mind).
    And it doesn't arise only from evidence about infants or nonhuman primates; it would also 
    arise if our focus were exclusively on human adults.
    More on this later.
    For now, our aim is to better understand the problem as it arises in the case of knowledge of objects.
  p.center generality of the problem



+slide_middle
  .notes One hopeful alternative is to shift from talk about knowlegde to talk about representation.
  .notes Will this help?
  .notes Only as a way of describing the problem.
  .notes: :t()
    We need to say what we mean by representation.
    The term is used in a wide variety of ways.
    As I use it, representation is just a generic term covering knowledge, belief and much else besides.
  p.center
    span.line-through knowledge
    span  representation


+slide_middle
  .notes: :t() 
    If we are going to substitute representation for knowledge, 
    we need to characterise what kind of representation we have in mind.
    The term is tricky.
    As \citet{Haith:1998aq} says, ‘no concept causes more problems in discussions of infant cognition than that of representation.’
  p.handout.show ‘no concept causes more problems in discussions of infant cognition than that of representation’
  p.right (Haith 1998)
  .handout.ctd \citep{Haith:1998aq}.

section.slide
  .notes Take a paradigm case of representation.
  img.bkg(src='/img/slide_budapest_lecture02_07.jpg')
section.slide
  img.bkg(src='/img/slide_budapest_lecture02_08.jpg')
section.slide
  .notes The subject might not be the agent but some part of it.
  .notes That is, we can imagine that some component of an agent, like her perceptual system or motor system, represents things that she herself does not.
  .notes (Of course, to make sense of this idea we need to invoke some notion of system.)
  img.bkg(src='/img/slide_budapest_lecture02_09.jpg')
section.slide
  img.bkg(src='/img/slide_budapest_lecture02_10.jpg')
section.slide
  .notes The content is what distinguishes one belief from all others, or one desire from all others.
  .notes The content is also what determines whether a belief is true or false, and whether a desire is satisfied or unsatisfied.
  .notes There are two main tasks in constructing a theory of mental states. 
  .notes The first task is to characterise the different attitudes.
  .notes This typically involves specifying their distinctive functional and normative roles.
  .notes The second task is to find a scheme for specifying the contents of mental states.
  img.bkg(src='/img/slide_budapest_lecture02_11.jpg')
section.slide
  img.bkg(src='/img/slide_budapest_lecture02_12.jpg')
section.slide
  .notes The second task is to find a scheme for specifying the contents of mental states.
  .notes Usually this is done with propositions.
  .notes But what are propositions?
  .notes Propositions are abstract objects like numbers.
  .notes They have more mystique than numbers, but, like numbers, they are abstract objects that can be constructed using sets plus a few other basic ingredients such as objects, properties and possible worlds.
  img.bkg(src='/img/slide_budapest_lecture02_13.jpg')


section.slide
  .notes So that was some quick background on representation.
  .notes Note that the issue of representation comes up twice for us.
  .notes There is a question about whether the principles of object perception are represented.
  .notes And there is a question about whether objects, their locations, properties, and interactions are represented.
  .notes The problem raised by the discrepancy between looking and acting is a problem for two claims: 
    span (i) the simple view (the principles of object perception are knowledge &c); and also 
    span (ii) the claim that the representations of objects which derive from the principles of object perception are knowledge states.
  img.bkg(src='/img/slide_budapest_lecture02_11.jpg')

+slide_middle
  .notes: :t()
    So to say that we don't know the principles of object perception but only represent them doesn't tell us much.
    This is a step in the right direction.
    But it tells us that we represent them without knowing them.
  .notes: :t()
    What we need if we're to have an explanatory answer to Q2a is to know positively how we do represent the principles of object perception --- subject, attitude and content.
    We need to characterise a form of representation that is like knowledge but not like knowledge.
  p.center
    span.line-through knowledge
    span  representation

+slide_middle
  .notes Your handbag is bluging, and when you swing it at me something really hard hits me.
  .notes It must be full of rocks.
  .notes Except it can't be because you are not strong enough to lift such a big bag full of rocks.
  .notes In that case, it must be wrocks not rocks.
  .notes A wrock is just like a rock except that it lacks mass.
  .notes Compare: this representation is just like knowledge except that it doesn't guide action; this process is just like inference except that it lacks the normative aspects of inference.
  p.center the parable of the wrock



+slide_middle
  .notes \citet{Munakata:2001ch} suggests that there are 'graded representations', that is knowlegde can be stronger or weaker.
  .notes Presupposes we have an account of subject, attitude and content.  Let's grant that.
  .notes What is strength?  Some additional component, over and above subject, attitude and content.
  .notes The idea is quite intuitive but difficult to make systematic sense of.
  .notes The idea might well make sense if we were talking about neural representations.
  .notes But here we aren't.  Let's not introduce radically new ideas about representation unless we really have to.
  .notes (By the way, \citet{Munakata:2001ch} is a nice review of dissociations, not only developmental dissociations.)
  p.center strength (Munakata 2001)


+slide
  .notes: :t()
    Recall what Davidson said: we need a way of describing what is in between thought and 
    mindless nature.  This is the challenge presented to us by the failure of the Simple View.
  .notes 
  p.blur-text
    span ‘if you want to describe what is going on in the head of the child when it has a few words which it utters in appropriate situations,  
    span.you-will-fail you will fail
    span.step2   for lack of the right sort of words of your own.
  p
    span ‘We have many vocabularies for describing nature when we regard it as 
    span.highlight1 mindless
    span , and we have a mentalistic vocabulary for describing 
    span.highlight1 thought and intentional action
    span ; what we lack is a way of describing 
    span.highlight1 what is in between
    span ’
  p.right
    span (Davidson 1999, p. 11)



//- I cut the rest of this

  +slide_middle
    .notes Core knowledge is a label for what we need.
    .notes I'm going to adopt the label.
    .notes But this only amounts to labelling the problem, not to solving it.
    p.center core knowledge

  section.slide
    .words: .container_12
      .grid_5.left_half
        p is like knowledge:
        ul
          li guides behaviour
          li involves something like inference
          li concerns abstract features
      .slide
        .right-half-white
          .grid_5.prefix_1
            .words
              p is unlike knowledge:
              ul
                li no introspection
                li judgement-independent
                li domain-specific
                li signature limits
              .notes Several features distinguish core knowledge from adult-like understanding: its content is unknowable by introspection and judgement-independent; it is specific to quite narrow categories of event and does not grow by means of generalization; it is best understood as a collection of rules rather than a coherent theory; and it has limited application being usually manifest in the control of attention (as measured by dishabituation, gaze, and looking times) and rarely or never manifest in purposive actions such as reaching.

  +slide
    p.handout.show ‘Just as humans are endowed with multiple, specialized perceptual systems, so we are endowed with multiple systems for representing and reasoning about entities of different kinds.’
    .handout.ctd \citep[p.\ 517]{Carey:1996hl}
    p.right (Carey and Spelke 1996: 517)
    .slide
      p.em-above.handout.show ‘core systems are conceptual and provide a foundation for the growth of knowledge.  … core systems are largely innate, encapsulated, and unchanging, arising from phylogenetically old systems built upon the output of innate perceptual analyzers.’ 
      .handout.ctd \citep[p.\ 520]{Carey:1996hl}
      p.right (Carey and Spelke 1996: 520) 	

  +slide
    p core system = module?
    .slide
      p.em-above.handout.show ‘In Fodor’s (1983) terms, visual tracking and preferential looking each may depend on 
        span.highlight2 modular mechanisms
        span .’
      .handout.ctd \citep[p.\ 137]{spelke:1995_spatiotemporal}

  // modularity

  section.slide
    .notes Modules are widely held to play a central role in explaining mental development and in accounts of the mind generally.
    .notes Jerry Fodor makes three claims about modules:
    img.bkg(src='/img/slide_emergence_warwick_027.jpg')
  section.slide
    .notes What are these properties?  They'll be on your handout next week.
    img.bkg(src='/img/slide_emergence_warwick_086.jpg')
  section.slide
    img.bkg(src='/img/slide_emergence_warwick_027.jpg')
  section.slide
    .notes Not all researchers agree about the properties of modules.  That they are informationally encapsulated is denied by Dan Sperber and Deirdre Wilson (2002: 9), Simon Baron-Cohen (1995) and some evolutionary psychologists (Buller and Hardcastle 2000: 309), whereas Scholl and Leslie claim that information encapsulation is the essence of modularity and that any other properties modules have follow from this one (1999b: 133; this also seems to fit what David Marr had in mind, e.g. Marr 1982: 100-1).  According to Max Coltheart, the key to modularity is not information encapsulation but domain specificity; he suggests Fodor should have defined a module simply as 'a cognitive system whose application is domain specific' (1999: 118).  Peter Carruthers, on the other hand, denies that domain specificity is a feature of all modules (2006: 6).  Fodor stipulated that modules are 'innately specified' (1983: 37, 119), and some theorists assume that modules, if they exist, must be innate in the sense of being implemented by neural regions whose structures are genetically specified (e.g. de Haan, Humphreys and Johnson 2002: 207; Tanaka and Gauthier 1997: 85); others hold that innateness is 'orthogonal' to modularity (Karmiloff-Smith 2006: 568).  There is also debate over how to understand individual properties modules might have (e.g. Hirschfeld and Gelman 1994 on the meanings of domain specificity; Samuels 2004 on innateness).
    img.bkg(src='/img/slide_emergence_warwick_028.jpg')
  section.slide
    img.bkg(src='/img/slide_emergence_warwick_029.jpg')
  section.slide
    img.bkg(src='/img/slide_emergence_warwick_030.jpg')
  section.slide
    .notes In short, then, theorists invoke many different notions of modularity, each barely different from others.  You might think this is just a terminological issue.  I want to argue that there is a substantial problem: we currently lack any theoretically viable account of what modules are.  The problem is not that 'module' is used to mean different things-after all, there might be different kinds of module.  The problem is that none of its various meanings have been characterised rigorously enough.  All of the theorists mentioned above except Fodor characterise notions of modularity by stipulating one or more properties their kind of module is supposed to have.  This way of explicating notions of modularity fails to support principled ways of resolving controversy.
    .notes &nbsp;
    .notes No key explanatory notion can be adequately characterised by listing properties because the explanatory power of any notion depends in part on there being something which unifies its properties and merely listing properties says nothing about why they cluster together.
    .notes &nbsp;
    .notes Interestingly, Fodor doesn't define modules by specifying a cluster of properties (pace Sperber 2001: 51); he mentions the properties only as a way of gesturing towards the phenomenon (Fodor 1983: 37) and he also says that modules constitute a natural kind (see Fodor 1983: 101 quoted above). 
    img.bkg(src='/img/slide_emergence_warwick_031.jpg')
  section.slide
    .notes It is tempting to appeal to spatial metaphors in thinking about modularity.  Just as academics tend to work at high-speed on domain-specific problems when they can cut themselves off from administrative centres, so we might attempt to explain the special properties of modules by saying that they are cut off from the central system.  But it isn't clear how to turn this metaphor into an explanation.  The spatial metaphor only gives us the illusion that we understand modularity.
    img.bkg(src='/img/slide_emergence_warwick_032.jpg')
  section.slide
    img.bkg(src='/img/slide_emergence_warwick_033.jpg')


  +slide
    p conclusion
    ol
      li three requirements on knowledge of objects
      li.slide principles of object perception
        .notes remember formal, descriptive, teleological and mechanical adequacy
      li.slide.line-through1 the simple view
      li.slide a 
        span.step2.hide systematic
        span  discrepancy between looking and searching measures
        +show('.step2')
        +line-through('.line-through1')
      li.slide the nature of representation
      li.slide core knowledge, modularity
  
  // *todo* mentioned modularity once already : return to that idea

  // structure: (1) modularity --- general solution to the problem
  // but modularity leaves open why the looking and not the searching (rather than conversely)?
  // because searching is purposive in a way that looking is not?  (searching depends on practical reasoning)
  // but why does the module affect looking, which seems purposive?
  // Scholl & Leslie --- it's implemented by the finst object indices
  //    - use: (p. 12: 'These similarities have led to the view that adult attentional mechanisms may underlie infants’ performance on object individuation tasks (Carey & Xu, 2001; Chiang & Wynn, 2000; Leslie et al., 1998; Scholl, 2001; Scholl & Leslie, 1999; Simon, 1997; Wynn & Chiang, 1998).')
  // So (i) that's why it affects looking; (ii) the principles aren't represented in the simple sense --- they're how the system works
  // Further issue: developmental relation between core knowledge of the principles and the kind of knowledge that will inform acting
  // - (a) Spelke/Carey joining together with language
  // - (b) reflect on categorical perception: maybe it's development as rediscovery
  // *also want to work in Michotte -- second take on physical interactions


  // ------------------
  // perceptual expectations
  // *what is it like to be an infant*
  // *TODO* belongs later!!!

  +slide
    +img_clip('kellman_1983_fig2.png', 'rect(0px,530px,186px,265px)')
    p.source Michotte et al (1964) via Kellman & Spelke (1983, figure 2)
    .notes There are perceptual expectations.
    .notes Suppose you saw this image.
    .notes The triangle behind the thumb is in some sense perceptually present, even though you can't see it.
    +clip('img','auto')
    .notes But now the thumb comes away and what you see is not the triangle you were expecting.
    .notes Could these perceptual expectations be just a matter of knowledge?
    .notes No, because perceptual expectations are judgement-independent.
    .notes As \citep{kellman:1983_perception} report, Michotte, Thines and Crabbe found that subjects report seeing a single large triangle behind the thumb even when they know that there isn't one there.
    .notes You can cover and reveal the triangles repeatedly, but the expectation will hold firm.
    .notes &nbsp;
    .notes The experience you have when the thumb is removed is like that of infants' in violation-of-expectation tasks.
    .notes This is what it is like to be an infant.

  