---cson
layout: 'deck_unit'
title: "Phenomenal Expectations Connect Object Indexes to Looking Behaviours"
tags: []
description: """
  What links the operations of object indexes to facts about what is novel or
  strange to an infant? Not beliefs but phenomenal expectations.
  """
depends: [''] 
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/unit_mixins
include ../../../fragments/origins_mixins

+slide_middle
  p.center object index operations
  p.center ↓
  p.center 
    span.invert.qqq  ? ? ?  
    span.remove-me.phenomenal-expectations phenomenal expectations
  p.center ↓
  p.center patterns in looking durations
  .notes: :t
    So those who, like me, are impressed by the evidence for the hypothesis
    that four- and five-month-olds’ abilities to track occluded objects
    are underpinned by the operations of a system of object indexes 
    are left with a question.
    The question is, What links the operations of object indexes to 
    patterns in looking duration?
  .notes: :t
    I’ve just argued that it can’t be beliefs or knowledge states.
  
  .slide
    +remove('.qqq')
    +unremove('.phenomenal-expectations')
    +highlight('.phenomenal-expectations')
    .notes: :t
      Now I want to suggest that it is something called a phenomenal expectation.
    .notes: :t
      Before I explain what phenomenal expectations are, let me illustrate the 
      idea informally.


+slide_middle
  +img('wynn_1992_fig1a.png', 'width:720px')
  p.source(style='margin-top:-100px;') Wynn 1992, fig 1 (part)
  .notes: :t
    Recall this situation.
    Suppose you have seen it a hundred times before, so you know just what
    to expect.
    Still, the tendancy to expect two objects is on some level barely
    diminished, and event in which a single object is revealled 
    is liable to feel magical in some small way.
    This feeling of magic is a phenomenal expectation.
  .notes: :t
    Let me give you two more illustrations [the wire and the face]. ...
    
+slide_middle({bkg:'wire.jpg'})
  .notes: :t
    What is a phenomenal expectation?  Consider a second illustration.
  .notes: :t
    Here is a wire.
    Contrast two sensory encounters with this wire. In the first you visually 
    experience the wire as having a certain shape. In the second you receive an 
    electric shock from the wire without seeing or touching it.%
    \footnote{This illustration is borrowed from Campbell (2002: 133–4); I use it to support a claim weaker than his.}
    The first sensory encounter involves perceptual experience as of a property of
    the wire whereas, intuitively, the second does not. 
    I take this intuition to be correct.%
    \footnote{
    Notice that the intuition is not that the shock involves no 
    perceptual experience at all, only that the shock does not involve 
    perceptual experience as of any property of the wire. Notice also that the 
    intuition concerns what a perceptual experience is as of, and not directly 
    what is represented in perception. The relation between these two is 
    arguably not straightforward (compare, e.g., \citet[p.~28]{Shoemaker:1994el} or 
    \citet[pp.~50--2]{Chalmers:2006xq} on distinguishing representational from 
    phenomenal content).
    }
  .notes: :t
    The intuition is potentially revealing because the electric shock involves 
    rich phenomenology, and its particular phenomenal character depends in part 
    on properties of its cause (changes in the strength of the electric current 
    would have resulted in an encounter with different phenomenal character). 
    So there are sensory encounters which, despite having phenomenal characters 
    that depend in part on which properties are encountered, are not perceptual 
    experiences as of those properties.
    
+slide_middle({bkg:'bush-obama.jpg'})
  .notes: :t
    What is a phenomenal expectation?  Consider a third (and final) illustration.
  .notes: :t
    Here is a face that I hope will seems familiar to most people.
    When you see this face, you have a feeling of familiarity.
    This feeling of familiarity is not just a matter of belief:
    even if you know for sure that you have never encountered the person
    depicted here (and trust me, you haven’t), the feeling of familiarity
    will persist.
    Nor is the feeling a matter of perceptual experience: you can’t 
    perceptually experience familiarity
    any more than you can perceptually experience electricity.
  .notes: :t
    (The face is a composite of Bush and Obama.  It is chosen to illustrate that
    the feeling of familiarity is not a consequence of how familiar things 
    actually are; instead it may be a consequnece of 
    the degree of fluency with which unconscious processes can identify 
    perceived items \citep{Whittlesea:1993xk,Whittlesea:1998qj}.
    Learning a grammar can also generate feelings of familiarity.
    Subjects who have implicitly learned an artificial grammar report feelings 
    of familiarity when they encounter novel stimuli that are part of 
    the learnt grammar \citep{scott:2008_familiarity}.
    They are also not doomed to treat feelings of familiarity as being
    about actual familiarity:
    instead subjects can use feeling of 
    familiarity in deciding whether a stimulus is from that grammar 
    \citep{Wan:2008_familiarity}.)
  .notes: :t
    I could go on to mention the feeling you have when someone’s eyes are 
    boring into your back, or the feeling that a name is on the tip of your 
    tongue.  
    But let me focus just on the feelings associated with electricity and 
    with familiarity.
    These feelings are paradigm cases of phenomenal expectation.

    

+slide_middle
  .notes: :t
    All three examples (the feelings of magic, of electricity and of 
    familiarity) show that:
  p.pe.hide Phenomenal expectations
  p.notes.show
    span.there There 
    span are aspects of the overall phenomenal character of experiences 
    span which their subjects take to be informative about things that are only 
    span distantly related (if at all) to the things that those experiences 
    span intentionally relate the subject to. 
  .notes: :t
    To illustrate, having a feeling of familiarity is not a matter of standing 
    in any
    intentional relation to the property of familiarity, but it is something
    that we can interpret as informative about famility.
  .slide
    +hide('.there')
    +show('.pe')
    .notes: :t
      Phenomenal expectations are these aspects of experience.

+slide_middle
  .step1
    p Phenomenal expecations 
    p can be thought of as 
    p sensations.

  .notes: :t
    Phenomenal expectations can be thought of as sensations in approximately
    Reid’s sense.%
    \footnote{
    \citet{Reid:1785cj,Reid:1785nz}.
    Even if you don’t believe that there are sensations in Reid’s sense,
    thinking of phenomenal expectations as if they were sensations will
    serve to illustrate their characteristic features.
    The main points that follow are consistent with several different ways of
    thinking about phenomenal expectations.
    For instance, you might take the view that 
    what I am calling phenomenal expectations are
    perceptual experiences of the body or of bodily reactions,
    or that they involve some kind of cognitive phenomenology.
    The essential claim is just that the phenomenal expectations associated with
    the operations of object indexes are not constituted by states which involve
    intentional relations to any of the things which are assigned an object index.
    }


  .slide.step2
    +blur('.step1')
    p.em-above Sensations are 
    ol
      li monadic properties of perceptual experiences
      li individuated by their normal causes
      li (so they do not involve an 
        span.intentional-relation intentional relation
        span )
      li which alter the overall phenomenal character of those experiences
      li in ways not determined by the experiences’ contents.

    .notes: :t
      Sensations are:
      \begin{enumerate}
      \item monadic properties of events, specifically perceptual experiences,  
      \item individuated by their normal causes% %{Tye, 1984 #1744@204}
      ---in the case of feelings of familiarity, its normal cause is ease of processing
      \item which alter the overall phenomenal character of those experiences
      \item in ways not determined by the experiences’ contents 
      (so two perceptual experiences can have the same content while one has a sensational property which the other lacks).
      \end{enumerate}


  .slide
    +blur('.step2')
    p.em-above Phenomenal expectations trigger beliefs only via associations.
    .notes: :t
      An important consequence is that phenomenal expectations can lead to beliefs
      only via associations or further beliefs.
      They are signs which need to be interpreted by their subjects
      (\citealp[Essay~II, Chap.~16, p.~228]{Reid:1785cj}
      \citealp[Chap.~VI sect.~III, pp.~164–5]{Reid:1785nz}).
      Let me explain.
    .notes: :t
      As a scientist, you can pick out the feeling of familiarity as that
      phenomenal expectation which is normally caused by the degree to which
      certain processes are fluent.
      But as the subject of who has that phenomenal expectation, you do not 
      necessarily know what its typical causes are.
      This is something you have to work out in whatever ways you work out
      the causes of any other type of event.
      

    .notes: :t
      (Contrast phenomenal expectations with perceptual experiences.
      Having 
      a perceptual experience of, say, a wire’s shape, involves standing
      in an intentional relation to the wire’s shape; and the phenomenal
      character of this perceptual experience is specified by this 
      intentional relation.%
      \footnote{
      Compare \citet[p.~380]{Martin:2002yx}:
      ‘I attend to what it is like for me to inspect the lavender bush through 
      perceptually attending to the bush itself.’ 
      And \citet[p.~211]{byrne:2001_intentionalism}
      ‘subject can only discover the phenomenal character of her experience by 
      attending to the world ... as her experience represents it.’
      }
      Such perceptual experiences are often held to reveal the wire’s shape to the 
      subject and so lead directly to beliefs.%
      \footnote{
      Compare \citet[p.~222]{Johnston:1992zb}:
      ‘[j]ustified belief … is available simply on the basis of visual perception’;
      \citet[p.~143–4]{Tye:1995oa}:
      ‘Phenomenal character “stands ready … to make a direct impact on beliefs’;
      and
      \citet[p.~291]{Smith:2001iz}:
      ‘[p]erceptual experiences are … intrinsically … belief-inducing.’
      })
    .notes: :t
      (By contrast, having a phenomenal expectation concerning familiarity or an
      physical object’s path does not involve standing in any intentional relation
      to these things.
      The phenomenal expectation is individuated by its normal causes, rather 
      than by any intentional relation.
      And a phenomenal expectation leads to belief, if at all, only indirectly.
      For learning is required in order for the subject to come to a view on
      what tends to cause the phenomenal expectation.)

    .notes: :t
      Phenomenal expectations have been quite widely neglected in philosophy and
      developmental psychology.
      They are a means by which cognitive processes enable perceivers to 
      acquire dispositions to form beliefs about objects’ properties which are 
      reliably true.    
      Phenomenal expectations provide a low-cost but efficient bridge between 
      non-conscious cognitive processes and conscious reasoning.








+slide_rh_white({step:true})
  .labels.hide
    +left_half
      p.center synchronic
    +right_half
      p.center diachronic
  
  .clear
  .middle
    +left_half
      +highlight('.phenomenal-expectations')
  
      p.center object index operations
      p.center ↓
      p.center 
        span.phenomenal-expectations phenomenal expectations
      p.center ↓
      p.center patterns in looking durations
  
      .notes: :t
        So my question was how the operations of object indexes might
        explain patterns of looking duration in habituation and 
        violation-of-expectation experiments.
        My guess is that some operations of object indexes give rise to
        phenomenal expectations, which in turn influence looking durations.
  
    +right_half({step:true})

      +show('.labels')
      +blur('.left-half')
      div(style="margin-left:1em;margin-right:-1em")
        p.center motor representations + object indexes + phenomenal expectations
          br
          span.id-core-knowledge (= ‘core knowledge’)
        p.center ↓
        p.center 
          span.qqq ? ? ?
        p.center ↓
        p.center knowledge of objects

      .notes \section{Development Is Rediscovery}
      .notes: :t
        This guess gives rise to a further question (which I want to articulate
        but won’t attempt to answer).
        In asking how the operations of object indexes might give rise to
        patterns in looking duration, we have been concerned with what happens a 
        short interval of time.
        But the guess about phenomenal expectations raises a question
        about the course of development in the first months or years of life.
        Let me explain.
      
      .slide
        +invert('.id-core-knowledge')
        .notes: :t
          In the beginning Spelke and others conjectured that infants’ 
          abilities to track briefly occluded objects were a consequence of their
          having core knowledge for objects.
          This conjecture is related to the later hypothesis about object indexes.
          The idea is that we can further specify the mechanisms that realise
          infants’ core knowledge of physical objects by identifying it with
          two things: a system of object indexes and a system capable of representing
          physical objects motorically.
      .slide
        +uninvert('.id-core-knowledge')
        .notes: :t
          There was always a question about how infants’ core knowledge about
          objects might explain the emergence of knowledge knowledge 
          (that is, knowledge proper) about objects.
          Now this question becomes, What is the role of a system of object
          indexes in the emergence in development of knowledge of physical 
          objects?
          In short, How do you get from object indexes to knowledge?
        .notes: :t
          Answers to these questions typically assume that core knowledge 
          provides a conceptual identification of objects and some of their
          properties such as location or size,
          or else that it involves standing in some kind of intentional 
          relation to these things.
          This is true of 
          Spelke’s suggestion that mature understanding of objects, number, 
          and mind derives from core knowledge by virtue of core knowledge 
          representations being assembled \citep{Spelke:2000nf}; 
          claims by Leslie and others 
          that modules provide conceptual identifications of their inputs 
          \citep{Leslie:1988ct}; 
          Karmiloff-Smith’s representational re-description 
          \citep{Karmiloff-Smith:1992lv}; 
          and Mandler’s claim 
          that ‘the earliest conceptual functioning consists of a redescription 
          of perceptual structure’ \citep{Mandler:1992vn}.  
      .slide
        +unblur('.left-half')
        .notes: :t
          But recall the guess about phenomenal expectations linking object 
          indexes to patterns of looking duration.
          If this guess is right, then it is not true that
          core knowledge provides a conceptual identification of objects.
          And it is not true that having core knowledge involves standing in any
          kind of intentional relation to objects and their properties.
          This makes the question about development particularly 
          difficult to answer.
        .notes: :t
          It means that rather than assembing or redescribing representations,
          development must be a process of rediscovery.
        .notes: :t
          The step from phenomenal expectations to knowledge is like the step 
          from feeling electric shocks to understanding electricity.
          So coming to know simple facts about particular physical 
          objects may begin with object indexes and the 
          phenomenal expectations these give rise to, but it does not end there.
          Interpreting the phenomenal expectations may involve interacting with 
          objects, learning to use tools, and perhaps interacting with others 
          and objects simultaneously.
          
        .notes: :t
          Coming to know facts about physical objects is a matter of 
          rediscovering things already implicit in a system of object indexes.
          Some might object that development can’t require such rediscovery 
          because it would be hopelessly inefficient to require things already 
          encoded to be learnt anew.
          But rediscovery is an elegant solution to a practical problem.
          If you are building a survival system you want quick and dirty 
          heuristics that are good enough to keep it alive: you don’t 
          necessarily care about the truth.
          If, by contrast, you are building a thinker, you want her to be 
          able to think things that are true irrespective of their survival value.  
          This cuts two ways.
          On the one hand, you want the thinker’s thoughts not to be 
          constrained by heuristics that ensure her survival.
          On the other hand, in allowing the thinker freedom to pursue the 
          truth there is an excellent chance she will end up profoundly 
          mistaken %(Malebranche?) 
          or deeply confused %(Hegel?) 
          about the nature of physical objects.
          So you don’t want thought contaminated by survival heuristics and you 
          don’t want survival heuristics contaminated by thought.  Or, even if 
          some contamination is inevitable, you want to limit it.
          %So you want inferential isolation.
          This combination is beautifully achieved by giving your thinker a 
          system or some systems for tracking objects and their interactions 
          which appear early in development, and also a mind which allows her 
          to acquire knowledge of physical objects gradually over months or 
          years, taking advantage of interactions with objects as well as 
          social interactions about objects—providing, of course, that the 
          two are not directly connected but rather linked only very loosely, 
          via phenomenal expectations.
        
        
  
    
    
    
    