---
layout: 'deck_unit'
title: "Knowledge of Objects: Conclusions"
tags: []
description: ""
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/unit_mixins
include ../../../fragments/origins_mixins



+slide({id:'unit_281-conclusions'})
  .notes: :t()
    In this lecture I have been considering several interlocking themes simultaneously.
  p interlocking themes:
  ul.notes.show
    li the Problem
    li knowledge of causal interactions
    li relation of infant to adult cognition
  
  //- the Problem
  +highlight-row('li:eq(0)','grey')
  .notes: :t()
    Concerning knowledge of physical objects, there were several questions ...
    First, #{qq.q2a}
    These principles describe the operation of a module whose function concerns objects.
    The principles describe the operations of the system of object indexes.
    (So the principles are not necessarily represented at all.)
  .notes: :t()
    Second, and relatedly, #{qq.q2b}
    The expectations are perceptual expectations and the result of modular, computational processes.
    The expectations are neither knowledge nor perceptions.
    They are rather representations internal to the system of object indexes.
    (This is why we get the two discrepancies between spontaneous looking and purposive actions 
    like searching.)

  //- relation of infant to adult
  +unhighlight-row_('li:eq(0)','grey')
  +highlight-row('li:eq(2)','grey')
  .notes: :t()
    #{qq.q3}
    What is the relation between infants' and adults' capacities?  
    Nonhuman adult primates plus representational momentum plus causal interaction : 
    cautiously go for continuity (as in the case of categorical perception of colour)



// *todo duplicated from unit_221
section.slide
  .notes So earlier I contrasted these two views.
  .notes I think on balance the second is right.
  .notes Why?  *Nonhuman adult primates plus representational momentum plus causal interaction 
  p.em-above &nbsp;
  .container_12
    .grid_3
      p.center infant
    .grid_3
      p &nbsp;
    .grid_3
      p &nbsp;
    .grid_3
      p.center adult
  .clear
  p &nbsp;
  .container_12
    .grid_3
      +colour-ball('yellow', '25')
    .grid_3
      +colour-ball('yellow', '50')
    .grid_3
      +colour-ball('yellow', '75')
    .grid_3
      +colour-ball('yellow', '100')
  .clear
  .container_12
    .grid_3
      p &nbsp;
    .grid_3
      p.center social interaction
    .grid_3
      p.center language
    .grid_3
      p &nbsp;
  .clear
  p &nbsp;
  .container_12
    .grid_3
      +colour-ball('yellow', '25')
    .grid_3
      +colour-ball('yellow', '25')
      +colour-ball('cyan', '25')
    .grid_3
      +colour-ball('yellow', '25')
      +colour-ball('cyan', '50')
    .grid_3
      +colour-ball('yellow', '25')
      +colour-ball('cyan', '100')
  .words: .container_12: .grid_12
    p(style='margin-top:-50px;') time --->    


    
    

section.slide
  .slide-clone(data-which='#unit_281-conclusions')

  //- origin of knowledge of causal interactions involving particular objects  
  +unhighlight-row_('li:eq(2)','grey')
  +highlight-row('li:eq(1)','grey')
  .notes: :t()
    Concerning knowledge of causal interactions, what have we learnt?
    Infants, like adults, have perceptual systems that enable them to detect some kinds of 
    causal interaction.
    Now this does not mean, I think, that they have knowledge of particular causal interactions.
    To attribute them such knowledge would conflict with their failures to act.
    (Link this to the Hood et al experiment, intially presented as about permanence:
    *TODO* **add three slides**: spelke ball drop, hood et al, leslie and keeble --- I want to
    say these three all have a common explanation, namely perceptual mechanisms.)

+slide
  .notes: :t()
    Recall this experiment about causal interactions.  Infants are more interested when the 
    ball moves through the bench (the `inconsistent' condition).  Why?  Because the object
    index stops at the solid barrier.  
  +img_clip('spelke_1992_fig2a.png', 'auto')
  p.source Spelke et al 1992, figure 2

+slide
  img.bkg(src='/img/slide_lecture04_014.jpg')
  .notes: :t()
    Why do 2.5-year-olds look longer when experimenter removes the ball from behind the wrong 
    door?  Because the object is attached to an object index behind another door.
    But why don't they reach to the correct door?
    Because having an object index attached to an object is not sufficient to intitate 
    goal-directed action.

+slide
  img(src='/img/leslie_1987_fig4.png')
  p.source Leslie & Keeble 1987, figure 4
  .notes: :t()
    Why do infants look longer at the 'launching' reversal?  For the same reason you report
    an impression of causation: it's the weird behaviour of the object index, moving to this 
    object, which is discrepant with what you know about the boundaries of these objects.
    (I.e. its explained by \citet{Krushke:1996ge})
  

section.slide
  .slide-clone(data-which='#unit_281-conclusions')
  .notes: :t()
    So far I've been emphasising that six month old infants' abilities
    track some kinds of causal interaction should be undestood not by attributing 
    them knowledge of causal interaction but by rather identifying perceptual processes that 
    function to track certain kinds of causal interactions among objects.
    This is a step forwards insofar as it solves the Problem  (at least partially).
    But our overall question is about knowledge not representation.
    What we really want to know is, How do humans go from not having any knowledge of 
    causal interactions involving particular objects to having some such knowledge?
  .notes: :t()
    But how does the discovery about perceptual processes relate to knowledge?
    This is the Next Big Problem ...
    
+slide_middle
  p.center The Next Big Problem
  .notes: :t()
    Our Next Big Problem is this.
    We've said that infants' competence with causes and objects is not knowledge but something 
    more primitive than knowledge, something which exists in adults too and can carry information
    discrepant with what they know.
    So, if at all, how does appealing to these early capacities enable us to explain the origins 
    of knowledge?

    
+slide({bkg:'slide_causation_development.jpg'})
  .notes: :t()
    Broadly, my suggestion will be that the competence which appears in the first months of 
    development leads to knowledge of objects and causes only in conjunction with various
    additional things, like social interaction, perhaps language and abilities to use tools.
  .notes: :t()
    The picture I want to offer differs from those of researchers like Vygotsky and Tomasello in 
    that there is an essential role for early-developing forms of representation that are more
    primitive that concepts or thoughts and do not appear to have any kind of social origin.
  .notes: :t()
    But the picture also differs from those of researchers like Spelke and Carey in that these
    early developing forms of representation are only one of several components that are needed
    to understand the origins of knowledge.
  .notes: :t()
    To explore this idea I want to switch to a completely different domain, colour.
  .notes: :t()
    [*Aside on tool use:]
    Basic forms of tool use may not require understanding how objects interact 
    (Barrett, Davis, & Needham; Lockman, 2000), and may depend on core cognition of 
    contact-mechanics (Goldenberg & Hagmann, 1998; Johnson-Frey, 2004). 
    Experience of tool use may in turn assist children in understanding notions of manipulation, 
    a key causal notion (Menzies & Price, 1993; Woodward, 2003). Perhaps non-core capacities for 
    causal representation are not innate but originate with experiences of tool use.	
            
