---
layout: 'deck_unit'
title: "Core Knowledge and Categorical Perception"
tags: []
description: "How are categorical preception and core knowledge related?"
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins


  
section.slide
  .notes ***todo adapt these slides (replace the man with a ball coming out of a barrier and changing colour
  .notes ***todo move
  .notes from London CP talk
  img.bkg(src='/img/slide_cp_london_143.jpg')
  mixin slides_from_img(['slide_cp_london_144.jpg','slide_cp_london_145.jpg','slide_cp_london_146.jpg','slide_cp_london_147.jpg','slide_cp_london_148.jpg','slide_cp_london_149.jpg','slide_cp_london_150.jpg',])

  
  

section.slide
  .notes ***todo adapt these slides (replace the man with a ball coming out of a barrier and changing colour
  .notes from London CP talk
  img.bkg(src='/img/slide_cp_london_158.jpg')
  mixin slides_from_img(['slide_cp_london_159.jpg','slide_cp_london_160.jpg','slide_cp_london_161.jpg','slide_cp_london_162.jpg','slide_cp_london_163.jpg','slide_cp_london_164.jpg'])


section.slide
  .notes ***todo move these to Object
  .notes from London CP talk
  img.bkg(src='/img/slide_cp_london_151.jpg')
  mixin slides_from_img(['slide_cp_london_152.jpg','slide_cp_london_153.jpg','slide_cp_london_154.jpg','slide_cp_london_155.jpg','slide_cp_london_156.jpg','slide_cp_london_157.jpg'])

section.slide
  .notes ***todo move these to Object section
  .notes from London CP talk
  img.bkg(src='/img/slide_cp_london_180.jpg')
  mixin slides_from_img(['slide_cp_london_181.jpg'])

section.slide
  .notes ***todo move these to Goals or Actions section
  .notes from London CP talk
  img.bkg(src='/img/slide_cp_london_178.jpg')
  

section.slide
  .notes ***todo move
  .notes from London CP talk
  img.bkg(src='/img/slide_cp_london_143.jpg')
  mixin slides_from_img(['slide_cp_london_144.jpg','slide_cp_london_145.jpg','slide_cp_london_146.jpg','slide_cp_london_147.jpg','slide_cp_london_148.jpg','slide_cp_london_149.jpg','slide_cp_london_150.jpg',])


