---
layout: 'deck_unit'
title: "Pointing"
tags: []
description: "From around 11 or 12 months of age infants spontaneously point to request, inform and initiate joint engagement.  Here we examine evidence for this claim.  We then ask, by contrasting humans with nonhuman primates, what is involved in producing and comprehending pointing."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/unit_mixins

+slide
  p Adults can use pointing to ...
    ul
      li request
      li inform
      li initiate joint engagement (‘Wow! That!’)
  .notes Tomasello calls the third kind 'declarative'.
  p.em-above Infants point from around 11 or 12 months of age, and point to all of these ends ...
  .handout From around 11 or 12 months of age infants spontaneously point to request, inform and initiate joint engagement \citep{Liszkowski:2007mm}.

+slide
  .notes Infants spontaneously point from around 12 months.
  .notes Here is a situation in which a child is playing at her table.  Then something appears from behind a sheet.  The infant spontaneously points at it.
  img(src='/img/liszkowski_2004_fig2.png')
  p.source Liszkowski et al 2004, figure 2

+slide
  .notes Infants point to intiate joint engagement Liszkowski et al 2006.
  p Why do infants point?
  p.em-above Liszkowski’s idea: find out by seeing what satisfies them.
  p.em-above hypotheses:
  ol
    li
      span for themselves
      p (prediction: ignoring them makes no difference)
    li
      span to draw attention to themselves
      p (prediction: looking at them is sufficient to satisfy them)
    li
      span to direct attention only
      p (prediction: looking at the referent is sufficient)
    li
      span to initiate joint engagement
      p (prediction: looking at them and the reference is sufficient)
  .notes ‘Four hypotheses about what infants want when they point were tested. First, on the hypothesis that infants pointed for themselves (see above), E neither attended to the infant nor to the event (Ignore condition). 
    | Second, on Moore and D’Entremont’s (2001) hypothesis that infants do not want to direct attention and just want to obtain attention to themselves, E never looked at the event and instead attended to the infant’s face and emoted positively to it (Face condition). 
    | Third, on the hypothesis that infants just wanted to direct attention and nothing else, E only attended to the events (Event condition).
    | Fourth, on our hypothesis that infants want to share attention and interest, E responded to an infant’s point by alternating gaze between the event and the infant, emoting positively about it (Joint Attention condition).’ \citep{Liszkowski:2007mm}
  .notes ‘When interacting with an adult who always reacted consistently in one of four ways, 12-month-olds pointed most often across trials if the adult actively shared her attention and interest in the event (Joint Attention condition)’ \citep[p.\ 305]{liszkowski:2004_twelve}
  .notes ‘Analyses of infants’ points within each event revealed a complementary set of results. In the conditions not involving joint attention, infants repeated their point more often. This repeating behavior presumably indic- ates that they were dissatisfied with the adult’s response, and so they were persisting in their pointing behavior hoping eventually to obtain the desired response (which was presumably joint attention, since children did not repeat themselves very often in this condition).’ \citep{Liszkowski:2007mm}
  +blur('li span')
  .notes Now imagine an experiment with four conditions.
  .notes In each condition, there are several trials involving something appearing and, hopefully, the infant pointing at it.
  .notes So how do the conditions differ?
  +highlight-row('li:eq(0) p')
  .notes In one condition, the experimenter ignores the infant when she points.
  +highlight-row-remove_('li:eq(0) p')
  +highlight-row('li:eq(1) p')
  .notes In another condition, the experimenter looks at the infant only.
  +highlight-row-remove_('li:eq(1) p')
  +highlight-row('li:eq(2) p')
  +highlight-row-remove_('li:eq(2) p')
  +highlight-row('li:eq(3) p')
  +highlight-row-remove('li:eq(3) p')
  .notes What predictions should we make?
  +unblur('li:eq(1) span')
  .notes If infants point to draw attention to themselves, what can we predict?
  +highlight-row('li:eq(1) p, li:eq(3) p', 'pink')
  .notes They should be more satisfied in these conditions.
  +highlight-row('li:eq(0) p, li:eq(2) p', 'teal')
  .notes They should be less satisfied in these conditions.
  .notes But how can we measure satisfaction?
  .notes Within a trial: less satisfied with response should lead to more pointing.
  .notes Across all trials: more satisfied with responses should make it more likely that pointing will occur in a trial (at least once).
  +highlight-row-remove_('li:eq(1) p, li:eq(3) p', 'pink')
  +highlight-row-remove_('li:eq(0) p, li:eq(2) p', 'teal')
  +blur_('li:eq(1) span')
  +unblur('li:eq(3) span')
  .notes If infants point to initiate joint engagement, what should we expect then?
  +highlight-row('li:eq(3) p', 'pink')
  .notes Satisfied in this condition and not in any other.
  
  
+slide
  .notes So here's the setup again (but schematically this time).
  img(src='/img/liszkowski_2004_fig1.png')
  p.source Liszkowski et al 2004, figure 1

+slide
  .notes And here is the first key finding: more pointing overall (across trials) when there's joint attention.
  .notes [*todo: redraw Ulf's figures and put this & next on one slide]
  img(src='/img/liszkowski_2004_fig3.png')
  p.source Liszkowski et al 2004, figure 3

+slide
  .notes And here is the second key finding: less pointing within a trials when there's joint attention.
  img(src='/img/liszkowski_2004_fig4.png')
  p.source Liszkowski et al 2004, figure 4



+slide_middle
  p.center 12-month-old infants point 
    span.slide not only to request but also to initiate joint engagement.
  p.center.slide (And to inform.)
  .notes Why is this significant?
  .notes Because it implies two things:
  .notes First, it implies that infants' pointing is referential communication; that is, communication about an object.
  .notes (Contrast sharing a smile; we're communicating, but not necessarily referring.)
  .notes Second, it implies that infants have some understanding of joint engagement.
  .notes I'll come back to this in later.

//- 
  +slide
    .notes By the way, this is related to the essay topic on shared intentionality.
    .notes Tomasello takes infants' pointing to be based on what he calls shared intentionality.
    p shared intentionality
    p.em-above.handout.show ‘infant pointing is best understood---on many levels and in many ways---as depending on uniquely human skills and motivations for cooperation and shared intentionality, which enable such things as joint intentions and joint attention in truly collaborative interactions with others (Bratman, 1992; Searle, 1995).’
    p.right Tomasello et al (2007, p. 706)
    .handout.ctd \citep[p.\ 706]{Tomasello:2007fi}
    .notes I don't want to pursue this here; I'm just mentioning it because you might want to draw on pointing in your seminar essays.
    .notes Instead I want to ask in a simpler way, how should we understand pointing as other non-linguistic forms of communication?
    .notes To approach this question, it's helpful to compare and contrast humans with other, nonhuman apes.


