---
layout: 'deck_unit'
title: "Perception of Causation"
tags: []
description: "Can humans perceive causal interactions?"
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/unit_mixins

+slide_middle
  .notes The question for this section is, 
  p.notes.show.center Can humans perceive causal interactions?

+slide
  .notes: :t()
    Let my try and show you stimuli that were used in an experiment (without yet telling you 
    anything about the experiment).  What do you see?
  .notes: :t()
    [If the animation doesn't work, there's a static version on the next slide.]
  video(width="640", height="480", controls)
    source(src="/mov/01_launching.mp4",type="video/mp4")
    source(src="/mov/01_launching.webm",type="video/webm")

+slide
  img(src='/img/thines_1991_fig.png')
  p.source Thines et al (1991)
  .notes OK, so adults: (a) verbal reports.  So what?
  .handout.notes: :t()
    ‘There are some cases … in which a causal impression arises, clear, genuine, and unmistakable, 
    and the idea of cause can be derived from it by simple abstraction in just the same way as the 
    idea of shape or movement can be derived from the perception of shape or movement’ 
    \citep[p.\ 270--1]{Michotte:1946nz}


+slide
  .notes: :t()
    Adults will also report experiencing causal interactions including pullling, ...
  +img_clip('scholl_2000_fig2.png','rect(0px,824px,125px,0px)')
  p.source Scholl & Tremoulet 2001, figure 2
  +clip('img','rect(0px,824px,250px,0px)')
  .notes ... disintegration ...
  +clip('img','auto')
  .notes ... and bursting.


+slide_middle
  p.center detecting launching effects at 6 months
  .notes: :t()
    This effect, or one very like
    it, can also be found in infancy. 
  .notes: :t()
    Of course, six-month-olds can't tell us about their expeirences.
    So how can we tell that they detect launching effects?
      
  
+slide
  .notes.handout: :t()
    Infants at around six months of age seem also to distinguish launching from other sequences, 
    much as adults do \citep{Leslie:1987nr}.
  .notes: :t()
    [nb: Several people have discussed this in seminars so I won't discuss it here (the reference is on your handout).]
  .notes: :t()
    In their experiment, they compared two groups of infants.
    The first group was habituated to the top display, which is just the sort of animation Michotte
    used to get reports of causal experiences in adults.
    After habituation, this first group was then shown the same display except that the direction was 
    reversed.
    Meanwhile a second group was habituated to a display like the top display here except 
    that there was a delay between the first object stopping and the second object starting.
    This delay would mean that, in adults, there are no reports of experiences of a causal interaction.
    After habituation, this second group was shown the same display except that the direction of 
    movement was reversed.
  .notes: :t()
    Of interest was whether the first group showed greater dishabituation to the reversal than 
    the second group.
    How could this tell us anything about infants' experiences?
    Suppose that infants do not have anything like what adults report as an experience of causation.
    They they experience merely patterns of movement.
    And, in this case, reversing on sequence should create no more interest than reversing the other.
    But now suppose that infants do have something like what adults report as an experience 
    of causation?
    Then, when reversing the first sequence, there are two changes: there is a change both to the 
    movement and to the character of the causal interaction.  To put it informally,
    reversing direction means that the patient of the interaction becomes its agent.
    So the hypothesis that infants' experiences of Michotte-like stimuli resemble adults 
    predicts that there will be greater dishabituation when the first, `direct launching` sequence 
    is reversed.
  img(src='/img/leslie_1987_fig4.png')
  p.source Leslie & Keeble 1987, figure 4

+slide
  .notes: :t()
    And this is just what the researchers found.
    The table shows mean looking times in second (with standard deviations in brackets).
    The control group was just like the direct lanunching group except that there was no reversal
  +img_clip('leslie_keeble_1987_table4.png','auto')
  p.source Leslie & Keeble 1987, table 4




section.slide
  .heider-simmel.hide
    +_slide_inner
      +img_clip('heider_1946_fig1.png')
      p.source Heider & Simmel 1946, figure 1
  +reset
    +middle
      p.center Can humans perceive causal interactions?
  .notes: :t()
    So can humans, adult and infant, perceive causal interactions?
  +show('.heider-simmel')
  .notes: :t()
    So far I don't think we have strong reasons to accept that they do.
    In infants we have discrimination and in adults we have verbal reports.
    But we shouldn't trust verbal reports.
    After all, people will say all kinds of things about their experiences.
    This is nicely illustrated by a famous experiment on apparent behaviour by \citet{Heider:1944ts}.
      

+slide
  p How to get beyond intuition?
  .slide
    .notes.show
      p.em-above Michotte: the experience of launching depends on interactions among various factors including 
      ul
        li the relative speeds of the two objects
        li the delay between the first and second objects’ movements
        li the spatial gap between the two objects 
        li the trajectories of the two objects. 
    .notes: :t()
      But how does this help us?  Importantly, tiny variations in the parameters will make 
      big differences in the experiences reported.
      Let me illustrate this for the delay between the objects' movements.

+slide
  .notes adults: (b) they can discriminate between short gaps and long gaps.
  .notes That is, the can discriminate gaps of around 50ms.
  img(src='/img/michotte_1946_table_ix_part.png')
  p.source Michotte 1946 [1963], p. 115 table IX (part)

+slide
  .notes Maybe this is clearer as a figure.
  img(src='/img/michotte_1946_table_ix_as_figure.png')
  p.source Michotte 1946 [1963], p. 115 table IX (part)
  .notes: :t()
    People can distinguish between stimuli that differ only in that the gap between two movements
    is approximately 50ms longer in one than the other.
    A 50ms difference makes the difference between reporting launching and reporting two movements.
  .notes: :t()
    We need to do more to understand the effect, ...
    
    
+slide
  .notes: :t()
    The question was how we can get beyond intuition in understanding the verbal reports.
  p How to get beyond intuition?
  p The launching effect: detecting a 50ms difference in the delay between two movements.
  .notes: :t()
    Part of the answer is this.  We don't worry about the content of the verbal reports.
    We just focus on the fact that their content changes depending on a tiny, 50 millisecond
    difference in the delay between two movements.
    Call this \emph{launching effect}.
  .notes: :t()
    This doesn't tell us what people are detecting.
    But it does tell us that the effect is not merely confabulation or making it up.
    So we have taken a tiny step beyond intuition.  But we also have to answer two questions.
  .slide
    ol.notes.show
      li.focus How is launching detected?  For example, does it involve perceptual processes?
      li Why is a delay of up to around 70ms consistent with the launching effect occuring?
    .notes: :t()
  +blur('p, ol li:not(".focus")')
  .notes: :t()
    We'll focus on the first question and come back to the second one later.
                  
+slide_middle
  .notes: :t()
    So we have the launching effect: adults and probably infants too exhibit perceptual sensitivity 
    to differences in timing of around 50 milliseconds, but only when such delays make the difference
    between a causal interaction or non-causal interaction.
  .notes: :t()
    We are still trying to understand the nature of the launching effect.
    To make progress we need to think about how it arises.
  .notes: :t()
    Guess  how the launching effect works!  
    A natural thought is this: first you perceive objects, then you identify causal interactions 
    based on contiguity etc.
    This turns out to be completely wrong.
  p.center Guess how the launching effect works!

+slide
  .notes: :t()
    The impression of launching is judgement-independent.
    So it can't be a consequence of thinking about the interaction.
    Still, it might be a consequence of perceiving objects in certain relations to each other.
    However a key finding shows that this is wrong.
    Surprisingly, we don't first perceive objects and then get the launching effect;
    rather, the launching effect is tied up with perceptual process of identifying objects' surfaces.
  p judgement-independent
  img(src='/img/thines_1991_fig.png')
  p.source Thines et al (1991)

  
section.slide
  .notes: :t()
    [I'm about to talk about illusory causal crescents.  I first show them two videos.
    This is a full overlap video.
    You can drag the slider to show them that it's full overlap, but first ask them what they see.]
    [Static images follow in case video doesn't work.]
  +_slide_inner
    video(width="640", height="480", controls)
      source(src="/mov/01_FullOverlap.mp4",type="video/mp4")
  +blur2_('video', '5px')
  .slide
    +reset
      +middle
        p.center what did you see?
        .notes: :t()
          Normally, if the two balls overlap completely, subjects report seeing a single object 
          changing colour.
    
  
section.slide
  .notes: :t()
    [This is a causal capture video with full overlap.
    Focus on the top sequence.  Tell me what you saw!
    You can drag the slider to show them that it's full overlap, but first ask them what they see.]
    [Static images follow in case video doesn't work.]
  +_slide_inner
    video.full-overlap(width="640", height="480", controls)
      source(src="/mov/02_CausalCapture.mp4",type="video/mp4")
  +blur2_('video', '5px')
  .slide
    +reset
      +middle
        p.center what did you see?
        .notes: :t()
          Normally in this case people report the impression that the top sequence collided.
          That is, they didn't pass, they collided.
        .slide
          p.center causal capture
          .notes: :t()
            Causal capture is described by \citep{Scholl:2002eb}.
            As I said,
            normally, if the two balls overlap completely, subjects report seeing a single object 
            changing colour.
            But if we show subjects a sequence like the launching effect but where the first square 
            overlaps the second's position before it moves.  When this event is shown is isolation 
            almost all subjects see it as a single object changing colour.  But when the event is 
            shown with an 
            unambiguous launching effect nearby, almost all subjects now see the 'overlap' event as 
            a launching.
            Causal capture means that we can show subjects a sequence with complete overlap and 
            still have the report a causal effect.
            
          .notes: :t()
            Why do we care about causal capture?  Because it gives rise to illusory causal 
            crescents ...
          

    
+slide
  .notes: :t()
    [Now I'll explain illusory causal cresecents.]
  +img_clip('scholl_2004_fig2ab.png', 'rect(0,240px,550px,0px)')
  p.source Scholl and Nakayama 2004, figure 2 (part)
  .notes: :t()
    Here's a static image representing the sequence you saw first, when there was full overlap.
  +clip('img:eq(0)','auto')
  .notes.handout: :t()
    ‘when there is a launching event beneath the overlap (or underlap event) timed such that 
    the launch occurs at the point of maximum overlap, observers inaccurately report that 
    the overlap is incomplete, suggesting that they see an illusory crescent.’ 
    \citep[p.\ 461]{Scholl:2004dx}
  .notes.handout: :t()
    Why does the illusory causal crescent appear?  Scholl and Nakayama suggest a  
    ‘a simple categorical explanation for the Causal Crescents illusion: the visual system, 
    when led by other means to perceive an event as a causal collision, effectively 
    ‘refuses’ to see the two objects as fully overlapped, because of an internalized 
    constraint to the effect that such a spatial arrangement is not physically possible. 
    As a result, a thin crescent of one object remains uncovered by the other one-as 
    would in fact be the case in a straight-on billiard-ball collision where the motion 
    occurs at an angle close to the line of sight.’ 
    \citep[p.\ 466]{Scholl:2004dx}
  .notes: :t()
    *here or later?
    Contrast Spelke’s view.
    ‘objects are conceived: Humans come to know about an object’s unity, boundaries, and 
    persistence in ways like those by which we come to know about its material composition 
    or its market value.’
    \citep[p.\ 198]{Spelke:1988xc}.

+slide
  img(src='/img/scholl_2004_fig5.png')
  p.source Scholl and Nakayama 2004, figure 5
  .notes (*This figure just shows when the overlap event was perceived as causal.)

+slide
  .notes The question was, 
  ol
    li.notes.ctd.show.focus: :t()
      How is launching detected?  For example, does it involve perceptual processes?
    li.blur-text Why is a delay of up to around 70ms consistent with the launching effect occuring?
  .notes: :t()
    We've just taken a step towards answering this first question.  As 
    \citet[p.\ 299]{Scholl:2000eq} put it,
  .handout.notes: :t()
    ‘just as the visual system works to recover the physical structure of the world by inferring 
    properties such as 3-D shape, so too does it work to recover the causal …  structure of 
    the world by inferring properties such as causality’ 
    \citep[p.\ 299]{Scholl:2000eq}
  .notes: :t()
    But more is needed ...
  +unblur_('.blur-text')
  +blur('li:eq(0)')
  .notes: :t()
    The second question, Why is a delay of up to around 70ms consistent with the 
    launching effect occuring?, remains open.


+slide
  p.notes.show Summary so far
  p.em-above
    .notes The question for this section was:
    .notes.ctd.show Can humans perceive causal interactions?
  p.em-above &nbsp;
  ol.notes.show
    li Adults report experiencing a launching effect.
    li These reports show that they can make minute distinctions.
      span.notes: :t() 
        They can detect tiny, 50 millisecond differences in the delay between two movements.
    li Infants detect apparent causal interactions from 6 months of age or earlier.
    li Detecting apparent causal interactions is bound up with perceiving objects.
      span.notes: :t()
        It's not that we first perceive objects and surfaces, and then identify causal interactions.
        Rather, identifying causal interactions is part of perceiving surfaces and objects.  
        So the launching effect does seem to involve perceptual processes.
  .notes: :t()
    This fourth point suggests we should step back and consider how objects are perceived.
    That is what we'll do next.

