---cson
layout: 'deck_unit'
title: "Joint Action: The Challenge"
tags: []
description: """
  Joint action is arguably required to explain the emergence, in evolution or
  development, of sophisticated forms of human activity including, referential
  communication and mindreading.
  """
---

include ../../../fragments/unit_mixins
include ../../../fragments/origins_mixins

include ../../../fragments/joint_action_mixins


// mixins for challenge, conjecture, objection


+slide_challenge_etc
  +el_challenge
  .notes: :t
    The challenge is to explain the emergence, in evolution or development, of sophisticated 
    forms of human activity including, referential communication and mindreading.
  .notes: :t
    A number of researchers have suggested that meeting this challenge requires us to invoke 
    some kind of social interaction ...


+slide
  .flex-container.flex-end.width-720.blur-after
    .flex-container-column
      .flex-item
        img(src='/img/moll-tomasello-vygotsky.png', height='150px')
      .flex-item.width-500
        .notes According to what Moll and Tomasello call the Vygotskian Intelligence Hypothesis, 
        p.handout.notes.show.up-12
          span ‘participation in 
          span.social-interaction(style='z-index:1;') cooperative ... interactions
          span  … leads children to construct uniquely powerful forms of cognitive representation.’
        p.right.grey-text (Moll & Tomasello 2007)
        .handout.notes.ctd \citep{Moll:2007gu}
  
  .slide.flex-container.flex-start.width-720.up-125.blur-after
    .flex-container-column
      .flex-item
        img(src='/img/knoblich-sebanz.png', height='150px', style='margin-left:0; z-index:-5;')
      .flex-item.width-450
        p.handout.notes.show.up-12
          span ‘perception, action, and cognition are grounded in 
          span.social-interaction social interaction
          span ’
        p.right.grey-text (Knoblich & Sebanz 2006)
        .handout.notes.ctd \citep[p.\ 103]{Knoblich:2006bn}

  .slide.flex-container.flex-end.width-720.up-100.blur-after
    .flex-container-column
      .flex-item
        img(src='/img/sparaci-sinigaglia.png', height='150px', style='margin-right:0;margin-left:200px;')
      .flex-item.width-450
        p.handout.notes.show.up-12
          span ‘human cognitive abilities … [are] built upon 
          span.social-interaction social interaction
          span ’ 
        p.right.grey-text (Sinigaglia and Sparaci 2008)
        .handout.notes.ctd \citep{sinigaglia:2008_roots}
    .notes I'm going to assume that they are right.
  .slide
    +remove-class('.blur-after')
    // leave imagines and .social-interaction text unblurred, blur everything else
    +blur('p.right, span:not(.social-interaction)')
    +invert('.social-interaction')
    .notes If we take these ideas seriously, the first question we need to ask is, What kinds of social interaction matters for the emergence of sophisticated human activities?

+slide_middle
  p.center What kinds of social interaction?
    span &nbsp; 
    span.step2.joint-action Joint action!
  .notes There seems to be some consensus on the idea that joint action is particularly important.
  .slide
    +invert('.joint-action')
    .notes But what is joint action?

+slide({bkg:'contrast_cases/slide03.jpg'})
  .notes A paradigm case of joint action would be two sisters cycling to school together.
+slide({bkg:'contrast_cases/slide04.jpg'})
  .notes By contrast, two strangers cycling side-by-side are performing parallel but merely individual actions.
+slide({bkg:'contrast_cases/slide05.jpg'})
  .notes Or, to take another paradigm case,  
  .notes when members of a flash mob in the Central Cafe respond to a pre-arranged cue by noisily opening their newspapers, they perform a joint action. 
  .notes But when someone not part of the mob just happens to noisily open her newspaper in response to the same cue, her action is not part of any joint action.%
  .notes \footnote{
  .notes See \citet{Searle:1990em}; in his example park visitors simultaneously run to a shelter, in once case as part of dancing together and in another case because of a storm. 
  .notes Compare \citet{Pears:1971fk} who uses contrast cases to argue that whether something is an ordinary, individual action depends on its antecedents. 
  .notes }

 
+slide_challenge_etc
  .el-challenge
    +el_challenge
  .notes So the challenge was to explain the emergence of sophisticated human activities including referential communication and mindreading.
  .slide
    +blur('.el-challenge')
    +el_conjecture
    .notes: :t
      The conjecture I want to consider, borrowed from a variety of researchers, is that 
      joint action  plays a role in explaining how sophisticated human activities emerge.
      There is a compelling objection to this conjecture.
      It will take me a while to explain what the objection is.
      The objection arises when we ask ask what joint action is.


