---
layout: 'deck_unit'
title: "Object Indexes and Causal Interactions"
tags: []
description: "To understand the launching effect we need to consider how perceptual systems segment and track objects."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/unit_mixins

+slide_middle
  p.center Attention to Objects
  
+slide
  .notes: :t()
    (from figure caption): ' A number (here eight) of identical objects are shown (at t = 1), 
    and a subset (the `targets') is selected by, say,  ̄ashing them (at t 􏰈 2), after which 
    the objects move in unpredictable ways (with or without self-occlusion) for about 10 s. 
    At the end of the trial the observer has to either pick out all the targets using a 
    pointing device or judge whether one that is selected by the experimenter (e.g. by 
     ̄ashing it, as shown at t 􏰈 4) is a target.' \citep[p.\ 142]{Pylyshyn:2001hl}
  .notes: :t()
    Highlight the case where subject is asked whether this is one of the objects identified.
    (If a target disappears, subjects can also say where it was and which direction it was 
    moving in.)
  .notes The limit of 3, maybe 4, objects will be important later.
  +img_clip('pylyshyn_2001_fig6.png','rect(0, 200px, 300px, 0)')
  .kludge(style='margin-top:300px;') &nbsp;
  +clip('img:eq(0)','rect(0, 370px, 300px, 0)')
  +clip('img:eq(0)','rect(0, 530px, 300px, 0)')
  +clip('img:eq(0)','auto')
  p.source Pylyshyn 2001, figure 6
  .notes What does this tell us?
  .notes If attention is organised around objects, the perceptual system must be capable of identifying and tracking objects.
  .slide
    p.center object index (/ FINST)
    .notes.handout: :t()
      Leslie et al say an object index is ‘a mental token that functions as a pointer to an 
      object’ \citep[p.\ 11]{Leslie:1998zk}
    .notes.handout: :t()
      ‘Pylyshyn’s FINST model: you have four or five indexes which can be attached to objects; 
      it’s a bit like having your fingers on an object: you might not know anything about the 
      object, but you can say where it is relative to the other objects you’re fingering. 
      (ms. 19-20)’ \citep{Scholl:1999mi}
    .notes: :t()
      [*TODO*] FINST model has been challenged given later findings!
      See \citep[p.\ 59]{scholl:2009_what}:
      `I suggest that what Pylyshyn’s (2004) experiments show is exactly what they intuitively 
      seem to show: We can keep track of the targets in MOT, but not which one is which. 
      This undercuts any reason to suggest that data-driven index maintenance is playing any 
      role in MOT, though, since the only way to modify the functioning of indexes to match 
      these results would be to strip them of the one property they must have in order to 
      fulfill the purpose for which they are theorized to exist in the first place. But again, 
      all of this seems easily explained—and perhaps even necessarily predicted—by the view 
      that MOT is simply realized by split object-based attention to the MOT targets as a set.'
      
      However, \citep{horowitz:2010_direction} show that, in a MOT paradigm, observers 
      can report the direction of one or two targets without advance knowledge of which 
      targets' directions they will be asked to report.
      
    
+slide
  p object indexes require 
    span.highlight segmentation
  p.slide.em-above  object indexes can 
    span.highlight survive occlusion
  p.slide.em-above object indexes require 
    span.causal
      span.highlight tracking
      span  some 
      span.highlight causal interactions
    span  ...
  +invert('.highlight')
  .notes Wait a minute, does this remind you of anything?  Hopefully!
  +uninvert_('.highlight')
  +highlight('.causal')
  .notes: :t()
    But before we get to that, what is this about causal interactions?
    It's reasonably obvious that object indexes require segmentation (otherwise how would they
    attach to *objects*), and the evidence that they can survive occlusion is relatively easy to
    understand.  But the point that having object indexes involves tracking causal interactions
    is less straightforward.  So let's consider that ...
  
+slide({bkg:'slide_causal_london_52.jpg'})
  .notes: :t()
    Object indexes are linked to causation.
    In order to track objects, a perceptual system has to be sensitive to be causal interactions
  .notes: :t()
    Why is this true?
    Because when you have a causal interaction, there's a conflict between principles of object 
    perception e.g. distinct surfaces=>two objects, vs good continuity of motion=>one object
    The perceptual system needs to know when conflicts should be reconciled and when they should 
    be written off.
    We get perceptual effects of causal interactions when there are conflicts among cues of object 
    identity.
  .notes: :t()
    This is a point Michotte made.  He found that launching occurs when there is a conflict between 
    cues to object identity: good continuity of movement suggests a single object whereas the 
    existence of two distinct surfaces indicates two objects.
  .notes: :t()
    It is plausible that other types of causal interaction also involve conflicts between cues 
    to object identity.

+slide
  .notes: :t()
    Recall the question I asked earlier about 70ms.
  ol
    li.blur-text How is launching detected?  For example, does it involve perceptual processes?
    li.focus.notes.show Why is a delay of up to around 70ms consistent with the launching effect occuring?
  .notes: :t()
    This is an important question insofar as we are concerned with detecting causal interactions.
    Is what people detect when the launching effect occurs a causal interaction?
    You might say, it can't be a causal interaction 
    because no delay between two movements is consistent with a causal interaction.
  .slide
    .notes: :t()
      Michotte said this:
    p.em-above.notes.show: :t()
      ‘anyone not very familiar with the procedure involved in framing the physical concepts of 
      inertia, energy, conservation of energy, etc., might think that these concepts are simply 
      derived from the data of immediate experience.’
    span.notes.ctd \citep[p.\ 223]{Michotte:1946nz}
    p.right Michotte (1946, p. 223)
    .notes: :t()
      How is this consistent with the laws of mechanics—surely no pause can be tolerated? 
      Ingeniously, Michotte compares launching with the movement of a single object. The single 
      object moves half way across a screen then pauses before continuing to move. Michotte found 
      that the longest pause between the two movements consistent with subjects experiencing them 
      as a single movement is around 80ms, exactly the longest pause consistent with experiences 
      characteristic of launching \citep[pp.\ 91--8, 124]{Michotte:1946nz}. Accordingly, the 
      experience characteristic of launching appears to require that the two movements be 
      experienced as uninterrupted—--this is why they can be separated by a pause of up to but 
      no longer than 80ms.

+slide
  .notes The question for this section was:
  p.notes.ctd.show Can humans perceive causal interactions?
  .notes: :t()
    Now I think we have achieved an answer:
  p.em-above.notes.show: :t()
    Perceptual systems identify certain kinds of causal interaction in the course of 
    tracking objects.
  .notes: :t()
    The perceptual system responsible for identifying objects must also concern itself with certain 
    kinds of causal interaction in order to reconcile conflicting cues to object identity. 
  .notes: :t()
    In slightly more detail: one function of our perceptual systems is to identify and track 
    objects; this is done by means of various cues; sometimes the visual system is faced with 
    conflicting cues to object identity which need to be resolved in order to arrive at a 
    satisfactory interpretation; when certain types of causal interaction occur there is a 
    conflict among cues to object identity; these conflicts must be treated differently from other 
    conflicts because they do not indicate failures of object identification and so do not  
    require resolution or further perceptual processing. 
    So object perception depends on sensitivity to certain types of causal interaction and this is 
    why the launching effect occurs.
  
+slide_middle
  p.center further evidence
  .notes Before concluding I want to mention some further evidence for this view.

+slide_middle
  .notes This further evidence exploits something called the object-specific preview effect.
  .notes So before I can go on, I need to explain what this is.
  p.center object-specific preview effect
                        
+slide
  .notes Background: object-specific preview effect
  .notes We can measure object indexes using the object-specific preview effect.
  .notes.handout  The \emph{object-specific preview effect}: ‘observers can identify target letters that matched the preview letter from the same object faster than they can identify target letters that matched the preview letter from the other object.’ 
  .notes.handout.ctd \citep[p.\ 2]{Krushke:1996ge}
  +img_clip('kahneman_1992_fig3.png','rect(5px,175px, 600px, 0)')
  +clip('img:eq(0)','rect(5px,315px, 600px, 0)')
  +clip('img:eq(0)','auto')
  p.source Kahneman et al 1992, figure 3
  
+slide({bkg:'slide_krushke.jpg'})
  .notes: :t()
    Krushke and Fragassi (1996) have shown that the object-specific preview effect vanishes 
    in launching but not in various spatio-temporally similar sequences.  Since the object-specific 
    preview effect is regarded as diagnostic of feature binding, this is evidence that in launching 
    sequences, features of the second object (such as motion) remain bound to the first object for 
    a short time after the second object starts to move. 

+slide_middle
  p: :t() 
    Causal interactions are detected by the perceptual processes involved in segmenting
    and tracking objects.
  .notes: :t()
    This is unexpected insofar as perception is often supposed to be limited to features of the 
    world less abstract that causal interactions.  Indeed, the notion that perceptual processes
    represent three-dimensional objects rather than mere surfaces was at one time controversial.
    The research we have reviewed shows that perceptual processes represent not only 
    three-dimensional but properly physical objects, that is, objects capable of causally
    interacting with each other.
  .notes: :t()
    As we'll see in a moment, this is relevant to understanding the Problem we encountered 
    in the lecture on objects.
