---
layout: 'deck_unit'
title: "What is a communicative action?"
tags: []
description: "To understand what follows from infants' abilities to comprehend and produce pointing gestures, we need to ask what a communicative action is.  One view hinges on shared intentionality, which is related to Grice's attempts to analyse meaning.  Here we consider implications of that view and contrast it with two alternatives."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/unit_mixins
include ../../../fragments/origins_mixins


+slide_middle
  p.center  What is a communicative action?
  .notes What is a communicative action? 
  .notes Why are we asking this question?
  .notes Let me try to explain it like this ...

+slide_rh_white({step:false})
  .notes Recall what we said about comprehending and producing pointing gestures ...
  +run_across
    p.center Informative pointing
  +left_half
    +to_comprehend
  +right_half({step:false})
    +to_produce
  +invert('.know, .communicate')
  .notes Both comprehending and producing require knowing things about communication.
  .notes To know something about communication you have to understand something about what it is, I suppose.
  .notes So to know what is involved in being able to produce and comprehend pointing gestures, we have to know something about what it is to communicate.
  .notes (This will also tell us what apes 6-month-old humans lack that prevents them from communicating with pointing gestures.)
  

+slide_middle
  .notes Reminder of the question.
  p.center  What is a communicative action?
  
+slide
  .notes Let’s start with some simple examples of non-communicative actions.  
  ol
    li Ayesha hits Ben intending to bruise him.
    .notes Purely physical interaction.
    li.hide Ayesha fakes a yawn intending to cause Ben to yawn.  
    li.hide Ayesha lays a trail of false footprints intended to deceive Ben.
    li.hide Ayesha waves at Ben with the intention that he will recognise that she intends him to come over.
  +blur_('li:eq(0)')
  +show('li:eq(1)')
  .notes Why are these actions non-communicative?  Ayesha intends her fake yawn to have an effect on Ben, but the effect is a physiological one.  The response she wants from him is mechanical.
  .notes But there are also non-communicative actions which require a rational response from the people they’re directed at.  For example:
  +blur_('li:eq(1)')
  +show('li:eq(2)')
  .notes Note here that although Ayesha intends to provide Ben with misinformation, her action isn’t communicative.
  .notes Intuitively, there’s a difference between deliberately providing information or misinformation to someone and communicating with her (Grice 1989: 218).  
  .notes So what makes an action communicative?
  .notes Paul Grice has a neat answer to this question.
  .notes He notes that we sometimes achieve things merely by letting other people know that we intend to achieve them.
  .notes Waving is one of the simplest examples:
  +blur_('li:eq(2)')
  +show('li:eq(3)')
  .notes In this example, Ayesha’s goal is to get Ben to come over.  Her means of achieving this is to get Ben to recognise that this is what she intends.  So when she waves, her intention is that waving will let Ben know that she intends him to come over.
  .slide.em-above
    p Goal: get Ben to come over
    p Means: get Ben to recognise that I intend to get Ben to come over
    p
      span.intention Intention
      span : to get Ben to come over by means of getting Ben to recognise that I 
      span.intention intend
      span  to get Ben to come over.
    .notes You can achieve some things just by letting people know that you intend to achieve them.  To achieve things in this way is to perform an act of communication.
    +highlight('.intention','pink')
    .notes Note that, on this Gricean view, communicating involves having intentions about intentions.m

+slide({id:'unit_671_gricean_communication'})
  .handout \subsection{A Gricean view}
  p
    span.notes.handout.show First approximation: To communicate is to provide someone with evidence of an intention with the further intention of thereby fulfilling that intention
    span .
  p.right   (compare Grice 1989: chapter 14)
  .handout.ctd \citep[compare][chapter 14]{Grice:1989ha}.
  .notes To communicate, then, is to attempt to fulfil an intention by making it manifest to someone else that you have this intention.  If you’ve studied Grice you’ll know that his analysis of meaning led to a long and boring series of counterexamples and refinements, most of which shed no light on the nature of linguistic communication (Schiffer 1987).  But what’s really important about Grice isn’t the attempt to analyse meaning: it’s his insight
  .slide.step2
    .notes Recall the comprehension of pointing case; what is the confederate doing if she's pointing to inform?
    p.em-above.handout.show The confederate means something in pointing at the left box if she 
      span.attitude4.blur-except intends:
    .handout \begin{enumerate}
    ol
      li
        span.handout \item  
        span.handout.show that you open the left box;
      li 
        span.handout \item  
        span.handout.show that you 
          span.attitude recognize
          span  that she 
          span.attitude intends
          span  (1), that you open the left box; and 
      li 
        span.handout \item  
        span.handout.show that your 
          span.attitude3.blur-except recognition
          span  that she 
          span.attitude2.blur-except intends 
          span (1) will be among your 
          span.attitude1.blur-except reasons
          span  for opening the left box.
    p.right (Compare Grice 1967 p. 151; Neale 1992 p. 544)
    .handout \end{enumerate}
    .handout (compare \citealp[p.\ 151]{Grice:1969pv}; \citealp[p.\ 544]{Neale:1992uw})




+slide_rh_white({step:false})
  +run_across
    p.center Informative pointing
  +left_half
    +to_comprehend
  +right_half({step:false})
    +to_produce
  +invert('.know, .communicate')
  .notes: :t()
    Earlier we noted that both comprehending and producing require knowing things 
    about communication.  Our question was then, What is communication?
  .notes: :t()
    The Gricean view we've just seen is an answer to this question.
    But is it a good answer?
  




section.slide
  .slide-clone(data-which='#unit_671_gricean_communication')
  +highlight('.attitude1')
  +highlight('.attitude2', 'blueviolet')
  +highlight('.attitude3', 'orange')
  +highlight('.attitude4', 'red')
  +blur('.step2')
  .notes So to mean something by pointing, you have to have to have an intention about my recognition of an intention of yours concerning my reasons.

mixin slide_the_question()
  +question_mark
  p.center Pointing (and non-linguistic communication) involves intentions about recognizing intentions
  block
  
+slide_middle
  +slide_the_question
  .notes One consequence of this would be that we can't appeal to non-linguistic communication in explaining the emergence of sophisticated forms of mindreading.
  .notes Why not?  [Explain.]
  .notes Another consequence is an amazing discrepancy between knowledge of the mind and knowledge of the physical ...
  
+slide
  .notes 2.5-year-olds look longer when experimenter removes the ball from behind the wrong door, but don't reach to the correct door 
  img.bkg(src='/img/slide_lecture04_014.jpg')
  .notes That barriers stop solid objects is not reflected in children's practical reasoning until they are about two years earlier.
  .notes If we suppose that children who can point have an understanding of communication as Grice understands it, 
    | then we are saying that they have a fabulously sophisticated model of the mental around two years before they understand the first thing about physical causation. 
    |  They don't seem able to knowledgably identify causal interactions among unseen physical objects.  Can we really be confident that it's easier for them to think knowledgably about intereactions involving mental states?  (Maybe it is; we just don't have evidence, I think.)
  .notes Now this isn't an argument against the view that children have a Gricean understanding of communication.
  .notes But it does motivate looking for alternatives.


  
+slide_middle
  +slide_the_question
  .notes But why are we even considering this idea, the idea that children have a Gricean understanding of communication?
  .notes Because it seems to be the view favoured by Tomasello, Carpenter, Liszkowski et al, who are leading experts on pointing ...

+slide
  .notes Tomasello takes infants' pointing to be based on what he calls shared intentionality.
  .step1
    p shared intentionality
    p.em-above.handout.show
      span.blur-except ‘infant pointing is best understood
      span ---on many levels and in many ways---
      span.blur-except as depending on 
      span uniquely human skills and motivations for 
      span.cooperation cooperation
      span  and 
      span.shared-intentionality.blur-except shared intentionality
      span , which enable such things as joint intentions and joint attention in truly collaborative interactions with others (Bratman, 1992; Searle, 1995).’
    p.right Tomasello et al (2007, p. 706)
    .handout.ctd \citep[p.\ 706]{Tomasello:2007fi}
  .notes It's hard to argue with the claim about cooperation; this is important.
  +invert('.cooperation')
  .notes But Tomasello doesn't stick with the notion of cooperation.  Instead ...
  +fade_('.cooperation')
  +invert('.shared-intentionality')
  .notes: :t()
    There is this additional element, shared intentionality.  I don't understand what it is, but 
    Tomasello and his colleagues are extraordinay scientsits so I think it's worth exploring.
  .notes: :t()
    This (shared intentionality) is also the notion that gets us into trouble.

    
+slide
  .notes Here's what I take to be the view of Tomasello and colleagues.
  p Theory of communicative action (Tomasello et al?):
  .handout.notes Theory of communicative action \citep[compare][]{Tomasello:2007fi}:
  .handout.notes \begin{enumerate}
  ol
    .handout.notes \item
    li.handout.notes.show  Producing and understanding declarative pointing gestures constitutively involves embodying (?) 
      span.shared-intentionality shared intentionality.
    .handout.notes \item
    li.handout.notes.show Embodying shared intentionality involves having knowledge about knowledge of your intentions about my intentions.
  .handout.notes \end{enumerate}
  +invert('.shared-intentionality')
  .notes No, I don't know what shared intentionality is either.  I've asked you to find out in the last essay for this course.
  +uninvert_('.shared-intentionality')
  .slide
    p.em-above Claims about development:
    ol(style='list-style-type:lower-greek')
      li 11- or 12-month-old infants produce and understand declarative pointing gestures.
      li.slide Abilities to communicate play a role in explaning the emergence of knowledge of minds (among other things).
      .notes If the theory of communicative action is correct, then the claims about development are incompatible.
  .slide
    p (Also, α rules out a conjecture about minimal theory of mind.)
  .notes So, apparently, if Tomasello et al are right, I'm wrong about two things:
  .notes First, I'm wrong that knowlegde of others' minds first emerges around three or four years of age and that one-year-old infants have only core knowledge of mental states.
  .notes And, seccond, I'm probably also wrong to think that abilities to communicate (whether by language or not) could explain the emergence of knowledge of others' minds.
  .notes This is one reason for asking, What is a communicative action?

  
+slide_middle
  +slide_the_question
  .notes What are the alternatives?
  .notes I want to mention two alternatives ...




+slide_rh_white({step:false})
  +run_across
    p.center Informative pointing
  +left_half
    +to_comprehend
  +right_half({step:false})
    +to_produce
  +invert('.know, .communicate')
  .notes: :t()
    We are looking for alternatives to the Gricean characterisation of communication,
    alternatives that will provide us with a less complicated notion of pointing.

+slide_middle
  p.center first alternative

+slide
  .handout \subsection{First alternative view}
  .notes One alternative is inspired by opponents of the claim, inspired by Grice, that communication by language involves identifying utterer's intentions.
  .notes Inspired by Grice, you might think that this is fundamental to linguistic communication.
  .notes But philosophers like Dummett and (for different reasons) Millikan reject this view.
  p Convention
  p.em-above.handout.show ‘No speaker needs to form any express intention … in order to mean by a word what it means in the language’
  p.right Dummett 1986, 473
  .handout.ctd \citep[p.\ 473]{Dummett:1986mq}
  p.em-above.handout.show ‘Interpreting speech does not require making any inferences or having any beliefs about words, let alone about speaker intentions’
  p.right Millikan 1984, p. 62
  .handout.ctd \citep[p.\ 62]{Millikan:1984ib}
  .notes We might try to provide an account of pointing in which it's not fundamentally a matter of intention at all.
  .notes This would be a radical departure from the Gricean view about pointing.  But there is another alternative, one which is less radical.

+slide_middle
  p.center second alternative

+slide
  .handout \subsection{Davidsonian view}
  .notes Like Grice:
  p.handout.show ‘meaning of whatever sort ultimately rests on intention’
  p.right Davidson 1992, p. 298
  .handout.ctd \citep[p.\ 298]{Davidson:1992pl}
  .slide
    .notes We need to distinguish ulterior intentions from semantic intentions.
    ul
      li ulterior intentions
      .notes.handout ulterior intentions: ‘intentions which lie as it were beyond the production of words … [such as] the intention of being elected mayor, of amusing a child, of warning a pilot of ice on the wings’ \citep[p.\ 298]{Davidson:1992pl}.
      li semantic intentions
      .notes.handout semantic intentions: intentions concerning the meaning of one’s utterance.
    .notes Why does this distinction matter?
    .notes Grice’s explicates meaning and communication in terms of ulterior intentions.
    .notes His project is to give a reductive analysis of these notions, meaning and communication.
    .notes Ulterior intentions are precisely what is needed for such an analysis of meaning.
    .notes This is because ulterior intentions ‘do not involve language, in the sense that their description does not have to mention language’ or any semantic concepts like meaning \citep[p.\ 298]{Davidson:1992pl}.
    .notes But, Davidson points out, we don’t have to attempt an analysis of meaning and communication.
    .notes After all, Grice’s analysis has been subject to plenty of counterexamples and objections \citep{Schiffer:1987zb}.
    .notes (Davidson objects that ‘it is not clear that these principles [Grice’s] are designed to handle the gamut of examples we find in literature’ \citep[p.\ 300]{Davidson:1992pl}.
    .notes \citet{Davidson:1991ic} discusses one literary example at length.  He argues that ‘Joyce takes us back to the foundations and origins of communication; he puts us in the situation of the jungle linguist trying to get the hand of a new language and a novel culture, to assume the perspective of someone who is an alien or an exile’ \citep[p.\ 11]{Davidson:1991ic}.)
  .slide.em-above
    p.handout.show ‘The intention to be taken to mean what one wants to be taken to mean is, it seems to me, so clearly the only aim that is common to all verbal behaviour that it is hard for me to see how anyone can deny it.’
    p.right Davidson 1994, p. 11
    .handout.ctd \citep[p.\ 11]{Davidson:1994ol}
    .notes This aim ‘assumes the notion of meaning’, but it is important because ‘it provides a purpose which any speaker must have in speaking, and thus constitutes a norm against which speakers and others can measure the success of their verbal behavior.’ \citep[p.\ 11]{Davidson:1994ol}
    .notes *todo: this is linked to how Davidson distinguishes first meaning from pragmatic bits; see 'meaning is a psychological concept v2' (for Martin Davies)
    .notes But how does this idea translate into a claim about what a pointing action is?
    .notes First consider the wave from earlier ...


+slide_rh_white
  .notes An example contrasting Grice and Davidson on the wave.
  +left_half
    p Grice
    p.em-above Goal: get Ben to come over
    p.em-above Means: get Ben to recognise that I intend to get Ben to come over
    p.em-above
      span.intention Intention
      span : to get Ben to come over by means of getting Ben to 
      span.recognise recognise
      span  that I 
      span.intention intend
      span  to get Ben to come over.
  +right_half
    p Davidson
    p.em-above Goal: get Ben to come over
    p.em-above Semantic Intention: that Ben take this wave to 
      span.mean mean
      span  that he should come over.
    p.em-above Ulterior intention: that Ben come over.
    .notes These intentions have a means-end ordering; the ulterior intention is further down the means-end chain.
    .notes Strictly speaking, that Ben should come over might not be the first meaning of the wave (so there are other options here).
  +highlight('.intention, .recognise', 'blue')
  .notes As mentioned before, Grice's view involves intentions about recognising intentions.
  +highlight('.mean')
  .notes By contrast, Davidson's view requires an intention about meaning.
  .notes What this involves depends, of course, on how we understand meaning.
  .notes But maybe there is a way of understanding meaning on which this is not too demanding. (I'm really not sure.)
  
+slide_rh_white
  .notes Now contrast Grice and Davidson on the pointing action from the Hare et al study, where you're supposed to take one of two containers.
  +left_half
    p Grice
    p.em-above Goal: get Ayesha to select the left container
    p.em-above Means: get Ayesha to recognise that I intend Ayesha to select the left container
    p.em-above
      span.intention Intention
      span : to get Ayesha to selet the left container by means of getting Ayesha to 
      span.recognise recognise
      span that I am pointing to the left container with the 
      span.intention intention
      span  that she select the left container.
  +right_half
    p Davidson
    p.em-above Goal: get Ayesha to select the left container
    p.em-above Semantic Intention: that Ayesha take this pointing gesture to 
      span.refer refer
      span  to the left container
    p.em-above Ulterior Intention: that Ayesha select the left container
    .notes Strictly speaking, that Ben should come over might not be the first meaning of the wave (so there are other options here).
  +highlight_('.intention, .recognise', 'blue')
  +highlight('.refer')
  .notes As before, there's a contrast in what must be intended and so what we're committing ourselves to in saying that infants can produce and comprehend informative pointing.
  
+slide_middle
  .notes Can we do anything with this?
  .notes I haven't shown that we can.
  .notes It all depends on what an intention to refer is.
  .notes This is a really hard problem, and not one that I'm going to help you with directly (although I will come back to it in discussing action [analogy between principle of rationality: we need a comparable 'principle of reference'])
  .notes So I'm suggesting a possible direction but not providing any answers.
  +question_mark
  p.center intention to refer


+slide_middle
  p.center Conclusions

+slide
  p How do infants understand pointing?
  .notes The question was, Should we accept that pointing (and linguistic communication) involves intentions about intentions?
  ol.slide.em-above 
    li If Grice (and Tomasello et al) are right about communication, then infant pointing involves sophisticated insights into others’ minds.
    li.slide But there are alternatives to the Gricean story.
    li.slide If Davidson’s
      span.asterix *
      span  alternative is right, communication requires understanding 
        span.meaning intentions about meaning
        span  or reference but not necessarily sophisticated insights into others’ minds.
    .notes Is this enough to save the view about development I wanted to offer.  Maybe, maybe not …
    +invert('.asterix')
    .notes (*Davidson himself thinks all communication involves sophisticated insights into others’ minds …)
    +invert('.meaning')
    .notes We have to say what meaning or reference is such that infants understand it.  I want to leave this as an open problem.  When we talk about action next time I'll provide a model for dealing with this sort of problem.
    
+slide
  p What do we know about pointing?
  ol
    li 11- and 12-month-old infants can point to (i) request, (ii) inform and (iii) initiate joint engagement.
    li.slide ... and they can understand these kinds of pointing gesture.
    li.slide Understanding pointing requires more than 
      span.slide associating gestures with their referents 
      span.slide and understanding goal-directed action 
      span.slide (see: why don’t apes & 6-month-olds point)
    li.slide But what more is required?
      p.slide Is it shared intentionality?
      p.slide And what is that anyway?  Is that something inspired by, and adapted from, Grice?   




