---
layout: 'deck_unit'
title: "Summary"
tags: []
description: "Our question was, How do humans first come to communicate with words?  We are left with a problem: none of the answers considered plausibly provide anything remotely approaching a complete answer to this question."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins


+slide
  p How do humans first come to communicate with words?
  .step1
    .slide.em-above
      p Assumption:
      p If someone can think, she can communicate with language
    .slide.em-above
      p Consequence:
      p
        span.consequence Acquiring a language cannot involve thinking at the outset.
    .slide.em-above
      p Problem:
      p Humans can make the transition from to communicating with language by creating their own language.
      .notes So there is a challenge for anyone who holds the Assumption.
      .notes The challenge is to explain how someone can start creating a language without being able to think
    .slide.em-above
      p Aside:
      p Becoming able to communicate with language does not always involve being trained or shown.
  +words-bkg('.consequence','red')
  .notes So the first part was about trying to meet this constraint.
  .notes In the second part we made a fresh start and examined how you might answer the question if you dropped the constraint.
  +collapse('.step1')
  .step2
    .slide.em-above
      p What do I know when I can communicate with words?
      p word-concept mappings
    .slide.em-above
      p How do I come to know word-concept mappings?
      p ‘through the exercise of reason’ (Bloom 2001, p. 1103)
    .slide.em-above
      p Consequence:
      p Learning words cannot be a route to acquiring concepts.
    .slide.em-above
      p Question:
      p Is coming to communicate with language essentially a matter of learning or inventing word-concept mappings?
  +blur('.step2')
  .notes So how do humans first come to communicate with language?
  .notes We've seen that there are challenges and objections to two prominent views.
  .notes Do I have to end with the conclusion that we don't know the first thing about it?
  .notes Or is there anything positive to say?
  .notes Maybe just a hint ...
  
+slide
  .notes So are we merely saying this, or can we go further:
  p.notes.show ‘What a strange phenomenon that a child can actually learn human language!  That a child who knows nothing can start out and learn by a sure path this enormously complicated technique.’
  p.right Wittgenstein 1980: 2.24 [§128]
  .notes The quote is from Wittgenstein, … Philosophy of Psychology (1980: 2.24 [§128])

+slide_middle
  p.center Yet Another Problem
  .notes: :t()
    If the shipwreck survivor view were right, communication with words would not help us to explain
    the emergence of abilities to know things about objects, causes, colours and the rest.
    After all, it presupposes some knowledge of these things.
    And, anyway, the shipwreck survivor view seems not to get at the hardest parts of how 
    children come to communicate with words because it cannot handle their creativity.
    It is based on a mistaken view about the nature of words as being conventionally linked to 
    concepts.
  .notes: :t()
    The lab rat view would help, since it presupposes no knowledge in the acquisition of abilities 
    to communicate with words.
    But the lab rat view is as clearly wrong as any view in philosophy.
  .notes: :t()
    So our Next Big Problem was to understand how early developing capacities lead to knowledge.
    My proposal was that we tackle this by thinking about social interaction, and language 
    acquisition in particular.
    But this has merely led us to Yet Another Problem.
  .notes: :t()
    The problem is that we don't know how children might first come to communicate with words.
  .notes: :t()
    To make progress with this problem it may be useful to switch from thinking about communication
    with words to thinking about non-verbal communication ...
    (But in the appendix I try to sketch a rough idea.)

