---
layout: 'deck_unit'
title: "Modules and Cognitive Efficiency"
tags: []
description: "We can resolve the two puzzles by conjecturing that there are multiple kinds of mindreading, including one that is modular and another that is not.  But to make sense of the conjecture that mindreading sometimes is modular, we need to understand how it could be cognitively efficient."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins

+slide_middle
  .notes We can resolve both puzzles by appeal to the idea that there are modular & non-modular mindreading processes.  (Cf. physical objects).
  p.center modularity

+slide({bkg:'unit_431/slide_cambridge_model_084.jpg'})
  .notes Explain how this works in the case of each puzzle.
  .notes *todo* modify the slide to illustrate the solution
  
+slide_middle
  p.center modularity requires 
    span.cognitive-efficiency cognitive efficiency
  +invert('.cognitive-efficiency')
  .notes First, what do I mean by cognitive efficiency.
  .notes Some tasks require mental effort.
  .notes For example, suppose I ask you to count from one to one hundred omitting each prime number.
  .notes This is not the kind of thing most people can do while washing up.
  .notes It requires attention, inhibitory control and working memory.
  .notes By contrast, many adults can count in the ordinary way from one to one hundred while washing up.
  .notes Counting has become routine, habitual.
  +uninvert('.cognitive-efficiency')
  .notes So much for cognitive efficiency.
  .notes Now why suppose that modularity (or core knowledge) requires cognitive efficiency?
  .notes To invoke modularity, we need to understand how mindreading could be (i) automatic and (ii) present in pre-linguistic infants with limited working memory & executive function; both (i) and (ii) mean we need to understand how it could be cognitively efficient.  (The situation is a bit like this: we want to say you can perceive others mental states; but on the face of it, mental states are exactly the sort of things that are not available to perception.)
  .handout How could mindreading ever (but not always) be automatic?
  .handout Representing perceptions and beliefs as such---and even merely holding in mind what another believes, where no inference is required---involves a measurable processing cost\citep{apperly:2008_back,apperly:2010_limits}, consumes attention and working memory in fully competent adults,\citealp{Apperly:2009cc, lin:2010_reflexively, McKinnon:2007rr} may require inhibition\citep{bull:2008_role} and makes demands on executive function.\citep{apperly:2004_frontal,samson:2005_seeing}

+slide_middle
  .notes We saw earlier that mindreading in four year olds and adults is cognitively demanding.
  .notes And there's good reason to think that it should be.
  .notes If anything should consume scarce cognitive resources ...
  p propositional contents
  p arbitrarily nestable contents
  p uncodifiably complex causal interactions
  p attitudes contituted in part by norms
  .notes Now appeal to modularity doesn't explain how mindreading might somehow be efficient.
  .notes Suppose someone could find prime factors incredibly quickly.
  .notes It wouldn't be a satisfying explanation to just say that she had a module for finding prime factors.
  .notes We'd also need an algorithm that her module could be implementing consistently with her performance.
  .notes So (a) efficiency points to modularity but (b) efficiency requires explanation and (c) gesturing at modularity doesn't explain efficiency.
  .notes To see how mindreading could be cognitively efficient, we need to reject a dogma.
  

- var img_nos = range(24,28)
each img_no in img_nos
  - var filename = 'unit_431/slide_cambridge_model_0'+(img_no<10 ? '0' : '')+img_no+'.jpg'
  +slide({bkg:filename})

