---
layout: 'deck_unit'
title: "A Puzzle about Pointing"
tags: []
description: "Humans point in ways that no other animal does.  Why?  Also, humans first point to request, inform or initiate joint engagement months after they can produce pointing gestures.  Why?  (These questions are taken from Tomasello, Carpenter & Liszkowski.)"
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/unit_mixins
include ../../../fragments/origins_mixins

//- +slide_middle
//-   .notes I want to start with a question about non-linguistic communication.
//-   p.center.notes.show Is there a role for abilities to communicate non-linguistically in explaining the origins of knowledge?


+slide_middle
  p.center How do infants understand pointing actions?
  .notes: :t()
    Explain this in terms of models.
    
  .slide
    p.center Hypothesis 2: 
      span.scarequote ‘
      span shared intentionality
      span.scarequote ’
    .notes: :t()
      This is Tomasello et al's hypothesis.
    +invert('.scarequote')
    .notes: :t()
      Observe the quotes: I'm doubtful that there is any such thing as shared intentionality,
      but I have to suspend belief in order to try to work out what their view is.


+slide
  .notes By the way, this is related to the essay topic on shared intentionality.
  .notes Tomasello takes infants' pointing to be based on what he calls shared intentionality.
  .step1
    p shared intentionality
    p.em-above.handout.show
      span.blur-except ‘infant pointing is best understood
      span ---on many levels and in many ways---
      span.blur-except as depending on 
      span uniquely human skills and motivations for 
      span.cooperation cooperation
      span  and 
      span.shared-intentionality.blur-except shared intentionality
      span , which enable such things as joint intentions and joint attention in truly collaborative interactions with others (Bratman, 1992; Searle, 1995).’
    p.right Tomasello et al (2007, p. 706)
    .handout.ctd \citep[p.\ 706]{Tomasello:2007fi}
  .notes I don't want to pursue this here; I'm just mentioning it because you might want to draw on pointing in your seminar essays.
  .notes Instead I want to ask in a simpler way, how should we understand pointing as other non-linguistic forms of communication?
  .notes To approach this question, it's helpful to compare and contrast humans with other, nonhuman apes.
  +invert('.cooperation')
  .notes Here is a beautifully simple story.  Humans are highly cooperative from birth.  Being highly cooperative enables them to communicate, linguistically and non-linguistically.  Being able to communicate in turn enables them to acquire knowledge of minds, physical objects, numbers and the rest.  This is a beautiful story and conceptually simple.  Of course the challenge is to get from the story to the details.
  .notes But Tomasello doesn't stick with the simple story.  Instead ...
  +fade_('.cooperation')
  +invert('.shared-intentionality')
  .notes There is this additional element, shared intentionality.  I don't understand what it is, but Tomasello and his colleagues are extraordinay scientsits so I think it's worth exploring.
  .notes That's it for now: all I want to do is highlight that our thinking about pointing is going to connect with questions about shared intentionality.
  +uninvert_('.shared-intentionality, .cooperation')
  +blur('.step1')
  .slide
    .notes But why suppose that ‘infant pointing is best understood … is best understood … as depending on … shared intentionality’?
    .notes It's goingt to take a while to answer this question ...
    p.em-above Why suppose this?
  .slide
    p.em-above And what is shared intentionality anyway?
  

+slide_middle
  .notes So far it's been all very straightforward, but we're about to run into a puzzle.
  .notes The puzzle will help us to understand why someone might think that ‘infant pointing is best understood … is best understood … as depending on … shared intentionality’
  p.center a puzzle about pointing
  
+slide
  .handout \subsection{Why don’t ape’s point?}
  p Contrast apes with humans ...
  .step1
    p.em-above.handout.show ‘there is not a single reliable observation, by any scientist anywhere, of one ape pointing for another’.
    p.right Tomasello 2006, p. 507
    .handout.ctd \citep[p.\ 507]{Tomasello:2010dy}
    .slide
      p.em-above footnote: ‘There is actually one reported incident of a bonobo pointing for conspecifics in the wild (Veà and Sabater-Pi 1998)’
      p.right Tomasello 2006, footnote 1
  +blur_('.step1')
  .slide
    .handout ‘Although some apes, especially those with extensive human contact, sometimes point imperatively for humans […], 
    p ‘
      span.handout.show no apes point 
        span.declaratively declaratively
        span  ever.’
    .handout.ctd \citep[p.\ 510]{Tomasello:2010dy}
    p.right Tomasello 2006, p. 510
    +invert('.declaratively')
    .notes What does declaratively mean?  Liszkowski and Tomasello call pointing declarative when its done to initiate joint engagement.


+slide
  p Why don’t apes point?  (Tomasello’s question)
  p.em-above motor issues?
  p.right.slide But they do gesture
  p.em-above.slide understanding action?
  p.right.slide But they are sensitive to facts about
    br
    | the goals of others' actions.
  .notes So the discrepancy is not easily explained.
  .notes Comprehension is also missing ...
  +blur('p:gt(0)')
  .notes This question is the puzzle.  Or, rather, it's half of the puzzle.  (The other half is about why infants don't point until they're around 11 months old.)
  
+slide_middle
  p.center A clue: apes don't comprehend declarative pointing ...

+slide
  .notes In this experiment, we contrast failed reaches with pointing ...
  .notes Hare and Call (\citeyear{hare_chimpanzees_2004}) contrast pointing with a failed reach as two ways of indicating which of two closed containers a reward is in.  Chimps can easily interpret a failed reach but are stumped by the point to a closed container.
  .notes You are the subjects.  This is what you saw (two conditions).  Your task was to choose the container with the reward.
  .notes Infants can do this sort of task, it's really easy for them \citep{Behne:2005qh}.  (And, incidentally, they distinguish communicative points from similar but non-communicative bodily configurations.)
  .notes The pictures in the figure stand for what participants, who were chimpanzees, saw.
  .notes The question was whether participants would be able to work out which of two containers concealed a reward.
  .notes In the condition depicted in the left panel, participants saw a chimpanzee trying but failing to reach for the correct container. 
  .notes Participants had no problem getting the reward in this case, suggesting that they understood the goal of the failed reach.
  .notes In the condition depicted in the right panel, a human pointed at the correct container.
  .notes Participants did not get the reward in this case as often as in the failed reach case, suggesting that they failed to understand the goal of the pointing action.
  .notes (Actually the apes were above chance in using the point, just better in the failed reach condition.  Hare et al comment ;chimpanzees can learn to exploit a pointing cue with some experience, as established by previous research (Povinelli et al. 1997; Call et al. 1998, 2000), and so by the time they engaged in this condition they had learned to use arm extension as a discriminative cue to the food’s location' \citep[p.\ 578]{hare_chimpanzees_2004}.)
  .notes \footnote{
    | The contrast between the two conditions is not due merely to the fact that one involves a human and the other a chimpanzee. 
    | Participants were also successful when the failed reach was executed by a human rather than another chimpanzee \citep[][experiment 1]{hare_chimpanzees_2004}. 
    | }
  .notes \textbf{Note that} chimpanzees do follow the point to a container \citep[see][p.\ 6]{Moll:2007gu}.
  img(src='/img/hare_2004_fig.png')
  p.source Hare & Tomasello 2004
  .slide
    p.em-above.handout.show
      span ‘to understand pointing, the subject needs to understand more than the individual goal-directed behaviour. 
      span.slide She needs to understand that by pointing towards a location, the other attempts to communicate 
      span.slide to her where a desired object is located; 
      span.slide that the other tries to inform her about something that is relevant for her’
    .handout.ctd \citep[p.\ 6]{Moll:2007gu}.
    p.right Moll & Tomasello 2007

+slide_middle
  p.center Why don’t apes 
    span.line-through point
    span  comprehend pointing gestures?
  .notes What we've said is about comprehending pointing.
  .notes But our question was, Why don't apes point?
  .notes I think we can answer both questions, the one about production and comprehension together.
  .notes I've taken the detour via comprehension only because I it's easier to see the answer in the case of comprehension.


+slide_rh_white({step:true})
  .notes Here's what we already have about comprehending pointing gestures.
  .notes This explains why apes don't comprehend pointing gestures --- they don't know (2) or (3) or both.
  .notes But what can we say about why they don't point?  Think about what would be involved in producing a pointing gesture.
  +run_across
    p.center Informative pointing
  +left_half
    +to_comprehend
  +right_half({step:true})
    .notes Here's parallel view about production.
    +to_produce
    .notes So why don't apes point?
    .notes Because they don't know (2) or (3) or both.

+slide_middle
  p.center Why don’t 3-month-olds point?
  .notes Tomasello also asks this question.
  .notes.handout ‘the specific behavioral form — distinctive hand shape with extended index finger — actually emerges reliably in infants as young as 3 months of age (Hannan \& Fogel, 1987). […] why do infants not learn to use the extended index finger for these social functions at 3 – 6 months of age, but only at 12 months of age?’ \citep[p.\ 716]{Tomasello:2007fi}
  .notes (Again Tomasello's answer involves shared intentionality: it's because they don't understand shared intentionality until around their first birthdays.)
  .notes We can answer this in the same way --- they don't understand communication.

+slide
  .notes This makes sense of why chimpanzees don't point --- they don't understand communicative intention.
  p Why don’t apes point?
  p (And why don’t they understand declarative pointing?)
  p.em-above Because they fail to ‘understand that by pointing towards a location, the other attempts 
    span.to-communicate to communicate
    span  to her where a desired object is located’ (Moll & Tomasello 2007)
  .notes Note that this is an explanation which doesn't mention shared intentionality.
  .notes That's deliberate; sometimes Tomasello and colleagues answer this question by appeal to shared intentionality; I wanted to consider a simpler answer first and postpone thinking about shared intentionality for as long as possible.
  .notes Compare \citep[p.\ 516]{Tomasello:2010dy}: ‘they do not understand communicative intentions’
  .slide
    p.em-above But
      ul
        li What is it to understand this?
        +invert('.to-communicate')
        li.slide Do 12-month-old humans understand it?
  .notes But is this consistent with the findings that 12-month-old infants do point?
  .notes What is it to understand that by this pointing action another intends to communicate that?
  // just wnat to get this onto the handout
  .handout \subsection{pointing vs linguistic communication}
  .handout ‘the most fundamental aspects of language that make it such a uniquely powerful form of human cognition and communication---joint attention, reference via perspectives, reference to absent entities, cooperative motives to help and to share, and other embodiments of shared intentionality---are already present in the humble act of infant pointing.’ \citep[p.\ 719]{Tomasello:2007fi}
  .handout ‘cooperative communication does not depend on language, […] language depends on it.’ \citep[p.\ 720]{Tomasello:2007fi}
  .handout ‘Pointing may […] represent a key transition, both phylogenetically and ontogenetically, from nonlinguistic to linguistic forms of human communication.’ \citep[p.\ 720]{Tomasello:2007fi}






