---
layout: 'deck_unit'
title: "Linking Core Knowledge and Social Interaction"
tags: []
description: "The breakthrough findings on core knowledge and early social interaction are normally treated in isolation from each other.  But are they connected?"
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins

section.slide
  .notes Here's a hypothesis linking core knowledge and social interaction:
  .notes (a) without core knowledge, we can't make sense of early forms of social interaction;
  .notes and (b) without social interaction, we can't explain the transition from core knowledge to knowledge proper.
  .words: .container_12: .grid_12
    .middle
      p.center a hypothesis

section.slide
  .notes To flesh this out, I want to introduce the idea that cognitive development is rediscovery.
  .notes (But not exactly as Plato's myth had it.)
  .notes There are a series of ways in which knowledge or its prototypes are manifested.
  .words: .container_12: .grid_12
    p discrimination of Xs from non-Xs
    p.right (objects, colours, actions, numbers, ...)
    p.em-above purposive engagement with Xs
    p.em-above talk about Xs
    p.em-above thought about Xs as such
    .notes We can ask how humans get from one manifestation to the next.
    .notes I want to suggest that it involves a process of rediscovery.
    .notes I don't think it's a case of partial knowledge becoming gradually more complete.
    .notes Rather, I think the representations at earlier stages shape 
      span subject's body, behaviour and attention in ways that facilitate discovery at the next stage. 
    .notes And, most importantly, they enable increasingly right forms of social interaction.
    .notes It is these social interactions---together with the bodily, behavioural and mental changes---that 
      span enable subsequent re-discoveries. 
    .notes So, on this view, the role of some early-developing abilities in explaining the later acquisition 
      span of conceptual understanding does not involve direct representational connections; 
      span rather the early developing abilities facilitate or enable social interaction 
        span and influence attention and inform behaviour, 
      span and these influences facilitate development.  
  
section.slide
  .notes To make this vague idea slightly more concrete, let me zoom in. 
  .notes I think having verbal labels for things sometimes helps with acquiring concepts of them.
  .notes Now this sounds paradoxical. 
    span Doesn't having a label for something mean being able to label correctly? 
    span And how could you label correctly without the corresponding concept? 
  .notes My suggestion is that having core knowledge is not having a concept (many disagree); 
  .notes but core knowledge could underpin your correct use of a label. 
  .notes Now labels are acquired through social interaction, or so I suggested earlier. 
  .notes Hence the picture. 
  .words: .container_12: .grid_12
    .middle
      p.center
        img(src='/img/fig_rediscovery.png')
  .notes Now this picture needs two qualifications. 
    span First, it's missing some details, and these details will vary from case to case (what's true of knowledge of objects might not be true of knowledge of number). 
    span Second, the picture might be completely wrong. 
  .notes But even if the picture is wrong, I'll bet that social interaction and core knowledge are both essential for explaining how humans come to know things. 
  .notes So I don't claim to know how these two are necessary, only that they are. 
  .notes In fact my aim isn't primarily to explain to you how these two factors explain the origins of mind. 
  .notes Instead my hope is this. 
  .notes I'll give you the background on social interaction and core knowledge. 
  .notes And you'll tell me how these two (or perhaps other factors) are involved in explaining how humans come to know things about objects, colours, actions, numbers and the rest. 
  
  