---
layout: 'deck_unit'
title: 'Problems for the Teleological Stance?'
tags: []
description: 'Are there any good objections to the view that the teleological stance provides us with a model of action as it appears to human infants (and perhaps others)?'
depends: ['']  
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

 
include ../../../fragments/unit_mixins

//- ***todo unfinished
//- also contains material for the part on motor representation

//- some of this has been merged with unit 712

+slide
  p ‘when taking the teleological stance one-year-olds apply the same inferential principle of rational action that drives everyday mentalistic reasoning about intentional actions in adults’
  p.right (György Gergely and Csibra 2003; cf. Csibra, Bíró, et al. 2003; Csibra and Gergely 1998: 259)


+slide
  .notes Recall this ...
  .notes Problem with defining $R$ in terms of rationality is requirement of core knowledge / modularity.
  .notes So what about efficiency instead of rationality?
  .notes One problem with defining $R$ in terms of minimising energy is that in acting we often face a trade off between how much energy to put into an action and how likely the action is to result in success.
  .notes Suppose I can save some energy by throwing the cup at the sink instead of walking over and carefully placing it in the sink,
  .notes and suppose that I choose to walk over and place the cup in the sink.
  .notes In this situation the principle of efficiency fails to identify $G$, placing the cup in the sink, as the goal of my action.
  .notes One way to address this problem might be to think of efficiency in terms of achieving a good trade-off between several factors:
  .notes not just energy but also the probability that a particular action will in fact result in the goal being achieved.

  .notes \subsubsection{Third problem: matching observer and agent}
  .notes A third potential problem concerning the reliability of both ideas, rationality and energy is even more obvious.
  .notes How good is the agent at optimising the rationality, or the efficiency, of her actions?
  .notes And how good is the observer at identifying the optimality of actions in relation to outcomes?
  .notes \textbf{
  .notes If there are too many discrepancies between
  .notes 		how well the agent can optimise her actions
  .notes 	and
  .notes 		how well the observer can detect optimality,
  .notes then these principles will fail to be sufficiently reliable}.

  table
    tr
      td R(a,G) 
      td(style='padding-left:.5em;padding-right:.5em;') =
        sub df
      td  (1)--(5) are true
    tr.step2
      td
      td(style='padding-left:.5em;padding-right:.5em;') ≈ 
      td.em-above a is the most justifiable action towards G available within the constraints of reality
  p.em-above Three requirements ...
  ol
    li reliably: R(a,G) when and only when a is directed to G
    li R(a,G) is detectable without any knowledge of mental states
    li R(a,G) is  readily detectable
        
        

- var img_nos = range(48,49)
each img_no in img_nos
  - var filename = 'slide_budapest_lecture06_0'+(img_no<10 ? '0' : '')+img_no+'.jpg'
  +slide_img(filename)
+slide({bkg:'slide_budapest_lecture06_050.jpg'})  





+slide
  .notes ***add quote!
  p Premack: evidence of motor efficiency

+slide
  .notes *** explain the idea: mindreading is acting in reverse
  .notes *** so, why not think of goal ascription as part of acting in reverse too?
- var img_nos = range(7,15)
each img_no in img_nos
  - var filename = 'slide_budapest_lecture06_0'+(img_no<10 ? '0' : '')+img_no+'.jpg'
  +slide_img(filename)
  
//
//  //- pure goal ascription
//  - var img_nos = range(52,66)
//  each img_no in img_nos
//    - var filename = 'slide_budapest_lecture06_0'+(img_no<10 ? '0' : '')+img_no+'.jpg'
//    +slide_img(filename)


