---
layout: 'deck_unit'
title: "The Parable of the Wrock"
tags: []
description: "We should avoid being seduced by attempts to say what something is by saying what it is not."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins



// ------------------
// the problem is that we have to reject the simple view

+slide_middle
  .notes There are principles of object perception that explain abilities to segment objects, to represent them while temporarily unperceived and to track their interactions. 
  .notes These principles are not known.  What is their status?
  p.center the problem



+slide_middle
  .notes One hopeful alternative is to shift from talk about knowlegde to talk about representation.
  .notes Will this help?
  .notes Only as a way of describing the problem.
  p.center
    span.line-through knowledge
    span  representation
  .notes We need to say what we mean by representation.
  .notes The term is used in a wide variety of ways.
  .notes As I use it, representation is just a generic term covering knowledge, belief and much else besides.


section.slide
  .notes subject - attitude - content
  img.bkg(src='/img/slide_budapest_lecture02_11.jpg')


+slide_middle
  .notes So to say that we don't know the principles of object perception but only represent them doesn't tell us much.
  .notes This is a step in the right direction.
  .notes But it tells us that we represent them without knowing them.
  .notes But what we need if we're to have an explanatory answer to Q2a is to know positively how we do represent the principles of object perception --- subject, attitude and content.
  .notes We need to characterise a form of representation that is like knowledge but not like knowledge.
  p.center
    span.line-through knowledge
    span  representation


+slide_middle
  .notes Your handbag is bluging, and when you swing it at me something really hard hits me.
  .notes It must be full of rocks.
  .notes Except it can't be because you are not strong enough to lift such a big bag full of rocks.
  .notes In that case, it must be wrocks not rocks.
  .notes A wrock is just like a rock except that it lacks mass.
  .notes Compare: this representation is just like knowledge except that it doesn't guide action; this process is just like inference except that it lacks the normative aspects of inference.
  p.center the parable of the wrock

+slide_middle
  .notes Here's another bad move.  It's not introducing wrock; 
    | .notes instead it is adding a new parameter to the account that is perfect for solving the problem.
  .notes \citet{Munakata:2001ch} suggests that there are 'graded representations', that is knowlegde can be stronger or weaker.
  .notes Presupposes we have an account of subject, attitude and content.  Let's grant that.
  .notes What is strength?  Some additional component, over and above subject, attitude and content.
  .notes The idea is quite intuitive but difficult to make systematic sense of.
  .notes The idea might well make sense if we were talking about neural representations.
  .notes But here we aren't.  Let's not introduce radically new ideas about representation unless we really have to.
  .notes (By the way, \citet{Munakata:2001ch} is a nice review of dissociations, not only developmental dissociations.)
  p.center strength (Munakata 2001)



  