---
layout: 'deck_unit'
title: "Causal Interactions"
tags: []
description: "Knowledge of objects requires being able to track their causal interactions.  How do humans achieve this?"
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins



// ------------------
// recap and status of principles of object perception
// *what is it like to be an infant*
// *TODO* belongs later!!!


+slide_middle
  .notes The third requirement on knowledge of objects is an ability to track objects through causal interactions.
  .notes Here we're interested in very simple causal interactions, such as the collision of two balls or the interaction of a ball with a barrier.
  img(src='/img/fig_colliding_balls.png')

+slide
  .notes Consider this case where a ball falls and lands on a bench.
  .notes Suppose that there was a barrier in front of the bench, like the dotted line.
  .notes Because the bench protrudes from the barrier, you could easily see where the ball will land.
  .notes But of course you can only see this if you know that barriers stop solid balls.
  .notes Spelke used this observation to provide evidence that 4-month-old infants can track objects' causal interactions.
  +img_clip('spelke_1992_fig2a.png', 'rect(0px,480px,434px,240px)')
  p.source Spelke et al 1992, figure 2
  +clip('img:eq(0)', 'rect(0px,240px,434px,0px)')
  .notes Infants were habituated to a display in which a ball fell behind a screen, the screen came forwards and the ball was revealed to be on the ground, just where you'd expect it to be.
  .notes After habituation infants were shown one of two displays.
  .notes Infants in the 'consistent group' were shown this.
  +clip('img:eq(0)', 'rect(0px,480px,434px,0px)')
  .notes Whereas infants in the 'inconsistent group' were shown this.
  +clip('img:eq(0)', 'rect(0px,720px,434px,0px)')
  .notes What should we predict?
  .notes If infants were only paying attention to the shapes and ignoring properties like solid, they should have dishabituated more to the consistent than to the inconsistent stimlus.
  .notes After all, that stimlus is more different from the habituation stimulus in terms of the surfaces.
  .notes But if infants were are to track some simple causal interactions, then they might dishabituate to the 'inconsistent' stimulus more than to the 'consistent' stimulus because that one involves an apparent violation of a physical laws.
  
+slide
  .notes Here are the results.
  .notes (Recall that the subjects are 4-month-old infants.)
  img(src='/img/spelke_1992_fig3a.png')
  p.source Spelke et al 1992, figure 3
  .notes This is evidence that infants can track causal interactions among objects, even when those causal interactions are occluded.

+slide
  .notes Chimpanzees also understand something of phyiscal interactions insofar as their looking times show sensitivity to support relations \citep{cacchione:2004_recognizing}.
  img(src='/img/cacchione_2004_fig2.png')
  p.source Cacchione & Krist 2004, figure 2

+slide
  .notes Here are the results.
  img(src='/img/cacchione_2004_fig3.png')
  p.source Cacchione & Krist 2004, figure 3
  .notes Lots of studies like this have been done with infants in their first six months of life.


+slide
  .notes Dogs can do this too.
  .notes This experiment used a search measure rather than a looking time measure.
  .notes Dogs had to retrieve a treat.  The right location to search depended on whether the barrier was present or absent.
  img(src='/img/kundey_2010_fig1.png')
  p.source Kundey et al 2010, figure 1
  
+slide
  .notes The results show brilliant performance.
  .notes 'Dogs correctly searched the near location when the barrier was present and the far location when the barrier was absent. They displayed this behavior from the first trial' \citep{kundey:2010_domesticated} (from the abstract).
  img(src='/img/kundey_2010_fig2.png')
  p.source Kundey et al 2010, figure 2

+slide_middle
  .notes How do infants, adult humans and nonhumans track causal interactions among objects (including causal relations like support)?
  .notes Spelke suggests that the principles of object perception can explain this.
  p.center how?
+slide
  .notes For example, the position of an object falling onto a bench is predicted by the principle of continuity mentioned earlier.
  .notes \emph{Principle of continuity} An object traces exactly one connected path over space and time \citep[p.\ 113]{spelke:1995_spatiotemporal}.
  img(src='/img/spelke_1995_fig1.png')
  p.source Spelke et al (1995, figure 1)
  .notes (The other principles of object perception are on your handout.)
+slide
  +img_clip('spelke_1992_fig2a.png', 'auto')
  p.source Spelke et al 1992, figure 2
+slide
  img(src='/img/spelke_1995_fig1.png')
  p.source Spelke et al (1995, figure 1)

//alternative
//+slide({bkg:'slide_causal_london_53.jpg'})
//    .notes The principles of object perception already describe physical behaviours of objects.
//    .notes For instance, the boundedness principle implies that objects cannot interpentrate.
//    // .notes And the principle of no action at a distance tells us that objects move independently where they can.
//    .notes This principle already tells us that the ball can't fall through the bench.
  
+slide
  .blur1
    .notes This is Spelke's brilliant insight.
    p.handout.show ‘object perception reflects basic constraints on the motions of physical bodies …’
    p.right (Spelke 1990: 51)
    .handout.ctd \citep[p.\ 51]{Spelke:1990jn}
    p.handout.show ‘A single system of knowledge … appears to underlie object perception and physical reasoning’
    .handout.ctd \citep[p.\ 175]{Carey:1994bh}
    p.right (Carey and Spelke 1994: 175)
    .notes I think there's something here that should be uncontroversial, and something that's more controversial.
    .notes But first let me recap ...
