---cson
layout: 'deck_unit'
title: "Infants Track False Beliefs"
tags: []
description: """
  Many behaviours exhibited by infants, including anticipatory looking, looking
  time, pointing and helping activities, show sensitivity to what others
  believe even when their beliefs are false.
  """
---

include ../../../fragments/unit_mixins
include ../../../fragments/origins_mixins


+slide_middle
  .notes: :t
    There is a puzzle about when humans can first know individuating facts
    about others' beliefs. To understand the origins of this knowledge we need
    to understand the puzzle. So I'm going to reveal the puzzle to you. But let
    me start with a bit of background.
  p.center a puzzle


+slide
  +maxiStory({handout:false, step:false})
  .notes Recall the experiment that got us started.
  .notes These experimenters added an anticipation prompt and measured to which box subjects looked first \citep{Clements:1994cw}.
  .notes (Actually they didn't use this story; theirs was about a mouse called Sam and some cheese, but the differences needn't concern us.)
  .slide
    +show('.anticipationPrompt')
  .slide
    +highlight('.anticipationPrompt','pink')
  

+slide
  .notes: :t
    What got me hooked philosophical psychology, 
    and on philosophical issues in the development of mindreading in particular 
    was a brilliant finding by Wendy Clements who was Josef Perner's phd student.
  img(src='/img/clements_1994_fig1.png',style='max-height:550px;')
  p.source Clements & Perner 1994 figure 1
  .notes These findings were carefully confirmed \citep{Clements:2000nc,Garnham:2001ql,Ruffman:2001ng}. 
  .notes Around 2000 there were a variety of findings pointing in the direction of a confict between different measures. 
  .notes These included studies on word learning \citep{Carpenter:2002gc,Happe:2002sr} and false denials \citep{Polak:1999xr}. 
  .notes But relatively few people were interested until ...



+slide_middle
  p.center violation-of-expectations at 15 months of age

+slide({bkg:'unit_411/slide_budapest_lecture01_25.jpg'})
+slide({bkg:'unit_411/slide_budapest_lecture01_26.jpg'})
+slide({bkg:'unit_411/slide_budapest_lecture01_27.jpg'})
+slide({bkg:'unit_411/slide_budapest_lecture01_28.jpg'})
+slide({bkg:'unit_411/slide_budapest_lecture01_29.jpg'})
+slide({bkg:'unit_411/slide_budapest_lecture01_30.jpg'})
+slide({bkg:'unit_411/slide_budapest_lecture01_31.jpg'})
+slide({bkg:'unit_411/slide_budapest_lecture01_32.jpg'})
+slide({bkg:'unit_411/slide_budapest_lecture01_33.jpg'})
+slide({bkg:'unit_411/slide_budapest_lecture01_34.jpg'})
+slide({bkg:'unit_411/slide_budapest_lecture01_35.jpg'})
+slide({bkg:'unit_411/slide_budapest_lecture01_36.jpg'})
+slide({bkg:'unit_411/slide_budapest_lecture01_37.jpg'})
+slide({bkg:'unit_411/slide_budapest_lecture01_38.jpg'})


+slide_middle
  p.center pointing at 18 months of age

+slide({bkg:'unit_411/slide_budapest_lecture01_39.jpg'})
+slide({bkg:'unit_411/slide_budapest_lecture01_40.jpg'})
+slide({bkg:'unit_411/slide_budapest_lecture01_41.jpg'})
+slide({bkg:'unit_411/slide_budapest_lecture01_42.jpg'})
+slide({bkg:'unit_411/slide_budapest_lecture01_43.jpg'})
+slide({bkg:'unit_411/slide_budapest_lecture01_44.jpg'})
+slide({bkg:'unit_411/slide_budapest_lecture01_45.jpg'})
+slide({bkg:'unit_411/slide_budapest_lecture01_46.jpg'})
+slide({bkg:'unit_411/slide_budapest_lecture01_47.jpg'})
+slide({bkg:'unit_411/slide_budapest_lecture01_48.jpg'})
+slide({bkg:'unit_411/slide_budapest_lecture01_49.jpg'})
+slide({bkg:'unit_411/slide_budapest_lecture01_50.jpg'})

