---cson
layout: 'deck_unit'
title: "Signature Limits"
tags: []
description: """
  Minimal theory of mind has signature limits. These allow
  us to generate predictions to test conjectures about when mindreading
  involves minimal theory of mind.
  """
---

include ../../../fragments/unit_mixins
include ../../../fragments/origins_mixins


.handout: :t
  Automatic belief-tracking in adults and 
  belief-tracking in infants are both subject to signature limits
  associated with minimal theory of mind
  (\citealp{wang:2015_limits,Low:2012_identity,low:2014_quack,mozuraitis:2015_privileged};
  contrast \citealp{scott:2015_infants}).




// [Cambridge slides 45--65] Signature limits; Prediction; Experiments 

+slide({bkg:'unit_451/slide_cambridge_model_046.jpg'})
  // *todo* remove first figure, replace with something more informative
  .handout \begin{center}
  .handout \includegraphics[width=0.25\textwidth]{fig/signature_limits_table.png}
  .handout \end{center}
  .handout \begin{center}
  .handout   \includegraphics[width=0.3\textwidth]{fig/low_2012_fig.png}
  .handout \end{center} 
+slide({bkg:'unit_451/slide_cambridge_model_047.jpg'})
+slide({bkg:'unit_451/slide_cambridge_model_048.jpg'})
+slide({bkg:'unit_451/slide_cambridge_model_049.jpg'})


+slide_signatureLimitsGeneratePredictions({step:true})

//- low and watts
+slide({bkg:'unit_451/slide_cambridge_model_056.jpg'})
+slide({bkg:'unit_451/slide_cambridge_model_057.jpg'})
+slide({bkg:'unit_451/slide_cambridge_model_058.jpg'})
+slide({bkg:'unit_451/slide_cambridge_model_059.jpg'})
+slide({bkg:'unit_451/slide_cambridge_model_060.jpg'})
+slide({bkg:'unit_451/slide_cambridge_model_061.jpg'})
+slide({bkg:'unit_451/slide_cambridge_model_062.jpg'})
+slide({bkg:'unit_451/slide_cambridge_model_063.jpg'})
  .notes: :t
    There is  some evidence that this prediction is correct.
    Jason Low and his collegaues set out to test it.
    They have now published three 
    different papers showing such limits; and Hannes Rakoczy and others 
    have more work in progress on this.
    Collapsing several experiements using different approaches,
    the basic pattern of their findings is this ...
  .notes: :t
    Take non-automatic responses first; in this case, communicative responses.
    When you do a false-belief-identity task, you see the pattern you also
    find for false-belief-locations tasks.
    But things look different when you measure non-automatic responses ...
  .notes: :t()
    The non-automatic responses all show the signature limit of minimal
    models of the mental.
    This is evidence for the hypothesis that 
    Some automatic belief-tracking systems rely on minimal models of the mental.
  .notes: :t()
    I also hear that quite a few scientists have pilot data that speaks
    against this signature limit.
  .notes: :t()
    One particular task for future research will be to examine whether other
    automatic responses to scenarios involving false beliefs about identity,
    such as response times and movement trajectories, are also subject 
    to this signature limit.

//- fizke et al
+slide({bkg:'unit_451/slide_cambridge_model_064.jpg'})
  .notes: :t
    Just say that you can do this with other stimuli and paradigms, and we
    have done this with infants and would like to do it with adults.
  .notes: :t
    These findings complicate the picture: is helping driven by automatic processes only?
    If not, why do we predict that the signature limit of minimal theory of mind
    is found in this case too?

//- we confirmed the predictions!
+slide_signatureLimitsGeneratePredictions({step:false})

+slide_middle
  .notes: :t
    Look at the three year olds. 
    What might make us think that three year old’s responses are a consequence 
    of the same system that underpin’s adults’ automatic responses?
    One compelling consideration is that three year old’s responses 
    manifest to the same signature limit as adults’.
  p.center reidentifying systems:
  p.center.notes.show same signature limit -> same system


+slide
  p.center
    .brightness-150
      .contrast-150
        img.fill(src='/img/scott_2015_fig2b.png')
  p.source Scott et al (2015, figure 2b)
  .notes: :t
    Scott and colleagues \citep{scott:2015_infants} provided other evidence 
    suggesting that infants’ mindreading may be relatively sophisticated. 
    Specifically, 17-month-olds watched a thief attempt to steal a preferred 
    object (a rattling toy) when its owner was momentarily absent by substituting 
    it with a less-preferred object (a non-rattling toy). Infants looked longer 
    when the thief substituted the preferred object with a non-visually-matching 
    silent toy compared to when the thief substituted it with a visually-matching 
    silent toy. The authors postulated that infants can ascribe to the thief an 
    intention to implant in the owner a false-belief about the identity of the 
    substituted toy. The authors further suggested that infants make such ascriptions 
    only when the substitution involves a visually-matching toy and the owner will 
    not test whether the toy rattles on her return. 
  .notes: :t
    However, Scott et al.’s \citep{scott:2015_infants} explanations also 
    require postulating that infants take the thief to be strikingly inept; 
    despite having opportunity simply to pilfer from a closed box known to 
    contain at least three rattling toys, the thief engages in elaborate 
    deception which will be uncovered whenever the substituted toy is next 
    shaken and the thief, as sole suspect, easily identified. A further 
    difficulty is that factors unrelated to the thief’s mental states vary 
    between conditions, such as the frequencies with which toys visually matching 
    one present during the final phase of the test trial have rattled. These 
    considerations jointly indicate that further evidence would be needed to 
    support the claim that humans’ early mindreading capacity enables them to 
    ascribe intentions concerning false beliefs involving numerical identity.


+slide_middle
  .notes: :t
    It has to be said that not everyone is convinced ..
  .handout Objection:
  p.hem-above.notes.handout.ctd.show: :t
    ‘the theoretical arguments offered [...] are [...] unconvincing, and [...] 
    the data can be explained in other terms’
  .notes.handout.ctd (\citealp{carruthers:2015_two}; see also \citealp{carruthers:2015_mindreading}).
  p.right.grey-text Carruthers (2015)
  .notes: :t
    What is my response?  
    Yes, the data can be explained in other terms, at least post hoc; and certainly
    there is as yet insufficient data for certainty.
    What about the theoretical arguments?
    Partners in crime defence ... theoretical arguments 
    for multiple systems for belief are the same as the theoretical arguments
    for physical cognition or number cognition (but that’s a different talk).



//- we confirmed the predictions!
+slide_signatureLimitsGeneratePredictions({step:false})
  .notes: :t
    But this is the key thing.