---
layout: 'deck_unit'
title: "The Question"
tags: []
description: "Introduces the question around which this module is organised"
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/unit_mixins

+slide_middle
  p.center the question
  .notes This course is based on a simple question. The question is, 
  .handout \textbf{Question}
    .notes: :t() 
      How do humans first come to know  about---and to knowingly manipulate---objects, 
      causes, words, numbers, colours, actions and minds?


section.slide
  img.bkg(src='/img/DSC_AB_8736_bw.JPG')
  .notes: :t()
    At the outset we know nothing, or not very much.  (Like Lucas here.)
    Sometime later we do know some things.
    How does the transition occur?
  .notes: :t()
    We are going to approach this question by examining the evidence from developmental science, 
    exploring how it bears on philosophical positions like nativism and empiricsm, 
    and identifying philosophical problems created by the evidence.
  .notes: :t()
    But first let me try to reassure you that it's ok for a course in philosophy to focus on 
    this question.
    Far from being a new question, it belongs to a family of questions about the origins of mind 
    that philosophers have been asking since Plato or before.

+slide
  .step1
    .notes: :t()
      Here is John Locke asking a version of my question ...
    p.handout.notes.show
      span.blur1 ‘... ’tis past doubt, that Men have in their Minds 
      span.noblur several Ideas
      span.blur1 , such as are those expressed by the words, Whiteness, Hardness, ... and others: It is in the first place to be enquired, 
      span.noblur How he comes by them
      span.blur1 ?’
      span.handout.notes.ctd \citep[p.\ 104]{Locke:1975qo} 
    p.blur1.right (Locke 1689)
  .step2.hide
    p.handout.notes.show
      span.blur2 ‘How does it come about that the development of organic behavior into 
      span.noblur controlled inquiry 
      span.blur2 brings about the differentiation and cooperation of 
      span.noblur observational and conceptual operations
      span.blur2 ?’
      span.handout.notes.ctd \citep[p.\ 12]{Dewey:1938yp}
    p.blur2.right (Dewey 1938, p. 12)
  .step3.hide  
    p.handout.notes.show
      span.blur3 ‘the fundamental explicandum, is the organism and its propositional attitudes ... 
      span.blur3.cognitive-psychologists Cognitive psychologists 
      span.blur3 accept ... the  ... necessity of explaining 
      span.noblur how organisms come to have the attitudes to propositions that they do
      span.blur3 .’
      span.handout.notes.ctd \citep[p.\ 198]{Fodor:1975pb}
    p.blur3.right (Fodor 1975, p.\ 198)
  +blur_('.step1 p span')
  +show('.step3')
  .notes: :t()
    And here is a nativist, Jerry Fodor, asking much the same question.
  +unblur_('.step1 p span')
  +blur('.blur1, .blur3')
  .notes: :t()
    Note that whereas Locke puts the question in terms of Ideas, Fodor, writing much later,
    asks about propositional attitudes, that is, about states such as knowlegde and belief.
    This difference need not concern us; we now have a much better understanding of the metaphysics
    of mental states than Locke did.
  +show('.step2')
  .notes: :t()
    Finally note that much the same question has been asked by philosophers coming at things from a 
    completely different---pragmatist, in this case---point of view.
  +blur('.blur2')
  .notes: :t()
    Because he focusses on behaviour and mental operations rather than Ideas or states of mind,
    he puts the question in terms of a transition from unthinking ('organic') behaviour 
    to capacities for observational and conceptual operations.
  .notes: :t()
    So my question about how we first come to know things in various domains is an ok question
    for a philosopher to ask because it belongs to a family of questions that philosophers who 
    have been dead for a long time were asking.
  +unblur_('.cognitive-psychologists')
  +invert('.cognitive-psychologists')
  .notes: :t()
    One last thing.
    Fodor mentions cognitive psychologists rather than philosophers.  We will need to face up to 
    the question of why philosophers are asking this question about the origins of knowledge, why 
    is isn't just a scientific question.  I'll come to this shortly.





