---
layout: 'deck_unit'
title: 'From Action to Communication and Joint Action'
tags: []
description: "How does what we’ve learnt about how humans come to know truths about actions illuminate issues about social interaction and communication?"
depends: ['']  
source: ['']
duration: 5
handout: false
---

 
include ../../../fragments/unit_mixins


+slide
  p Summary: How do humans first come to know truths about actions?
  ol
    li.slide Infants can track the goals of actions from six months or earlier
    li.slide How?  (How is pure goal ascription possible?)
      p -- goal ascription is acting in reverse
    li.slide How do infants model actions?
      .notes Note that Csibra & Gergely offer a continuity hypothesis.
      p --
        span R
        sub M
        span (a,G) =
        sub df
        span   if M were tasked with producing G it would plan action a
    li.slide Infants have something like core knowledge of action
    li.slide How to get from that to knowledge of actions?
      .notes: :t()
        This is always the sticking point.
        I don't have a suggestion about how the transition might be made.
        I think that experience probably plays a role analogous to it plays in knowledge of colour.
        But there's something else.
        I want to suggest we can use these discoveries about action to fill out our understanding 
        of communication, and of cooperative interactions.
      

//- action - communication - language
+slide
  svg(xmlns='http://www.w3.org/2000/svg', width='395px', height='296px', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', style='background-color: rgb(0, 0, 0);')
    g(transform='translate(0.5,0.5)')
      rect(x='2', y='204', width='150', height='90', rx='14', ry='14', fill='none', stroke='#ffffff', pointer-events='none')
      g(transform='translate(4,234)')
        switch
          foreignobject(pointer-events='all', width='146', height='26', requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility')
            div(xmlns='http://www.w3.org/1999/xhtml', style='display: inline-block; font-size: 22px; font-family: Lato; color: rgb(255, 255, 255); line-height: 26px; vertical-align: top; width: 146px; white-space: normal; text-align: center;') action
          text(x='73', y='24', fill='#FFFFFF', text-anchor='middle', font-size='22px', font-family='Lato') [Object]
      rect(x='122', y='104', width='150', height='90', rx='14', ry='14', fill='none', stroke='#ffffff', transform='rotate(-1,197,149)', pointer-events='none')
      g(transform='translate(124,134)rotate(-1.1233027140754075,73,13)')
        switch
          foreignobject(pointer-events='all', width='146', height='26', requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility')
            div(xmlns='http://www.w3.org/1999/xhtml', style='display: inline-block; font-size: 22px; font-family: Lato; color: rgb(255, 255, 255); line-height: 26px; vertical-align: top; width: 146px; white-space: normal; text-align: center;') communication
          text(x='73', y='24', fill='#FFFFFF', text-anchor='middle', font-size='22px', font-family='Lato') [Object]
      rect(x='242', y='4', width='150', height='90', rx='14', ry='14', fill='none', stroke='#ffffff', transform='rotate(1,317,49)', pointer-events='none')
      g(transform='translate(244,21)rotate(1.0050860052541708,73,26)')
        switch
          foreignobject(pointer-events='all', width='146', height='52', requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility')
            div(xmlns='http://www.w3.org/1999/xhtml', style='display: inline-block; font-size: 22px; font-family: Lato; color: rgb(255, 255, 255); line-height: 26px; vertical-align: top; width: 146px; white-space: normal; text-align: center;') communication by language
          text(x='73', y='37', fill='#FFFFFF', text-anchor='middle', font-size='22px', font-family='Lato') [Object]

  
+slide_rh_white
  .notes recall from last lecture ...
  .notes Now contrast Grice and Davidson on the pointing action from the Hare et al study, where you're supposed to take one of two containers.
  +left_half
    p Grice
    p.em-above Goal: get Ayesha to select the left container
    p.em-above Means: get Ayesha to recognise that I intend Ayesha to select the left container
    p.em-above
      span.intention Intention
      span : to get Ayesha to selet the left container by means of getting Ayesha to 
      span.recognise recognise
      span that I am pointing to the left container with the 
      span.intention intention
      span  that she select the left container.
  +right_half
    p Davidson
    p.em-above Goal: get Ayesha to select the left container
    p.em-above Semantic Intention: that Ayesha take this pointing gesture to 
      span.refer refer
      span  to the left container
    p.em-above Ulterior Intention: that Ayesha select the left container
    .notes Strictly speaking, that Ben should come over might not be the first meaning of the wave (so there are other options here).
  +highlight_('.intention, .recognise', 'blue')
  +highlight('.refer')
  .notes: :t()
    As before, there's a contrast in what must be intended and so what we're committing 
    ourselves to in saying that infants can produce and comprehend informative pointing.


+slide_middle
  .notes: :t()
    Reaching and kicking are object-directed actions.
    Now referring is not an action in this sense.
    But it might be that infants understand if it were an action.
  p.center reaching/kicking vs referring 
    span.slide (highlighting)
  .notes: :t()
    Consider grasping as our model. 
    You can grasp an object with your hand, mouth or foot.
    You can use a precision grip or a power grip or grip it in many other ways.
    In each case you are grasping the object.
  .notes: :t()
    We might suppose that infants similarly think of pointing and verbally labelling
    objects as related much as different ways of grasping.
    There is one action kind---call it referring---which all these are species of.
    This is what they understand of communication.
  .notes: :t()
    So their early understanding of communication with language and of non-linguistic 
    referential communication is a matter of how they categorise actions.
  .notes: :t()
    *todo: Contrast both the pure use (block-slab) view, the Gricean view advocated by
    Tomasello et al and the Davidsonian view (they have to understand an intention that
    the action be interpreted in a certain way).
    

+slide_rh_white
  +run_across
    p.center understanding action
  +left_half
    p(style="margin-top:-1em;") R(a,G) defined with intention
  +right_half
    p(style="margin-top:-1em;") R(a,G) defined  non-psychologically
  .slide
    +run_across
      p.center communication
    +left_half
      p(style="margin-top:-1em;") Refers(gesture,object) defined with communicative intention
    +right_half
      p(style="margin-top:-1em;") R(gesture,object) defined non-psychologically
  .slide
    +run_across
      p.center cooperative interaction
    +left_half
      p(style="margin-top:-1em;") R(a
        sub 1
        span , a
        sub 2
        span , ..., G) defined with shared intention
    +right_half
      p(style="margin-top:-1em;") R(a
        sub 1
        span , a
        sub 2
        span , ..., G) defined with expectations about common goals

  

//- significance
+slide_img('slide_budapest_lecture06_005.jpg')

