---
layout: 'deck_unit'
title: "Understanding"
tags: []
description: "One potential problem for the view that children learn to communicate with words through training in when to utter them does not appear sufficient for understanding."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins

+slide_middle
  .notes For now I'm assuming that Davidson is right that anyone who can think communicate with language.
  .notes I've just been asking, What account of language acquisition is consistent with this assumption?
  .notes The answer was: some kind of training.
  .notes One problem for this view is that training does not seem sufficient.
  .notes To see why, let's ask paraphrase a famous question of Michael Dummett's (What do I know when I know a language?) and ask:
  p.center.notes.show What do I know or understand when I can communicate with language?
  .notes What training gets you is just an ability to use words in certain circumstances.
  .notes But communicating with language seems to involve more than this.
  .notes It seems to involve understanding.
  .notes This, anyway, seems to be Davidson's view:
  
+slide
  p.handout.show ‘You can deceive yourself into thinking that the child is talking if it makes sounds which, if made by a genuine language-user, would have a definite meaning. 
  p ’
    span.handout.ctd.show …  If a mouse had vocal cords of the right sort, you could train it to say “Cheese”. 
      | But that word would not have a meaning when uttered by the mouse, 
    span.handout.ctd.show.highlight1 nor would the mouse understand what it “said”
    span.handout.ctd.show .’
  p.right Davidson 1999: 11
  .handout.ctd \citep[p.\ 11]{Davidson:1999ju}
  +words-bkg('.highlight1', 'yellow')
  .notes This is just a hint, but I take it that Davidson is suggesting that communicating with language involves being able to understand what you've said.
  .notes And merely being trained in the ways Russel, Wittgenstein, Quine and Davidson envisage clearly doesn't provide any understanding at all.
  .notes I think this point is nicely made but Dummett.

+slide
  .notes I want to outline Dummett's view in three quotes.
  .notes There's no argument here.  I just think Dummett has hit on a datum about communication with language.
  p.handout.show 'to attribute to a speaker no more than knowledge of how to play … interlocking language games is to make him a participant in an activity he cannot survey (‘cannot see what is going on’).' 
  p.right Dummett (1979: 224)
  .photobox-bottom-right
    img(src='/img/dummett.jpg')
  .handout.ctd \citep[p.\ 224]{Dummett:1979fb}
  .slide.em-above
    p.handout.show Understanding a word can’t be purely a practical ability because this would ‘render mysterious our capacity to know whether we are understanding.’ 
    p.right Dummett (1991: 93)
    .handout.ctd \citep[p.\ 93]{Dummett:1991yj}
  +collapse('.photobox-bottom-right')
  .slide.em-above
    p.handout.show Language is ‘a rational activity on the part of creatures to whom can be ascribed intention and purpose’.
      | So we need to distinguish ‘those regularities of which a language speaker, acting as a rational agent engaged in conscious, voluntary action, makes use from those that may be hidden from him.’
    p.right Dummett (1978: 104)
    .handout.ctd \citep[p.\ 104]{Dummett:1978zv}

+slide
  .notes I'll probably skip this, but it's a good example of the magic moment view.
  .notes It's also an interesting case where a serious philosopher says something which is empirically testable and where there no evidence for it but quite good evidence against it.
  p.handout.show ‘A child at this stage has no linguistic knowledge but merely a training in certain linguistic practices.  When he has reached a stage at which it is possible for him to lie, his utterances will have ceased to be merely responses to features of his environment or to experienced needs.  They will have become purposive actions based upon a knowledge of their significance to others.’
  p.right Dummett (1991:95)
  .handout.ctd \citep[p.\ 95]{Dummett:1991ug}

+slide
  .notes So what am I saying?
  ol
    li Communicating with language involves being able to understand what you've said.
    li Being trained in how words are used does not enable one to understand what would be said in uttering those words.
  p.em-above Conclusion:
  p We cannot fully explain how humans become able to communicate with language by appeal to training.
  .notes Note that this is a point about suffiency.  It's not an objection, but it is a lacuna.
  .notes And it's a lacuna that's hard to fill
  .notes It seems like, on this view, there has to be a magic moment when all that training somehow turns into the expression of thought.
  .notes Let me put this another way.
  .notes On this view, there is a gap between rat-like abilities to use words and thoughtful expression.
  .notes And no good account of how the gap could be crossed.
  .notes But this isn't the worst problem for the view.  Creativing is a far worse problem ...

+slide
  p ‘Whenever I think I understand what he [Davidson] is trying to say, I am told by the Davidson scholars that it is all much more subtle and interesting than that, though very difficult to articulate except by quoting more Davidson.’
  p.right Gopnik, “How to understand beliefs” (1995: 399)
  img(src='/img/gopnik_davidson.jpg',height='150px', style='float:right; margin-top:200px;')



