---
layout: 'deck_unit'
title: "Appendix: Categorical Perception in Infants and Adults (Optional)"
tags: []
description: "How are infants' and adults' categorical preception of colour related?"
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins

  
  



section.slide
  .notes Earlier I mentioned that infant and adult categorical perception of colour involve different colour categories.
  .notes Adults’ perceptual colour categories are shaped by their knowledge of words, whereas infants’ are not.
  .notes This means we should ask, What is the relation between infant and adult categorical perception?
  .notes A natural hypothesis is that they are one and the same, so that the infant categories transform into the adult ones.
  .notes This natural hypothesis turns out to be wrong.
  .notes Before explaining why, let me introduce one more puzzling finding.
  .words: .middle
    .container_12: .grid_12
      p.center How are infants’ and adults’ categorical preception of colour related?

// *repeated!
section.slide
  .words
    .container_12
      .grid_6
        div(style='padding-right:20px;padding-left:20px;')
          p In adults, categorical perception of colour disappears in the face of predictable verbal interference but not non-verbal interference 
          p.right (Roberson, Davies and Davidoff 2000: 985; Pilling, Wiggett, et al. 2003: 549-50; Wiggett and Davies 2008)

section.slide
  .notes Let me show you how this works (roughly following Wiggett and Davies 2008)
  .notes Recall from earlier how speed and accuracy were tested using a two-alternative forced-choice task.
  img.bkg(src='/img/slide_cp_25.jpg')
  +slides_from_img(['slide_cp_26.jpg','slide_cp_27.jpg'])

section.slide
  .notes Now Wiggett and Davies 2008 adapted this very slightly.
  .notes They put a word on the target (or, in Experiment 2, on the test stimuli --- that had no effect, showing that the word is important for priming and categorical perception is not a matter of matching label to label).
  .notes (They are using the Stroop effect, which I won't explain here but is worth looking up.)
  img.bkg(src='/img/slide_cp_interfere.jpg')
  +slides_from_img(['slide_cp_26.jpg'])

section.slide
  .notes And here are the results from Experiment 1B.  The vertical axis is mean accuracy.
  .words
    .container_12: .grid_12
      img(src='/img/wiggett_2008_fig2B.png')
      p.right source: Wiggett and Davies 2008, Experiment 1B

section.slide
  .words
    .container_12
      .grid_6
        div(style='padding-right:20px;padding-left:20px;')
          p.handout.show In adults, categorical perception of colour disappears in the face of predictable verbal interference but not non-verbal interference 
          .handout.ctd \citep{Roberson:2000ge,Pilling:2003bi,Wiggett:2008xt}.
          p.right (Roberson, Davies and Davidoff 2000: 985; Pilling, Wiggett, et al. 2003: 549-50; Wiggett and Davies 2008)
      .slide.right-half-white
        .notes Why say that impact of verbal interference plus shaping of perceptual categories by extensions of words gives an interesting sense in which we have expeirences as of red because we label perceived objects 'red'?  Two points: long-term, the extentions of perceptual category is influenced by the extension of the word; short-term, covert labelling primes the perceptual category and without this priming you do not have CP (Wiggett and Davies 2008).  
        .words
          .grid_6
            div(style='padding-right:20px;padding-left:20px;')
                p.handout.show ‘surprising it would be indeed if I have a perceptual experience as of red because I call the perceived object ‘red’’ 
                .handout.ctd \citep[pp.\ 324--5]{Stokes:2006fd}
                p.right.grey-text (Stokes 2006: 324-5).



section.slide
  .notes These findings leave us with a puzzle.
  .notes In adults, categorical perception of colour depends on the availability of linguistic labels for colour.
  .notes But infants lack such labels yet still manifest categorical perception.
  .notes How is this possible?
  .notes I think we have to resolve the puzzle by recognising that infant and adult categorical perception are different processes.
  .words: .middle
    .container_12: .grid_12
      p.center puzzle
  
section.slide
  .notes The adult mode of categorical perception of colour differs from the infant-and-toddler mode in at least four respects: it disappears in the face of predictable verbal interference but not non-verbal interference (Roberson, Davies and Davidoff 2000: 985; Pilling, Wiggett, et al. 2003: 549-50; Wiggett and Davies 2008), it can be affected by short-term perceptual learning (Ozgen and Davies 2002), it depends on parts of the brain other than those on which infants' categorical perception of colour depends (Franklin, Drivonikou, et al. 2008), and the boundaries of adults' perceptual categories do not match the boundaries of infant and toddler perceptual categories.
  .words: .container_12: .grid_12
    ul
      li cultural product
      li training colour terms (2 days)
      li verbal interference
      li right visual field (RVF) only
      li training affects RVF only
      li neural correlates
    .slide
      .notes.handout There is evidence that the infant mode of categorical perception of colour continues to operate in adults, although it is often inhibited or overshadowed by the adult mode \citep{Gilbert:2006yb}. 
      p.center Adult and infant categorical perception co-exists.
      p.right.grey-text (Gilbert et al 2006; Gilbert et al 2008)



section.slide
  .notes Our question was how humans make the transition from not being in a position to know that these are blue but this is not to being in a position to know this.
  .notes The appearance of categorical perception of colour at around four months of age made attractive the idea that the knowledge might come from, or be based on, perception.
  .notes The tempting thought was that categorical perception of colour somehow provides a building block for colour concepts.
  .notes We saw that there were some reasons, not conclusive but quite powerful, to reject this idea.
  .notes In its place I offered a conjecture about development as rediscovery.
  .notes That conjecture was that in thought we rediscover something that our brains are already able to process, namely colour categories.
  .notes This suggests a certain amount of duplication.  There's both a low-level cognitive process and a conceptual processes that deal with colour, that are not directly linked by representations but rather only indirectly, via experience, the body and behaviour.
  .notes What we've just seen is that there is even more duplication than this suggests.
  .notes There are not just one but two perceptual processes which are concerned with categorising colour.
  .notes These appear to operate largely independently of each other, to have different neural bases and to be quite different kinds of process.
  .notes Minds are more complex than you think.
  .words: .middle
    p.center conclusion
  
  
  

