---
layout: 'deck_unit'
title: "Categorical Perception and Knowledge"
tags: []
description: "How is infants' categorical preception of colour related to adults' knowledge of colour?"
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/unit_mixins
include ../../../fragments/compatibility_mixins


+slide_middle
  p.center Our Next Big Problem
  .notes: :t()
    Recall that our Next Big Problem is this. 
    We've said that infants' competence with causes and objects is not knowledge but something 
    more primitive than knowledge, something which exists in adults too and can carry information 
    discrepant with what they know. So, if at all, how does appealing to these early capacities 
    enable us to explain the origins of knowledge?
  .notes: :t()
    As we've just seen, a version of this problem arises for the case of colour.
    Perhaps we can partially resolve the Next Big Problem in the case of colour, and then use 
    this as a model for other cases.
  .notes: :t()
    Let's see.
    First I want to be clear about what the problem is ...
    


section.slide
  .notes Our overall question is about how humans come to know things about colours.
  .notes How is categorical perception of colour relevant to this question?
  .words: .middle
    .container_12: .grid_12
      p.center How is categorical perception involved in the emergence of the knowledge of colours of things?


section.slide
  .notes Harnad offers a hypothesis which might seem natural to accept at this point.
  .words
    .step2.hide
      .middle
        p.center.invert(style='font-size:250px;margin-top:-150px;') ?
    .middle
      .container_12: .grid_12
        p.center.handout.show Categorical perception provides ‘the 
          span.highlight1 building blocks
          span —the elementary units—for higher-order categories’ 
        .handout.ctd \citep[p.\ 3]{Harnad:1987ej}.
        p.right (Harnad 1987, p. 3).
        .slide
          .notes Incidentally, Spelke also uses the building blocks metaphor.
          .notes But of course Spelke is talking about core knowledge rather than categorical perception.  (I think the two might be related, but I suspect she would strongly disagree.)
          .blur1
            p.em-above.center.handout.show ‘The building blocks of all our complex representations are the representations that are constructed from individual core knowledge systems.’
            .handout.ctd \citep[p.\ 307]{Spelke:2003fc}
            p.right (Spelke 2003: 307)
          +blur('.blur1')
    mixin step(2)
    .notes But is it true?
    mixin invert('.highlight1')
    .notes The first problem is to understand the ‘building blocks’ metaphor.


//building blocks first try
section.slide#building_blocks_view_1
  .notes Here's a first attempt to understand the ‘building blocks’ metaphor.
  .notes Let's suppose that categorical perception of colour amounts to having colour concepts.
  .notes This way of thinking concords with Leslie's view about modular cognition.
  .words
    .container_12: grid_12
      p View 1 : Having categorical perception of colour (or X) amounts to having colour (or X) concepts.
      .slide
        p.em-above.handout.show ‘The 
          span.highlight1 module
          span   … automatically provides a conceptual identification of its input for central thought … in exactly the right format for inferential processes’ 
        .handout.ctd \citep[pp.\ 193--4]{Leslie:1988ct}
        p.right (Leslie 1988: 193-4)
        mixin invert('.highlight1')
        .notes We'll say something about what modules are later---for now, just be aware that categorical perception counts as a modular process.
      .slide
        p.em-above Is this right?

section.slide
  .notes It can't be right that having categorical perception of colour (or X) amounts to having colour (or X) concepts.
  .notes We know this can't be right because there is a gap of two or more years between categorical perception of colour and possession of colour concepts.
  .notes For consider what is involved in having a colour concept.
  .notes It is not just responding differently to red things than to green things (say).
  .notes It also requires 
  .words
    .container_12
      .grid_6
        .space-invader.move-left-after(style="margin-left:120px; margin-top:60px; margin-bottom:110px;")
        .slide
          .notes The toy is put away so that the subjects couldn't see it.
      .grid_6
        .slide
          div(style="float:left; margin-right: 20px")
            mixin colour-box('red', 100)
          div(style="float:left; margin-right: 20px")
            mixin colour-box('green', 100)
          .slide
            p.em-above.center Which one of these is like the toy I just put away?
    .container_12: .grid_12
      p &nbsp;
      .slide
        img(src='/img/kowalski_2006_fig3.png')
      p.right Source: Kowalski and Zimiles (2006, Experiment 2)
      
section.slide
  .words: .middle
    .container_12: .grid_12
      p.center
        span.handout.show Acquiring colour concepts depends on acquiring colour words
        span . 
      .handout.ctd  \citep{Kowalski:2006hk}.

section.slide
  .notes Kowalski and Zimiles' paradigm provides an excellent operationalisation of concept possession.
  .notes We should hold in mind the idea that having a concept of something involves being able to think abstractly about that thing.
  .words: .middle
    p.center methodological aside

section.slide
  .notes  But for now Kowalski and Zimiles are important because they show that having categorical perception of colour is not the same thing as having colour concepts.
  .words: .middle
    .container_12: .grid_12
      p.center.handout.show ‘the course of acquisition for color is protracted and errorful’
      .handout.ctd \citep{Sandhofer:2006qo}
      p.right (Sandhofer and Thom 2006)
    
    
section.slide.anim-continue
  mixin recall('#building_blocks_view_1')
section.slide
  .notes So the first view can't be right.
  .notes It can't be right that having categorical perception of colour (or X) amounts to having colour (or X) concepts.
  .notes And the same applies in other cases of categorical perception as well.
  .notes (Of course a defender of the view that categorical perception is or entails concept possession might insist that subjects have concepts but cannot use them, at least not in the sort of task I have just described.  This is possible, of course, but it seems to be a desperate defence.)
  .notes How else might we understand the ‘building blocks’ metaphor?
  .words: .middle
    p.center(style='-webkit-transform:rotate(-15deg);')
      span.bkg-pink(style='font-size:200px;opacity:.7;').invert NO
  section.slide.anim-continue
      mixin unrecall('#building_blocks_view_1')


section.slide#building_blocks_view_2
  .notes Consider Mandler's claim that 
    span ‘the earliest conceptual functioning consists of a redescription of perceptual structure’ 
    p.right Mandler (1992)
  .words
    .container_12: grid_12
      p View 2 : redescription
      p.em-above.handout.show ‘the earliest conceptual functioning consists of a 
        span.highlight1 redescription
        span   of perceptual structure’ 
      .handout.ctd \citep{Mandler:1992vn}
      p.right (Mandler 1992)
      mixin invert('.highlight1')
      .notes One worry here is that we've replaced one metaphor with another, ‘redescription’ for ‘building block’.
      .notes But let's put this aside for a moment in order to reflect on why Mandler is wrong.
      p.slide.em-above Is this right?


section.slide
  .notes The boundaries of adults' perceptual categories do not match the boundaries of infant and toddler perceptual categories.
  .notes How do we know?
  .notes First note that the extensions of colour terms vary between languages.
  .words: .container_12: .grid_12
    p The extensions of colour terms vary between languages.
    p (E.g. Russian colour terms include ‘goluboy’ (for lighter blues) and ‘siniy’ (for darker blues).)
section.slide
  .notes Indeed, the extensions of colour terms vary quite radically between languages.
  .notes Ongoing research concerns whether there is any kind of universal prinicple behind the pattern.
  .words
    p.center English
    img(src='/img/colour_terms_english.png')
    p.right source: Roberson & Hanley 2010, Figure 1c
section.slide
  .words
    p.center Berinmo
    img(src='/img/colour_terms_berinmo.png')
    p.right source: Roberson & Hanley 2010, Figure 1b
section.slide
  .notes So the extensions of colour terms varies between langauges.
  .notes Why is this relevant to the relation between infant and adult categorical perception?
  .words: .container_12: .grid_12
    p The extensions of colour terms vary between languages.
    p (E.g. Russian colour terms include ‘goluboy’ (for lighter blues) and ‘siniy’ (for darker blues).)
    .slide
      .notes Because the boundaries of adults' (but not infants') perceptual categories are influenced by the extensions of their culturally variable colour terms.
      .notes For evidence that adults' perceptual colour categories are influenced by their culturally variable knowledge of colour words, see \citet{Kay:2006ly}, \citet{Roberson:2007wg}, and \citet{Winawer:2007im}; 
      p.em-above
        .highlight1 In monolingual adults, the perceptual categories match the extensions of the colour terms in their language.
      p.right.grey-text (Roberson and Hanley 2007; Winawer et al 2007)
      +row-bkg('.highlight1','grey')
      .notes This is an amazing finding about the power of words.
      .notes Learning to use words for colours changes how we perceive them.
      .notes.handout Colour words shape adults’ categorical perception \citep{Roberson:2007wg,Winawer:2007im}.
      .notes We'll see more on this later.
    .slide
      .notes But, as you'd expect, infants’ and toddlers’ perceptual categories are not influenced by the extensions of colour terms.
      .notes For evidence that toddlers who know some colour words show no influence of language on categorical perception of colours, see \citet{Franklin:2005hp}. 
      p.em-above Infants’ and toddlers’ perceptual categories are not influenced by the extensions of colour terms.
      p.right.grey-text (Franklin et al 2005)
    .slide
      p Therefore:
      p Infants’ perceptual categories do not match adults’ concepts.



section.slide.anim-continue
  mixin recall('#building_blocks_view_2')
section.slide
  .notes So the second view probably isn't right either.
  .notes For whatever redescription amounts to, it should surely involve there being some kind of match between the perceptual categories and the concepts.
  .notes And, on the face of, it there is no match at all.
  .words: .middle
    p.center(style='-webkit-transform:rotate(-15deg);')
      span.bkg-pink(style='font-size:200px;opacity:.4;').invert no?
  section.slide.anim-continue
      mixin unrecall('#building_blocks_view_2')


section.slide
  .notes So what are we to make of the ‘building blocks’ idea?
  .notes It may be that we have to reject the building blocks idea altogether.
  .notes For infant categorical perception of colour seems only very distantly related to adult uses of colour concepts.
  .notes Does this mean that categorical perception plays no role at all in explaining the emergence of knowledge about colours?
  .notes No, we haven't shown that.  Only that categorical perception alone is not enough; and also that  
    span it is hard to understand exactly how categorical perception plays a role in the emergence of knowledge.
  .step2.hide
    .words
      .middle
        p.center(style='-webkit-transform:rotate(-15deg);')
          span.bkg-pink(style='font-size:200px;opacity:.75;').invert no??
  .words
    .middle
      p.center.handout.show Categorical perception provides ‘the building blocks—the elementary units—for higher-order categories’ 
      .handout.ctd \citep[p.\ 3]{Harnad:1987ej}.
      p.right (Harnad 1987, p. 3).
  mixin step(2)


+slide_middle
  .notes: :t()
    The role of some early-developing abilities in explaining the later acquisition of conceptual 
    understanding does not involve direct representational connections; rather the early developing 
    abilities influence attention and inform behaviour, and these influences facilitate 
    development.
  p.center development as rediscovery

+slide_middle
  .notes: :t()
    What is missing from the building blocks idea is adequate recognition that social interaction is 
    important for the emergence of knowledge.
  .notes Here is a bold conjecture about how humans come to know things.
  .handout \emph{A Conjecture}
  p.handout.show.ctd: :t()
     ‘humans acquire knowledge at a pace far outstripping that found in any other species. 
     Recent evidence indicates that interpersonal understanding—in particular, skill at 
     inferring others’ intentions—plays a pivotal role in this achievement.’
  .handout.ctd \citep[p.\ 40]{Baldwin:2000qq}
  p.right (Baldwin 2000, p. 40)
  // not on slides:
  .handout ‘functions traditionally considered hallmarks of individual cognition originated through the need to interact with others ...\ perception, action, and cognition are grounded in social interaction.’
  // p.right (Knoblich & Sebanz 2006, p. 103)
  .handout.ctd \citep[p.\ 103]{Knoblich:2006bn}


+slide_middle
  .notes: :t()
    The challenge, of course, is to say *how* social interaction enables humans to come to know 
    things.
  .handout Vygotskian Intelligence Hypothesis:
  p.handout.ctd.show ‘the unique aspects of human cognition ... were driven by, or even constituted by, social co-operation.’
  .handout.ctd \citep[p.\ 1]{Moll:2007gu}
  p.right (Moll & Tomasello 2007, p. 1)
  // not on slides:
  .handout ‘human cognitive abilities ... [are] built upon social interaction’
  .handout.ctd \citep{sinigaglia:2008_roots} %*page
  // p.right (Sinigaglia &Sparaci 2008)



+slide_middle
  .notes: :t()
    In emphasising rediscovery I want to identify a major role for social interaction while
    also recognising the importance of the early developing representations of colours, objects 
    and causes.
  .notes: :t()
    The idea is, roughly, that coming to have knowledge involves rediscovering information that is
    already represented.
  p.center development as rediscovery

section.slide
  .notes How might the idea of development as rediscovery apply in the case of knowledge of colour?
  .words 
    .container_12: .grid_12
      p.em-above.notes.show In acquiring a colour concept or word you need to:
      ol
        li identify the dimension (colour not shape, size, or ...)
        li locate the boundaries
      +highlight-row('li:eq(1)')
      .notes: :t()
        On locating the boundaries, I think having colour words might be helpful as a way of 
        marking a category before you know where its boundaries are.
        That is, the word allows you to re-identify a category without knowing where it begins 
        or ends.
      .notes: :t()
        Given differences between the boundaries of pre-verbal infants' perceptual categories
        and the extensions of colour words, it seems unlikely that categorical perception could 
        help here.  (Although it is possible in principle that, due to abstract features common to 
        all languages' systems of colour words, categorical perception might help; see Kay and ?*.)
      +highlight-row-remove_('li:eq(1)')
      +highlight-row('li:eq(0)')
      .notes: :t()
        It's with this first problem that I think categorical perception helps with.
        I suggest that categorical perception enables you to lock onto the relevant dimension.
      .notes: :t()
        How?
        Categorical perception alters your experience so that there's a correspondence between 
        (i) changes on the relevant dimension, and (ii) changes in one phenomenal aspect of your 
        experience.
        This correspondence helps you, eventually, to lock onto the relevant dimension and so to 
        acquire concepts and words.
        Let me illustrate.

section.slide
  .notes One effect of categorical perception is phenomenological.
  .notes Consider the (a) difference between an experience of the first blue and the second blue;
  .notes and (b) the difference between an experience of the second blue and the green.
  .notes Phenomenally, the second pair of experiences is more different than the first.
  .notes There is some kind of phenomenological marker of categorical colour properties.
  .notes To put it colourfully, there is something that it is like for you to experience blue, and something else that it is like for you to experience green.
  .notes So, to return to the two problems, this is why I think categorical perception might be important for identifying the dimension.
  img.bkg(src='/img/slide_cp_02.jpg')


section.slide
  .notes Let me return to the picture I finished with at the end of the last lecture.
  .words: .middle
    .container_12: .grid_12
      p.center
        img(src='/img/fig_rediscovery.png')
  .notes This picture is about core knowledge, but I think we should broaden that to include categorical perception.
  .notes In fact I think core knowledge and categorical perception are likely to be closely related, as I'll explain later.
  .notes &nbsp;
  .notes The question for this lecture was, how do we come to know things about colour.
  .notes The answer, I think, is this.
  .notes We have categorical perception of colour from early in infancy, certainly from around four months of age.
  .notes Having categorical perception is not by itself sufficient for having colour concepts.
  .notes But it does play an important role, because it means that there is 
    span a correspondence between (i) changes on the relevant dimension, and (ii) changes in one phenomenal aspect of our experience.
  .notes I conjecture that this helps us to identify the relevant dimension, colour not shape or size, in acquiring colour words and concepts.
  .notes But by itself this is not enough.
  .notes As we've seen, acquiring colour concepts also depends on having some colour words.
  .notes I speculate that this is because words function as a tool for marking categories prior to knowing where they start and end.
  .notes The word allows you to re-identify a category without knowing where it begins or ends.
  .notes So this is my picture.
  .notes Acquiring knowledge of colour depends on an interaction between categorical perception, something developmentally quite primitive, and social interaction, in particular the negotiation of words for colour categories.
  


  
section.slide
  .notes To conclude, we've seen that although infants enjoy categorical perception of colour from four months or earlier,
  .notes this doesn't straightforwardly explain how they come to know about the colours of things.
  .notes In particular, having categorical perception does not entail having a concept.
  .notes Nor does having a concept seem to be a matter of somehow redescribing or latching on to what is catgeorically perceived.
  .notes On the other hand, having colour words and being able to use them accurately does seeem to matter for the acquisition of knowledge of colour.
  .notes So this is one example where having verbal labels for things may help with acquiring concepts of them.
  .words: .middle
    .container_12: .grid_12
      p.center conclusion
      p.center
        span.slide building blocks: no
        span.slide ; rediscovery: maybe

