---cson
layout: 'deck_unit'
title: "Social Interaction: Acquiring Your First Words"
tags: ['words', 'social-interaction', 'lexical-innovation']
description: """
  Infants have surprisingly sophisticated social skills. These are revealled in
  part by their acquisition of language.
  """
---

include ../../../fragments/unit_mixins
include ../../../fragments/lecture_mixins
include ../../../fragments/origins_mixins

//- notes for section heading
.notes: :t
  So far I have focussed on the nature of mental states and actions.
  This will indeed be a big theme.
  But a second big theme concerns the nature of social interaction.
  I’m quite struck by the fact that in science, research on the 
  developmental origins of mind is neatly divided between researchers
  who want to know what is going on the head of an infant
  and researchers who want to know how infants interact with others and
  how these interactions facilitate their development.
  It seems obvious that we need to integrate both perspectives.
  This turns out not to be trivial.
  
+slide_middle
  .notes Here is a bold conjecture about how humans come to know things.
  .handout \subsection{A Conjecture}
  p.handout.show: :t
    ‘humans acquire knowledge at a pace far outstripping that found in any other species.
    Recent evidence indicates that interpersonal understanding ... 
    plays a pivotal role in this achievement.’
  .handout.ctd \citep[p.\ 40]{Baldwin:2000qq}
  p.right.grey-text Baldwin 2000, p. 40
  // not on slides:
  .handout: :t
    ‘functions traditionally considered hallmarks of individual cognition originated through
    the need to interact with others ...\ perception, action, and cognition are grounded in
    social interaction.’
  // p.right (Knoblich & Sebanz 2006, p. 103)
  .handout.ctd \citep[p.\ 103]{Knoblich:2006bn}
  
  .slide
    .handout Vygotskian Intelligence Hypothesis:
    p.em-above.handout.ctd.show: :t
      ‘the unique aspects of human cognition ... were driven by, or even constituted by,
      social co-operation.’
    .handout.ctd \citep[p.\ 1]{Moll:2007gu}
    p.right.grey-text Moll & Tomasello 2007, p. 1
    // not on slides:
    .handout ‘human cognitive abilities ... [are] built upon social interaction’
    .handout.ctd \citep{sinigaglia:2008_roots} %*page
    // p.right (Sinigaglia &Sparaci 2008)
    .notes: :t
      The challenge, of course, is to say *how* social interaction enables humans to come to
      know things.


+slide_middle
  .notes: :t
    Let me give you a hint about why social interaction will be important now.
    As in the case of knowledge of objects, this is a preview of a topic
    that we will later consider in more detail.
  .handout \subsection{How do children acquire words?}
  p.center How do children acquire their first words?

+slide_middle
  p: ol
    li If someone can think, she can communicate with words.
    li.step2.hide Acquiring words involves thinking from the start.
  .step3.hide
    p.em-above two directions:
    p.indent.first-direction If 1, then not 2
    p.indent If 2, then not 1
  .slide.davidsonQuote
    p.em-above.notes.handout.show: :t
      ‘we grasp the concept of truth only when we can communicate the
      contents---the propositional contents---of the shared experience, and
      this requires language’
    p.right.grey-text Davidson 1997, 27
    .handout.ctd \citep[p.\ 27]{Davidson:1997wj}.
  .slide
    +blur('.davidsonQuote')
    +show('.step2')
  .slide
    +show('.step3')
  .slide
    +highlight-row('.first-direction')
  

//- training --- go quickly through this
+insert_unit({unit:'521', title_slide:false, images:images, handout:false})
  
+slide_AcquireWordsTrainingBut({final:false})
  .slide
    +invert('.do, .could', 'blue')


section.slide
  .notes.handout: :t
    Children acquiring language create their own words before they learn to use those of the adults 
    around them.
  .notes: :t
    ‘Some children are so impatient that they coin their own demonstrative pronoun. For
    instance, at the age of about 12 months, Max would point to different objects and say
    “doh?,” some¬times with the intent that we do something with the objects, such as bring
    them to him, and sometimes just wanting us to appreciate their existence’
    (\citealp[p.\ 122]{Bloom:2000qz}; see further \citealp{Clark:1981bi,Clark:1982hj}).
  .notes: :t
    Even where children have mastered a lexical convention, they will readily violate it in
    their own utterances in order to get a point across.
  .handout.notes: :t
    ‘From the time they first use words until they are about two or two-and-a-half,
    children noticeably and systematically overextend words. For example, one child used
    the word “apple” to refer to balls of soap, a rubber-ball, a ball-lamp, a tomato,
    cherries, peaches, strawberries, an orange, a pear, an onion, and round biscuits’
    \citep[p.\ 35]{Clark:1993bv}
  .words: .container_12: .grid_12
    p.nodim children create 
      span.hide.step2 and creatively adapt 
      span words 
      span.slide.nodim before 
        span
          span.slide (and after)  
        span learning those of the adults around them
      .slide
        +show('.step2')
    .slide.em-above
      p INVESTIGATOR:	what is that called?
      p SHEM:			dat's uh vam.
      p INVESTIGATOR:	a vam?
      p SHEM:			yeah.
      p INVESTIGATOR:	why is it called a vam?
      p SHE:				it vams all duh room ups all the water up ...
      p.right source: Eve Clark's CHILDES data
      p.right (Clark 1982; MacWhinney 2000)

section.slide
  .layer0.hide
    +_slide_inner
      +img('goldin-meadow_2003_fig1.png')
      p.source Goldin-Meadow (2003, figure 1)
  +reset
    +_slide_middle_inner
      p.center.notes.handout.show
        span Children can create their own languages
        br
        span with no experience of others' languages 
      .handout.ctd \citep{Kegl:1999es,Senghas:2001zm,Goldin-Meadow:2003pj}.
  .slide
    +show('.layer0')
    .notes: :t
      We know this from studies of profoundly deaf children brought up in purely oral
      environments and therefore without experience of language (Goldin-Meadow 2003; Kegl,
      Senghas and Coppola 1999; Senghas and Coppola 2001).
      Individually or in groups these children invent their own signed languages.
      These languages are not as rich as those of children with experience of other people's
      languages but they have all of the essential features of language including lexicons and
      syntax (Goldin-Meadow 2002, 2003).
      The children invent gesture forms for words which they use with the same meanings in
      different contexts, they adopt standard orderings for combining words into sentences,
      and they use sentences in constructing narratives about past, present, future and
      hypothetical events. Thus one profoundly deaf child, Qing, describes how swordfish can
      poke a person so that she dies, and how they have long, straight noses and can swim
      (Goldin-Meadow 2003: 170).

+slide_middle
  p.center social interaction
  .notes: :t
    So how is this related to the idea (mentioned a moment ago)
    that social interaction plays a key role in the developmental emergence of knowledge?
    My suggestion, to be developed more fully later in the couse,
    is that children come to know their first words not through
    being trained or taught, nor through observing others and mapping words to concepts.
    Instead, some children come to know their first words through
    creating words and making themselves understood to others.
    That is, through social interaction.
  .notes: :t
    One consequence of this is that it seems we must reject the 
    claim, made by Davidson and others, that 
    If someone can think, she can communicate with words ...

+slide_AcquireWordsTrainingBut({final:true})
  .notes: :t
    We’ve just been considering how children do acquire their first words.
  +invert('.do, .could', 'blue')
  .slide
    +highlight('.how-could', 'yellow')
    +uninvert('.do, .could', 'blue')
  .slide
    +line-through('.acquire')
    +unremove('.create')
    .notes So here's my challenge to Davidson and others who hold that anyone can communicate with language can think:
    .notes explain how someone could begin to create words without already being able to think.
    .notes As I've been explaining, the challenge arises because children who have no language and no significant experience of language can create languages of their own.
  .slide
    +highlight('.answer', 'yellow')
  .slide
    +line-through('.answer')
    .notes So we have to reject this answer.
  .slide
    +highlight('.assumption','red')
    +fade('.how-could, .answer')
    .notes: :t
      For my part, I think it's probably time to drop the assumption.
      Not because we've shown it's wrong, but because there's no good argument for it an a
      significant obstactle to accepting it.
      So let's return to our overall question without that assumption.
      (Recall that the question was, How do humans first come to communicate with words?)







section.slide
  +_slide_middle_inner
    p.center.huge-glow conclusion
    +blur('.huge-glow', '5px', 10000)
  +reset
    +_slide_middle_inner
      p.center.txt mind in action + social interaction
    +blur('.txt', '5px', 0)
    +unblur('.txt', 7500)
  
  .notes: :t
    In this first lecture, I’ve tried to give you a sense of what the module 
    will be about.
    The question is, How do humans first come to know simple facts about objects,
    words, colours, minds and the rest?
    I’ve suggested that
    reflecting on discoveries about how infants acquire knowledge of phyiscal objects
    challenges us to rethink the nature of minds and actions.
    And I’ve also suggested that reflecting on how humans learn---or create---their 
    first words motivates the idea that the emergence of knowledge in development
    may hinge on  quite sophisticated forms of social interaction.
