---
layout: 'deck_unit'
title: 'Conclusion and Outlook'
tags: []
description: 'What progress have we made in trying to understand how humans come to know  about--and to knowingly manipulate--objects, causes, words, numbers, colours, actions and minds?'
depends: ['']  
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---


include ../../../fragments/unit_mixins


+slide_middle
  .handout \textbf{Question}
    .notes How do humans come to know  about---and to knowingly manipulate---objects, causes, words, numbers, colours, actions and minds?
  p.center the question
  .notes Have we made any progress?


+slide_middle
  p.center case-by-case
  .notes If you're wondering what the big idea is, there isn't one.
  .notes I think progress depends on approaching it case by case.
  .notes For instance, we considered the role of language in two cases, knowledge of colour and knowledge of minds.
  .notes It seems to play quite different roles in these two cases.
  .notes So while it seems plausible that abilities to communicate by language do play a role in explaining the emergence of knowledge in many domains, it's hard to assign it one role.
  .notes There are themes running across the cases but little in the way of general principles.
  .notes I'm not saying that's a bad thing; that's just how it is.
  
+slide_middle
  p.center core knowledge
  .notes Core knowledge is initially a label for a problem.
  .notes With respect to various domains of knowledge including colour, physics and psychology, infants have some but not all of the capacities that are characteristic of knowledge.
  .notes So we face a dilemma.
  .notes The simplest explanation of what they can do would be to ascribe them knowledge.
  .notes But ascribing them knowledge systematically generates false predictions about what they will do.
  .notes So it must be wrong to ascribe them knowledge.
  .notes In the first instance, ‘core knowledge’ (or modular cognition, or implicit knowledge, or tacit knowledge) is just a label for whatever it is that is not knowledge but explains these capacities.
  
+slide_middle
  p.center adults, automaticity and limits
  .notes Developmental evidence for core knowledge is fragile:
  .notes it is always possble that the apparently incorrect predictions can be explained just by appeal to performance factors.
  .notes Now as I understand the science many attempts to do this have failed.
  .notes But for all we know this may be due only to the limited ingenuity of the researchers.
  .notes Reflection on adults provides us with a second line of converging evidence.
  
  .notes To say that a process is automatic is ...
  .notes We're looking for two features in adults:
  .notes (i) apparent conflict in what the adults know depending on whether the response is automatic or controlled,
  .notes and (ii) limits of adults' automatic competence match those of infants'.
  .notes We found some evidence this pattern in (a) colour; (b) mindreading; (c) number; (d) maybe causation and physical objects (representational momentum \citep{kozhevnikov:2001_impetus}).

+slide({bkg:'unit_451/slide_cambridge_model_061.jpg'})
  .notes I'm illustrating this pattern with Low & Watts but be careful --- first look is spontaneous but may not reflect automatic processing.
+slide({bkg:'unit_451/slide_cambridge_model_062.jpg'})
+slide({bkg:'unit_451/slide_cambridge_model_063.jpg'})
  
+slide({bkg:'slide_core_knowledge_innate_transitions.jpg'})
  .notes This picture is significantly different from some competitors (but not Carey on number):
  .notes (1) because it shows we aren't done when we've explained the acquisition of core knowledge (contra e.g. Leslie, Baillargeon), and
  .notes (2) because it shows we can't hope to explain the acquisition of knowledge if we ignore core knowledge (contra e.g. Tomasello)

+slide_rh_white
  +left_half
    p core knowledge of
    ul
      li actions
      li syntax (?)
      li minds
      li causal interactions
      li physical objects
      li colours (?)
      li (number)
      li (space)
  +right_half
    p What is core knowledge?
    p How does it relate to knowledge knowledge?
    p How does it relate to adult cognition?
    p How does it relate to nonhumans' cognition?


+slide_middle
  p.center Core knowlegde: is it all one thing?
  .notes Patterns in the mindreading case seem different from patterns in the cases of physics and number.
  .notes Most people are committed to there being different stories for (a) colour (categorical perception); (b) syntax (tacit knowledge); and (c) physical objects.
  .notes I'm not sure.  I'm tempted to think that perceptual and motor cognition are at the root of these in every case, but this is a radical idea for which there is currenly very little evidence.

+slide_middle
  p.center What is innate in humans?
  .notes Conclusive evidence is rare, but that's not really an obstacle.
  .notes There's no reason to take radical anti-nativism as our starting point.
  .notes This question has two aspects: (i) what sort of thing; (ii) what particulars in which domains.
  .notes On (i), I like the idea that core knowledge is innate.
  .notes But we should be more careful and say at most that either core knowledge or something capable of priming the acquisition of core knowledge is innate.
  .notes On (ii), we looked at a paradigm case, knowledge of syntax.
  .notes In this case, we used a poverty of stimulus argument.
  .notes While the evidence is less clear in other cases, there is certainly reason to suppose that poverty of stimulus arguments might work for knowledge of colour and knowledge of physical objects.
  .notes But I also tried to argue that deciding this question probably isn't very important from our point of view.


+slide_middle
  p.center social interaction
  .notes We've seen that cooperative forms of social interaction appear early in development.
  .notes We studied pointing but there are examples involving helping and playing together too.
  .notes In seminars we've been considering two ideas:
  .notes (i) there is a form of cooperative social interaction abilities to engage in which are important for explaining the origins of knowledge of others' perspectives, for explaining the emergence of abilities to communicate by language, and norms.
  .notes (ii) these forms of cooperative social interaction involve a capacity for shared intentionality,
  .notes where shared intentionality is understood as the ability to share mental states.

+slide({bkg:'slide_romantic_notions_of_sharing.jpg'})
  .notes We should characterise the abilities that underpin cooperative social interactions in infancy without appeal to romantic but mysterious ideas about sharing.
  
section.slide
  .words: .middle: .container_12
    .notes Need to re-think what's needed for social interaction if it's to explain things,
    .notes And the starting point for this is to reflect on abilities to understand action.
    .grid_6.center
      p individual:
      p not
      p intentions
      p but
      p goals
    .grid_6.center
      p joint:
      p not
      p intentions about intentions
      p but
      p common goals


+slide_middle
  p.center core knowledge + social interaction
  .notes I like this picture:
  .notes core knowledge + social interaction  --> abilities to communicate --> knowledge knowledge
  .notes Two problems: (i) lack of evidence; (ii) creativity in acquisition of communication by language is hard to square with the prior absence of knowledge knowledge.

+slide_middle
  .notes I've done one of these pictures for colour and for knowledge of syntax.
  .notes This is speculative.
  svg(xmlns='http://www.w3.org/2000/svg', width='916px', height='359px', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', style='background-color: rgb(0, 0, 0);')
    g(transform='scale(0.786)')
      g(transform='translate(0.5,0.5)')
        path(d='M 392 306 L 383 301 L 426 233 L 418 228 L 447 210 L 443 244 L 435 238 Z', fill='#ffffff', stroke='#000000', stroke-width='3', stroke-miterlimit='10', pointer-events='none')
        rect(x='232', y='157', width='150', height='90', rx='14', ry='14', fill='none', stroke='#ffffff', pointer-events='none')
        g(transform='translate(234,161)')
          switch
            foreignobject(pointer-events='all', width='146', height='78', requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility')
              div(xmlns='http://www.w3.org/1999/xhtml', style='display: inline-block; font-size: 22px; font-family: Lato; color: rgb(255, 255, 255); line-height: 26px; vertical-align: top; width: 146px; white-space: normal; text-align: center;') core knowledge of objects
            text(x='73', y='50', fill='#FFFFFF', text-anchor='middle', font-size='22px', font-family='Lato') [Object]
        rect(x='452', y='157', width='150', height='90', rx='14', ry='14', fill='none', stroke='#ffffff', pointer-events='none')
        g(transform='translate(454,174)')
          switch
            foreignobject(pointer-events='all', width='146', height='52', requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility')
              div(xmlns='http://www.w3.org/1999/xhtml', style='display: inline-block; font-size: 22px; font-family: Lato; color: rgb(255, 255, 255); line-height: 26px; vertical-align: top; width: 146px; white-space: normal; text-align: center;') ability to use tools
            text(x='73', y='37', fill='#FFFFFF', text-anchor='middle', font-size='22px', font-family='Lato') [Object]
        path(d='M 392 207 L 392 197 L 412 197 L 412 187 L 442 202 L 412 217 L 412 207 Z', fill='#ffffff', stroke='#000000', stroke-width='3', stroke-miterlimit='10', pointer-events='none')
        path(d='M 383 103 L 392 98 L 435 166 L 443 160 L 447 194 L 418 176 L 426 171 Z', fill='#ffffff', stroke='#000000', stroke-width='3', stroke-miterlimit='10', pointer-events='none')
        rect(x='232', y='47', width='150', height='90', rx='14', ry='14', fill='none', stroke='#ffffff', pointer-events='none')
        g(transform='translate(234,51)')
          switch
            foreignobject(pointer-events='all', width='146', height='78', requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility')
              div(xmlns='http://www.w3.org/1999/xhtml', style='display: inline-block; font-size: 22px; font-family: Lato; color: rgb(255, 255, 255); line-height: 26px; vertical-align: top; width: 146px; white-space: normal; text-align: center;') abilities for social interaction
            text(x='73', y='50', fill='#FFFFFF', text-anchor='middle', font-size='22px', font-family='Lato') [Object]
        rect(x='2', y='17', width='150', height='90', rx='14', ry='14', fill='none', stroke='#ffffff', pointer-events='none')
        g(transform='translate(4,21)')
          switch
            foreignobject(pointer-events='all', width='146', height='78', requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility')
              div(xmlns='http://www.w3.org/1999/xhtml', style='display: inline-block; font-size: 22px; font-family: Lato; color: rgb(255, 255, 255); line-height: 26px; vertical-align: top; width: 146px; white-space: normal; text-align: center;') core knowledge of mind
            text(x='73', y='50', fill='#FFFFFF', text-anchor='middle', font-size='22px', font-family='Lato') [Object]
        rect(x='232', y='267', width='150', height='90', rx='14', ry='14', fill='none', stroke='#ffffff', stroke-dasharray='3 3', pointer-events='none')
        g(transform='translate(234,297)')
          switch
            foreignobject(pointer-events='all', width='146', height='26', requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility')
              div(xmlns='http://www.w3.org/1999/xhtml', style='display: inline-block; font-size: 22px; font-family: Lato; color: rgb(255, 255, 255); line-height: 26px; vertical-align: top; width: 146px; white-space: normal; text-align: center;') ...
            text(x='73', y='24', fill='#FFFFFF', text-anchor='middle', font-size='22px', font-family='Lato') [Object]
        path(d='M 160 70 L 163 61 L 196 73 L 200 64 L 223 88 L 189 92 L 193 83 Z', fill='#ffffff', stroke='#000000', stroke-width='3', stroke-miterlimit='10', pointer-events='none')
        rect(x='652', y='157', width='150', height='90', rx='14', ry='14', fill='none', stroke='#ffffff', pointer-events='none')
        g(transform='translate(654,161)')
          switch
            foreignobject(pointer-events='all', width='146', height='78', requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility')
              div(xmlns='http://www.w3.org/1999/xhtml', style='display: inline-block; font-size: 22px; font-family: Lato; color: rgb(255, 255, 255); line-height: 26px; vertical-align: top; width: 146px; white-space: normal; text-align: center;')
                | altered experience of the body
                br
            text(x='73', y='50', fill='#FFFFFF', text-anchor='middle', font-size='22px', font-family='Lato') [Object]
        path(d='M 612 206 L 612 196 L 632 196 L 632 186 L 662 201 L 632 216 L 632 206 Z', fill='#ffffff', stroke='#000000', stroke-width='3', stroke-miterlimit='10', pointer-events='none')
        rect(x='564', y='2', width='150', height='90', rx='14', ry='14', fill='none', stroke='#ffffff', pointer-events='none')
        g(transform='translate(566,19)')
          switch
            foreignobject(pointer-events='all', width='146', height='52', requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility')
              div(xmlns='http://www.w3.org/1999/xhtml', style='display: inline-block; font-size: 22px; font-family: Lato; color: rgb(255, 255, 255); line-height: 26px; vertical-align: top; width: 146px; white-space: normal; text-align: center;') reflection on this
            text(x='73', y='37', fill='#FFFFFF', text-anchor='middle', font-size='22px', font-family='Lato') [Object]
        path(d='M 482 127 L 782 127', fill='none', stroke='#ffffff', stroke-width='4', stroke-miterlimit='10', pointer-events='none')
        rect(x='764', y='2', width='150', height='90', rx='14', ry='14', fill='none', stroke='#ffffff', pointer-events='none')
        g(transform='translate(766,6)')
          switch
            foreignobject(pointer-events='all', width='146', height='78', requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility')
              div(xmlns='http://www.w3.org/1999/xhtml', style='display: inline-block; font-size: 22px; font-family: Lato; color: rgb(255, 255, 255); line-height: 26px; vertical-align: top; width: 146px; white-space: normal; text-align: center;') knowledge knowledge of objects
            text(x='73', y='50', fill='#FFFFFF', text-anchor='middle', font-size='22px', font-family='Lato') [Object]
        path(d='M 724 52 L 724 42 L 744 42 L 744 32 L 774 47 L 744 62 L 744 52 Z', fill='#ffffff', stroke='#000000', stroke-width='3', stroke-miterlimit='10', pointer-events='none')
        rect(x='2', y='127', width='150', height='90', rx='14', ry='14', fill='none', stroke='#ffffff', pointer-events='none')
        g(transform='translate(4,131)')
          switch
            foreignobject(pointer-events='all', width='146', height='78', requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility')
              div(xmlns='http://www.w3.org/1999/xhtml', style='display: inline-block; font-size: 22px; font-family: Lato; color: rgb(255, 255, 255); line-height: 26px; vertical-align: top; width: 146px; white-space: normal; text-align: center;') core knowledge of action
            text(x='73', y='50', fill='#FFFFFF', text-anchor='middle', font-size='22px', font-family='Lato') [Object]
        path(d='M 163 168 L 156 161 L 200 117 L 193 110 L 225 99 L 214 131 L 207 124 Z', fill='#ffffff', stroke='#000000', stroke-width='3', stroke-miterlimit='10', pointer-events='none')


+slide_middle
  p.center development as rediscovery
  .notes Social interaction transforms which abilities core knowledge makes possible, and it is reflection on these abilities and the experiences they case that is the ultimate source of our knowledge.
  
+slide_middle
  p.center big idea
  .notes Well, maybe there is a big idea after all.
  .notes (I'm hesitant to mention this because it's not well established and, anyway, you should find your own big idea. But ...)
  .notes Through social interaction you are able to rediscover what is in some sense already encoded in your core knowledge.
  .notes That, anyway, is one idea about how humans come to know about objects, causes, minds and the rest.


