---cson
layout: 'deck_unit'
title: "Mindreading: a Developmental Puzzle"
tags: []
description: """
  The first puzzle concerns apparently conflicting findings about when and how
  humans acquire awareness of others' beliefs.
  """
---

include ../../../fragments/unit_mixins
include ../../../fragments/origins_mixins



+slide_theChallenge
  .notes: :t
    The challenge is to explain the emergence, in evolution or development, of mindreading.
    Initially it looked like this was going to be relatively straightforward and involve just language, social interaction and executive function.
    So a Myth of Jones style story seemed viable.
    But the findings of competence in infants of around one year of age changes this.
    These findings tell us that not all abilities to represent others' mental states can depend on things like language.
    And, as I've been stressing, these findings also create a puzzle.
    The puzzle is, roughly, how to reconcile infants' competence with three-year-olds' failure.
  .notes: :t
    *todo*: There are at least two possible puzzles you might focus on:
    1. How can we avoid the apparent contradiction in the evidence?
    2. How can we explain the apparent discrepancy between infants and 3-year-olds' performances?
    Minimal theory of mind might resolve puzzle 1 but it won't by itself resolve puzzle 2.
    This wasn't clear enough in the lecture (sorry!).



+slide_rh_white
  +run_across
    p.center Two models of minds and actions
  +left_half
    p.center Belief explanation
  +right_half
    p.center Fact explanation
  .clear
  +left_half
    p Maxi wants his chocolate.
  +right_half
    p Maxi wants his chocolate.
  .clear
  +left_half
    p.belief Maxi believes his chocolate is in the blue box.
  +right_half
    p Maxi’s chocolate is in the green box.
  .clear
  +left_half
    p Therefore:
  +right_half
    p Therefore:
  .clear
  +left_half
    p Maxi will look in the blue box.
  +right_half
    p Maxi will look in the red box.
  +hide('.right-half, .right-half-white', 0)
  .slide
    +show('.right-half, .right-half-white')
  .slide
    +highlight-row('.belief')

  
+slide
  .notes: :t
    Let me start by taking you back to the early eighties.
    (Has anyone else been enjoying Deutschland drei und achtzig?)
  
  .a-tasks
    p.notes.show 3-year-olds fail false belief tasks
    .slide
      .notes: :t
        3-year-olds fail a wide variety of tasks where they are asked about a 
        false belief, or  asked to predict how someone with a false belief will 
        act, ... 
    
      p.em-above prediction
      p.indent 	- action
        span.float-right.grey-text (Wimmer & Perner 1983)
    .slide
      .notes: :t
        or asked to predict what someone with a false belief will desire ...
      p.indent 	- desire
        span.float-right.grey-text (Astington & Gopnik 1991)
    .slide
      .notes: :t
        ... or to retrodict or explain a false belief after being shown how someone acts.  
      p retrodiction or explanation
        span.float-right.grey-text (Wimmer & Mayringer 1998)
      p select a suitable argument
        span.float-right.grey-text (Bartsch & London 2000)
    .slide
      .notes: :t
        Further, 
        lots of factors make no difference to 3-year-olds’ performance: they fail 
        tasks about other’s beliefs and they fail tasks about their own beliefs; 

      p.em-above own beliefs (first person)
        span.float-right.grey-text (Gopnik & Slaughter 1991)

    .slide
      .notes: :t
        they fail when they are merely observers as well as when they are actively 
        involved;
      p.em-above involvement (deception)
        span.float-right.grey-text (Chandler et al 1989)

    .slide
      .notes: :t
        they fail when a verbal response is required and also when an 
        nonverbal communicative response or even a noncommunicative response (such 
        as hiding an object) is required.
      p.em-above nonverbal response
        span.float-right.grey-text (Call et al 1999; Krachun et al, 2010; Low 2010 exp.2)

    .slide
      .notes: :t
        And they fail test questions which are word-for-word identical to desire and pretence tasks
      p.em-above test questions word-for-word identical to desire and pretence tasks
        span.float-right.grey-text (Gopnik et al 1994; Cluster 1996)
  .slide
    +blur('.a-tasks')
    +reset-escape-inner
      +_slide_middle_inner
        p.center.huge-glow A-tasks
        .notes: :t
          An A-Task is any false belief task that children tend to fail until around 
          three to five years of age.
        .slide
          +blur('.a-tasks', '10px')
          .notes: :t
            Why do children systematically fail A-tasks? There is a simple explanation ...
          .notes.show
            p(style='margin-top:-7em;margin-left:4em;') Children fail
            p(style='margin-top:3em;margin-left:10em;') because they rely on a model of minds and actions that does not incorporate beliefs
          .notes: :t
            [Stress that, on this view, children do have a model of minds and actions.
            It’s just that it doesn’t incorporate belief.]
            Perner and others have championed the view that children who failed A-tasks
            lack a metarepresentational understanding of propositional attitudes 
            altogether.  But this view has recently (well, not that recently, it’s nearly
            a decade old now) been challenged by Hannes’ discovery
            that children can solve tasks which are like A-tasks but involve incompatible
            desires \citep{rakoczy:2007_desire}.  I think this make plausible the thought
            that there is an age at which 
            children fail A-tasks not because they have a problem with mental states
            in general, but because they have a problem with beliefs in particular.
  


  
+slide
  .notes: :t
    It turns out that, in the first and second years of life, infants show abities 
    to track false beliefs on a variety of measures.
  .non-a-tasks
    p Infants’ false-belief tracking abilities
    .slide
      p.em-above Violation of expectations
      p.indent - with change of location
        span.float-right.grey-text (Onishi & Baillargeon 2005)
      p.indent - with deceptive contents
        span.float-right.grey-text (He et al 2011)
      p.indent - observing verbal comm.
        span.float-right.grey-text (Song et al 2008; Scott et al 2012)
    .slide
      p.em-above Anticipating action 
        span.float-right.grey-text (Clements et al 1994)
      p.indent looking 
        span.float-right.grey-text (Southgate et al 2007)
      p.indent pointing
        span.float-right.grey-text (Knudsen & Liszkowski 2011)

    .slide
      p.em-above Helping
        span.float-right.grey-text (Buttlemann et al 2009, 2015)

    .slide
      p.em-above Communicating
        span.float-right.grey-text (Southgate et al 2010)
    
    //- No! Infants is looking time paradigm
    //- .slide
    //-   p.em-above Altercentric interference
    //-     span.float-right.grey-text (Kovacs et al 2010)

  .slide
    +blur('.non-a-tasks')
    +reset-escape-inner
      +_slide_middle_inner
        .bkg-white-row
          p.center.huge-glow-invert non-A-tasks
          .notes: :t
            A non-A-Task is a task that is not an A-task.  I was tempted to call these
            B-Tasks, but that would imply that they have a unity.  And whereas we know 
            from a meta-analysis that A-tasks do seem to measure a single underlying
            competence, we don’t yet know whether all non-A-tasks measure a single thing
            or whether there might be several different things.
          .slide
            +blur('.non-a-tasks', '10px')
            .notes: :t
              Why do infants systematically pass non-A-tasks in the first year
              or two of life? There is a simple explanation ...
            p.invert(style='margin-top:-7em;margin-left:4em;') Children pass
            p.invert(style='margin-top:3em;margin-left:10em;') by relying on a model of minds and actions that does incorporate beliefs
            .notes: :t
              And this is *almost* everything we need to generate the puzzle about development.



  

+slide_falseBeliefDevelopmentalPuzzle
  +hide('.dogma-of-mindreading', 0)
  .notes: :t
    We’ve seen that ...
    To get a contradiction we need one further ingredient.
  .slide
    +show('.dogma-of-mindreading')
    .notes: :t
      These three claims are jointly inconsistent so one of them must be false.  
      Researchers disagree about which claim to reject.
      But I suppose you can tell from how I’ve labelled them which one I 
      propose to reject.
    .slide
      +blur('.one, .two', '5px')
      +attr('.dogma','style','color:#881616')
      //- +highlight-row('.dogma', 'red')
  


//- 
  TODO: do this later (it refers to representations and algorithms, not the
  computational description)
  

+slide({bkg:'slide_lecture04_013.jpg'})
  .notes: :t
    The puzzle is a little bit like the puzzle we had in the case of knowledge
    of physical objects.
    But it's also different.
    In the case of physical objects, the conflict was between measures
    involving looking and measures involving searching.
    In this case it's different, because on the infant side there is not just
    looking but also acting (e.g. helping) and even communicating.




+slide
  +discrepancyTable
//-
//- +slide_middle
//-   p 1. There are subjects who can pass A-tasks but cannot pass B-tasks.
//-   p.em-above 2. These subjects’ success on A-tasks is explained by the fact that they
//-     span.bold can
//-     span
//-     span.represent represent
//-     span  (false) beliefs.
//-   p.em-above  3. These subjects’  failure on B-tasks is explained by the fact that they
//-     span.bold cannot
//-     span
//-     span.represent represent
//-     span  (false) beliefs.
//-   .slide
//-     +highlight('.represent')
//-     .notes: :t()
//-       So we're invited to think that there may be representation in one sense but not another.
//-       Only the second sense is knowledge.
//-
//-
//-
//-
//- +slide_middle
//-   p.center Is core knowledge (modularity) the solution?
//-   .notes Can we solve the puzzle by appeal to core knowledge (or 'modularity')?
//-   .notes The difference in measures is a hopeful sign that we can.
//-   .notes But the fact that representations of others' minds influence 1-year-olds' actions (e.g. in communicating and helping) complicates things because we imagine modules as inferentially isolated from practical reasoning.
//-   .notes Looking at a further puzzle will help us.
//-
//- // +slide({bkg:'unit_411/slide_budapest_lecture01_73.jpg'})
//- //   .notes Here's the first puzzle one more time.
//- //   // *todo* cut?
