---cson
layout: 'deck_unit'
title: "Development of Joint Action"
tags: []
description: """
  What (if any) joint actions are humans capable of just at the point they are beginning to
  communicate referentially (typically around the first birthday)?  And when are humans
  first able to do what Bratman calls ‘interconnected planning’?
  """
---

include ../../../fragments/unit_mixins
include ../../../fragments/origins_mixins

include ../../../fragments/joint_action_mixins

