---
layout: 'deck_unit'
title: "Perceptual Expectations"
tags: []
description: "This is an introduction to the notion of a perceptual expectation.  We draw on studies of representational momentum to show that some perceptual expectations concern the ways forces act on objects."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins


// ------------------
// perceptual expectations
// what is it like to be an infant

+slide_middle
  .notes: :t()
    Recall that the Principles of Object Perception generate expectations in infants.
    For example, we saw (in the previous lecture) that infants expect objects to be in certain 
    locations, or to appear at 
    certain points in space.
  .notes: :t()
    What is the status of these expectations?
    Our recent identification of the Principles of Object Perception with the operation of object
    indexes suggests that the expectations are in some sense perceptual.
    But what are perceptual expectations?
    And do adults also have perceptual expectations?
  p.center Infants have expectations, but what about adults?

+slide
  +img_clip('kellman_1983_fig2.png', 'rect(0px,530px,186px,265px)')
  .handout.img(data-src='img/kellman_1983_fig2.neg.png',data-caption="Michotte et al (1964) via Kellman and Spelke (1983, figure 2)")
  .handout \emph{source}: Michotte et al (1964) via Kellman and Spelke (1983, figure 2)
  p.source Michotte et al (1964) via Kellman and Spelke (1983, figure 2)
  .notes: :t()
    There are perceptual expectations.
    Suppose you saw this image.
    The triangle behind the thumb is in some sense perceptually present, even though you can't see 
    it.
  +clip('img','auto')
  .notes: :t()
    But now the thumb comes away and what you see is not the triangle you were expecting.
    Could these perceptual expectations be just a matter of knowledge?
    No, because perceptual expectations are judgement-independent.
    As \citep{kellman:1983_perception} report, Michotte, Thines and Crabbe found that subjects 
    report seeing a single large triangle behind the thumb even when they know that there isn't one 
    there.
    You can cover and reveal the triangles repeatedly, but the expectation will hold firm.
  .notes: :t()
    The experience you have when the thumb is removed is like that of infants' in 
    violation-of-expectation tasks.
    This is what it is like to be an infant.

+slide_middle
  p.center representational momentum
  .notes: :t()
    You see an object move on a screen in some way.
    The screen goes blank and you are asked to say where the object was last.
    Subjects typically locate the object just a bit further on, as if it had continued moving after 
    the screen went blank.
    This is called representational momentum as a sort of joke; the idea is that the representation 
    keeps moving if the object stop abruptly enough.
    It's not interesting in itself, but it's useful for us.
    Why is it useful?  Because it can tell us about the paths that the perceptual system expects 
    objects to travel on.
  
+slide
  .notes: :t()
    \citep{freyd:1994_representational}  ('The results are also consistent with a claim of relative 
    cognitive impenetrability (Finke & Freyd, 1989; Kelly & Freyd, 1987) in that subjects showed a 
    memory shift for a path that the majority of subjects did not consciously consider correct.' 
    \citep[p.\ 975]{freyd:1994_representational})
    'In Freyd and Jones’ study [(1994)], greater RM was observed for the impetus (spiral) than for 
    the Newtonian (straight) path.'* (p. 449)
  +img_clip('freyd_1994_fig1.png','auto')
  p.source Freyd and Jones 1994, figure 1
    
  

+slide
  .notes: :t()
    The effect of mass on the rate of ascending motion: impetus and Newtonian theories come apart.
    Important because it shows limits (people know better than their perceptual systems)
    --- \citep{kozhevnikov:2001_impetus} on representational momentum
  +img_clip('kozhevnikov_2001_fig.png','auto')
  p.source Kozhevnikov and Hegarty 2001, figure (from appendix)
  .notes: :t()
    adults, including trained physicists who make correct verbal predictions about the effects of 
    mass on motion, show representational momentum (a perceptual effect) consistent with impetus 
    and inconsistent with Newtonian mechanics.  So again we have (i) judgement-independence and 
    (ii) adults.  ('both physics experts and novices possess the same set of implicit beliefs about 
    motion.' \citep[p.\ 451]{kozhevnikov:2001_impetus})
    --- limits of infants' systems found in adults shows that we can identify the system as 
    persisting 
    --- note that other studies also show judgement-independence, but in the other way (implicit 
    knowledge of physical interactions more accurate than judgement: 'a number of previous studies 
    suggesting a dissociation between explicit and implicit knowledge of the principles of physics. 
    For instance, Hubbard suggests that implicit knowledge reflects internalization of invariant 
    physical principles, whereas explicit knowledge about motion may be less accurate. Similarly, 
    Krist et al. (1993) suggested that perceptually based knowledge is more accurate than verbal 
    concepts of motion.' \citep[p.\ 450]{kozhevnikov:2001_impetus}
    --- What questions does this bear on?  (1) perceptual & modular nature of infants' 
    understanding of objects and their interactions; (2) relation between infant competence and 
    adults' (do the thing about system being transformed or discarded versus two systems persisting 
    through development : this is different from issues about innateness, which looks from 
    infants' competence backwards --- here we go in the other direction, looking forwards); and 
    (3) trade-offs between flexibility and efficiency (see below; worth talking about this in some 
    detail here)
    --- on cognitive efficiency:  	`To extrapolate objects’ motion on the basis of physical 
    principles, one should have assessed and evaluated the presence and magnitude of such 
    imperceptible forces as friction and air resistance operating in the real world.  This would 
    require a time-consuming analysis that is not always possible. In order to have a survival 
    advantage, the process of extrapolation should be fast and effortless, without much conscious 
    deliberation. Impetus theory allows us to extrapolate objects’ motion quickly and without large 
    demands on attentional resources.' \citep[p.\ 450]{kozhevnikov:2001_impetus}
    **caution (basically fine, but need to be careful): 'The extent to which displacement reflects 
    physical principles per se has been widely debated in the literature; theories of displacement 
    suggest a variety of potential effects of physical principles ranging from an incorporation of 
    the principle of momentum into mental representation (e.g., Finke et al., 1986) to a rejection 
    of any internalization of physical principles (e.g., Kerzel, 2000, 2003a). The empirical 
    evidence is clear that (1) displacement does not always correspond to predictions based on 
    physical principles and (2) variables unrelated to physical principles (e.g., the presence of 
    landmarks, target identity, or expectations regarding a change in target direction) can 
    influence displacement. ... information based on a naive understanding of physical principles 
    or on subjective consequences of physical principles appears to be just one of many types of 
    information that could potentially contribute to the displacement of any given target' 
    \citep[p.\ 842]{hubbard:2005_representational}


+slide_middle
  p.center signature limits
  .notes: :t()
    Why is it significant that representational momenutum in adults is consistent with
    objects obeying impetus mechanics rather than Newtonian mechanics?
  .notes: :t()
    There are two reasons.
  .notes: :t()
    First, the signature limits provide us with a means to identify infant with adult cognition.
    If both infants and adults are subjects to the same signature limits, namely those associated
    with impetus mechanics, then we can infer that the representations of physical objects in 
    adult 's perceptual processes originate from the same source as infants' representations of 
    physical objects.
  .notes: :t()
    Second, it shows that the perceptual expectations involved in the representational momentum
    are distinct from judgements.  You would not expect representational momentum to guide 
    purposive actions that are separated in time from the perceptual experiences.

+slide({bkg:'slide_lecture04_013.jpg'})        
  .notes: :t()
    Recall that in infants we found discrepancies between some looking and some action-based 
    measures of abilities to track causal interactions.
    While I don't think we are yet in a position to explain these discrepancies, we can identify 
    them with discrepancies that are also found in adults.
    I suggest that
    the discrepancies bewteen perceptual expectations and verbal judgements in adults have the same
    source
    as the discrepancies bewteen some looking and action-based measures in infants.
    Their explanation lies in the nature of perceptual expectations.


// *todo duplicated in other units
section.slide
  .notes: :t()
    If this is right, one consequence is that infants competences do not grow into more 
    sophisticated adult competencies:  Rather they remain constant throught development, and 
    are supplemented by quite separate abilities.
  .notes: :t()
    This, anyway, is the view I shall adopt from here on in.
  p.em-above &nbsp;
  .container_12
    .grid_3
      p.center infant
    .grid_3
      p &nbsp;
    .grid_3
      p &nbsp;
    .grid_3
      p.center adult
  .clear
  p &nbsp;
  .container_12
    .grid_3
      +colour-ball('yellow', '25')
    .grid_3
      +colour-ball('yellow', '50')
    .grid_3
      +colour-ball('yellow', '75')
    .grid_3
      +colour-ball('yellow', '100')
  .clear
  .container_12
    .grid_3
      p &nbsp;
    .grid_3
      p.center social interaction
    .grid_3
      p.center language
    .grid_3
      p &nbsp;
  .clear
  p &nbsp;
  .container_12
    .grid_3
      +colour-ball('yellow', '25')
    .grid_3
      +colour-ball('yellow', '25')
      +colour-ball('cyan', '25')
    .grid_3
      +colour-ball('yellow', '25')
      +colour-ball('cyan', '50')
    .grid_3
      +colour-ball('yellow', '25')
      +colour-ball('cyan', '100')
  .words: .container_12: .grid_12
    p(style='margin-top:-50px;') time --->    
