---
layout: 'deck_unit'
title: "A Problem"
tags: []
description: "Some principles describe infants' abilities to segment and represent persisting physical objects and their causal interactions.  What is the relation between these principles and the mechanisms of object perception?  Are they, for example, things that infants know?"
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/unit_mixins
include ../../../fragments/origins_mixins







+slide_middle
  .notes As just mentioned, the Simple View is the view that #{origins.simple_view}.
  p.center 
    span.hide.step4 scientific 
    span.hide.step3.linethrough1 intuitive
    span.hide.step3  arguments 
    span.hide.step2 against 
    span the simple view  
  +show('.step2')
  .notes Why must we reject the simple view?
  +show('.step3')
  .notes: :t()
    You might have intuitive arguments against it.
    It is perhaps hard to accept that four-month-old infants are in the business of formulating and revising hypotheses.
    (Come to think of it, it’s quite hard to accept that adults typically acquire representations of unperceived objects by formulating and revising hypotheses.)
    Also we might think of inference as something that a detective does.  It is not obvious that the same process is occurring in infants.
    But these considerations are narrowly intuitive.
    Science sometimes indicates that intuitions are wrong, even intuitions about very fundamental things like space and time.
    And, most importantly, if infants aren’t making inferences on the basis of knowlegde, what are they doing that enables them to pass violation-of-expectation tasks?
  +line-through('.linethrough1')
  .notes I think we shouldn't try to challenge the simple view on the basis of intution.
  +show('.step4')
  .notes And we don't need to because there are also scientific reasons for rejecting the simple view.
  .notes One set of reasons concerns the apparent discrepancy between looking times and manual search ...



+slide_middle
  .notes: :t()
    *(The basic idea is to say there's a discrepancy regarding BOTH (a) permanence and (b) 
    causal interactions)
  p.center conflicting evidence: permanence

+slide
  +img_clip('baillargeon_1987_fig1.png', 'auto')
  p.source Baillargeon et al 1987, figure 1
  .notes: :t()
    Recall this experiment which used habituation to demonstrate infants' abilities to represent
    objects as persiting while unperceived (in this case, because occluded).
    Infants can do this sort of task from 2.5 months or earlier \citep{Aguiar:1999jq}.
  .notes: :t()
    But what happens if instead of measuring how infants look, we measure how they reach?
    
+slide
  .notes: :t()
    \citet{Shinskey:2001fk} did just this.
    Here you can see their appratus.
    They had a screen that infants could pull forwards to get to an object that was sometimes
    hidden behind it.
    They made two comparisons.
    First, were infants more likely to pull the screen forwards when an object was placed behind it?
    Second, were how did infants' performance compare when the barrier was not opaque but transparent?
  +img_clip('shinskey_munakata_2001_fig1.png')
  p.source Shinskey and Munakata 2001, figure 1

+slide
  .notes: :t()
    Here are their results with 7-month old infants.
  +img_clip('shinskey_munakata_2001_fig2.png')
  p.source Shinskey and Munakata 2001, figure 2
    


+slide
  .notes: :t()
    Now we have the beginnings of a problem.
    The problem is that, if the Simple View is right, infants should succeed in tracking persisting
    objects regardless of whether we measure their eye movements or their reaching actions.
    But there is a gap of around five months between looking and reaching.
  p Responses to the occlusion of a desirable object
  ul
    li look (from 2.5 months)
      p.right.grey-text (Aguiar & Baillargeon 1999)
    li reach (7--9 months)
      p.right.grey-text (Shinskey & Munakata 2001)
  .notes: :t()
    The attraction of the simple view is that it explains the looking.
    The problem for the simple view is that it makes exactly the wrong prediction about the reaching.
  .notes: :t()
    Can we explain the discrepancy in terms of the additional difficulty of reaching?
    A lot of experiments have attempts to pin the discrepancy on this, or on other extraneous factors like task demands.
    But none of these attempts have succeeded.
    After all, we know infants are capable of acting because they move the transparent screen.
  .slide
    .notes As Jeanne Shinskey, one of the researchers most dedicated to this issue says, 
    p.em-above.handout.show ‘action demands are not the only cause of failures on occlusion tasks’
    .handout.ctd \citep[p.\ 291]{shinskey:2012_disappearing}
    p.right Shinskey (2012, p. 291)




+slide_middle
  .notes: :t()
    If there were just one discrepancy, concerning performance, we might be able to hold on to the
    Simple View.  But there are systematic discrepancies along these lines.
  .notes: :t()
    Related discrepancies concerning infants' understanding of physical objects occur in the case
    of their abilities to track causal interactions, too.
  p.center conflicting evidence: causal interactions






+slide
  .notes: :t()
    Recall this experiment about causal interactions, which used a habituation paradigm.
    Now imagine a version which involved getting infants to reach for the object rather than simply looking.
    What would the results be?
    There is an experiment much like this which has been replicated several times, and which shows 
    a discrepancy between looking and searching.
    Basically infants will look but not search.
  +img_clip('spelke_1992_fig2a.png', 'auto')
  p.source Spelke et al 1992, figure 2


section.slide
  .notes *todo
  img.bkg(src='/img/slide_lecture04_010.jpg')
section.slide
  .notes *todo
  img.bkg(src='/img/slide_lecture04_011.jpg')
section.slide
  .notes *todo
  img.bkg(src='/img/slide_lecture04_012.jpg')
section.slide
  .notes Here are the looking time results.
  img.bkg(src='/img/slide_lecture04_013.jpg')

section.slide
  .notes You can even do looking time and reaching experiments with the same subjects and apparatus \citep{Hood:2003yg}.
  .notes 2.5-year-olds look longer when experimenter removes the ball from behind the wrong door, but don't reach to the correct door 
  img.bkg(src='/img/slide_lecture04_014.jpg')
+slide
  p search
  .notes here are the search results (shocking).
  img(src='/img/hood_2003_fig4.png')
  p.source Hood et al 2003, figure 4
section.slide
  .notes *todo: describe
  .notes **todo: Mention that \citep{mash:2006_what} show infants can also predict the location of the object (not just identify a violation, but look forward to where the object is)
  img.bkg(src='/img/slide_lecture04_015.jpg')
  

+slide({bkg:'slide_cp_london_180.jpg'})
  .notes: :t()
    Amazingly, 2 year old children still do badly when only the doors are opaque, so that the
    ball can be seen rolling between the doors, as in this diagram \citep{Butler:2002bv}.
+slide({bkg:'slide_cp_london_181.jpg'})


+slide
  .notes Similar discrepancies between looking and reaching are also found in some nonhuman primates,
  .notes both apes and monkeys (chimpanzees, cotton-top tamarins and marmosets).
  .notes (Some of this is based on the gravity tube task and concerns gravity bias.)
  .step1-and-2
    p.handout.notes.show ‘A similar permanent dissociation in understanding object support relations  
      | might exist in chimpanzees. They identify impossible support relations in looking tasks, 
      | but fail to do so in active problem solving.’
    .handout.notes.ctd \citep{gomez:2005_species}
    p.right (Gomez 2005)
    .slide
      p.em-above Likewise for cotton-top tamarins (Santos et al 2006) and marmosets (Cacchione et al 2012).
  +blur_('.step1-and-2')
  .slide
    .notes Note that this research is evidence of dissociations between looking and search in adult primates, not infants.
    .notes This is important because it indicates that the failures to search are a feature of the core knowledge system rather than a deficit in human infants.
    .notes.handout ‘to date, adult primates’ failures on search tasks appear to 
      | exactly mirror the cases in which human toddlers perform poorly.’
    p.em-above ‘to date, adult primates’ failures on search tasks appear to 
      | exactly mirror the cases in which human toddlers perform poorly.’
    .notes.handout.ctd \citep[p.\ 17]{santos:2009_object}
    p.right (Santos & Hood 2009, p. 17)


+slide_middle
    p.center What about the chicks and dogs?
    .notes: :t()
      What about the chicks and dogs?
      This isn't straightforward.
      As I mentioned earlier, \citep{kundey:2010_domesticated} show that domestic dogs are good 
      at solidity on a search measure.  And as we covered in seminars, 
      \citep{chiandetti:2011_chicks_op} demonstrate object permanence with a search measure in 
      chicks that are just a few days old.
      Indeed, for many of the other animals I mentioned, object permanence is measured in search 
      tasks, not with looking times.
      To speculate, it may be that the looking/search dissociation is more likely to occur in
      adult animals the more closely related they are to humans.
      But let's focus on the fact that you get the looking/search in any adult animals at all.
      This is evidence that the dissociation is a consequence of something fundamental about 
      cognition rather than just a side-effect of some capacity limit.

+slide_middle
  .notes: :t()
    So far we can draw two conclusions about infants' and adults abilities to track 
    interactions.  My \textbf{first conclusion} from this section is that infants from around 
    4 months of 
    age or younger and nonhuman animals are able to track simple causal interactions.
  p.center conclusion so far: three things

+slide_middle
  .notes: :t()
    I started by identifying three requirements for knowledge of physical objects: 
    abilities to segment objects, to represent them as persisting, and to track their causal 
    interactions.
    My \textbf{second conclusion} is that a single set of principles likely underlies these 
    abilities.  The ability to segment objects is bound up with the ability 
    to represent them as persisting and with the ability to track their interactions.
  .container_12
    .grid_6
      p principles of object perception
    .grid_2
      p.stretch-5  {
    .grid_4
      .kludge(style='margin-top:-30px;margin-left:-50px;')
        p segmentation
        p permanence
        p causal interaction
+slide_middle
  .notes: :t()
    My \textbf{third conclusion} is that we have a problem.
    The problem is that we have to reject the simple view.
    Recall that the simple says that the principles of object perception are things that we know 
    or believe.
    We must reject this view because it makes systematically incorrect predictions about actions 
    like searching for objects.
  p.center the simple view
  +line-through('p')
  .notes: :t()
    But why is this a problem? Because, as we'll see, it is hard to identify an alternative.


//- *** HERE ***
//- ADD A UNIT DESCRIBING THE PROBLEM --- if not KNOWLEDGE then WHAT?  Can't just be representation ....
//- THEN REUTNR TO DAVIDSON ON, the what is in between stuff!
      
//-
  +slide
    .notes How do these principles enable us to discern when one object ends and another begins?
    p Perception of objects rests on knowledge of ‘four principles—cohesion, boundedness, rigidity, and no action at a distance—that reflect basic constraints on the motions of physical bodies’  (Spelke 1990: 30-1)
    p We acquire representations of unperceived objects by applying the principles to what we see and drawing inferences about which objects there are. 
    .slide
      p So infants who pass violation-of-expectation tasks can:
      ul
        li formulate hypotheses;
        li revise and elaborate these hypotheses; and
        li regard events as anomalous or surprising.

  

