---
layout: 'deck_unit'
title: "Communication is Social Interaction"
tags: []
description: "We need an alternative picture of how humans acquire abilities to communicate by language, one that rests on neither mapping nor training."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins

+slide_middle
  p.center lab rat vs shipwreck survivor
  .notes: :t()
    Lab rat view is ideal for us because word use doesn't presuppose concept possession.
    Unfortunately it faces objections which appear all but decisive.
  .notes: :t()
    Shipwreck survivor faces less pressing objections but doesn't suit us because requires
    that concepts come before words.  It's no coincidence that proponents of this view are
    nativists about concepts (and therefore have no need to explain how humans come to
    acquire concepts in development.)


+slide_middle
  .notes Is there an alternative picture of communication by language, one without mapping or training?
  p.center communication by language without mapping or training

+slide_middle
  .notes In thinking about the alternative picture, I'm guided by two thoughts.
  .notes The first concerns social interaction.
  p.center social interaction
  .notes: :t()
    So far we've considered two pictures of how children learn to communicate with words: training and 
    reasoning to word-concept mappings.
    Both pictures miss social interaction.
    On one picture the infant is an outsider who might as well be observing those around her through a 
    telescope.
    On the other picture the child is a blank to be shaped by those around her.
    There is no meaningful interaction between the infant and adults around her; or, if there is, it 
    makes no difference to her development.
    But could there be a role for social interaction in learning the meanings of words?
    If you think about the examples of creativity --- homesigns and puttaputta --- this seems plausible.
    Communication with words happens in the context of joint action, and it is a tool for joint action.

+slide
  .notes The alternative picture is based on the ideas of Michael Tomasello and his colleagues.
  .step1
    p.handout.show ‘children acquire linguistic symbols as a kind of by-product of social interaction with adults’
    p.right Tomasello 2003, p. 90
    .handout.ctd \citep[p.\ 90]{Tomasello:2003fk}
    .em-above 
    .handout: :t()
      Infants ‘begin to comprehend and use … linguistic symbols on the basis of their skills of 
      social cognition and cultural learning’ \citep[p.\ 582]{Tomasello:1999en}
    //- 
      .slide
        p.show Infants ‘begin to comprehend and use … linguistic symbols on the basis of their skills of social cognition and cultural learning’ 
        p.right Tomasello, Striano & Rochat 1999, p. 582
        .em-above
        p.handout ‘language is itself one type-albeit a very special type-of joint attentional skill’ 
        //- p.right Tomasello 2001, p. 1120
        .handout.ctd \citep[p.\ 1120]{Tomasello:2001ic}
  +blur_('.step1')
  .slide
    p.handout.show ‘the kind of rational activity which the use of language involves is a form of rational cooperation’ 
    p.right Grice 1989, p. 341
    .handout.ctd \citep[p.\ 341]{Grice:1989ha}
 


+slide_middle
  .notes The second guiding thought in creating the alternative picture concens creativity.
  p.center language creation
  .notes: :t()
    It's standard to suppose that creativity is a side-issue and that learning from those around 
    us is the norm.
    This view is encouraged by the idea that language is fundamentally a system of conventions, 
    and that coming to communicate with words is a matter of getting into those conventions.
    Nothing could be further from the truth.
    Acquiring the ability to communicate with words is an essentially creative process.
    Conventions in the surrounding culture can be useful, but they are no more than useful accessories.


+slide
  // ***todo *** add Grice quote!
  .quote1
    p
      span.handout.show ‘it is an error to suppose we have seen deeply into the heart of linguistic communication when we have noticed how society bends linguistic habits to a public norm.
      span ’
    .handout.ctd  …  But in indicating this element of the conventional, or of the conditioning process that makes speakers rough linguistic facsimiles of their friends and parents, we explain no more than the convergence; we throw no light on the essential nature of the skills that are thus made to converge.’
    p.right Davidson 1984 [1982]: 278
    .handout.ctd \citep[p.\ 278]{Davidson:1982uu}
  .em-above
  .quote2
    p.handout.show ‘convention does not help explain what is basic to linguistic communication, though it may describe a usual, though contingent feature.’
    p.right Davidson 1984 [1982]: 280
    .handout.ctd \citep[p.\ 280]{Davidson:1982uu}
  .em-above
  .quote3
    p
      span.handout.show ‘An utterance has certain truth conditions only if the speaker intends it to be interpreted as having those truth conditions.
      span ’
      .handout.ctd  Moral, social or legal considerations may sometimes invite us to deny this, but I do not think the reasons for such exceptions reveal anything of importance about what is basic to communication’
    p.right Davidson 1990: 310
  .handout.ctd \citep[p.\ 310]{Davidson:1990du}
  +blur('.quote1, .quote3')
  .notes: :t()
    This claim, which is hard to reject given lexical creativity,
    also challenges both lab rat view, and some versions of the shipwreck survivor view.
    In both cases, the assumption is that infants acquiring words are learning to conform
    to conventions or regularities of some kind.  But they are not.
    (This point is not challenge for Bloom's view, as his emphasis on mindreading allows that
    infants might be detecting what words mean on particular occasions.)
  .notes: :t()
    Could link this to Grice on occasion meaning etc.  The point is that, for infants,
    it is all about occasion meaning.

+slide_middle
  .notes So these are my two themes.
  .notes We're looking at non-linguistic communication for its own sake, but also in the hope that we can understand how humans acquire abilities to communicate by language.
  p.center social interaction
  p.center language creation

  
//-       
  +slide
    p Grice on meaning
    p.em-above 'A speaker S non-naturally means something by an utterance x if and only if, for some hearer (or audience) H, S utters x intending:
    p (1)	H to produce a particular response r, and
    p (2)	H to recognise that S intends (1).
    p.right Grice 1957


  +slide
    .notes ***todo update diagram (no meanings, past intentions)
    .notes *Utterances of words are gestures ... (link to non-verbal communication)
    img(src='/img/fig_lexical_innovation.png')



+slide
  .notes: :t()
    Our overall project is to understand something about the emergence of knowledge of minds, 
    objects, colours and the rest in human development.
    My proposal is that we have to take two factors into account.  One is core knowledge, the 
    other is social interaction.
    Our current project is to understand where abilities to communicate fit into this 
    picture---to understand, that is, what role they might play in explaining how humans 
    come to know things.
  .notes: :t()
    Increasingly sophisticated forms of social interaction continue to combine with
    core knowledge to yield increasingly sophisticated forms of cognition, 
    resulting in konwledge itself.
  p.center.diagram
    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='733px', height='953px', version='1.1')
      g(transform='translate(0.5,0.5)')
        g.social-interaction
          rect(x='31', y='51', width='180', height='70', rx='11', ry='11', fill='#000000', stroke='#ffffff', pointer-events='none')
          g(transform='translate(31,56)')
            switch
              foreignobject(pointer-events='all', width='180', height='62', requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility')
                div(xmlns='http://www.w3.org/1999/xhtml', style='display: inline-block; font-size: 24px; font-family: lato; color: rgb(0, 0, 0); line-height: 1.26; vertical-align: top; width: 178px; white-space: normal; text-align: center;')
                  div(xmlns='http://www.w3.org/1999/xhtml', style='display: inline-block; text-align: inherit; text-decoration: inherit;')
                    font(color='#ffffff', style='font-size: 24px;') social interaction
              text(x='90', y='43', fill='#000000', text-anchor='middle', font-size='24px', font-family='lato') [Not supported by viewer]
        g.knowledge-knowledge.hide
          rect(x='311', y='441', width='180', height='70', rx='11', ry='11', fill='#000000', stroke='#ffffff', pointer-events='none')
          g(transform='translate(311,446)')
            switch
              foreignobject(pointer-events='all', width='180', height='62', requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility')
                div(xmlns='http://www.w3.org/1999/xhtml', style='display: inline-block; font-size: 24px; font-family: lato; color: rgb(0, 0, 0); line-height: 1.26; vertical-align: top; width: 178px; white-space: normal; text-align: center;')
                  div(xmlns='http://www.w3.org/1999/xhtml', style='display: inline-block; text-align: inherit; text-decoration: inherit;')
                    font(color='#ffffff', style='font-size: 24px;') knowledge knowledge
              text(x='90', y='43', fill='#000000', text-anchor='middle', font-size='24px', font-family='lato') [Not supported by viewer]
        g.referential-communication.hide
          rect(x='101', y='181', width='190', height='70', rx='11', ry='11', fill='#000000', stroke='#ffffff', pointer-events='none')
          g(transform='translate(101,186)')
            switch
              foreignobject(pointer-events='all', width='190', height='62', requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility')
                div(xmlns='http://www.w3.org/1999/xhtml', style='display: inline-block; font-size: 22px; font-family: Lato; color: rgb(255, 255, 255); line-height: 26px; vertical-align: top; width: 146px; white-space: normal; text-align: center;')
                  span.referential-communication(style="z-index:1; position:static") referential communication
              text(x='95', y='43', fill='#000000', text-anchor='middle', font-size='24px', font-family='lato') [Not supported by viewer]
        g.communication-by-language.hide
          rect(x='180', y='310', width='190', height='70', rx='11', ry='11', fill='#000000', stroke='#ffffff', pointer-events='none')
          g(transform='translate(180,315)')
            switch
              foreignobject(pointer-events='all', width='190', height='62', requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility')
                div(xmlns='http://www.w3.org/1999/xhtml', style='display: inline-block; font-size: 24px; font-family: lato; color: rgb(0, 0, 0); line-height: 1.26; vertical-align: top; width: 188px; white-space: normal; text-align: center;')
                  div(xmlns='http://www.w3.org/1999/xhtml', style='display: inline-block; text-align: inherit; text-decoration: inherit;')
                    font(color='#ffffff', style='font-size: 24px;') communication by language
              text(x='95', y='43', fill='#000000', text-anchor='middle', font-size='24px', font-family='lato') [Not supported by viewer]
        g.core-knowledge
          rect(x='321', y='49', width='180', height='70', rx='11', ry='11', fill='#000000', stroke='#ffffff', pointer-events='none')
          g(transform='translate(322,69)')
            switch
              foreignobject(pointer-events='all', width='178', height='32', requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility')
                div(xmlns='http://www.w3.org/1999/xhtml', style='display: inline-block; font-size: 24px; font-family: lato; color: rgb(0, 0, 0); line-height: 1.26; vertical-align: top; width: 178px; white-space: normal; text-align: center;')
                  div(xmlns='http://www.w3.org/1999/xhtml', style='display: inline-block; text-align: inherit; text-decoration: inherit;')
                    font(color='#ffffff', style='font-size: 24px;') core knowledge
              text(x='89', y='28', fill='#000000', text-anchor='middle', font-size='24px', font-family='lato') [Not supported by viewer]
        g.referential-communication.hide
          path(d='M 121 121 L 188 175', fill='none', stroke='#ffffff', stroke-width='3', stroke-miterlimit='10', pointer-events='none')
          path(d='M 193 179 L 184 177 L 188 175 L 189 170 Z', fill='#ffffff', stroke='#ffffff', stroke-width='3', stroke-miterlimit='10', pointer-events='none')
          path(d='M 421 121 L 206 178', fill='none', stroke='#ffffff', stroke-width='3', stroke-miterlimit='10', pointer-events='none')
          path(d='M 199 180 L 207 173 L 206 178 L 209 182 Z', fill='#ffffff', stroke='#ffffff', stroke-width='3', stroke-miterlimit='10', pointer-events='none')
        g.communication-by-language.hide
          path(d='M 421 121 L 281 302', fill='none', stroke='#ffffff', stroke-width='3', stroke-miterlimit='10', pointer-events='none')
          path(d='M 277 307 L 279 297 L 281 302 L 286 303 Z', fill='#ffffff', stroke='#ffffff', stroke-width='3', stroke-miterlimit='10', pointer-events='none')
          path(d='M 201 251 L 268 305', fill='none', stroke='#ffffff', stroke-width='3', stroke-miterlimit='10', pointer-events='none')
          path(d='M 273 309 L 264 307 L 268 305 L 269 300 Z', fill='#ffffff', stroke='#ffffff', stroke-width='3', stroke-miterlimit='10', pointer-events='none')
        g.knowledge-knowledge.hide
          path(d='M 421 121 L 402 431', fill='none', stroke='#ffffff', stroke-width='3', stroke-miterlimit='10', pointer-events='none')
          path(d='M 401 438 L 397 428 L 402 431 L 406 429 Z', fill='#ffffff', stroke='#ffffff', stroke-width='3', stroke-miterlimit='10', pointer-events='none')
          path(d='M 321 381 L 388 435', fill='none', stroke='#ffffff', stroke-width='3', stroke-miterlimit='10', pointer-events='none')
          path(d='M 393 439 L 384 437 L 388 435 L 389 430 Z', fill='#ffffff', stroke='#ffffff', stroke-width='3', stroke-miterlimit='10', pointer-events='none')

  +show('.referential-communication')
  +show('.communication-by-language')
  +show('.knowledge-knowledge')
  +blur_('font:not(.referential-communication)')
  +invert('span.referential-communication')
      
