---
layout: 'deck_unit'
title: "Colour Concepts and Colour Words"
tags: []
description: "What does research on categorical perception tell us about how children learn the meanings of colour words?"
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins


// *todo* don't use in present form --- needs more work

section.slide
  .notes At this point you might wonder what is happening when children first start using colour words.
  .notes If you ask them about the colour of something, they will give you a colour word.
  .notes So they do know something about colour.
  .notes But they use colour words at random.
  .notes So we can't plausibly think of them as mapping colour words to concepts they already have.
  .words: .middle
    .container_12: .grid_12
      p.center How do children use colour words before they use them correctly?

section.slide
  .notes Let's suppose that Bloom is right.
  .notes What's interesting about Kowalski and Zimiles is that they show that knowing some colour words seems
  .notes to come \emph{before} having colour concepts.
  .words: .middle
    .container_12: .grid_12
      p.center.handout.show ‘two things are involved in knowing the meaning of a word—having the concept and mapping the concept onto the right form’
      .handout.ctd \citep[p. \ 17]{Bloom:2000qz}
      p.right (Bloom 2000, p. 17)


