---cson
layout: 'deck_unit'
title: 'From Joint Action to Communication'
tags: []
description: """

"""
depends: ['']  
source: ['']
duration: 5
handout: false
---
 
include ../../../fragments/unit_mixins
include ../../../fragments/origins_mixins


+slide_middle
  .notes: :t
    Grasping and orienting are object-directed actions.
    Now referring is not an action in this sense.
    But it might be that infants understand if it were an action.
  p.center grasping / orienting 
    span.referring.hide vs referring 
  .notes: :t
    Consider grasping as our model. 
    You can grasp an object with your hand, mouth or foot.
    You can use a precision grip or a power grip or grip it in many other ways.
    In each case you are grasping the object.
  .notes: :t
    Note that grasping is basic in the sense that the ability to produce or
    recognise grasping is (arguably) not a matter of being able to produce or
    recognise more basic actions. 
  .slide
    p.center.em-above individual vs joint
    .notes: :t
      These things can also be joint actions --- we can collectively orient to,
      and grasp an object (at least we can if it’s large enough).
    .notes: :t
      (Here I mean joint action in a minimal sense:
      our actions have the collective goal that we grasp, or orient to, the object.
      And we each expect this collective goal to occur as a common effect of our 
      actions, yours and mine.)
  .slide
    +show('.referring')
    .notes: :t
      Why not think of referring as an action too?
    .notes: :t
      You might object that referring is not an action.
      I agree---properly understood, reference is something that words do in the 
      context of sentences.
      But we can also allow that there is a kind of act type of 
      which pointing and verbally labelling are both instances.
    .notes: :t
      We might suppose that infants similarly think of pointing and verbally labelling
      objects as related much as different ways of grasping.
      There is one action kind---call it referring---which all these are species of.
      This is what they understand of communication.
    .notes: :t
      So their early understanding of communication with language and of non-linguistic 
      referential communication is a matter of how they categorise actions.
    .notes: :t
      *todo: Contrast both the pure use (block-slab) view, the Gricean view advocated by
      Tomasello et al view (they have to understand an intention that
      the action be interpreted in a certain way).
    
+slide_middle
  p.center From pointing to one-word utterances ...


+slide
  .notes Tincoff and Jusczyk showed 6 month old infants two videos (not pictures: what you see here are stills from their videos) simultaneously.
  .notes While the videos were playing, the infants heard a word spoken.  The word was either 'hand' or 'foot'.
  .notes Which video did they look at more?
  +img_clip('tincoff_2011_fig1.png')
  p.source Tincoff and Jusczyk 2011, figure 1

+slide
  .notes Here are Tincoff and Jusczyk's results.
  .notes They suggest that 6-month-olds can already associate some words with their referents.
  .notes But 6-month-old infants don't communicate, neither with words nor by pointing.
  img(src='/img/tincoff_2011_fig2.png')
  p.source Tincoff and Jusczyk 2011, figure 1


+slide_middle
  .notes: :t
    Recall the idea of referring as a joint action:
    if we accept this, then we can see a continuity between the use of pointing and the
    use of single-word utterances.
  .notes: :t
    In the case of pointing, the tendancy of a pointing action to cause someone to follow it
    enables the use of pointing to refer; in the case of a one-word utterance, the 
    association creates a tendancy for utterances of the word to result in orienting
    to the object and this enables the use of that utterance to refer.
  .notes: :t
    (Careful: the mere fact that association exists is not sufficient for communication;
    nor is the mere fact that an association exists sufficient to make it obvious that 
    the word could be used to refer--this must be a discovery.)
  p.center grasping / orienting 
    span.referring vs referring 
  p.center.em-above individual vs joint
  

+slide_rh_white
  +run_across
    p.center understanding action
  +left_half
    p(style="margin-top:-1em;") R(a,G) defined with intention
  +right_half
    p(style="margin-top:-1em;") R(a,G) defined  non-psychologically
  .slide
    +run_across
      p.center joint action
    +left_half
      p(style="margin-top:-1em;") R(a
        sub 1
        span , a
        sub 2
        span , ..., G) defined with shared intention
    +right_half
      p(style="margin-top:-1em;") R(a
        sub 1
        span , a
        sub 2
        span , ..., G) defined with expectations about collective goals
  .slide
    +run_across
      p.center communication
    +left_half
      p(style="margin-top:-1em;") Refers(gesture,object) defined with communicative intention
    +right_half
      p(style="margin-top:-1em;") R(gesture,object) defined non-psychologically

  

//- significance

+slide_middle
  p.notes.show Inconsistent tetrad
  p.hem-around.notes.show 1. 11- or 12-month-old infants produce and understand declarative pointing gestures.
  .notes: :t
    This is what we have evidence for
  p.hem-around.notes.show: :t
    2. Producing or understanding pointing gestures involves understanding communicative actions.
  .notes: :t
    This is the rejection of the ‘block-slab’ model of communication
  p.three.hem-around.notes.show: :t
    3. A communicative action is 
    an action done with an intention to provide someone with evidence of an intention with the
    further intention of thereby fulfilling that intention.
  .notes: :t
    This is the theory I take Tomasello & Moll to endorse (although they are not very
    explicit about it, it’s based on their use of the term ‘shared intentionality’).
  p.four.hem-around.notes.show: :t
    4. Pointing facilitates the developmental emergence of sophisticated cognitive abilities
    including mindreading.
  +highlight-row('.three', 'red')
  .notes: :t
    I’ve just argued that we can reject (3).  I’ve supplied an 
    alternative account of what a communicative action is, one that doesn’t involve 
    appeal to intention.
