---
layout: 'deck_unit'
title: "Pointing: Reference and Context"
tags: []
description: "How 18- and 14-month-old infants interpret a pointing gesture depends on the cooperative context in which it occurs."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/unit_mixins
include ../../../fragments/origins_mixins

//- +slide_middle
//-   .notes I want to start with a question about non-linguistic communication.
//-   p.center.notes.show Is there a role for abilities to communicate non-linguistically in explaining the origins of knowledge?





+slide({id:'unit_662_pointing_outline'})
  p From around 11 or 12 months of age, humans spontaneously use pointing to ...
    ul
      li request
      li inform
      li initiate joint engagement (‘Wow! That!’)
  +highlight-row('li:eq(2)')
  .notes: :t()
    Why is this significant?
    Because it implies two things:
    First, it implies that infants' pointing is referential communication; that is, 
    communication about an object.
    (Contrast sharing a smile; we're communicating, but not necessarily referring.)
    Second, it implies that infants have some understanding of joint engagement.


+slide
  .notes Last time we looked at an experiment to show that this is true.  You might remember it from this photo.
  img(src='/img/liszkowski_2004_fig2.png')
  p.source Liszkowski et al 2004, figure 2


+slide_middle
  p.center How do infants understand pointing actions?
  .notes: :t()
    Explain this in terms of models.
  .slide
    p.center Hypothesis 1: Pure use (compare block & slab).

+slide_middle
  p: :t()
    ‘Let us imagine a language for which the description given by Augustine is right. [...]
  p: :t()
    A is building with building-stones: there are blocks, pillars, slabs and beams. 
  p: :t()
    B has to 
    pass the stones, and that in the order in which A needs them. 
  p: :t()
    For this purpose they use a 
    language consisting of the words ‘block’, ‘pillar’, ‘slab’, ‘beam’. 
  p: :t()
    A calls them out; 
    B brings the stone which he has learnt to bring at such-and-such a call.’
  p.right Wittgenstein (1953, §2)
  .notes: :t()
    Can we think of infant pointing on this model, just as a bit more sophisticated in 
    that the pointing gesture picks out different objects on different occasions?
  .notes: :t()
    What are the limits of this picture?
    (a) there is a fixed thing that people do in response to pointing.
    (b) the context of the activity in which the pointing occurs is fixed (its building).


section.slide(id='unit_662_pointing_outline2')
  .slide-clone(data-which='#unit_662_pointing_outline')
  +unhighlight-row_('li:eq(2)')
  +highlight-row('li:eq(1)')
  .notes: :t()
    Let's have a look at the evidence for informative pointing.



+slide({bkg:'liszkowski_2008_fig3a.png'})
  p.source Liszkowski et al 2008, figure 3
+slide({bkg:'liszkowski_2008_fig3b.png'})
  p.source Liszkowski et al 2008, figure 3


+slide
  +img('liszkowski_2008_fig5.png')
  p.source Liszkowski et al 2008, figure 5
  .notes: :t()
    Subjects are 12-month olds.
    Fig. 5. Experiment 2. Mean proportion of trials with a point in the experimental (E is ignorant) 
    and control (E is knowledgeable) conditions.


section.slide
  .slide-clone(data-which='#unit_662_pointing_outline2')
  .notes: :t()
    Why is this significant?
    Because it implies that infant pointing is not just a matter of getting you to do
    things for the infant, nor of getting you to do things with the infant.
    Instead it can be used where the infant has no expectation that you will do anything
    with or for the infant.
    And this matters because it constrains how an infant could understand pointing.


+slide_middle
  p.center How do infants understand pointing actions?
  p.center Hypothesis 1: Pure use (compare block & slab).
  .notes: :t()
    The fact that infants can point to request, inform and initiate joint attention
    shows that the simple block & slab model is wrong because that is a model 
    where communicative actions have a fixed purpose, and pointing does not.
    It seems to rule out the block & slab model.
  .notes: :t()
    Recall that there were two limits on block & slab: (a) fixed purpose and (b) fixed
    context.  We've seen that (a) pointing does not have a fixed purpose.
    What about fixed context?
    A further finding bears on this ...



+slide_middle
  // .notes \citet[p.\ 492]{Behne:2005qh}: 'the infant asks herself: Why did the adult do this for me? Why is this object to which he is gesturing relevant to our interaction?'
  .notes: :t()
    I want to say a tiny bit more on what is involved in understanding a pointing gesture.
    Suppose that we are doing puzzle.  Then if I point to a piece, I probably intend you to do 
    something with it in the context of our activity.
    By contrast, if we are tidying up, a point to the same object might mean something different.
    So: 
  .notes.handout: :t()
    Comprehending pointing is not just a matter of locking onto the thing pointed to; it also 
    involves some sensitivity to context \citep[see][]{Liebal:2010lr}.
  .notes This is nicely brought out in a study by Christina Liebel and others ...
  .handout \subsection{Pointing: referent and context}
  p.center pointing: referent and context 

+slide
  img(src='/img/liebal_2009_fig1.png')
  p.source Liebal et al 2009, figure 1
  
+slide
  +img_clip('liebal_2009_fig2.png','rect(0, 350px,999px,0)')
  +clip('img:eq(0)', 'auto')
  p.source Liebal et al 2009, figure 2
  .notes 18-month-olds can do this, but 14-month-olds can't.  (Don't infer anything from null result.)

+slide
  img(src='/img/liebal_2009_fig3.png')
  p.source Liebal et al 2009, figure 3

+slide
  img(src='/img/liebal_2009_fig4.png')
  p.source Liebal et al 2009, figure 4
  .notes: :t()
    Here are the results of another study from the same paper, Study 2.
    ‘In this study, in each of two conditions infants shared a clean-up game involving multiple 
    different objects with an experimenter (E1). At the end of this game, depending on the condition, 
    either E1 or a different experimenter (E2), with whom infants had not shared any relevant 
    experience, pointed toward a new object. If infants understood the situation correctly, 
    they should clean up this new object when E1 pointed but not when E2 pointed.’
  .notes: :t()
    On this simplified measure, the results show that 14 month olds are interepreting pointing
    in context.
  .handout.notes ‘Already by age 14 months, then, infants interpret communication cooperatively, from a shared rather than an egocentric perspective’ \citep[p.\ 269]{Liebal:2010lr}.
  .handout.notes ‘The fact that infants rely on shared experience even to interpret others’ nonverbal pointing gestures suggests that this ability is not specific to language but rather reflects a more general social-cognitive, pragmatic understanding of human cooperative communication’ \citep[p.\ 270]{Liebal:2010lr}.

+slide_middle
  p.center How do infants understand pointing actions?
  p.center.hypothesis-1 Hypothesis 1: Pure use (compare block & slab).
  .notes: :t()
    Recall that there were two limits on block & slab: (a) fixed purpose and (b) fixed
    context.  
  +line-through('.hypothesis-1')
  .notes: :t()
    Since infant pointing is subject to neither fixed limit,
    that can't be how infants understand pointing.
  .notes: :t()
    Let's see what the experts say about how infants understand pointing ...
