---
layout: 'default2'
title: 'Lecture 05: Knowledge of Colour'
units: []
lecture_date: '2016/11/03'
hidden: false
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('bees')

+title_slide({document:document, images:images})


+slide({bkg:'slide_causation_development.jpg'})
  .notes: :t
    [Diagram: years bewteen early capacities (core knowlegde) and knowledge proper]
  .notes: :t
    Recall from the previous lecture that our Next Big Problem is this. 
    We've said that infants' competence with causes and objects is not knowledge but something 
    more primitive than knowledge, something which exists in adults too and can carry information 
    discrepant with what they know. So, if at all, how does appealing to these early capacities 
    enable us to explain the origins of knowledge?
  .notes: :t
    As we're about to see, a version of this problem arises for the case of colour.
    Perhaps we can partially resolve the Next Big Problem in the case of colour, and then use 
    this as a model for other cases.
    We are also, of course, simultaneously occupied with a question about the origins of knowledge
    of colour.
    Let me start by introducing the question ... 

//- knowledge of colour: the question
+insert_unit({unit:'110', title_slide:false, images:images, handout:false})

//- first something on categorical perception of colour
//- what is categorical perception of colour?
+insert_unit({unit:'111', title_slide:true, images:images})

//- categorical perception of colour in infancy  
+insert_unit({unit:'121', title_slide:true, images:images})

//- 
  TODO
  Would be great to have a really short unit on CP vs CK here
  (see section in chapter on CP in dev.mind)

//- categorical perception and core knowledge
+insert_unit({unit:'133', title_slide:true, images:images})

//- categorical perception and knowledge
+insert_unit({unit:'131', title_slide:true, images:images})
  
  
//- *optional* categorical perception in infants and adults --- how related?
+insert_unit({unit:'141', title_slide:true, images:images})

