---
layout: 'default2'
title: 'Lecture 04'
weburl: ''
units: []
lecture_date: '2016/10/27'
hidden: false
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins
include ../../fragments/origins_mixins


- var images = get_images('bees')

+title_slide({document:document, images:images})

//- 
 PLAN : see lecture 03

//- 
  How to start?
  Give them a summary at the start?
  Or go directly to object indexes?

//- seems a bit random to say this then drop it immediately
//- section.slide
//-   .notes: :t
//-     Part of today’s lecture will be about a question we’ve yet to reflect on.
//-   +relationOfInfantToAdultCognitionDots({step:true})

//- handout for recap



//- background for handout
.handout: :t
  \section{Background}
.handout: :t
  Knowledge of objects depends on abilities to (i) segment objects, (ii) represent them as 
  persisting and (iii) track their interactions.
.handout: :t
  \emph{Question 1}  When do humans come to meet the three requirements on knowledge of objects?
.handout: :t
  \emph{Discovery 1} Infants manfiest all three abilities from around four months of age or earlier.
.handout: :t
  \emph{Question 2}  How do humans come to meet the three requirements on knowledge of objects?
.handout: :t
  \emph{Discovery 2} Although abilities to segment objects, to represent them as persisting through
  occlusion and to track their causal interactions are conceptually distinct, they 
  are all characterised by the Principles of Object Perception and they may all be
  consequences of a single mechanism.
.handout: :t
  \emph{Question 3} What is the relation between the model specified by the Principles of Object
  Perception and the infants?
.handout: :t
  \textit{The simple view}
  The principles of object perception are things that we know or believe, 
  and we generate expectations from these principles by a process of inference.
.handout: :t
  The \emph{Core Knowledge View} 
  The principles of object perception are not
  knowledge, but they are core knowledge. And we generate expectations from
  these principles by a process of inference.
.handout: :t
  \emph{Discovery 3} The Simple View generates systematically false predictions.
  (And the Core Knowledge View generates no relevant predictions by itself.)
.handout: :t
  \emph{Question 4} What is the relation between adults’ and infants’ abilities concerning physical
  objects and their causal interactions?






+slide_middle
  p.center How do humans first come to know simple facts about particular physical objects?
  .notes: :t
    The question for this course is ...
    Our current question is about physical objects.
    How do humans first come to know simple facts about particular physical objects?
  .notes: :t
    In attempting to answer this question, we are focussing on the abilities of 
    infants in the first six months of life.
  .notes: :t
    What have we found so far? ...


+slide_middle
  p.center What have we found so far? ... Apparently conflicting evidence.

+slide
  .notes: :t
    Recall the puzzle ....
  +img_clip('spelke_1992_fig2a.png', 'auto')
  p.source Spelke et al 1992, figure 2
+slide({bkg:'slide_lecture04_012.jpg'})
  .notes Berthier et al, Where’s the ball reaching study

+slide
  +img_clip('baillargeon_1987_fig1.png', 'auto')
  p.source Baillargeon et al 1987, figure 1
    
+slide
  +img_clip('shinskey_munakata_2001_fig1.png')
  p.source Shinskey and Munakata 2001, figure 1
  .notes: :t
    More than two decades of research strongly supports the view that 
    infants fail to search for objects hidden behind barriers or screens 
    until around eight months of age \citep[p.\ 202]{Meltzoff:1998wp} or 
    maybe even later \citep{moore:2008_factors}.
    Researchers have carefully controlled for the possibility that infants’
    failures to search are due to extraneous demands on memory or the 
    control of action.
    We must therefore conclude, I think, that four- and five-month-old 
    infants do not have beliefs about the locations of briefly occluded 
    objects.  
    It is the absence of belief that explains their failures to search.
  
+slide_middle
  +charlesRiveraOcclusionEndarkeningTable


section.slide
  +_slide_middle_inner
    .layer1
      .notes: :t
        Here’s what we’ve found so far.
      .notes: :t
        We examined how three requirements on having knowledge of physical objects are met.
        Knowledge of objects depends on abilities to (i) segment objects, (ii) represent them as
        persisting and (iii) track their interactions.
        To know simple facts about particular physical objects you need, minimally,
        to meet these three requirements.
      +segmentPersistInteract({final:true})
      .notes: :t
        The second discovery concerned how infants meet these three requirements this.
    
      .slide.em-above
        p Principles of Object Perception
        ul
          li cohesion
            span.step2.grey-text —‘two surface points lie on the same object only if the points are linked by a path of connected surface points’
          li boundedness
            span.step3.grey-text —‘two surface points lie on distinct objects only if no path of connected surface points links them’
            // … the boundedness principle implies that … two distinct objects cannot interpenetrate.’
          li rigidity
            span.step4.grey-text —‘objects are interpreted as moving rigidly if such an interpretation exists’
          li no action at a distance
            span.step5.grey-text —‘separated objects are interpreted as moving independently of one another if such an interpretation exists’
        p.source Spelke, 1990
        .notes: :t
          The second was that a single set of principles is formally adequate to
          explain how someone could meet these requirements, and to describe
          infants' abilities with segmentation, representing objects as persisting
          and tracking objects' interactions.
        .notes: :t
          This is exciting in several ways.
          \begin{enumerate}
          \item That infants have all of these abilities.
          \item That their abilities are relatively sophisticated: it doesn’t seem
          that we can characterise them as involving simple heuristics or relying
          merely on featural information.
          \item That a single set of principles underlies all three capacities.
          \end{enumerate}
  .slide
    +reset
      +_slide_middle_inner
        +blur('.layer1','2px',900)
        p.center.huge-glow three requirements, one set of principles
        .notes: :t
          three requirements, one set of principles: this suggests us that infants’
          capacities are characterised by a model of the physical.

+slide_middle
  +threeQuestionsAboutModels
  .notes: :t
    [slide: model]
    three requirements, one set of principles: this suggests us that infants’
    capacities are characterised by a model of the physical (as opposed to
    being a collection of unrelated capacities that only appear, but don’t
    really, have anything to do with physical objects).
  .slide
    +show('.q1 span.hide, .three-q.hide')
    .notes: :t
      1. How do four-month-old infants  model  physical objects? 
    .notes: :t
      In asking how infants
      model physical objects, we are seeking to understand not how physical objects
      in fact are but how they appear from the point of view of
      an individual or system.
    .notes: :t
      The model need not be thought of as something used by the system: it is
      a tool the theorist uses in describing what the system is for and
      broadly how it works.
      This therefore leads us to a second question ...
  .slide
    +show('.q2 span')
    .notes: :t
      2. What is the relation between the model and the infants? 
  .slide
    +show('.q3 span')
    .notes: :t
      3. What is the relation between the model and the things modelled (physical objects)?
  .slide
    +highlight-row('.q2')
    +blur('.q1, .q3')   
  .slide.em-above
    p.em-above Two Candidate Answers to Q2
    p.hem-around.indent 
      span.sv the Simple View
      span  ... generates incorrect predictions
    .slide
      +line-through('.sv')
    .slide
      p.hem-around.indent
        span.ckv the Core Knowledge View
        span  ... generates no relevant predictions
    .slide
      +highlight('.ckv', 'yellow')
      .notes: :t
        Let’s build on the simple view, extending it so that we do generate
        relevant predictions.
      .notes: :t
        (There were also theoretical objections: maybe we can overcome these
        by extending it too.)


//- Object indexes and the principles
+insert_unit({unit:'665', title_slide:true, images:images})


//- Object indexes vs core systems
+insert_unit({unit:'669', title_slide:true, images:images})

//- Object indexes and phenomenal expectations
+insert_unit({unit:'667', title_slide:true, images:images})







+slide_middle
  p.conclusion.center.huge-glow conclusion
  .handout: :t
    \section{Development is Rediscovery}
    How do you get from core knowledge to knowledge proper?

    \emph{The Assumption of Representational Connections}: the transition involves operations on the contents of core knowledge states, which transform them into (components of) the contents of knowledge states.

    Most proposals rely on this assumption, including: 
    (i) Spelke’s suggestion that mature understanding of objects derives from core knowledge by virtue of core knowledge representations being assembled (\citeyear{Spelke:2000nf}); (ii) claims by Leslie and others that modules provide conceptual identifications of their inputs \citep{Leslie:1988ct}; (iii) Karmiloff-Smith’s representational re-description (\citeyear{Karmiloff-Smith:1992lv}); and (iv) Mandler’s claim that ‘the earliest conceptual functioning consists of a redescription of perceptual structure’ (\citeyear{Mandler:1992vn}).
    %\begin{itemize}
    %\item assembling core knowledge from different domains \citep{Spelke:2000nf}
    %\item modules provide conceptual identifications of their inputs 
    %\citep{Leslie:1988ct}
    %\item representational re-description 
    %\citep{Karmiloff-Smith:1992lv}
    %\item ‘the earliest conceptual functioning consists of a redescription of perceptual structure’ \citep{Mandler:1992vn}
    %\end{itemize}

    If object indexes influence actions only via phenomenal expectations, the Assumption of Representational Connections is wrong.

    \emph{Alternative assumption}: the transition depends only on the effects of core knowledge states on behaviour, attention, and sensation.

    Development is rediscovery: the emergence of knowledge involves rediscovering information already encoded as core knowledge.


+slide_middle
  p 1. Four- and five-month-olds can track briefly occluded objects
  p.em-above 2. How?
  p.indent Object indexes!  (System of object indexes = core system)
  p.em-above 3.  How could the operations of object indexes explain patterns in looking duration?
  p.indent 
    span.line-through Beliefs
    span  (because systematic failures to search)
  p.indent Phenomenal expectations!
  p.em-above 4. Development is ...
  p.indent
    span ... 
    span.line-through assembling core knowledge
  p.indent
    span ... 
    span.line-through redescription
  p.indent
    span ... 
    span rediscovery

  .notes \section{Conclusion}
  .notes: :t
    To conclude,
    I started by mentioning the wide variety of evidence that 
    four- and five-month-olds can track briefly occluded objects.
    This evidence raises the question, How do infants do that?
    On the leading, best supported hypothesis,
    four- and five-month-olds’ abilities to track briefly occluded objects
    depend on a system of object indexes like that which underpins multiple 
    object tracking or object-specific preview benefits.
    This hypothesis 
    also has the virtue of being consistent with the most straightforward
    explanation of why infants of this age (four- to five-months) and even older
    systematically fail to manually search for occluded objects.
    (The explanation is that they lack beliefs about the locations of objects.)
  .notes: :t
    Accepting this hypothesis forces us to confront a question.
    How could the operations of object indexes explain patterns in looking 
    duration?
    This question arises because 
    facts about the operations of object indexes do not themselves 
    straightforwardly imply anything about how things seem to infants, nor about
    what they believe.
  .notes: :t
    The answer, I suggested, is phenomenal expectations.
    Much as there are phenomenal expectations associated with the ease or 
    difficulty of processing a complex stimulus like a face or letter sequence,
    so also phenomenal expectations are associated with operations involving 
    object indexes.
    These phenomenal expectations are not intentional relations to 
    the phyiscal objects whose behaviours normally cause them.
    Instead they can be thought of as sensations in roughly Reid’s sense.
    So they are monadic properties of perceptual experiences which carry 
    information about physical objects.
  .notes: :t
    Importantly, phenomenal expectations (like sensations) require 
    interpretation.
    In order to get from a phenomenal expectation to a belief you need to 
    form a view about what the phenomenal expectation is a sign of.
    This requires learning, and your view can change as you learn more.
  .notes: :t
    This has consequences for understanding the emergence in 
    development of knowledge of physical objects.
    Such knowledge is probably a consequence of the (core) system of 
    object indexes, but on the view I have been defending the two can be only 
    indirectly related.
    Having core knowledge of objects is a matter of having a system of object
    indexes.  
    The system can affect what you believe or know about objects only by way
    of phenomenal expectations.
    Gaining knowledge proper requires interpreting the phenomenal expectations,
    and so is in part a matter of rediscovering information already processed
    by your core systems.





+slide_middle
  p.center How do humans first come to know simple facts about particular physical objects?
  .notes: :t
    The question is ...
    How do humans first come to know simple facts about particular physical objects?


section.slide
  +_slide_middle_inner
    .layer1
      .notes: :t
        Here’s what we’ve found so far.
      .notes: :t
        We examined how three requirements on having knowledge of physical objects are met.
        Knowledge of objects depends on abilities to (i) segment objects, (ii) represent them as
        persisting and (iii) track their interactions.
        To know simple facts about particular physical objects you need, minimally,
        to meet these three requirements.
      +segmentPersistInteract({final:true})
      .notes: :t
        The second discovery concerned how infants meet these three requirements this.
    
      .slide.em-above
        p Principles of Object Perception
        ul
          li cohesion
            span.step2.grey-text —‘two surface points lie on the same object only if the points are linked by a path of connected surface points’
          li boundedness
            span.step3.grey-text —‘two surface points lie on distinct objects only if no path of connected surface points links them’
            // … the boundedness principle implies that … two distinct objects cannot interpenetrate.’
          li rigidity
            span.step4.grey-text —‘objects are interpreted as moving rigidly if such an interpretation exists’
          li no action at a distance
            span.step5.grey-text —‘separated objects are interpreted as moving independently of one another if such an interpretation exists’
        p.source Spelke, 1990
        .notes: :t
          The second was that a single set of principles is formally adequate to
          explain how someone could meet these requirements, and to describe
          infants' abilities with segmentation, representing objects as persisting
          and tracking objects' interactions.
        .notes: :t
          This is exciting in several ways.
          \begin{enumerate}
          \item That infants have all of these abilities.
          \item That their abilities are relatively sophisticated: it doesn’t seem
          that we can characterise them as involving simple heuristics or relying
          merely on featural information.
          \item That a single set of principles underlies all three capacities.
          \end{enumerate}







+slide_middle
  .notes: :t
    Return to this amazing discovery.
  +threeQuestionsAboutModels({final:true})
  +highlight-row('.q2')      
  .notes: :t
    2. What is the relation between the model and the infants? 
  p.em-above Candidate Answers to Q2
  p.hem-around.indent 
    span.sv the Simple View
    span  ... generates incorrect predictions
  +line-through('.sv')
  p.hem-around.indent
    span.ckv the Core Knowledge View
    span  ... generates no relevant predictions
  p.hem-around.indent
    span the CLSTX Conjecture
  .notes: :t
    Let me make some more points about it.
  .notes: :t
    First, it works in concert with a claim about motor representation.
    We neeed this claim otherwise we haven't fully explained the discrepancy between looking and
    action-based measures for representing objects as persisting and tracking their causal
    interactions.
    After all, why do these perceptual representations of objects--the object indexes--not guide 
    purposive actions like reaching and pulling?
    This is an issue we shall return to. 
  .notes: :t
    Second, it leaves us with a question we didn't have before.
    What is the relation between these abilities to segment objects, represent them as persisting 
    and track their causal interactions and knowledge about objects?
    Clearly having an object-index stuck to an object is not the same thing as having knowledge
    about the object's location and movements.  (If it were, we'd face just the problems that are 
    fatal for the Simple View.)
    What then is the relation between these things?
    

    
+slide_middle
  .notes.show
    p Only phenomenal expectations 
    p connect ‘core knowledge’ of objects 
    p to thought.
  .notes: :t
    Phenomenal expectations have been quite widely neglected in philosophy and
    developmental psychology.
    They are a means by which cognitive processes enable perceivers to 
    acquire dispositions to form beliefs about objects’ properties which are 
    reliably true.    
    Phenomenal expectations provide a low-cost but efficient bridge between 
    non-conscious cognitive processes and conscious reasoning.
  
  .notes.show
    p.em-above Development is rediscovery.
    .notes: :t
      If you accept my story about phenomenal expectations then
      you also face a problem understanding the how the existence of core knowledge
      systems can explain the emergence of knowledge in development.


//- syntax / innateness
+insert_unit({unit:'641', title_slide:true, images:images})
