---
layout: 'default2'
title: 'Lecture 07'
weburl: ''
units: []
lecture_date: '2014/11/20'
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('twins_2009c')

+title_slide({document:document, images:images})


//- 
  NOT LONG ENOUGH IN 2014-5 (20 min left!)
  Partly because I didn't prepare well enough/
  And partly because I can't do the summary part --- it isn't good enough!

+slide_middle
  p.center Our Next Big Problem
  .notes: :t()
    Recall that our Next Big Problem is this. 
    We've said that infants' competence with causes, objects and colours is not knowledge but 
    something more primitive than knowledge, 
    something involving perceptual processes, such as categorical perception.
    These processes exist in adults too and can carry information 
    discrepant with what they know. 
  .notes: :t()
    The Next Big Problem is, How does appealing to these early-developing capacities 
    enable us to explain the origins of knowledge?
  .slide.em-above
    p.center 
      span.core-knowledge core knowledge
      span  + 
      span.social-interaction social interaction
    .notes: :t()
      Until now our focus has been on core knowledge.
    +invert('.social-interaction')  
    .notes: :t()
      This is the point where we turn to social interaction.
    .notes: :t()
      My proposal is that the answer to Our Next Big Problem hinges on social interaction.
      Early developing capacities to deal with objects, causes, colours and the rest enable the
      emergence of knowledge only in combination with rich forms of social interaction.
    .notes: :t()
      But what are these forms of social interaction and how do they work?
      This is the question that will occupy us in the next lectures.

+slide
  p.center
    img(src='/img/fig_rediscovery.png')
  .notes: :t()
    In the lecture on categorical perception I sketched a very rough answer.
    The idea is that categorical perception--and the perceptual processes associated with infants'
    capacities to deal with objects and causes--are important because they provide phenomenal 
    markers.  
    They do not reveal that there something has a certain categorical colour property, or that
    an event is a certain type of causal interaction.
    But they do allow infants to discriminate between these things.
    They are, if you like, highlighted in their experience, but not in a way that reveals their 
    nature.
  .notes: :t()
    A key part of this picture is that these capacities only support the emergence of knowledge 
    about objects or colours or causes in connection with social interaction and language.
    It is now time to consider the language part of this ...


//- What is an utterance
+insert_unit({unit:'501', title_slide:true, images:images})

//- Preview: Shipwreck Survivor vs Lab Rat
+insert_unit({unit:'506', title_slide:true, images:images})

//- Davidson - If someone can think, she can communicate with language
+insert_unit({unit:'511', title_slide:true, images:images})

//- First view: training / lab rat
+insert_unit({unit:'521', title_slide:true, images:images})

//- understanding
+insert_unit({unit:'531', title_slide:true, images:images})

//- linguistic Creativity
+insert_unit({unit:'541', title_slide:true, images:images})

//- Bloom &c
+insert_unit({unit:'551', title_slide:true, images:images})

//- Summary
+insert_unit({unit:'561', title_slide:true, images:images})

//- pointing (really belongs in lecture on pointing)
+insert_unit({unit:'661', title_slide:true, images:images})

//- Grice
//- moved to next lecture
//- +insert_unit({unit:'571', title_slide:true, images:images})

//- Second view: shipwreck survivor (Bloom)

//- Against the second view

//- Third view: social interaction

//- Against the third view

//- Conclusion