---
layout: 'default2'
title: 'Lecture 06'
weburl: ''
units: []
lecture_date: '2014/11/13'
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('bees')

+title_slide({document:document, images:images})


//- 
  *** revise for next year based on email from Stephen Thorneycroft ...
  I think what I should probably do is contrast poverty-of-stimulus arguments with 
  (1) how-else-do-kids-do-this-stuff arguments i.e. indirect but nevertheless compelling; and 
  (2) loss/masking-of-competence arguments (here I'm not sure whether they really point to innateness).  
  Having a single case is which there is a compelling poverty-of-stimulus argument for innateness 
  strongly supports how-else-do-kids-do-this-stuff arguments.


//- 
  Need some kind of recap to the problems and solutions I suggested
  - the Simple View 
  - is wrong
  - this is a problem (what else is it if not knowledge )
  - [sets the scene for core knowledge : try to bring together what we've said in various domains]

+slide_middle
  p.center 
    span.core-knowledge core knowledge
    span  + social interaction
  .notes: :t()
    At the very start of the course I suggested that understanding
    how humans come to acquire knowledge of objects, causes and the rest
    will require two ingredients.  We've focussed on the first, core knowledge.
    In the last three lectures we'll turn to the third.
  +invert('.core-knowledge')
  .notes: :t()
    But before we do that I want to pause to consider larger theoretical questions.
    These concern the nature of core knowledge and of innateness.
    (This is a lecture with two parts.)

+slide_middle
  p.center recap: The Problem



mixin davidson_inbetween(p)
  if typeof(p) === 'undefined' 
    - p = {}
  if !('step' in p)
    - p.step = false

  .photobox-bottom-right
    img.photo-right(src='/img/davidson.gif')
  .words: .container_12: .grid_12
    p
      span ‘if you want to describe what is going on in the head of the child when it has a few words which it utters in appropriate situations,  
      span.you-will-fail you will fail
      span.step2(class="#{p.step ? 'hide' : ''}")   for lack of the right sort of words of your own.
    p.step3(class="#{p.step ? 'hide' : ''}")
      span ‘We have many vocabularies for describing nature when we regard it as 
      span.highlight1 mindless
      span , and we have a mentalistic vocabulary for describing 
      span.highlight1 thought and intentional action
      span ; what we lack is a way of describing 
      span.highlight1 what is in between
      span ’
    p.right
      span (Davidson 1999, p. 11)
    if p.step
      +highlight('.you-will-fail','red')
      .notes: :t()
        I love this: Davidson says we will fail.  So encouraging.
        But why will we fail?
      +show('.step2')
      .notes: :t()
        Is he suggesting the issue is merely terminological?  Not quite ...
      +show('.step3')
      +invert('.highlight1')
    block

section.slide
  +davidson_inbetween

+slide_middle
  p.center How to meet Davidson’ challenge?
  .notes: :t()
    How to meet Davidson’ challenge?
    Two things:
    (1) Identify mechanisms in infant and adults.
    (2) Use science rather than common sense.
  .notes: :t()
    E.g. colour: categorical perception
  .notes: :t()
    E.g. objects and causes : object indexes plus perceptual expectations
  .notes: :t()
    E.g. mindreading : multiple models of the mental and multiple systems

+slide
  .notes I noted earlier that Hood suggests that answering this question requires that we 
    | recognize separable systems of mental representation and different kinds of knowledge. 
  .notes Now I'm going to try to make good on this idea.
  p.handout.notes.show
    span.blur1 ‘there are 
    span.noblur many separable systems of mental representations 
    span.blur1 ... and 
    span.noblur thus many different kinds of 
      span.highlight2 knowledge. 
    span.blur1 ... the task ... is to contribute to the enterprise of finding the distinct systems of mental representation and to understand their development and integration’
    span.handout.notes \citep[p.\ 1522]{Hood:2000bf}.
  p.right.blur1 (Hood et al 2000, p.\ 1522)

  
+slide_middle
  p.center Is there a more general theory?
  .notes: :t()
    So far this has all been very piecemeal.
    That's unsatisying to many philosophers (and some scientists) who have 
    strong urges to systematise.
      

//- core knowledge: first pass
+insert_unit({unit:'601_warwick', title_slide:true, images:images})

//- objections to core knowledge:
+insert_unit({unit:'604', title_slide:true, images:images})


//- surely the philosophers can help us out here? ....
//- Core Knowledge and Modularity
+insert_unit({unit:'231', title_slide:true, images:images})

//- 
  object indexes, perceptual expectations
  categorical perception
  mindreading: automatic processes and minimal models
  ... considering all these together, maybe it is a mistake
  to think that we even need a domain-general notion of core knowledge!



//- is knowledge of syntax knowledge?
+insert_unit({unit:'641', title_slide:true, images:images})


//- advertise cumberland lodge
+slide({bkg:'slide_cumberland_lodge_2014.jpg'})

+slide
  .notes Now I want to go back the main line of my plan, which calls for us to consider communication generally.
  img(src='/img/fig_action_communicative_linguistic.png')

