---
layout: 'default2'
title: 'Lecture 04'
weburl: ''
units: []
lecture_date: '2014/10/23'
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('bees')

+title_slide({document:document, images:images})

+slide_middle
  p.center Our Next Big Problem
  .notes: :t()
    Recall from the previous lecture that our Next Big Problem is this. 
    We've said that infants' competence with causes and objects is not knowledge but something 
    more primitive than knowledge, something which exists in adults too and can carry information 
    discrepant with what they know. So, if at all, how does appealing to these early capacities 
    enable us to explain the origins of knowledge?
  .notes: :t()
    Versions of this problem will arise in every domain of knowledge we shall consider.
    In this lecture I want to consider our Next Big Problem by thinking about the domain of colour.
    We are also, of course, simultaneously occupied with a question about the origins of knowledge
    of colour.
    Let me start by introducing the question ... 



//- knowledge of colour: the question
+insert_unit({unit:'110', title_slide:false, images:images, handout:false})

//- first something on categorical perception of colour
//- what is categorical perception of colour?
+insert_unit({unit:'111', title_slide:true, images:images})

//- categorical perception of colour in infancy  
+insert_unit({unit:'121', title_slide:true, images:images})
  
//- categorical perception and knowledge
+insert_unit({unit:'131', title_slide:true, images:images})
  
// -- if I have time -- core knowledge
+insert_unit({unit:'601_milan', title_slide:true, images:images})
  
  
//- *optional* categorical perception in infants and adults --- how related?
+insert_unit({unit:'141', title_slide:true, images:images})

//- might have gone on to do relation between categorical perception and core knowledge, unit 151 (not yet finished)

