---
layout: 'default2'
title: 'Lecture 04'
weburl: ''
units: []
lecture_date: '2016/10/27'
hidden: false
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins
include ../../fragments/origins_mixins


- var images = get_images('bees')

+title_slide({document:document, images:images})

//- 
 PLAN : see lecture 03



+slide_middle
  p.center How do humans first come to know simple facts about particular physical objects?
  .notes: :t
    The question for this course is ...
    Our current question is about physical objects.
    How do humans first come to know simple facts about particular physical objects?
  .notes: :t
    In attempting to answer this question, we are focussing on the abilities of 
    infants in the first six months of life.
  .notes: :t
    What have we found so far? ...


+slide_middle
  p.center What have we found so far? ... Apparently conflicting evidence.

+slide
  .notes: :t
    Recall the puzzle ....
  +img_clip('spelke_1992_fig2a.png', 'auto')
  p.source Spelke et al 1992, figure 2
+slide({bkg:'slide_lecture04_012.jpg'})

+slide
  +img_clip('baillargeon_1987_fig1.png', 'auto')
  p.source Baillargeon et al 1987, figure 1
    
+slide
  +img_clip('shinskey_munakata_2001_fig1.png')
  p.source Shinskey and Munakata 2001, figure 1
  



section.slide
  +_slide_middle_inner
    .layer1
      .notes: :t
        Here’s what we’ve found so far.
      .notes: :t
        We examined how three requirements on having knowledge of physical objects are met.
        Knowledge of objects depends on abilities to (i) segment objects, (ii) represent them as
        persisting and (iii) track their interactions.
        To know simple facts about particular physical objects you need, minimally,
        to meet these three requirements.
      +segmentPersistInteract({final:true})
      .notes: :t
        The second discovery concerned how infants meet these three requirements this.
    
      .slide.em-above
        p Principles of Object Perception
        ul
          li cohesion
            span.step2.grey-text —‘two surface points lie on the same object only if the points are linked by a path of connected surface points’
          li boundedness
            span.step3.grey-text —‘two surface points lie on distinct objects only if no path of connected surface points links them’
            // … the boundedness principle implies that … two distinct objects cannot interpenetrate.’
          li rigidity
            span.step4.grey-text —‘objects are interpreted as moving rigidly if such an interpretation exists’
          li no action at a distance
            span.step5.grey-text —‘separated objects are interpreted as moving independently of one another if such an interpretation exists’
        p.source Spelke, 1990
        .notes: :t
          The second was that a single set of principles is formally adequate to
          explain how someone could meet these requirements, and to describe
          infants' abilities with segmentation, representing objects as persisting
          and tracking objects' interactions.
        .notes: :t
          This is exciting in several ways.
          \begin{enumerate}
          \item That infants have all of these abilities.
          \item That their abilities are relatively sophisticated: it doesn’t seem
          that we can characterise them as involving simple heuristics or relying
          merely on featural information.
          \item That a single set of principles underlies all three capacities.
          \end{enumerate}
  .slide
    +reset
      +_slide_middle_inner
        +blur('.layer1','2px',900)
        p.center.huge-glow three requirements, one set of principles
        .notes: :t
          three requirements, one set of principles: this suggests us that infants’
          capacities are characterised by a model of the physical.

+slide_middle
  +threeQuestionsAboutModels
  .notes: :t
    [slide: model]
    three requirements, one set of principles: this suggests us that infants’
    capacities are characterised by a model of the physical (as opposed to
    being a collection of unrelated capacities that only appear, but don’t
    really, have anything to do with physical objects).
  .slide
    +show('.q1 span.hide, .three-q.hide')
    .notes: :t
      1. How do four-month-old infants  model  physical objects? 
    .notes: :t
      In asking how infants
      model physical objects, we are seeking to understand not how physical objects
      in fact are but how they appear from the point of view of
      an individual or system.
    .notes: :t
      The model need not be thought of as something used by the system: it is
      a tool the theorist uses in describing what the system is for and
      broadly how it works.
      This therefore leads us to a second question ...
  .slide
    +show('.q2 span')
    .notes: :t
      2. What is the relation between the model and the infants? 
  .slide
    +show('.q3 span')
    .notes: :t
      3. What is the relation between the model and the things modelled (physical objects)?
  .slide
    +highlight-row('.q2')
    +blur('.q1, .q3')   
  .slide.em-above
    p.em-above Two Candidate Answers to Q2
    p.hem-around.indent 
      span.sv the Simple View
      span  ... generates incorrect predictions
    .slide
      +line-through('.sv')
    .slide
      p.hem-around.indent
        span.ckv the Core Knowledge View
        span  ... generates no relevant predictions
    .slide
      +highlight('.ckv', 'yellow')
      .notes: :t
        Let’s build on the simple view, extending it so that we do generate
        relevant predictions.
      .notes: :t
        (There were also theoretical objections: maybe we can overcome these
        by extending it too.)


//- Object indexes and the principles
+insert_unit({unit:'665', title_slide:true, images:images})

//- Object indexes and phenomenal expectations
+insert_unit({unit:'667', title_slide:true, images:images})



+slide_middle
  p.conclusion.center.huge-glow conclusion


+slide_middle
  p 1. Four- and five-month-olds can track briefly occluded objects
  p.em-above 2. How?
  p.indent Object indexes!  (System of object indexes = core system)
  p.em-above 3.  How could the operations of object indexes explain patterns in looking duration?
  p.indent 
    span.line-through Beliefs
    span  (because systematic failures to search)
  p.indent Phenomenal expectations!
  p.em-above 4. Development is ...
  p.indent
    span ... 
    span.line-through assembling core knowledge
  p.indent
    span ... 
    span.line-through redescription
  p.indent
    span ... 
    span rediscovery

  .notes \section{Conclusion}
  .notes: :t
    To conclude,
    I started by mentioning the wide variety of evidence that 
    four- and five-month-olds can track briefly occluded objects.
    This evidence raises the question, How do infants do that?
    On the leading, best supported hypothesis,
    four- and five-month-olds’ abilities to track briefly occluded objects
    depend on a system of object indexes like that which underpins multiple 
    object tracking or object-specific preview benefits.
    This hypothesis 
    also has the virtue of being consistent with the most straightforward
    explanation of why infants of this age (four- to five-months) and even older
    systematically fail to manually search for occluded objects.
    (The explanation is that they lack beliefs about the locations of objects.)
  .notes: :t
    Accepting this hypothesis forces us to confront a question.
    How could the operations of object indexes explain patterns in looking 
    duration?
    This question arises because 
    facts about the operations of object indexes do not themselves 
    straightforwardly imply anything about how things seem to infants, nor about
    what they believe.
  .notes: :t
    The answer, I suggested, is phenomenal expectations.
    Much as there are phenomenal expectations associated with the ease or 
    difficulty of processing a complex stimulus like a face or letter sequence,
    so also phenomenal expectations are associated with operations involving 
    object indexes.
    These phenomenal expectations are not intentional relations to 
    the phyiscal objects whose behaviours normally cause them.
    Instead they can be thought of as sensations in roughly Reid’s sense.
    So they are monadic properties of perceptual experiences which carry 
    information about physical objects.
  .notes: :t
    Importantly, phenomenal expectations (like sensations) require 
    interpretation.
    In order to get from a phenomenal expectation to a belief you need to 
    form a view about what the phenomenal expectation is a sign of.
    This requires learning, and your view can change as you learn more.
  .notes: :t
    This has consequences for understanding the emergence in 
    development of knowledge of physical objects.
    Such knowledge is probably a consequence of the (core) system of 
    object indexes, but on the view I have been defending the two can be only 
    indirectly related.
    Having core knowledge of objects is a matter of having a system of object
    indexes.  
    The system can affect what you believe or know about objects only by way
    of phenomenal expectations.
    Gaining knowledge proper requires interpreting the phenomenal expectations,
    and so is in part a matter of rediscovering information already processed
    by your core systems.





+slide_middle
  p.center How do humans first come to know simple facts about particular physical objects?
  .notes: :t
    The question is ...
    How do humans first come to know simple facts about particular physical objects?


section.slide
  +_slide_middle_inner
    .layer1
      .notes: :t
        Here’s what we’ve found so far.
      .notes: :t
        We examined how three requirements on having knowledge of physical objects are met.
        Knowledge of objects depends on abilities to (i) segment objects, (ii) represent them as
        persisting and (iii) track their interactions.
        To know simple facts about particular physical objects you need, minimally,
        to meet these three requirements.
      +segmentPersistInteract({final:true})
      .notes: :t
        The second discovery concerned how infants meet these three requirements this.
    
      .slide.em-above
        p Principles of Object Perception
        ul
          li cohesion
            span.step2.grey-text —‘two surface points lie on the same object only if the points are linked by a path of connected surface points’
          li boundedness
            span.step3.grey-text —‘two surface points lie on distinct objects only if no path of connected surface points links them’
            // … the boundedness principle implies that … two distinct objects cannot interpenetrate.’
          li rigidity
            span.step4.grey-text —‘objects are interpreted as moving rigidly if such an interpretation exists’
          li no action at a distance
            span.step5.grey-text —‘separated objects are interpreted as moving independently of one another if such an interpretation exists’
        p.source Spelke, 1990
        .notes: :t
          The second was that a single set of principles is formally adequate to
          explain how someone could meet these requirements, and to describe
          infants' abilities with segmentation, representing objects as persisting
          and tracking objects' interactions.
        .notes: :t
          This is exciting in several ways.
          \begin{enumerate}
          \item That infants have all of these abilities.
          \item That their abilities are relatively sophisticated: it doesn’t seem
          that we can characterise them as involving simple heuristics or relying
          merely on featural information.
          \item That a single set of principles underlies all three capacities.
          \end{enumerate}


+slide_middle
  +threeQuestionsAboutModels({final:true})
  +highlight-row('.q2')      
  .notes: :t
    2. What is the relation between the model and the infants? 
      






+slide_middle
  .notes.handout.show
    p The principles of object perception
    p are not items of knowledge 
    p instead 
    p they characterise the operation of 
    p object indexes (FINSTs, components of mid-level object files)
  .notes.ctd: :t
    Their upshot is not knowledge about particular objects and their movements but rather a 
    perceptual representation involving an object index.
  p.em-above.small-text.right Leslie et al (1989); Scholl and Leslie (1999); Carey and Xu (2001)
  .notes.handout.ctd \citep{Leslie:1998zk,Scholl:1999mi,Carey:2001ue,scholl:2007_objecta}.
  .notes: :t()
    This amazing discovery is going to take us a while to fully digest.  As a first step, note its
    significance for Davidson's challenge about characterising what is going on in the head of the 
    child who has a few words, or even no words.
  .notes: :t()
    [*TODO*] \citep{keane:2006_motion} suggests that `If early vision gathers trajectory 
    information, that information cannot reliably be utilized to extrapolate in MOT.'  If this is
    right, either object files aren't FINSTs and the link between object files and multiple-object
    tracking (MOT) is wrong; or else the claim on this slide identifying principles of object
    perception and object indexes is wrong!

+slide
  .notes: :t()
    We saw this quote in the first lecture ...
  +davidson_inbetween
  .notes: :t()
    The discovery that the principles of object perception characterise the operation of 
    object-indexes doesn't mean we have met the challenge exactly.
    We haven't found a way of describing the processes and representations that underpin infants'
    abilities to deal with objects and causes.
    However, we have reduced the problem of doing this to the problem of characterising how 
    some perceptual mechanisms work.  
    And this shows, importantly, that understanding infants' minds is not something different from
    understanding adults' minds, contrary to what Davidson assumes.
    The problem is not that their cognition is half-formed or in an intermediate state.
    The problem is just that understanding perception requires science and not just intuition.

+slide_middle
  .notes: :t()
    Return to this amazing discovery.
  .container
    p The principles of object perception
    p are not items of knowledge 
    p instead 
    p they characterise the operation of 
    p object-indexes (aka FINSTs, mid-level object files)
  p.em-above.small-text.right Leslie et al (1989); Scholl and Leslie (1999); Carey and Xu (2001)
  .notes: :t()
    Let me make some more points about it.
  .notes: :t()
    First, it doesn't fully answer our question about the relation between the Principles of Object
    Perception and mechanisms in infants.  
    It tells us that the Principles characterise a certain kind of perceptual process.
    This is progress; but we can still ask about the nature of the procesess and representations 
    involved.  This will become important when we consider knowledge in other domains.
  .notes: :t()
    Second, we haven't fully explained the discrepancy between looking and action-based measures for 
    representing objects as persisting and tracking their causal interactions.
    After all, why do these perceptual representations of objects--the object indexes--not guide 
    purposive actions like reaching and pulling?
    This is an issue we shall return to. 
  .notes: :t()
    Third, it leaves us with a question we didn't have before.
    What is the relation between these abilities to segment objects, represent them as persisting 
    and track their causal interactions and knowledge about objects?
    Clearly having an object-index stuck to an object is not the same thing as having knowledge
    about the object's location and movements.  (If it were, we'd face just the problems that are 
    fatal for the Simple View.)
    What then is the relation between these things?
  .notes: :t()
    This third point is related to an issue about the relation between infant and adult capacities,
    one that  I raised at the start of this lecture ...
    

// *todo duplicated in other units
section.slide
  .notes: :t()
    What is the relation between infants' competencies with objects and adults'?
    Is it that infants' competencies grow into more sophisticated adult competencies?
    Or is it that they remain constant throught development, and are supplemented by quite 
    separate abilities?
  p.em-above &nbsp;
  .container_12
    .grid_3
      p.center infant
    .grid_3
      p &nbsp;
    .grid_3
      p &nbsp;
    .grid_3
      p.center adult
  .clear
  p &nbsp;
  .container_12
    .grid_3
      +colour-ball('yellow', '25')
    .grid_3.slide
      +colour-ball('yellow', '50')
    .grid_3.slide
      +colour-ball('yellow', '75')
    .grid_3.slide
      +colour-ball('yellow', '100')
  .clear
  .container_12
    .grid_3
      p &nbsp;
    .grid_3
      p.center social interaction
    .grid_3
      p.center language
    .grid_3
      p &nbsp;
  .clear
  p &nbsp;
  .slide.container_12
    .grid_3
      +colour-ball('yellow', '25')
    .grid_3
      +colour-ball('yellow', '25')
      +colour-ball('cyan', '25')
    .grid_3
      +colour-ball('yellow', '25')
      +colour-ball('cyan', '50')
    .grid_3
      +colour-ball('yellow', '25')
      +colour-ball('cyan', '100')
  .words: .container_12: .grid_12
    p(style='margin-top:-50px;') time --->    
  .notes: :t()
    The identification of the Principles of Object Perception with object-indexes suggests that 
    infants' abilities are constant throughout development.
    They do not become adult conceptual abilities; rather they remain as perceptual systems
    that somehow underlie later-developing abilities to acquire knowledge.
  .notes: :t()
    Confirmation for this view comes from considering that there are discrepancies in adults' 
    performances which resemble the discrepancies in infants between looking and action-based 
    measures of competence ...
    [This links to unit 271 on perceptual expectations ...]
  





    
+slide_middle
  .notes.show
    p Only phenomenal expectations 
    p connect ‘core knowledge’ of objects 
    p to thought.
  .notes: :t
    Phenomenal expectations have been quite widely neglected in philosophy and
    developmental psychology.
    They are a means by which cognitive processes enable perceivers to 
    acquire dispositions to form beliefs about objects’ properties which are 
    reliably true.    
    Phenomenal expectations provide a low-cost but efficient bridge between 
    non-conscious cognitive processes and conscious reasoning.
  
  .notes.show
    p.em-above Development is rediscovery.
    .notes: :t
      If you accept my story about phenomenal expectations then
      you also face a problem understanding the how the existence of core knowledge
      systems can explain the emergence of knowledge in development.
