---cson
layout: 'default2'
title: 'Lecture 08'
weburl: ''
units: []
lecture_date: '2016/12/01'
hidden: false
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins
include ../../fragments/origins_mixins

- var images = get_images('bees')

mixin title_slide({document:document, images:images})


+insert_unit({unit:'801', title_slide:false, images:images})
+insert_unit({unit:'811', title_slide:true, images:images})
+insert_unit({unit:'821', title_slide:true, images:images})
+insert_unit({unit:'831', title_slide:true, images:images})

//- for introducing unit 841 on collective goals
.notes.handout: :t
  ‘all sorts of joint activity is possible without conscious goal
  representations, complex reasoning, and advanced self-other understanding ...
  both in other species and in our own
  joint behavior as adults, some of which occurs outside of reflective
  awareness ...
  In studying
  its development in children the problem is how to characterize and
  differentiate primitive, lower levels of joint action operationally from more
  complex and cognitively sophisticated forms’
  \citep[p.~195]{brownell:2011_early}.

.notes.handout: :t
  ‘the basic skills and motivations for shared intentionality typically emerge
  at around the first birthday from the interaction of two developmental
  trajectories, each representing an evolutionary adaptation from some
  different point in time. 
  The first trajectory is a general primate (or
  perhaps great ape) line of development for understanding intentional action
  and perception, which evolved in the context of primates’ crucially important
  competitive interactions with one another over food, mates, and other
  resources (Machiavellian intelligence; Byrne & Whiten, 1988). 
  The second
  trajectory is a uniquely human line of development for sharing psychological
  states with others, which seems to be present in nascent form from very early
  in human ontogeny as infants share emotional states with others in
  turn-taking sequences (Trevarthen, 1979). The interaction of these two lines
  of development creates, at around 1 year of age, skills and motivations for
  sharing psychological states with others in fairly local social interactions,
  and then later skills and motivations for reacting to and even internalizing
  various kinds of social norms, collective beliefs, and cultural institutions’
  \citep[p~124]{Tomasello:2007gl}.

