---
layout: 'default2'
title: 'Lecture 03'
weburl: ''
units: []
lecture_date: '2014/10/16'
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('bees')

mixin title_slide({document:document, images:images})



//- *TODO* update conclusions!


+slide
  p I was wrong
  .slide
    img.bkg(src='/img/mccurry_2009_fig1.png', style='margin-top:250px')
    p.source McCurry et al 2009, figure 1
  .notes: :t()
    Why do 5 month old infants reach towards the cloth screen more often when a cube 
    goes in and a circle comes out than when a cube goes in and a cube comes out?
    I said this was an example of an experiment in which the action begins before occlusion
    is complete.
    When I went back to the paper I realised I was wrong (I was confusing it with
    another experiment).
  .notes: :t()
    Here's the authors' description of their procedure.
    'Once the ball came to rest at the right edge of the platform, the platform was pushed forward until the edge of the platform was directly in front of, and within easy reach of, the infant. In the second phase, the infant was allowed to search for 20 s. ' \citep{mccurry:2009_beyond}
  
+slide
  img(src='/img/mccurry_2009_fig2.png')
  p.source McCurry et al 2009, figure 2


//- be careful updating: this slide is partially duplicated in unit_221 and unit_281!!
+slide
  p.step2.hide interlocking themes:
  ul
    li.step2.hide the Problem
    li knowledge of causal interactions
  .notes: :t()
    The main theme of this lecture is knowledge of causal interactions.
    My question is: How do humans first acquire knowledge of particular causal 
    interactions among objects.
    I want to approach this question in an odd way, by thinking about the perception of causation
    in adults.
    But before I come to that, I also want to mention that there is a second theme for this lecture.
  +show('.step2')
  .notes: :t()
    In this lecture I want to consider several interlocking themes simultaneously.
    The second theme is the Problem I introduced in the last lecture, which arises from
    the failure of the Simple View.
    The Problem is to understand the relation between infants' abilities regarding physical objects
    and the Spelke principles which describe these given that the principles and their deliverances
    are not actually knowledge.
    It turns out that thinking about the perception of causation will help us with this theme too.
  .notes: :t()
    Now since the last lecture was a week ago, 
    let me start by giving you a very recap.
    What is the Simple View, why does it fail and why is its failure a problem?
  
  
// recap : three questions
+insert_unit({unit:'221', title_slide:true, images:images})

//- non-solutions; parable of the wrock (rock without mass); strength
//- cut
  mixin insert_unit({unit:'230', title_slide:true, images:images})

// intro to core knowledge / modularity
//- cut/moved
  mixin insert_unit({unit:'231', title_slide:true, images:images})


// computation is the real essence of modularity
//- cut/moved
  mixin insert_unit({unit:'291', title_slide:true, images:images})

// core knowledge / modular representation : paradigm cases
// ***abandoned
// mixin insert_unit({unit:'241', title_slide:true, images:images})
  
// perception of causation
+insert_unit({unit:'251', title_slide:true, images:images})
    
// object indexes (object files) and causal perception
+insert_unit({unit:'261', title_slide:true, images:images})

// Object Indexes and the Principles of Object Perception
+insert_unit({unit:'266', title_slide:true, images:images})
  
// perceptual expectations
+insert_unit({unit:'271', title_slide:true, images:images})


// conclusions
+insert_unit({unit:'281', title_slide:true, images:images})


//- DID NOT DO IN 2013-4 - out of time!  Move to lecture 05
// core knowledge
+insert_unit({unit:'601_milan', title_slide:true, images:images})


//- core knowledge and categorical perception --- how related?
//- *todo* lots of useful material here
  mixin insert_unit({unit:'151', title_slide:true, images:images})

//-
  on core knowledge:
    - first talk about knowledge of syntax?
    - principles and parameters
    - poverty of stimulus (quote from Chomsky on Skinner?)
    - not linked to consciousness, not available for introspection, ...
    - Searle's objection
    - defence: respectable notions of representation?  (Shea ideas)
    - how is this a model: it invovles a set of principles being used in an inference-like process
    - compare Spelke on principles of object perception
  
  

