---
layout: 'default2'
title: 'Lecture 09'
weburl: ''
units: []
lecture_date: '2016/12/08'
hidden: false
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins
include ../../fragments/origins_mixins

- var images = get_images('bees')

+title_slide({document:document, images:images})



+slide
  +fromActionToWordsFigure

//- pointing
//- covered in previous lecture
//- +insert_unit({unit:'661', title_slide:true, images:images})

//- 
  +slide
    img(src='/img/fig_action_communicative_linguistic.png')
    .notes: :t()
      As I mentioned before, my overall plan is to work backwards from communication by language 
      through non-linguistic communication and so to understanding action.
    .notes: :t()
      Let me explain why I'm doing this ...
  

//- from origins mixins
//- +slide_diagram_core_knowledge_to_concept

//- type of view that we are aiming for
//- communication is social interaction --- use when it comes to language
//- +insert_unit({unit:'571', title_slide:true, images:images})

+insert_unit({unit:'661', title_slide:false, images:images})

//- pointing: reference and context
+insert_unit({unit:'662', title_slide:true, images:images})

//- a puzzle about pointing
+insert_unit({unit:'663', title_slide:true, images:images})

//- What is a communicative action?
+insert_unit({unit:'671', title_slide:true, images:images})

//- Words and Communicative Actions (short)
+insert_unit({unit:'681', title_slide:true, images:images})


//- 
  TODO
    1. something on syntax being innate
    2. something on training views of language being wrong,
    3. and on Bloom’s view (can I actually argue against it --- maybe it’s enough
       to say that you can’t accept that view and my view of development?  But 
       equally, how does language creation work if you don’t already have the concepts?
       Have to accept that concept acquisition does not depend on linguistic inputs.
       Maybe do this at the end, by way of a rock through the window.
       Or can you create words for things you don’t yet have a concept of, but only
       have core knowledge of?)
    4. nice conclusion drawing it all together


//- syntax: knowledge or core knowledge (short)
//- moved to lecture 06
+insert_unit({unit:'646', title_slide:true, images:images})
